<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>2013第十六届上海国际电影节_电影节购票_电影节官方指定售票平台 – 格瓦拉生活网</title>
<meta name="keywords" content="第16届上海国际电影节,电影节买票,上海国际电影节红地毯 - 格瓦拉生活网"/>
<meta name="description" content="2013年第十五届上海国际电影节开幕式于2013.6.15举行,6.23闭幕.格瓦拉生活网提供电影节颁奖典礼,导演,演员等信息, 上海电影节排片表. 上海电影节红地毯花絮等."/>
<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=layout&v=$VmUtils.jsVersion"/>
<link rel="stylesheet" type="text/css" href="${staticPath}css/layout.css?v=$VmUtils.jsVersion"/>
<link rel="stylesheet" type="text/css" href="${staticPath}styles/slider.css"/>
<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util,Autocompleter&v=$VmUtils.jsVersion"></script>
#parse('subject/filmfest/2013/style.vm')
<style type="text/css">
.mod_bd {padding:20px 30px 30px;}
</style>
</head>
<body>
#if($VmUtils.eq($type, 'cinema'))
#set($tag = 'cinemanoticeselect')
#else
#set($tag = 'noticeelect')
#end
#parse('subject/filmfest/2013/header.vm')
<h1 style="display:none">第16届上海国际电影节</h1>
<div class="ui_layout" style="background:#fff;">
	<div class="mod_title">
		<div class="mod_hd">
			<h2>#if($VmUtils.eq($type, 'cinema'))电影节影院攻略#else电影节购票须知#end</h2>
		</div>
		<div class="mod_bd">
			#foreach($content in $contentList)
			$!content
			#end
		</div>
	</div>
</div>
#parse('include/bottom.vm')
</body>
</html>