<table>
   	<tbody>
   		<tr class="trbg">
    		<td rowspan="3" class="desc">订单号<br />信息</td>
		    <td>场馆：</td>
		    <td><a style="color:blue;" href="${basePath}sport/$!order.sportid" target="_blank">$!orderMap.place.realBriefname</a></td>
		    <td>场次[ID]：</td>
		    <td><a style="color:blue;" href="${basePath}admin/sport/open/orderList.xhtml?ottid=$!order.ottid" target="_blank">$!order.ottid</a></td>
		    <td>项目：</td>
		    <td><a style="color:blue;" href="${basePath}sport/item/$!order.itemid" target="_blank">$!orderMap.item.realBriefname</a></td>
		    <td>时间：</td>
		    <td>$!descriptionMap.get('时间')</td>
		 </tr>
   		<tr class="trbg">
    		<td>详细：</td>
		    <td colspan="3">$!descriptionMap.get('详细')</td>
    		<td>数量：</td>
		    <td>$!order.quantity</td>
		    <td>单价：</td>
		    <td>$!order.unitprice</td>
		</tr>
   		<tr class="trbg">
    		<td>GWL取票密码：</td>
		    <td>$!order.checkpass</td>
		    <td>第三方取票密码：</td>
		    <td colspan="5">$!order.hfhpass</td>
   		</tr>
   	</tbody>
</table>