<data>
<agendaList>
	#foreach($agenda in $agendaList)
	#set($relate1=$relateMap.get($agenda.id))
	#set($relate2=$categoryMap.get($agenda.id))
	<agenda>
		<agendaid>$agenda.id</agendaid>
		<memberid>$agenda.memberid</memberid>
		<logo>${mobilePath}$cacheMemberMap.get($!agenda.memberid).headpicUrl</logo>
		<membername>$agenda.membername</membername>
		<tag>$!agenda.tag</tag>
		<relatedid>$!agenda.relatedid</relatedid>
		<category>$!agenda.category</category>
		<categoryid>$!agenda.categoryid</categoryid>
		<startdate>$!DateUtil.formatDate($agenda.startdate)</startdate>
		<starttime>$!agenda.starttime</starttime>
		<enddate>$!DateUtil.formatDate($agenda.enddate)</enddate>
		<endtime>$!agenda.starttime</endtime>
		<address>$!relate1.address</address>
		<addtime>$!DateUtil.formatTimestamp($!agenda.addtime)</addtime>
		<brandname><![CDATA[$!{relate1.name}]]></brandname>
		<itemname><![CDATA[$!{relate2.name}]]></itemname>
		<brandcontent><![CDATA[$!VmUtils.getHtmlText($!relate1.content,10000)]]></brandcontent>
		#set($relate1='')
		#set($relate2='')
	</agenda>
	#end
</agendaList>
</data>
