<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>关于我们_格瓦拉生活网</title>
<meta name="keywords" content=""/>
#if($!cookieTool.citycode.value eq '310000')
	#set($cssRelate = 'global,help')
#else
	#set($cssRelate = 'global,sns,index,new_movie,help')
#end
<meta name="description" content="格瓦拉生活网面对现实，忠于我们的理想，为用户提供在线供精彩城市生活服务资讯，包括电影院、影院、KTV、健身房、酒吧和运动健身馆资讯，同时融合了电影院排片表、健身房课程表、KTV价格表、酒吧活动等信息。"/>
<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=${cssRelate}&v=$VmUtils.jsVersion"/>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util,page,noobSlide,index_even&v=$VmUtils.jsVersion"></script>
	<style type="text/css">
	.helpTitle{text-align:center;}
	.helpright .helpTitle h2{font:bold 16px/30px '微软雅黑','宋体'; margin-bottom:5px; background:#f2f2f2}
	.helpright .helpTitle p{font-size:12px; color:#999;  text-align:right; padding-right:100px;}
	.helpright{font-family:verdana;}
	.helpright h2{font-size:12px; font-weight:bold; margin:10px 0;}
	.helpright p{text-indent:2em; padding-bottom:12px; line-height:22px;}
	.helpright ul{padding-left:4em; line-height:24px; color:#666; margin-bottom:10px;}
	.helpright ul li{margin-bottom:10px;}
	</style>
</head>
<body>
<div id="head">
#set($cfgHeader='header')#parse('include/navigation.vm')
</div>
<div id="panel">
   <h1>客服中心</h1>
   <input type="hidden" id="footertag" value="about"/>
   <div class='helpleft'>
   	#parse('footer/center.vm')
	</div>
	<div class='helpright mm' style="padding:10px 20px;width:700px;">
		<em class="m1"></em><em class="m2"></em>
		<div class="m" style="padding:20px;width:656px;">
			<div class="helpTitle">
				<h2>我们在你身边 但我们不只卖电影票</h2>
				<p>格瓦拉——在你身边的城市娱乐生活向导</p>
			</div>
			<h2>我们不只卖电！影！票！我们提供电影票背后专属于你的服务。<br/>即使同在一个电影厅、观赏同一部影片，但每个人的情况千差万别；而我们的服务致力于你们的不同。</h2>
			<p>有人对时间敏感，有人对价格敏感。工作日与女友约看一场电影不容易，看完电影还得送女友，等到回家都已几点？如果你也曾面临这种“囧境”，便会觉得“预计散场时间”这个功能特别靠谱。如果你是个学生族，爱好电影但又觉得经常去影院是笔较大的开支，那么你会觉得格瓦拉的5元抢票，手机8元抢票特别给力；有时看个电影甚至还会拿到炫酷可爱的免费电影周边玩具。告诉你一个好消息：未来我们还会推出在线提前订购价格亲民的“经济适用座”，满足不同层级消费者的需求。</p>
			<p>或许你对时间、价格都不敏感，但特别讲究观影时的品质以及观影前后的身心愉悦。面对注重品质和体验的消费者，我们会为你推荐最契合“你”意的影院及最佳观影位置。无论你是自驾还是“一卡通走天下”，我们都会提供最便捷的交通提醒，轻松省力避免走冤枉路。看完电影，如果你还想延续一下“火热”的氛围，你可以凭借我们发送的服务信息及电影票根，去隔壁我们的合作商户免费升级大杯咖啡。</p>
			<p>如果你看电影，是为了获得一种愉悦，关注我们的网站和手机客户端，每周你都会看到精彩纷呈的观影指南；</p>
			<p>如果你看电影，是为了知识的获取，精神的升华，同伴的感召，那么你更要参与我们的活动，看明星、看首映，与兴趣相投的小伙伴们深度讨论。</p>
			<h2>我们不（只）卖电！影！票！我们提供全方位的城市娱乐向导。<br/>我们想要教你千万种Play Hard的方式！</h2>
			<p>Play hard, work hard. 我们了解那么多种“上好班”、“读好书”的方式；但却不了解真正“痛快”玩法。“痛快玩”，不一定远行才能达到，不一定只有网游酣战才叫爽，不是只有“看电影”一种方式。</p>
			<p>中秋时在海边赏明月、烟花；圣诞时来一场带劲的摇滚或者盛况空前的音乐剧；F1、大师杯、汇丰高尔夫赛让你周末激情狂飙。有时一场有品的文化展，晒晒心得也可装得“讳莫如深”。有时你空有运动的壮志雄心，但没有“冲上云霄”的舞台。这时来格瓦拉@运动看看，各种体育场馆提前订，不会让你失望。唱K、泡吧、音乐会、话剧、亲子活动……我们想要告诉你，生活不只“工作”一种态度，磨砺娱乐棱角，才能提高生活满意度。</p>
			<h2>我们不（只）卖电！影！票！我们是格瓦拉。<br/>格瓦拉代表创新与革命的精神，改变你我的生活方式！</h2>
			<p>格瓦拉是谁？我们曾经用古巴革命家切格瓦拉进行自我介绍，我们代表一种革命的精神。6年来，这种精神一直伴随我们成长。在这里，你可以规划自己的个性化娱乐生活，把一周计划排得满满的；在这里，你会发现最夯的活动信息、最兴趣相投的小伙伴、最梦寐以求的明星；在这里，你可以随意“哇啦”，不仅被影响更在影响别人。</p>
			<p>未来，我们希望能与你结成更“亲密”的伙伴。我们不仅在网络上，我们更在你的“掌”握中。</p>
			<p>只要你的指尖移动，我们不仅可以为你预约“场馆”、“演出”、甚至可以预约最红最热的明星教练。无论你在哪个城市，我们都在您的身边。因为了解，所以才能为你奉上一道道最合口味的娱乐大餐。</p>
			<p>城市生活并非一成不变，娱乐点亮你的生活！让我们为你带来最美好的娱乐时光。</p>
		</div>
		<em class="m2"></em><em class="m1"></em>
	</div>
	<div class="height0"></div>
</div>
#parse('include/bottom.vm')
<script type="text/javascript">
window.addEvent('domready', function(){
	(function(){$($('footertag').value).addClass("pointer");}).delay(500);
});
</script>
</body>
</html>
