<ul>
	<!--<li>网站帮助</li>-->
	<li><span id="about"><a href="${basePath}service/about.dhtml" class="gray">关于我们</a></span></li>
	<li><span id="marketing"><a href="${basePath}service/marketing.dhtml" class="gray">联系我们</a></span></li>
	<li><span id="job"><a href="${basePath}service/job.dhtml" class="gray">招聘英才</a></span></li>
	<li><span id="link"><a href="${basePath}link.dhtml" class="gray">友情链接</a></span></li>
	<li><span id="law"><a href="${basePath}service/law.dhtml" class="gray">法律声明</a></span></li>
	<li><span id="groupbuy"><a target="_blank" href="${basePath}subject/advertIndex.xhtml" class="gray">团体购票</a></span></li>
	<li><span id="treaty"><a href="${basePath}service/treaty.dhtml" class="gray">服务条款</a></span></li>
	<li><span id="protocol"><a href="${basePath}service/commuProtocol.dhtml" class="gray">圈子认证条款</a></span></li>
	<li><span id="contribute"><a href="${basePath}service/contribute.dhtml" class="gray">投稿说明</a></span></li>
	<li><span id="buss"><a href="${basePath}service/buss.dhtml" class="gray">商家登录</a></span></li>
</ul>