<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>积分帮助_格瓦拉生活网</title>
<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=global,sns,new_movie,index,help&v=$VmUtils.jsVersion"/>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util,page,noobSlide&v=$VmUtils.jsVersion"></script>
</head>
<body>
<div id="head">
		#set($cfgHeader='header')#parse('include/navigation.vm')
</div>
<div id='panel'>
	<div class="hp"><h1>圈子帮助中心</h1></div>
	<input type="hidden" id="footertag" value="community"/>
	<div class='helpleft'>
		#parse('footer/help/help_left.vm')
	</div>
	<div class='helpright'>
		<dl class='helpcontent'>
			<dd class='title'>格瓦拉圈子帮助中心</dd>
			<dd class="my-menu">
				<ul>
					<li><em lang="communityHelp" class="myNav"><span>圈子帮助</span></em></li>
					<li><em lang="communityManage"><span>管理圈子</span></em></li>
					<li><em lang="communityUse"><span>玩转圈子</span></em></li>
					<li><em lang="communityQa"><span>常见问题</span></em></li>
				</ul>
			</dd>
			<dd class='mt20' id="communityHelp">
				<p class="Q">什么是圈子？</p>
				<p class="A">圈子是志同道合瓦友的聚集地，加入感兴趣的圈子后，您可以在该圈子内展示您空间上发表的文章或上传的照片，也可以浏览和阅读圈子内其他成员发表的文章或上传的照片；通过互动分享，您将可以和朋友们保持密切联系，并将有机会认识更多志同道合的新朋友。</p>
				<p class="Q mt20">格瓦拉圈子怎么玩？</p>
				<p class="A">每一个圈子均归属一个分类，它们就像一个“广场”一样，每一个广场下都聚集着按广场主题建立的圈子。这里可以像传统论坛那样发帖、拍砖，还可以分享广场下的圈子文章。圈子中设有版主一职，负责管理秩序同时为所有瓦友们服务。</p>
				<p class="mt20"><strong>圈子中行走着三类人，扮演着不同的角色——</strong></p>
				<p class="A"><b class="green">创建者:</b>圈子的创建人，拥有圈主题创建权、圈管理员任免权、美化圈子权，一个好的主题定位，对圈子未来的发展有不可限量的作用；</p>
				<p class="A"><b class="green">管理员:</b>圈子的创建人是初始的圈主，有圈管理员任免权，管理员是圈成员的精神领袖，一个好管理员会努力把圈子发扬光大；</p>
				<p class="A"><b class="green">圈成员:</b>一群志趣相投、喜欢分享的朋友，可以参与圈子话题讨论，分享图片和相册，还可以邀请更多的好朋友加入其中。</p>
			</dd>
			<dd class='mt20 none' id="communityManage">
				<p class="T"><a href="#No1">如何创建圈子？</a></p>
				<p class="T"><a href="#No2">如何查找我创建的圈子？</a></p>
				<p class="T"><a href="#No3">如何加入/退出圈子？</a></p>
				<p class="T"><a href="#No4">如何美化和管理我的圈子？</a></p>
				<p class="T"><a href="#No5">如何管理圈内帖子？</a></p>
				<p class="T"><a href="#No6">如何管理圈子成员？</a></p>
				<p class="Q mt20" id="No1">如何创建圈子？</p>
				<p class="A">注册格瓦拉并登陆，在导航栏右上方点击“圈子”，进入页面，点击“创建新圈子”，填写圈子基本资料后即可拥有属于自己的圈子啦。如图<br/><img src="/service/help/images/comm01.jpg"/></p>
				<p class="Q mt20" id="No2">如何查找我创建的圈子？</p>
				<p class="A">瓦友可以按照以下步骤进入自己创建的圈子：登录格瓦拉，进入“我的格瓦拉”，在左侧导航栏选择“我的圈子”，即可找到自己创建的圈子和已加入的圈子。(自己创建的圈子圈内角色为创建者，加入的圈子角色为成员或管理员)，如图<br/><img src="/service/help/images/comm02.jpg"/></p>
				<p class="Q mt20" id="No3">如何加入/退出圈子？</p>
				<p class="A">打开你想加入的圈子，在圈子首页右侧“加入圈子”按钮，即可加入成功（是否需要审批由圈管理员设定的权限决定）；打开已加入的圈子，在圈子首页导航栏中选择“管理”字样，右侧点击“退出圈子”。如图<br/><img src="/service/help/images/comm03.jpg"/></p>
				<p class="Q mt20" id="No4">如何美化和管理我的圈子？</p>
				<div class="A">
					创建者进入自己创建圈子后，点击其圈子首页右上角“管理”按钮，即可进入圈子管理后台。可以对圈子群发通知、成员管理、话题、相册管理、以及圈子外观、添加话题分类进行设置。<br/>
					<p class="mt10">1、可修改圈子名称、圈子说明、圈子的类型和想要关联的场馆，如图<br/><img src="/service/help/images/comm04.jpg"/></p>
					<p class="mt10">2、可修改圈子的标志，相当于圈子的头像，如图<br/><img src="/service/help/images/comm05.jpg"/></p>
					<p class="mt10">3、可修改圈内字体颜色、背景色、话题颜色等，打造真正属于自己喜欢的圈子，如图<br/><img src="/service/help/images/comm06.jpg"/></p>
					<p class="mt10">4、圈子布局可以修改圈内话题、图片、活动显示的条数，单话题分类和多话题分类也可以更换不同风格的显示模式，如图<br/><img src="/service/help/images/comm07.jpg"/></p>
					<p class="mt10">5、瓦友可以选择自己喜欢的图片上传作为圈子背景，也可上传多张图片进行替换使用，圈子背景能让圈子更加炫丽多彩，如图<br/><img src="/service/help/images/comm08.jpg"/></p>
				</div>
				<p class="Q mt20" id="No5">如何管理圈内帖子？</p>
				<p class="A">帖子作者或创建者可以“编辑”其帖子。点击进入圈内帖子，在帖子右上角处点击“编辑”按钮，即可进入编辑器重新修改帖子，圈内话题管理也可以轻松转移话题分类和删除话题，如图<br/><img src="/service/help/images/comm09.jpg"/></p>
				<p class="Q mt20" id="No6">如何管理圈子成员？</p>
				<div class="A">
					圈子创建者可在“成员管理”项中设置管理员、关“小黑屋”和T出圈子处理
					<p class="mt10">1、对已经成为管理员的用户进行处理，如图<br/><img src="/service/help/images/comm10.jpg"/></p>
					<p class="mt10">2、对普通成员进行设置管理员、关入“小黑屋”和T出该圈子，如图<br/><img src="/service/help/images/comm11.jpg"/></p>
					<p class="mt10">3、处理申请进入圈子和圈内管理员的申请，如图<br/><img src="/service/help/images/comm12.jpg"/></p>
					<p class="mt10">4、可将“小黑屋”里的用户再次加入圈子，如图<br/><img src="/service/help/images/comm13.jpg"/></p>
				</div>
			</dd>
			<dd class='mt20 none' id="communityUse">
				<p class="T"><a href="#No01">如何提高圈子人气？</a></p>
				<p class="T"><a href="#No02">认证圈子有什么好处？</a></p>
				<p class="T"><a href="#No03">如何认证圈子？</a></p>
				<p class="T"><a href="#No04">如何发布收费活动？</a></p>
				<p class="T"><a href="#No05">收费活动费用如何结算？</a></p>
				<p class="T"><a href="#No05">如何免费短消息通知？</a></p>
				<p class="Q" id="No01">如何提高圈子人气？</p>
				<p class="A">瓦友可邀请好友参加圈子，从而提高圈子人气，邀请好友参加分为“站内”和“站外”两种邀请方式，站内邀请主要是以在格瓦拉添加的好友进行邀请，站外邀请主要以链接邀请好友、从MSN导入好友以及邮件邮件邀请好友，通过这三种方式邀请好友来加入您的圈子，如图<br/><img src="/service/help/images/comm14.jpg"/></p>
				<p class="Q mt20">如何在圈子里发帖/回帖？</p>
				<p class="A">瓦友也可以经过在圈内发帖、上传图片、发布活动来提高圈子人气，发布帖子、图片和活动均可以在圈子首页导航栏中找到，如图<br/><img src="/service/help/images/comm15.jpg"/></p>
				<p class="Q mt20" id="No02">认证圈子有什么好处？</p>
				<div class="A">
					成为认证圈子有5大好处
					<p>1、发布活动一键复制(在发布同类活动一键复制全部活动内容)；</p>
					<p>2、组织活动预收费，提高成功率(活动报名可以预付活动费用，提高报名成功率)；</p>
					<p>3、管理免费短消息通知，贴心周到(免费实用短信通知报名成员活动信息)；</p>
					<p>4、认证圈子优先展示，增加曝光(认证圈子会再搜索和相关活动页面优先展示)；</p>
					<p>5、热门圈子首页推荐，聚拢人气(热门圈子可以获编辑首页推荐增加人气)；</p>
				</div>
				<p class="Q mt20" id="No03">如何认证圈子？</p>
				<div class="A">
					认证圈子步骤简单易懂，只需提交认证信息，经过工作人员审核通过后即可创建成功，实现一轻松完成认证。
					<p class="mt10">1、点击未点亮的灰色认证图标进行认证，如图<br/><img src="/service/help/images/comm16.jpg"/></p>
					<p class="mt10">1、提交详细资料后等待工作人员确认，如图<br/><img src="/service/help/images/comm17.jpg"/></p>
					<p class="mt10">1、申请成功，如图<br/><img src="/service/help/images/comm18.jpg"/></p>
				</div>
				<p class="Q mt20" id="No04">如何发布收费活动？</p>
				<p class="A">成为认证圈子后即可发布收费活动，收费活动发布模式跟一般活动发起模式一样，收费活动多出“报名付费”和付费说明等功能，如图<br/><img src="/service/help/images/comm19.jpg"/></p>
				<p class="Q mt20" id="No05">收费活动费用如何结算？</p>
				<div class="A">
					活动费用统一由格瓦拉代收，活动结束后，活动发起者可以在圈子“管理”内绑定好相关“支付宝帐号”然后申请提款。
					<p class="mt10">1、申请提款必须绑定“支付宝”帐号后方可操作，如图<br/><img src="/service/help/images/comm20.jpg"/></p>
					<p class="mt10">2、填写正确的支付宝帐号，如图<br/><img src="/service/help/images/comm21.jpg"/></p>
					<p class="mt10">3、确认金额无误后申请提款，如图<br/><img src="/service/help/images/comm22.jpg"/></p>
				</div>
				<p class="Q mt20">如何免费短消息通知？</p>
				<p class="A">用户报名后，可利用格瓦拉免费手机短信平台提醒用户需要补充的内容，进入活动后依次选择“报名管理”，“免费短信通知”填写内容后即可发布，如图<br/><img src="/service/help/images/comm23.jpg"/><img src="/service/help/images/comm24.jpg"/></p>
			</dd>
			<dd class='mt20 none' id="communityQa">
				<p class="Q">创建圈子的时候为什么要选择分类</p>
				<p class="A">用户进入圈子首页以后，通过相关圈子分类可以找到该类别下的所有圈子 </p>
				<p class="Q mt20">如何使我的圈子界面活泼生动更有个性</p>
				<p class="A">进入该圈子的“管理” 界面，点击美化圈子，可以通过修改圈子的背景颜色、背景图片、圈子logo等使主题图片得到与众不同的页面风格 </p>
				<p class="Q mt20">如何邀请我的好朋友加入圈子</p>
				<p class="A">登陆到圈子后，点击邀请朋友，您可以选择给朋友发邮件，也可以拷贝邀请链接直接发给MSN或QQ上的朋友，或者直接从MSN导入好友名单。 </p>
				<p class="Q mt20">新版圈子主要增加以下功能点：</p>
				<p class="A">
						1、圈子管理：分类管理员和普通成员，各具不同操作权限<br/>
			        2、成员分类：成员可分为 管理员、普通成员、黑名单各个成员之间可以转移<br/>
			        3、可以设置圈子名片<br/>
			        4、邀请好友加入圈子<br/>
			        5、圈内站信和邮件通知（短信通知需要消耗积分，待完善）<br/>
			        6、修改圈子模板，添加话题分类，修改背景图片及栏目颜色等；<br/>
			        7、成员管理等；
			   </p>
			</dd>
			<dd class="yellow mt20">格瓦拉生活网将继续对“圈子”进行优化和完善，欢迎瓦友们提供宝贵意见，多彩生活，从格瓦拉开始吧！</dd>
		</dl>
		<div class="mt20"></div>
	</div>
	<div id='height0'></div>
</div>
<div id="footer">
	#parse('include/bottom.vm')
</div>
<script type="text/javascript">
window.addEvent('domready', function(){
	(function(){$($('footertag').value).addClass("pointer");}).delay(500);
	var elements = $$('.my-menu').getElements('em')[0];
	elements.addEvents({
		'click':function(){
			elements.removeClass('myNav')
			elements.each(function(item){
				$(item.get('lang')).addClass('none');
			})
			this.addClass('myNav');
			$(this.get('lang')).removeClass('none');
		}
	})
});
</script>
</body>
</html>