<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=global,sns,new_movie,index,help&v=$VmUtils.jsVersion"/>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util,page,noobSlide&v=$VmUtils.jsVersion"></script>
</head>
<body>  
<div id="head">
		#set($cfgHeader='header')#parse('include/navigation.vm')
</div>
<div>格瓦拉在线选座购票系统上线通知</div>
<div id="panel">
   <h1>客服中心</h1>
   <input type="hidden" id="footertag" value="post"/>
   <div class='helpleft'>
   	#parse('footer/center.vm')
	</div>
	<div class='helpright mm' style="padding:10px 20px;width:700px;">
		<em class="m1"></em><em class="m2"></em>
		<div class="m" style="padding:20px;width:656px;">
			<div style="background:#eee;text-align:center"><strong>格瓦拉在线选座购票系统上线通知</strong></div>
			<div class="lp mt10">
				<p>格瓦拉电影票在线选座购票系统将于2010年1月1日正式上线。届时，格瓦拉用户将可以通过格瓦拉生活网在线订购覆盖上海各大商圈主流影院的电影票，不限场次和座位。</p>
				<p>用户只需登录格瓦拉生活网，选择想要预定的场次，选择座位，通过支付宝、网银等方式付款，即可凭借格瓦拉发送的手机短信至影院直接取票观影。通过格瓦拉订购电影票，不但可以任意地选择方便的场次、直观地选择座位，免去用户至影院排队购票的烦恼，还可以享受优惠的价格。</p>
				<p>格瓦拉的5元抢票活动也将持续进行，并且将抢票时间固定为每周四下午13：05分，用户只要拥有500积分，都将有机会以5元可以享受上映的最热影片。</p>
				<p>为方便用户观影，在2010年1月1日前，格瓦拉将在每周开放周末黄金当期的热门影片订购场次，用户可以抢先体验格瓦拉在线选座购票系统的方便便捷、优惠价格和贴心服务。</p>
				<div class="mt20 "><strong class="sy">附，格瓦拉电影票在线选座购票流程：</strong></div>
				<div class="sy">登录www.gewara.com → 选择要预定的场次、座位 → 确认信息并支付成功 → 收到确认手机短消息 → 影院取票 → 进入影院看电影</div>
			</div>
		</div>
		<em class="m2"></em><em class="m1"></em>
	</div>
	<div id="height0"></div>
</div>
<div id="footer">#parse('include/bottom.vm')</div>
<script type="text/javascript">
window.addEvent('domready', function(){
	(function(){$($('footertag').value).addClass("pointer");}).delay(500);
});
</script>
</body>
</html>
