<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>生活周刊_格瓦拉生活网</title>
<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=global,sns,new_movie,index,help&v=$VmUtils.jsVersion"/>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util,page,noobSlide&v=$VmUtils.jsVersion"></script>
</head>
<body>  
<div id="head">
		#set($cfgHeader='header')#parse('include/navigation.vm')
</div>
<div id="panel">
   <h1>客服中心</h1>
   <input type="hidden" id="footertag" value="weekly"/>
   <div class='helpleft'>
   	#parse('footer/center.vm')
	</div>
	<div class='helpright mm' style="padding:10px 20px;width:700px;">
		<em class="m1"></em><em class="m2"></em>
		<div class="m" style="padding: 20px; width: 656px; height: 300px;">
			<div><strong class="sy">5元抢票周刊系列</strong></div>
			<div class="mt10 h20">
				<a href="/weekly/newsletter20091106.html" class="black" target="_blank">·5元看大片，《2012》抢票进行时</a>
				<a href="/weekly/newsletter20091120.html" class="black right" target="_blank">·5元看大片,花木兰、豚鼠特工队、暮光之城抢票进行时</a>
			</div>
			<div class="h20">
				<a href="/weekly/newsletter20091219.html" class="black" target="_blank">·圣诞热门活动集锦 《阿凡达》影票火爆预售中</a>(本期周刊)
			</div>
		</div>
		<em class="m2"></em><em class="m1"></em>
	</div>
	<div id="height0"></div>
</div>
<div id="footer">#parse('include/bottom.vm')</div>
<script type="text/javascript">
window.addEvent('domready', function(){
	(function(){$($('footertag').value).addClass("pointer");}).delay(500);
});
</script>
</body>
</html>
