#parse('include/constant/city.vm')
#parse('include/constant/cityPoint.vm')
#parse('include/navigationParams.vm')
#if($syscitycodeKey)
	#set($cookieCitycode=$syscitycodeKey)
#else
	#set($cookieCitycode=$cookieTool.citycode.value)
#end
#if($VmUtils.isBlank($cookieCitycode))#set($cookieCitycode='310000')#end
#set($cityPinyin=$pinyinMap.get($cookieCitycode))
#if($VmUtils.isBlank($cityPinyin))#set($cityPinyin='sh')#end
#set($cookieCityname=$!CITY_MAP.get($cookieCitycode))
#set($cityItemModule=$globalItemModuleMap.get($cookieCitycode))
#set($cityActivityRelate=$globalActivityRelateMap.get($cookieCitycode))
#set($cityOtherRelate=$globalOtherRelateMap.get($cookieCitycode))
#set($globalCurPoint=$globalCityPoint.get($cookieCitycode))