#set($REASON_MAP={
	'invite':'成功邀请',
	'confirm':'高级确认',
	'exchange':'兑换物品',
	'corr':'页面纠错',
	'charge':'账户充值',
	'trade':'订单成交',
	'content':'手动输入原因',
	'login':'注册',
	'loginactivity':'每日积分领取',
	'newtask':'新手任务',
	'ext':'积分漂流瓶',
	'pointexchange':'积分兑换物品',
	'loginrewards':'连续7日领取积分特别奖励',
	'microwap':'每天使用手机发表哇啦',
	'microweb':'每天登陆网站发表哇啦',
	'pubsale':'竞拍',
	'commentcinema':'点评影院',
	'diarymovie':'观后感:发表影评',
	'invitefriend_ticket':'邀请好友购票',
	'signactivity':'我在这里活动',
	'add_place':'添加场馆',
	'diarydrama':'观后感:发表剧评',
	'commenttheatre':'点评剧院',
	'add_movie':'添加电影',
	'add_coach':'添加教练',
	'accusation':'举报',
	'cinema_corr':'纠错',
	'bar_corr':'纠错',
	'sport_corr':'纠错',
	'attachmovie':'添加电影剧情',
	'attachpicture':'上传图片',
	'attachvideo':'上传影片视频',
	'drawactivity':'抽奖活动',
	'addinfo':'添加信息(影片、场馆等）',
	'correct':'纠错(影片、场馆、项目等）',
	'poolparty':'参与泳池派对支持你喜欢的泳装奖励10积分',
	'banktowabi':'账户金额转瓦币',
	'chargetowabi':'充值瓦币'
})