<?xml version="1.0" encoding="UTF-8"?>
<data>
	<diaryList>
		#foreach($diary in $diaryLists)
		<diary>
			<diaryid>$!diary.id</diaryid>
			<nickname>$!diary.membername</nickname>
			<subject><![CDATA[$diary.subject]]></subject>
			<summary><![CDATA[$!diary.summary]]></summary>
		</diary>
		#end
	</diaryList>
</data>