<div class="$stepCount">
	<ul class="payOrderSteps clear">
		<li class="step1">1.选择剧目场次</li>
		<li class="step2">#if($isPerfectOrder)2.选择票价及票数#else 2.选择座位#end</li>
		<li class="step3">3.在线支付</li>
		<li class="step4">4.取票</li>
	</ul>
</div>