<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<title>推荐列表</title>
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/container.css"></link>
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/button.css"></link>
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/default.css" />
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util&v=$VmUtils.jsVersion"></script>
	<script type="text/javascript" src="${staticPath}ckeditor/ckeditor.js"></script>
	<style type="text/css">
		#table thead th{
			border: 1px solid #fff;
			text-align: left;
				font-size: 1em;
			background: #e8e8cf;
		}
		.wd200{width:300px;}
		.wd120{width:120px;}
		.wd60{width:60px;}
		.wd40{width:40px;}
		.wd80{width:80px;}
		td{padding:0px;}
		.itable{border:2px solid #74B3DC;border-collapse: collapse;}
		.itable td{height:26px;vertical-align: middle;}
		.itable strong{color:red}
		.itable span{color:#ff6200;font-size:14px;font-weight:bold}
		.td td{border-bottom:1px solid #74B3DC;}
		.l_td{border-left:1px solid #74B3DC;}
		.r_td{border-right:1px solid #74B3DC;}
	</style>
</head>
#parse('include/constant/city.vm')
<body style="width:95%; margin:auto" class="yui-skin-sam">
<table width="95%" border="0"  cellspacing="0" class="itable">
	<tr class="td">
		<td align="left" class="wd40"><b>序号</b></td>
		<td align="left" class="wd80"><b>用户ID</b></td>
	    <td align="left" class="wd80"><b>姓名</b></td>
		<td align="left" class="wd80"><b>联系方式</b></td>
		<td align="left" class="wd200"><b>地址</b></td>
	</tr>
	#foreach($result in $resultList)
	<tr class="td">
		<td align="left">$foreach.count</td>
		<td align="left">$result.memberid</td>
   	<td align="left">$result.realName</td>
		<td align="left">$result.telephone</td>
		<td align="left">$result.receiptAddress</td>
	</tr>
	#end
</table>
#parse('include/pageUtil.vm')
</body>
</html>
