<style>
	#gcForm ul li{padding: 3px;}
	.disabled{background-color: #D4D0C8; color: #808080;}
	.cke_skin_chris{width:700px !important;}
</style>
<div class="table" style="width:500px;height:auto;position:relative;top:30px;left:-10px; padding: 3px;">
<div id="gcForm">
	<ul>
	<li>
		<input type="hidden" name="id" id="id" value="$!data.id"/>
		<input type="hidden" name="type" id="type" value="$!type"/>
	</li>
	#if($type eq 'cinema')影院#else电影#end ID：&nbsp;<li><input type="text" name="relatedid" id="relatedid" value="$!data.relatedid" style="width: 300px;"/></li>
	<li>&nbsp;&nbsp;<input type="button" onclick="save()" value="保存" style="width: 50px;"/>
	<input type="button" onclick="javascript:GewaraUtil.hideDialog('pointText');" value="取消" style="width: 50px;"/></li>
	</ul>
</div>

</div>
<script>
save  = function(){
	var url = "${basePath}admin/newsubject/addCinema5yuan.xhtml";
	var values = GewaraUtil.getValues("gcForm");
	GewaraUtil.sendRequest(url, values, function(result){
		if(result.success){
			alert("信息添加成功！");
			refreshPage();
		}else {
			alert(result.msg);
		}
	});
}
</script>
