<div id="ajaxLoadAD"></div>
<input type="hidden" name="adid" id="adpid" value="indexother"/>
<script type="text/javascript">
window.addEvent('domready',function(){
	try{
	adIndexOther();
	}catch(e){}
});
function adIndexOther(){
	var url = '${basePath}ajax/common/getIndexOtherRandomAd.xhtml';
	var values = {'pid':$('adpid').value,'isIndex':'cityIndex'};
	GewaraUtil.sendLoad('ajaxLoadAD', url, values, function(result){
		if(result.success){
			if(result.html.trim().length != 0){
				$('ajaxLoadAD').removeClass('none');
				$('ajaxLoadAD').getParent('div').removeClass('none');
			}
		}
	});
}
</script>