<div class="ADPOSITION">
	<div class="ui_layout">
		<div class="switch_uiw_t"><div class="switch_uiw_t"></div></div>
		<div class="switch_uiw_c">
			<div class="mobileBanner" style="padding:10px 0;">
				<a title='' id="ada">
					<input type="hidden" name="pid" id="pid" value="mobilesport" />
					<img alt="" id="adimg" src="$VmUtils.randomPic('','css/wap/banner_ad01_bg.jpg')"/>
				</a>
			</div>
		</div>
		<div class="switch_uiw_b"><div class="switch_uiw_b"></div></div>
	</div>
</div>

