<div class="mt10 none ADPOSITION">
	<em class="m1"></em><em class="m2"></em>
	<div class="hostBox" style="padding:2px;text-align:center;width:202px">
		<a target="_blank" title='' id="ada">
			<img class="block" width="270" height="90" alt='' id="adimg" src="${staticPath}css/images/blank.gif"/>
			<input type="hidden" name="adid" value=bbs/>
		</a>
	</div>
	<em class="m2"></em><em class="m1"></em>
</div>