<div class="person_together">
	<div class="person_t"><b>Ta的圈子</b></div>
	#foreach($commu in $!commuList)
	<div class="person_alink">
		<dl class="ui_abeam">
			<dt class="uipic">
				<a href="$!{basePath}quan/$!commu.id" class="pubpic" target="_blank"><img src="$VmUtils.randomPic('sw50h50',$!commu.logo)" width="50" height="50"/></a>
			</dt>
			<dd class="uiText">
				<a href="$!{basePath}quan/$!commu.id" target="_blank">$!commu.name</a>
				<br/>$!commu.commumembercount人
			</dd>
		</dl>
	</div>
	#end
	<!-- <div class="rMore"><a href="" target="_blank">更多»</a></div>-->
</div>