<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>常驻场馆管理</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/default.css" />
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util,remote-util"></script>
	<script type="text/javascript" src="${staticPath}dpicker/WdatePicker.js"></script>
</head>
<body style="width:750px; margin:auto">
<div style="width:740px;">
<div><h2>常驻场馆($!agency.name)</h2><a class="p5Event" href="${basePath}noSubjectLink.xhtml?agencyId=$!agency.id">添加场馆</a></div>
<table class="table">
	<thead>
	<tr>
		<th>场馆类型</th>
		<th>区域</th>
		<th>场馆名称</th>
		<th>联系方式</th>
		<th>显示顺序</th>
		<th>操作</th>
	</tr>
	</thead>
	<tbody>
	#foreach($atv in $atvList)
	#set($sport=$sportMap.get($atv.venueId))
	<tr>
		<td>#if($VmUtils.eq($atv.agencytype, 'own'))自有场馆#else租借场馆#end</td>
		<td>$!sport.countyname</td>
		<td><a href="${basePath}sport/$!sport.id" target="_blank">$!sport.name</a></td>
		<td>$!sport.contactphone</td>
		<td><input type="text" value="$!atv.numsort" name="numsort" style="width: 40px" onchange="changeNumsort('$!atv.id', this)"/></td>
		<td><a class="p5Event" href="${basePath}noSubjectLink.xhtml?agencyId=$!agency.id&id=$!atv.id">编辑</a><a href="javascript:deleteAtv('$!atv.id');">删除</a></td>
	</tr>
	#end
	</tbody>
</table>
</div>
<div id="pointText" style="visibility:hidden; z-index:601;"></div>
<script type="text/javascript">
window.addEvent('domready',function(){
	$$('.p5Event').addEvent('click',function(e){
		e.preventDefault();
		var url = "${basePath}admin/agency/getAgencyToVenue.xhtml";
		var values = {};
		var ul = this.get('href').split('?');
		if($defined(ul[1])){
			values = ul[1].parseQueryString();
		}
		gewaUtil.loadData('pointText',url, values, function(result){
			if(result.success){
				GewaraUtil.showDialog('pointText');
			}else{
				gewaUtil.alert(result.json.msg);
			}
		});
	});
});
function saveAtv(){
	var url = "${basePath}admin/agency/saveAgencyToVenue.xhtml";
	var values = GewaraUtil.getValues("atvDialog");
	GewaraUtil.sendRequest(url, values, function(result){
		if(result.success){
			gewaUtil.alert("保存成功！",refreshPage);	
		}else alert(result.msg);
	});
}
function deleteAtv(id){
	if(!window.confirm('确认删除吗? 请谨慎操作！')) return;
	var url = "${basePath}admin/agency/delAgencyToVenue.xhtml";
	var values = {'id':id};
	GewaraUtil.sendRequest(url, values, function(result){
		if(result.success){
			gewaUtil.alert("删除成功！",refreshPage);	
		}else alert(result.msg);
	});
}
function changeNumsort(id,obj){
	var url = '${basePath}admin/agency/changeNumsort.xhtml';
	var values = {'id':id, 'numsort': $(obj).get('value')};
	GewaraUtil.sendRequest(url, values, function(result){
		if(result.success){
			$(obj).setStyle('background-color','red');
			(function(){
				$(obj).setStyle('background-color','');
			}.bind(obj)).delay(800);
		}else{
			alert(result.msg);
		}
	});
}
function goAddSport(){
	location.href="${basePath}admin/sport/modifySportDetail.xhtml?relatedid=$!agency.id&tag=agency";
}
</script>
</body>
</html>
