<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>课程表管理</title>
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/default.css" />
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util,remote-util"></script>
	<script type="text/javascript" src="${staticPath}dpicker/WdatePicker.js"></script>
	<style type="text/css">
		
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td, ins, img {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}
html {
    background: none repeat scroll 0 0 #CAE9F0;
}
body {
    color: #333333;
    font: 12px/20px Arial,Helvetica,'宋体',sans-serif;
}
img {
    border: 0 none;
}
input, img, select {
    vertical-align: middle;
}
table {
    border-collapse: collapse;
}
ul li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
ol {
    list-style: decimal outside none;
    padding-left: 22px;
}
.clear:after, .button:after, .ui_layout:after, .abeam:after, .inner:after {
    clear: both;
    content: "content";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
    width: 0;
}
.clear, .button, .ui_layout, .abeam, .inner {
}
.inner {
    padding: 12px 15px;
}
.cls {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    width: 0;
}
h1, h2, h3, h4, h5, h6 {
    display: inline;
}
.left, .body_left, .body_right {
    float: left;
}
.right {
    float: right;
}
em, i {
    font-style: normal;
}
a {
    color: #333333;
    outline: medium none;
    text-decoration: none;
}
.tal {
    text-align: left !important;
}
.tar, .rMore {
    text-align: right;
}
.center {
    text-align: center;
}
.none {
    display: none !important;
}
.isFooter {
    height: 200px;
    overflow: hidden;
    width: 100%;
}
.footer_warp {
    background: url("/css/home/footer-warp-bg.jpg") repeat-x scroll 0 0 transparent;
}
.isFooter {
    background: url("/css/home/footer-bg.jpg") no-repeat scroll center 0 transparent;
}
.mt5 {
    margin-top: 5px;
}
.ml5 {
    margin-left: 5px;
}
.mr5 {
    margin-right: 5px;
}
.ml10 {
    margin-left: 10px;
}
.mr10 {
    margin-right: 10px;
}
.mt10 {
    margin-top: 10px;
}
.mt30 {
    margin-top: 30px;
}
.mt5 {
    margin-top: 5px;
}
.fs14 {
    font-size: 14px;
}
.red {
    color: #CC3300;
}
.c999 {
    color: #999999;
}
.blue {
    color: #3366CC !important;
}
.vishide {
    visibility: hidden;
}
.none {
    display: none;
}
.ffst {
    font-family: '宋体';
}
.fs14 {
    font-size: 14px;
}
.ffcg {
    font-family: Constantia,Georgia;
}
.header_nav_search img, .preson_link a img, .person_nav a, .my_gift, .isAd, .isAd .isAdC a, .isAd span, .isGoUp, .c .button, .c .button span {
    background: url("/css/home/default_bg.png?v=01010") no-repeat scroll 0 0 transparent;
}
.refresh, .personCount, .willdo, .lastdo, .ui_big_ratings li, .loadup .loadRo, .loadup .loadRp, .review .getIcon, .replayNode button.button, .pinfo .address, .pinfo .editInfo, .tokll .ope .buttons span, .ope .issys, .ope .issubmit, .evenSlide span, .isMember .apend_alink, .isMenber, .accost, .isqa, .addnew, .uppic, .iGold, .iTime, .iEnd, .body_live_header .live_menu span, .body_nav_tags .navs a em, .body_live_head, .oAddPhone, .oDelPhone, .iHeart, .iUsers, .addLiving em {
    background: url("/css/home/body_tool_24.png") no-repeat scroll 0 0 transparent;
}
.refresh, .personCount, .loadup .loadRo, .loadup .loadRp, .ope button, .isMenber, .accost, .isqa, .addnew, .uppic {
    border: medium none;
    border-radius: 0 0 0 0;
    height: 22px;
    line-height: 22px;
    outline: medium none;
    padding-left: 20px;
    text-decoration: none !important;
}
.ui_abeam, .ui_abeam .abeam, .ui_vertical, .uiList, .ul-33 {
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 0;
}
.ui_vertical .vertical {
    float: left;
    overflow: hidden;
    width: 33.3%;
}
.ui_abeam .abeam {
    margin: 20px 0 0;
    padding-bottom: 20px;
}
.uipic, .uiText, .ui_left, .ui_right {
    float: left;
    margin-bottom: -30000px;
    padding-bottom: 30000px;
}
.ui_vertical .uipic, .ui_vertical .uiText {
    float: inherit;
    margin-top: 10px;
    max-width: 100%;
}
.uipic {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    width: auto;
}
.uiText {
    width: 78.2%;
}
.title, .titleB {
    height: 26px;
    line-height: 26px;
    position: relative;
    width: 100%;
    z-index: 0;
}
.more {
    position: absolute;
    right: 10px;
    top: 0;
}
.isGoUp {
    background-position: 0 -148px;
    bottom: 10px;
    cursor: pointer;
    height: 100px;
    overflow: hidden;
    position: fixed;
    right: 20px;
    width: 77px;
}
.pubpic, .picmin, .picmax {
    background: none repeat scroll 0 0 #F9F9F9;
    display: inline-block;
    height: 50px;
    margin: 0 auto 5px;
    overflow: hidden;
    width: 50px;
}
.pubpic span, .pubpic img, .picmin span, .picmin img, .picmax span, .picmax img {
    cursor: pointer;
    display: inline-block;
    height: 50px;
    width: 50px;
}
.pubpic span, .pubpic img {
    border-radius: 3px 3px 3px 3px;
}
.pubpic, .picmin, .picmax {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 3px #CCCCCC;
}
.picmin, .picmin span, .picmin img {
    height: 30px;
    width: 30px;
}
.picmax span, .picmax img, .picmax {
    height: 90px;
    width: 90px;
}
.pubpic:hover, .picmin:hover, .picmax:hover {
    background: none repeat scroll 0 0 #FBD007;
}
.ui_body_header {
    border-bottom: 1px solid #D37E43;
    box-shadow: 0 1px 2px #C0A08A;
    font-size: 14px;
    height: 41px;
    margin-bottom: 16px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 0;
}
.headShadow {
    background: -moz-linear-gradient(center top , #F7A868 0%, #F48948 100%) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #F59A58;
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.ui_body_header_inside {
    height: 40px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 960px;
    z-index: 2;
}
.ui_body_header_inside .logo {
    width: 118px;
}
.ui_body_header_inside .logo img {
    background: url("/css/home/default_logo.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 38px;
    margin-top: 1px;
    width: 92px;
}
.header_nav {
    height: 40px;
    line-height: 40px;
    margin-left: 200px;
}
.header_nav .header_nav_userInfo {
    display: block;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    width: 282px;
}
.header_nav .header_nav_search {
    height: 28px;
    margin: 6px 0 0 60px;
    overflow: hidden;
    width: 200px;
}
.header_nav_search label {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #BBBBBB;
    border-radius: 3px 0 0 3px;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    color: #666666;
    display: inline-block;
    float: left;
    height: 26px;
    overflow: hidden;
    width: 161px;
}
.header_nav_search input {
    border: 0 none;
    padding: 5px 4px;
    width: 154px;
}
.header_nav_search img {
    background-position: right -66px;
    cursor: pointer;
    float: left;
    height: 28px;
    width: 32px;
}
.ui_body_header_inside a {
    color: #FFFFFF !important;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 40px;
    overflow: hidden;
    padding: 0 10px;
}
.ui_body_header_inside a b {
    color: #FFFEAB;
}
.header_nav em, .header_nav span {
    float: left;
}
.ui_body_header_left a {
    color: #FFFFFF;
    display: inline-block;
    padding: 0 10px;
    text-align: center;
}
.pinterHover, .ui_body_header .select {
    background: -moz-linear-gradient(center top , #F57722 0%, #F69A57 100%) repeat scroll 0 0 transparent;
}
.ui_body_header_inside .logo .pinterBox {
}
.pinterBox {
    display: inline-block;
    margin: 6px 0 0 2px;
    padding: 12px 6px 16px;
}
.pinterBox span {
    border-color: #FFFFFF transparent transparent;
    border-style: solid dashed dashed;
    border-width: 5px 5px 0;
    display: inline-block;
    font-size: 0;
    height: 0;
    line-height: 0;
    vertical-align: middle;
    width: 0;
}
.pinterHover .pinterBox span {
    border-color: #E3521B transparent transparent;
}
.ui_plugs_pointer {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #F48948;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    z-index: 99;
}
.ui_plugs_pointer .pointerInside {
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.ui_plugs_pointer a {
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 0 1px;
    display: block;
    height: 30px;
    line-height: 30px;
    text-decoration: none !important;
    text-indent: 10px;
}
.ui_plugs_pointer a:hover {
    background: none repeat scroll 0 0 #FFF4DE;
    color: #333333;
}
.ui_plugs_pointer .pointerInside span {
    cursor: pointer;
}
.ui_layout {
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    width: 960px;
}
.body_left {
    width: 200px;
}
.body_right {
    margin-bottom: -30000px;
    padding-bottom: 30000px;
    width: 760px;
}
.body_nav, .body_nav_tags {
    background: url("/css/home/body_right_header.png") no-repeat scroll 0 0 transparent;
    height: 28px;
    overflow: hidden;
    width: 100%;
}
.body_nav .navs {
    margin-left: 30px;
    position: relative;
    width: 70%;
}
.body_nav .navs a {
    display: inline-block;
    float: left;
    line-height: 28px;
    text-align: center;
    width: 72px;
}
.body_nav .navs a:hover, .body_nav .navs a.select {
    color: #333333;
    font-weight: bold;
}
.bodys {
    background: none repeat scroll 0 0 #FFFFFF;
    overflow: hidden;
    padding: 10px 10px 30px;
    width: 740px;
}
.body_footer {
    background: url("/css/home/body_right_footer.png") no-repeat scroll 0 0 transparent;
    height: 10px;
    width: 100%;
}
.footer {
    height: 204px;
    width: 100%;
}
.person_head, .person_footer {
    height: 176px;
    position: relative;
    width: 100%;
}
.person_head .person_headShadow {
    background: url("/css/home/body_left_header.png") no-repeat scroll 0 0 transparent;
    bottom: 0;
    height: 21px;
    left: 0;
    position: absolute;
    width: 100%;
}
.person_head img {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 2px #666666;
    height: 150px;
    left: 25px;
    position: absolute;
    top: 12px;
    width: 150px;
    z-index: 9;
}
.person_footer {
    height: 12px;
}
.person_footerShadow {
    background: url("/css/home/body_left_footer.png") no-repeat scroll 0 0 transparent;
    bottom: 0;
    height: 12px;
    left: 0;
    position: absolute;
    width: 100%;
}
.person_relationship {
    background: none repeat scroll 0 0 #FFF4DE;
    height: 100%;
    width: 100%;
}
.preson_shipCount {
    height: 40px;
    line-height: 18px;
    padding: 10px 0;
    width: 100%;
}
.preson_shipCount b {
    display: block;
    font-size: 16px;
    line-height: 22px;
}
.preson_shipCount .mycount {
    display: block;
    float: left;
    height: 40px;
    overflow: hidden;
    text-align: center;
    width: 66px;
}
.preson_shipCount .vLine {
    float: left;
}
.vLine {
    height: 100%;
    width: 1px;
}
.vLine span {
    display: block;
    font-size: 0;
    height: 50%;
    line-height: 0;
    width: 100%;
}
.vLine .t {
    background: linear-gradient(#FFF4DD, #FFD7A3) repeat scroll 0 0 transparent;
}
.vLine .b {
    background: linear-gradient(#FFD7A3, #FFF4DD) repeat scroll 0 0 transparent;
}
.aLine {
    height: 1px;
    margin: 20px 0;
    width: 100%;
}
.aLine span {
    display: block;
    font-size: 0;
    height: 100%;
    line-height: 0;
    overflow: hidden;
    width: 50%;
}
.aLine .l {
    background-image: -moz-linear-gradient(left center , #FFF4DD, #FFD7A3);
    float: left;
}
.aLine .r {
    background-image: -moz-linear-gradient(left center , #FFD7A3, #FFF4DD);
    float: right;
}
.ico_g {
    background: url("/css/global/ico_g.png") no-repeat scroll 0 0 transparent;
}
.ui_success, .ui_warning, .ui_error {
    height: 30px;
    line-height: 30px;
    margin: 10px 0;
    overflow: hidden;
    padding: 0 10px;
}
.ui_success em, .ui_warning em, .ui_error em {
    color: #666666;
}
.ui_success b.ico_g, .ui_warning b.ico_g, .ui_error b.ico_g {
    display: inline-block;
    float: left;
    height: 14px;
    margin: 8px 5px 8px 0;
    width: 14px;
}
.ui_success {
    background: none repeat scroll 0 0 #EEFFCC;
    border: 1px solid #BBCC33;
}
.ui_warning {
    background: none repeat scroll 0 0 #FFFFDD;
    border: 1px solid #FFE3BB;
}
.ui_error {
    background: none repeat scroll 0 0 #FFEEEE;
    border: 1px solid #FFCCCC;
}
.ui_success b.ico_g {
    background-position: -1px -406px;
}
.ui_warning b.ico_g {
    background-position: -1px -432px;
}
.ui_error b.ico_g {
    background-position: -1px -458px;
}
.ui_success_lines {
    height: auto;
    line-height: 20px;
    padding: 5px 10px;
    position: relative;
}
.dialogTips, .dialog_z_index {
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 380px;
    z-index: 200;
}
td.dialog_tl, td.dialog_tr, td.dialog_bl, td.dialog_br {
    height: 10px;
    opacity: 0.4;
    overflow: hidden;
    padding: 0;
    width: 10px;
}
td.dialog_tl {
    background-image: url("/css/home/dialog_top_left.png");
}
td.dialog_tr {
    background-image: url("/css/home/dialog_top_right.png");
}
td.dialog_bl {
    background-image: url("/css/home/dialog_bottom_left.png");
}
td.dialog_br {
    background-image: url("/css/home/dialog_bottom_right.png");
}
td.dialog_c, td.dialog_tc, td.dialog_cl, td.dialog_cr, td.dialog_bc {
    background-image: url("/css/home/dialog_border.png");
    opacity: 0.4;
}
.photoBox {
    background: url("/css/home/photo_box.png") no-repeat scroll 1px 0 transparent;
    display: inline-block;
    height: 107px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 103px;
}
.photoBox:hover {
    background-position: -116px 0;
}
.percent_25, .percent_33, .percent_20, .percent_16 {
    position: relative;
    width: 100%;
}
.percent_25 li {
    float: left;
    height: 100%;
    overflow: hidden;
    text-align: center;
    width: 25%;
}
.percent_33 li {
    float: left;
    height: 100%;
    overflow: hidden;
    width: 33%;
}
.percent_50, .percent_50 dd, .percent_50 dt {
    float: left;
    height: 100%;
    overflow: hidden;
    width: 49.8%;
}
.percent_20 li {
    float: left;
    height: 100%;
    overflow: hidden;
    text-align: center;
    width: 19.9%;
}
.percent_33 .uiText {
    width: 66%;
}
.preson_link {
    clear: left;
    margin: 0 10px 20px;
    overflow: hidden;
    width: 180px;
}
.preson_link a, .preson_link .addLink, .preson_link .otherLink {
    background: none repeat scroll 0 0 #FFEABE;
    border: 1px solid #FFCC88;
    display: inline-block;
    float: left;
    height: 22px;
    line-height: 22px;
    margin: 0 16px 5px 0;
    overflow: hidden;
    padding: 0 6px;
    text-decoration: none !important;
    width: auto;
}
.preson_link .addLink {
    background: none repeat scroll 0 0 #FFFFFF;
    border-style: dotted;
    padding-right: 6px !important;
    width: 34px;
}
.preson_link a span {
    float: left;
    overflow: hidden;
    white-space: nowrap;
}
.preson_link a {
}
.preson_link a img {
    float: left;
    height: 16px;
    margin-top: 4px;
    width: 0;
}
.preson_link a:hover {
    margin-right: 4px;
    padding-right: 2px;
}
.preson_link a:hover img {
    background-position: -801px -79px;
    width: 16px;
}
.preson_link .addLink:hover {
    padding-right: 6px !important;
}
.preson_link .otherLink {
    color: #DD9966;
    margin-right: 5px;
}
.person_nav a {
    display: block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-decoration: none !important;
    text-indent: 44px;
    width: 100%;
}
.person_nav a:hover {
    background-color: #FFEABE;
    color: #DD9966;
    font-weight: bold;
}
.person_nav a.select {
    background-color: #FFD7A5;
    color: #CC3300;
    font-weight: bold;
}
.person_nav a.sm {
    background-position: -962px -145px;
}
.person_nav a.actm {
    background-position: -962px -177px;
}
.person_nav a.bm {
    background-position: -962px -209px;
}
.person_nav a.lnkm {
    background-position: -962px -241px;
}
.person_nav a.qam {
    background-position: -962px -402px;
}
.person_nav a.qm {
    background-position: -962px -273px;
}
.person_nav a.am {
    background-position: -962px -306px;
}
.person_nav a.pm {
    background-position: -962px -339px;
}
.person_nav a.tm {
    background-position: -962px -371px;
}
.person_together {
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    width: 180px;
}
.person_together .uiText {
    width: 110px;
}
.person_t {
    height: 26px;
    line-height: 26px;
    margin-bottom: 5px;
    position: relative;
}
.evenSlide {
    display: inline-block;
    height: 15px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 5px;
    width: 30px;
}
.evenSlide span {
    background-position: -60px -74px;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    width: 15px;
}
.evenSlide span.next {
    background-position: -75px -74px;
}
.slideBox {
    height: 230px;
    overflow: hidden;
    position: relative;
    width: 180px;
}
.slideBox ul, .slideBox ul li {
    height: 230px;
    overflow: hidden;
    width: 180px;
}
.slideBox ul {
    position: absolute;
}
.slideBox ul li {
    float: left;
    line-height: 24px;
}
.person_t b {
    font-size: 14px;
}
.refresh {
    background-position: 0 -800px;
    color: #DD9966;
    position: absolute;
    right: 0;
    top: 2px;
}
.person_fack li {
    line-height: 22px;
    margin-bottom: 5px;
}
.person_fack li.on .facks {
    display: block;
}
.person_fack .facks {
    display: none;
}
.person_alink {
    color: gray;
    line-height: 22px;
    margin-bottom: 16px;
}
.personLinks li {
    float: left;
    height: 100%;
    line-height: 14px;
    margin-bottom: 12px;
    overflow: hidden;
    text-align: center;
    width: 33%;
}
.facks {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    line-height: 20px;
    margin-top: 5px;
    padding: 6px 10px;
    position: relative;
}
.facks .gt {
    color: #DDDDDD;
    display: inline-block;
    font-family: 'SimSun';
    height: 7px;
    left: 12px;
    line-height: 14px;
    overflow: hidden;
    position: absolute;
    top: -7px;
    width: 12px;
}
.facks .gt .gt {
    color: #F6F6F6;
    height: 6px;
    left: 0;
    line-height: 14px;
    top: 1px;
    width: 10px;
}
.person_collection li {
    float: left;
    height: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center;
    width: 33%;
}
.person_info {
    padding: 10px 10px 10px 40px;
}
.pinfo {
    padding-bottom: 10px;
}
.pinfo b {
    color: #333333;
    font-size: 2.4em;
}
.pinfo .address {
    background-position: 0 -775px;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    margin: 0 10px 0 5px;
    padding-left: 22px;
}
.pinfo .male {
    background-position: 0 -746px;
}
.pinfo .editInfo {
    background-position: 0 -833px;
    color: #EEAD7C;
    cursor: pointer;
    padding-left: 15px;
}
.tokll {
    height: 130px;
    position: relative;
    width: 500px;
}
.isMember .tokll {
    height: 36px;
}
.tokll textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #EEBB99;
    border-radius: 3px 3px 3px 3px;
    font-family: Tahoma,宋体;
    font-size: 14px;
    height: 70px;
    outline: medium none;
    overflow: hidden;
    padding: 6px;
    resize: none;
    width: 484px;
}
.tokll .ope .buttons {
    display: inline-block;
    float: left;
    padding: 4px 0;
}
.tokll .ope {
    height: 30px;
    margin-top: 2px;
    overflow: hidden;
    width: 100%;
}
.tokll .ope .buttons span {
    cursor: pointer;
    float: left;
    padding-left: 18px;
    width: 34px;
}
.tokll .ope .buttons span.iserm {
    background-position: 0 -589px;
}
.tokll .ope .buttons span.ispic {
    background-position: 0 -619px;
}
.tokll .ope .buttons span.isvideo {
    background-position: 0 -651px;
}
.tokll .ope .buttons span.istokll {
    background-position: 0 -682px;
}
.ope .issys {
    background-position: 66px -712px;
    cursor: pointer;
    float: left;
    margin-left: 20px;
    padding-right: 22px;
}
.ope .issys input {
    vertical-align: -3px;
}
.ope .issubmit {
    border: medium none;
    cursor: pointer;
    height: 28px;
    width: 66px;
}
.isfont {
    display: inline-block;
    font-family: Constantia,Georgia;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    margin-right: 10px;
}
.isAd, .my_gift {
    overflow: hidden;
    position: absolute;
    right: -200px;
    width: 188px;
}
.my_gift {
    background-position: right 0;
    cursor: pointer;
    height: 46px;
    top: 0;
}
.disabled {
    background-position: right -460px;
    cursor: default;
    height: 46px;
    top: 0;
}
.icon_day, .icon_week, .icon_month {
    color: #FF8800;
    display: inline-block;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 32px;
}
.icon_day {
    font-size: 16px;
    height: 22px;
    line-height: 22px;
    right: 6px;
    top: 18px;
    width: 30px;
}
.icon_week {
    font-size: 14px;
    height: 22px;
    left: 12px;
    line-height: 22px;
    top: 16px;
    width: 40px;
}
.icon_month {
    font-size: 11px;
    height: 14px;
    left: 16px;
    line-height: 14px;
    top: 4px;
}
.isAd {
    background-position: -82px -145px;
    height: 110px;
    top: 52px;
}
.isAd a {
    display: block;
    height: 70px;
    left: 4px;
    overflow: hidden;
    position: absolute;
    text-decoration: none;
    top: 13px;
    width: 180px;
}
.isAd img {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;
}
.isAd span.choice {
    background-position: -833px -79px;
    margin: 0;
    position: absolute;
    top: 65px;
    z-index: 7;
}
.isMember .isAd {
    background: none repeat scroll 0 0 #FEFFEF;
    border: 1px solid #FFED99;
    height: 80px;
    right: -175px;
    top: -45px;
    width: 280px;
}
.isMember .isAd a {
    height: 80px;
    left: 0;
    top: 0;
    width: 280px;
}
.isAd .isAdC {
    clear: both;
    height: 14px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: 65px;
    z-index: 9;
}
.isAd .isAdC a {
    float: left;
    position: static;
}
.isAd .isAdC a, .isAd span {
    background-position: -817px -79px;
    color: #FFFFFF;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-left: 5px;
    text-align: center;
    width: 14px;
}
.isMember .isAd .isAdC, .isMember .isAd span.choice {
    top: 60px;
}
.person_collection li a, .person_nav a, .preson_shipCount b, .person_fack li a, .person_alink a, .navs a, .replayAll a, .slideBox ul li a, .personLinks li a, .isMember a {
    color: #CC3300;
}
.ui_plugs_pointer a, .changeNode a, .changeNode dl.select dt {
    color: #FE6700;
}
.preson_link a, .rMore a, .facks a, .personCount, .loadup .loadRo, .loadup a, .loadup .loadRp, .ope button, .isMenber, .accost {
    color: #DD9966 !important;
}
.gray {
    color: gray;
}
a:hover {
    color: #FF6200;
    text-decoration: underline;
}
.tales100 .text {
    background: url("/css/global/textbg.png") no-repeat scroll 0 0 transparent;
    border-color: #777777 #BBBBBB #BBBBBB;
    border-style: solid;
    border-width: 1px;
    color: #666666;
    font-size: 12px;
    padding: 4px;
    width: 200px;
}
.tales100 {
    padding: 8px 0 8px 100px;
}
.tales100:after {
    clear: both;
    content: "content";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
    width: 0;
}
.tales100 dt {
    float: left;
    font-size: 14px;
    margin-left: -100px;
    margin-top: 8px;
    text-align: right;
    width: 100px;
}
.tales100 dd {
    float: left;
    width: 100%;
}
.tales100 .label, .tales100 .text {
    border: medium none;
    display: block;
    font-size: 14px;
}
.tales100 .text {
    background-position: right -553px;
    float: left;
    height: 28px;
    line-height: 28px;
    outline-width: 0;
    padding: 6px 8px 6px 0;
}
.tales100 .label {
    background-position: -2px -553px;
    height: 42px;
    padding: 0 0 0 8px;
}
.tales100 .labelHover {
    background-position: 0 -604px;
}
.tales100 .labelHover .text {
    background-position: right -604px;
}
.orderText {
    font-size: 12px;
    padding: 2px;
}
.person_nav, .person_collection, .person_fack {
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.messgeManager .date_axis {
    background: none repeat scroll 0 0 #FFCC66;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: '微软雅黑','宋体';
    font-size: 1.6em;
    height: 26px;
    line-height: 26px;
    margin: 0 auto 16px;
    position: relative;
    text-align: center;
    width: 100px;
    z-index: 2;
}
.ui_plugs_actions {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 auto 10px;
    overflow: hidden;
    position: relative;
    width: 732px;
    z-index: 0;
}
.ui_plugs_actions .ui_plugs_data {
    margin-bottom: 20px;
    opacity: 0;
    position: relative;
    visibility: hidden;
    width: 353px;
}
.ui_plugs_eLiving .ui_plugs_data {
    margin-bottom: 30px;
}
.tagcol1 span, .tagcol1 em, .tagcol2 span, .tagcol2 em, .tagcol1, .tagcol2 {
    display: inline-block;
    font-family: 'SimSun';
    font-size: 1.6em;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    position: absolute;
}
.tagcol1, .tagcol2 {
    color: #DDDDDD;
    top: 15px;
    width: 15px;
}
.tagcol1 span, .tagcol1 em, .tagcol2 span, .tagcol2 em {
    left: 0;
    top: 0;
    width: 30px;
}
.tagcol1 em {
    color: #FFFFFF;
    left: -19px;
    top: -2px;
}
.tagcol1 {
    right: -15px;
}
.tagcol1 span {
    left: -16px;
}
.tagcol2 {
    left: -15px;
}
.tagcol2 em {
    color: #FFFFFF;
    left: 3px;
    top: -2px;
}
.ui_plugs_actions .col1 {
    clear: left;
    float: left;
    padding-right: 7px;
}
.ui_plugs_actions .ui_plugs_outside {
    background: none repeat scroll 0 0 #E9E9E9;
    border-radius: 3px 3px 3px 3px;
    clear: both;
    display: block;
    margin: 2px 0 0 2px;
}
.ui_plugs_actions .ui_plugs_outside .ui_plugs_inside {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    left: -2px;
    position: relative;
    top: -2px;
}
.ui_plugs_actions .ui_plugs_outside .ui_plugs_inside .relationship_act .relationBody a {
    float: left;
    padding-right: 3px;
}
.ui_plugs_actions .ui_plugs_outside .ui_plugs_inside .relationship_act .relationBody a.picmin {
    padding-right: 0;
}
.ui_plugs_actions .col2 {
    clear: right;
    float: right;
    padding-left: 7px;
}
.ui_plugs_actions .ui_plugs_time {
    background: none repeat scroll 0 0 #FFEEAA;
    height: 100%;
    left: 361px;
    margin: 0 4px -30000px;
    padding-bottom: 30000px;
    position: absolute;
    top: 0;
    width: 2px;
    z-index: 0;
}
.ui_plugs_actions .pm {
    background: url("/css/home/doc.gif") repeat scroll 0 0 transparent;
    display: block;
    height: 7px;
    overflow: hidden;
    position: absolute;
    top: 22px;
    width: 8px;
    z-index: 99;
}
.ui_plugs_actions .col1 .pm {
    right: -20px;
}
.ui_plugs_actions .col2 .pm {
    left: -18px;
}
.ui_plugs_actions .isnode {
    float: left;
    height: 0;
    overflow: visible;
    position: relative;
    visibility: hidden;
    width: 100%;
}
.replayNode {
    height: 100%;
    margin: 3px 3px 2px;
    width: auto;
}
.replayNode a {
    color: #CC3300;
}
.replayNode dl, .replayAll {
    background: none repeat scroll 0 0 #F6F6F6;
    border-bottom: 1px solid #FEFEFE;
    overflow: hidden;
    padding: 5px 10px 0;
    width: 323px;
}
.replayNode dt {
    float: left;
    height: 30px;
    margin-right: 10px;
    overflow: hidden;
    width: 30px;
}
.replayNode dd {
    float: left;
    height: 100%;
    overflow: hidden;
    width: 283px;
}
.replayNode textarea {
    border-color: #C2C2C2 #E6E6E6 #E6E6E6 #C2C2C2;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    color: #DEDEDE;
    float: left;
    font-size: 12px;
    height: 22px;
    line-height: 18px;
    overflow: hidden;
    padding: 0 3px;
    resize: none;
    width: 210px;
}
.replayNode button.button {
    background-position: 0 -143px;
    border: medium none;
    border-radius: 0 0 0 0;
    clear: right;
    color: #999999;
    float: right;
    font-size: 12px;
    height: 25px;
    width: 50px;
}
.replayNode button.onButton {
    background-position: 0 -73px;
    color: #FFFFFF;
}
.replayAll {
    padding: 2px 10px;
    text-align: center;
}
.replayAll a {
    text-decoration: none !important;
}
.readyMore {
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #DDDDDD;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 728px;
    z-index: 3;
}
.changeNode {
    position: fixed;
    right: 0;
    top: 300px;
    width: 60px;
}
.changeNode dl {
    margin-bottom: 2px;
}
.changeNode dt {
    border-left: 5px solid #EFAD7D;
    font-size: 12px;
    text-indent: 5px;
}
.changeNode dd {
    display: none;
}
.changeNode dl.select dt {
    background: none repeat scroll 0 0 #F2F2F2;
}
.changeNode a {
    border-left: 5px solid #EFAD7D;
    display: block;
    height: 20px;
    line-height: 20px;
    text-decoration: none !important;
    text-indent: 5px;
}
.changeNode a.select, .changeNode a:hover, .changeNode dl.select dt {
    color: #333333;
    font-weight: bold;
}
.changeNode a.select, .changeNode a:hover, .changeNode dl.select dt {
    border-color: #F77622;
}
.relationship_interest .uiText {
    width: 213px;
}
.relationship_interest sub, .relationship_interest sup {
    float: left;
    margin-top: -5px;
}
.relationship_act .uiText {
    width: 258px;
}
.relationship_act .relationship_act {
    border-left: 2px solid #BBBBBB;
    margin-left: 5px;
    padding-left: 10px;
}
.relationship_act .relationship_act .uiText {
    width: 242px;
}
.relationship_act .relationship_act .party .picmin {
    margin-right: 7px;
}
.relationship_rel {
}
.relationship_live {
}
.relationship_blog {
}
.relationship_wala {
}
.relationship_qa {
}
.brown, .ui_plugs_actions a, .userDailog a, .gainPanel b, .gainPanel a {
    color: #C03B0C;
}
.party {
    clear: both;
    height: 36px;
    margin-top: 10px;
    overflow: hidden;
    width: 100%;
}
.party .picmin {
    float: left;
    margin-right: 8px;
}
.ui_big_ratings {
    float: left;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    width: 130px;
}
.ui_big_ratings li {
    background-position: -25px -1137px;
    cursor: default;
    float: left;
    height: 24px;
    width: 13px;
}
.ui_big_ratings li.no {
    background-position: -38px -1137px;
}
.ui_big_ratings li.on {
    background-position: -12px -1137px;
}
.ui_big_ratings li.half {
    background-position: 1px -1137px;
}
sub {
    color: #FF6600;
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
    line-height: 24px;
    margin-left: 10px;
    vertical-align: middle;
}
sub.min {
    font-size: 14px;
}
sup {
    color: #FF6600;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    line-height: 20px;
    margin-left: 2px;
    vertical-align: top;
}
sup.min {
    font-size: 12px;
}
.initRating span {
    background: url("/css/home/main.png?v=100010") no-repeat scroll 0 0 transparent;
    border: medium none;
    display: inline-block;
    text-decoration: none !important;
    vertical-align: middle;
    width: auto;
}
.ratings, .initRating {
    float: left;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    width: auto;
}
.initRating, .initRating span {
    display: inline-block;
}
.ratings li, .initRating span {
    background-position: -73px -148px;
    cursor: pointer;
    float: left;
    height: 16px;
    overflow: hidden;
    width: 8px;
}
.ratings li.no, .initRating span.no {
    background-position: -81px -148px;
}
.ratings li.on, .initRating span.on {
    background-position: -62px -148px;
}
.ratings li.half, .initRating span.half {
    background-position: -54px -148px;
}
.tableLayer .t_l {
    background: url("home/tablelayer_01.png") no-repeat scroll 0 0 transparent;
    height: 5px;
    width: 5px;
}
.tableLayer .t_c {
    background: url("home/tablelayer_02.png") repeat-x scroll 0 0 transparent;
    height: 5px;
}
.tableLayer .t_r {
    background: url("home/tablelayer_03.png") repeat-y scroll 0 0 transparent;
    height: 5px;
    width: 5px;
}
.tableLayer .m_l {
    background: url("home/tablelayer_02.png") repeat-y scroll 0 0 transparent;
    width: 5px;
}
.tableLayer .m_c {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 5px;
}
.tableLayer .m_r {
    background: url("home/tablelayer_02.png") repeat-y scroll 0 0 transparent;
    width: 5px;
}
.tableLayer .b_l {
    background: url("home/tablelayer_04.png") no-repeat scroll 0 0 transparent;
    height: 5px;
    width: 5px;
}
.tableLayer .b_c {
    background: url("home/tablelayer_02.png") repeat-x scroll 0 0 transparent;
    height: 5px;
}
.tableLayer .b_r {
    background: url("home/tablelayer_05.png") no-repeat scroll 0 0 transparent;
    height: 5px;
    width: 5px;
}
.dalogIcon a {
    border: 1px solid #EEEEEE;
    display: inline-block;
    margin: 1px;
    padding: 1px;
    text-decoration: none !important;
}
.dalogIcon a:hover {
    border-color: #C03B0C;
}
.apend_alink, .cancelBox {
    background-color: #EEFFCC;
    border: 1px solid #99CC33;
    color: #99CC33;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 6px;
}
.apend_alink b {
    font-size: 14px;
    margin-right: 2px;
}
.apend_alink a, .cancelBox a {
    color: #659A02;
}
.isMember .apend_alink {
    background-color: transparent;
    background-position: 0 -211px;
    border: 0 none;
    color: #FFFFFF;
    height: 24px;
    line-height: 24px;
    text-decoration: none !important;
    width: 54px;
}
.isMember .apend_alink b {
    color: #FFFFFF;
}
.review {
    height: 26px;
    overflow: hidden;
    padding: 5px 0;
    width: 100%;
}
.review a {
    background: none repeat scroll 0 0 #FFF6DD;
    border: 1px solid #FFCC88;
    border-radius: 3px 3px 3px 3px;
    color: #DD9966;
    display: inline-block;
    float: left;
    height: 22px;
    line-height: 22px;
    text-align: center;
    text-decoration: none !important;
    width: 78px;
}
.review .personCount {
    margin: 0 10px 0 0;
}
.review .iserm {
    background-position: 0 -589px;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 12px;
    line-height: 12px;
    margin-right: 10px;
    padding: 3px 0 3px 20px;
}
.review .getIcon {
    background-position: 0 -590px;
    border: medium none;
    border-radius: 0 0 0 0;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 16px;
    margin: 2px 10px 0 0;
    width: 16px;
}
.personCount, .isMenber, .accost {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    float: left;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin: 3px 10px 0 0;
    padding: 2px 6px 2px 26px;
    position: relative;
    width: 36px;
}
.personCount {
    background-position: 5px -469px;
}
.personCount span, .personCount em {
    display: inline-block;
    font-family: 'SimSun';
    font-size: 11px;
    height: 11px;
    line-height: 11px;
    overflow: hidden;
    position: absolute;
    top: 7px;
}
.personCount span {
    color: #DDDDDD;
    right: -7px;
}
.personCount em {
    color: #FFFFFF;
    right: -6px;
}
.isMenber {
    background-position: 6px -523px;
}
.accost {
    background-position: 6px -495px;
}
.willdo, .lastdo {
    border-top-right-radius: 3px;
    height: 24px;
    position: absolute;
    right: 0;
    top: 0;
    width: 85px;
}
.willdo {
    background-position: 0 -241px;
}
.lastdo {
    background-position: 0 -275px;
}
.loadup {
    color: gray;
    height: 20px;
    line-height: 20px;
    margin: 10px 0 0;
    overflow: hidden;
    width: 100%;
}
.loadup .loadRp {
    background-position: 5px -390px;
    cursor: pointer;
    float: left;
}
.loadup .loadRo {
    background-position: 5px -363px;
    cursor: pointer;
    float: left;
}
.loadup .unLoadRp {
    background-position: 5px -441px;
    color: #999999;
    display: inline-block;
}
.loadup .unLoadRo {
    background-position: 5px -414px;
    color: #999999;
    display: inline-block;
}
.tickets {
    height: 175px;
    margin: 5px 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.ismovieShare h2, .ismovieShare .sfoot, .isdramaShare h2, .issportShare h2 {
    background: url("home/ticketShareBg.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 52px;
    overflow: hidden;
    text-indent: -999px;
    width: 100%;
}
.ismovieShare h2 {
    background-position: 0 0;
}
.ismovieShare .sfoot {
    background-position: 0 -52px;
    bottom: 0;
    height: 14px;
    left: 0;
    position: absolute;
}
.isdramaShare h2 {
    background-position: 0 -66px;
    height: 50px;
}
.issportShare h2 {
    background-position: 0 -116px;
    height: 50px;
}
.tickets .tickets_c {
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 0 1px 1px;
    height: 122px;
    overflow: hidden;
}
.tickets span, .tickets em, .tickets p {
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    width: 100%;
}
.tickets a {
    color: #333333;
    display: block;
    font-family: '微软雅黑','宋体';
    font-size: 24px;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
    text-decoration: none !important;
    width: 100%;
}
.tickets a:hover {
    color: #FF6600;
}
.tickets span {
    width: 60%;
}
.tickets em {
    width: 40%;
}
.tickets p {
    position: relative;
}
.isqa {
    background-position: 0 -555px;
    padding: 2px 0 2px 20px;
}
.userDailog, .gainPanel, .personLinks {
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.userDailog .userLink {
    background: -moz-linear-gradient(center top , #EEEEEE 0%, #FFFFFF 100%) repeat scroll 0 0 transparent;
    height: 22px;
    padding: 4px 10px;
    text-align: right;
}
.gainPanel h2 {
    color: #333333;
    font-size: 12px;
    font-weight: normal;
}
.gainPanel h3 {
    color: #333333;
    font-size: 14px;
    font-weight: normal;
}
.gainPanel p, .gainPanel .luckPanel span {
    color: #999999;
}
.gainPanel b, .gainPanel a {
    margin: 0 2px;
}
.gainPanel .luckPanel {
    background: none repeat scroll 0 0 #EEEEEE;
    height: 22px;
    padding: 4px 10px;
}
.gainPanel .uiText {
    width: 198px;
}
.gainPanel dl {
    margin-top: 12px;
}
.button, .button span, .button input {
    background: url("global/ui_btn.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none !important;
    width: auto;
}
.button span, .button input {
    color: #FFFFFF;
}
.bigBt {
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    padding-left: 18px;
}
.bigBt span, .bigBt input {
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 32px;
    overflow: hidden;
    padding-right: 18px;
}
.minBt {
    height: 23px;
    line-height: 23px;
    overflow: hidden;
    padding-left: 14px;
}
.minBt span, .minBt input {
    float: left;
    font-size: 12px;
    height: 23px;
    line-height: 23px;
    overflow: hidden;
    padding-right: 14px;
}
.w90Bt {
    color: #FFFFFF !important;
    font-size: 14px;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    text-decoration: none !important;
    width: 90px;
}
.whiteBt span, .whiteBt input {
    color: #333333;
}
.whiteBt:hover span, .whiteBt:hover input {
    color: #333333;
}
.bigBt.whiteBt span, .bigBt.whiteBt input {
    font-weight: normal;
    text-shadow: none;
}
.bigBt.whiteBt:hover span, .bigBt.whiteBt:hover input {
    color: #FFFFFF;
}
.button span em.arrow {
    background: url("/css/global/wpt.png") no-repeat scroll 3px 2px transparent;
    padding: 0 5px 0 12px;
}
.redBt {
    background-position: 0 0;
}
.redBt span, .redBt input {
    background-position: right -23px;
}
.redBt:hover, label.hover {
    background-position: 0 -47px;
}
.redBt:hover span, label.hover input {
    background-position: right -70px;
}
.bigBt {
    background-position: 0 -94px;
}
.bigBt span, .bigBt input {
    background-position: right -126px;
}
.bigBt:hover, label.bg_hover {
    background-position: 0 -159px;
}
.bigBt:hover span, label.bg_hover input {
    background-position: right -191px;
}
.w90Bt {
    background-position: 0 -1568px;
}
.w90Bt:hover {
    background-position: 0 -1595px;
}
.whiteBt {
    background-position: 0 -1344px;
}
.whiteBt span, .whiteBt input {
    background-position: right -1367px;
}
.whiteBt:hover {
    background-position: 0 -1456px;
}
.whiteBt:hover span, .whiteBt:hover input {
    background-position: right -1479px;
}
.bigBt.whiteBt {
    background-position: 0 -1391px;
}
.bigBt.whiteBt span, .bigBt.whiteBt input {
    background-position: right -1423px;
}
.bigBt.whiteBt:hover {
    background-position: 0 -159px;
}
.bigBt.whiteBt:hover span, .bigBt.whiteBt:hover input {
    background-position: right -191px;
}
.sblueBt {
    background-position: 0 -1503px;
}
.sblueBt span, .sblueBt input {
    background-position: right -1535px;
}
.syellowBt {
    background-position: 0 -1456px;
}
.syellowBt span, .syellowBt input {
    background-position: right -1479px;
    color: #E66510;
}
.sicon, .sicon em {
    background: url("home/sicon.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    text-indent: 0;
    vertical-align: middle;
}
span.sicon {
    background-position: 0 0;
    float: left;
    padding-left: 6px;
    width: auto;
    z-index: 1;
}
span.sicon em {
    background-position: right -16px;
    color: #FFFFFF;
    float: left;
    font-size: 9px;
    height: 16px;
    line-height: 18px;
    overflow: hidden;
    padding-right: 6px;
    white-space: nowrap;
}
.tagsPanel {
    margin: 0 auto;
    width: 470px;
}
.isTags {
    border: 1px solid #FFD9A8;
    width: 460px;
}
.isTags .istt {
    background: -moz-linear-gradient(center top , #FEFDF8 0%, #FFF3DD 100%) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #FFD9A8;
    height: 32px;
    padding: 6px 15px 0;
    position: relative;
    width: 430px;
}
.isTags .istt .islinktags {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #FFD9A8;
    border-style: solid;
    border-width: 1px 1px 0;
    bottom: -1px;
    display: inline-block;
    height: 32px;
    left: 15px;
    overflow: hidden;
    position: absolute;
    width: 198px;
}
.isTags .istt .islinktags span {
    float: left;
    line-height: 32px;
    margin-left: 10px;
}
.isTags .istt .islinktags .refresh {
    right: 10px;
    top: 5px;
}
.tagIo {
    display: inline-block;
    float: right;
    margin-top: 2px;
}
.tagIo input {
    border: 1px solid #999999;
    float: left;
    margin-right: 5px;
    padding: 3px;
    width: 140px;
}
.tagsBox {
    padding: 10px 30px;
}
.tagsBox a {
    background: none repeat scroll 0 0 #FFF4DE;
    border: 1px solid #FFFFFF;
    color: #DF9968;
    display: inline-block;
    margin: 0 2px 5px;
    padding: 1px 5px;
    text-decoration: none !important;
}
.tagsBox a:hover, .tagsBox a.select {
    background: none repeat scroll 0 0 #FFEAB9;
    border-color: #FFCD88;
}
.tagsPanel .preson_link {
    margin: 10px auto;
    width: 470px;
}
.tagsPanel .party {
    margin-top: 5px;
}
.tagsPanel .picmin {
    margin-right: 9px;
}
.gainResult, .gainResult p {
    color: #666666;
}
.luckUser {
    background: none repeat scroll 0 0 #FFFFCC;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    position: relative;
}
.body_nav_tags {
    margin-top: 60px;
    overflow: hidden;
    padding: 0 50px;
    width: 660px;
}
.body_nav_tags .navs {
    float: left;
    height: 26px;
    line-height: 26px;
    margin: 2px 0 0;
    position: relative;
    width: 70%;
}
.body_nav_tags .navs a {
    display: inline-block;
    float: left;
    margin: 0 15px;
    text-align: center;
}
.body_nav_tags .navs a:hover {
    text-decoration: none;
}
.body_nav_tags .navs a.select {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 0 0;
    color: #333333;
    margin: 0;
    padding: 0 10px;
}
.body_nav_tags .navs a em {
    cursor: pointer;
    display: inline-block;
    padding-left: 21px;
}
.body_nav_tags .modules {
    display: inline-block;
    float: left;
    height: 28px;
    line-height: 28px;
    position: relative;
    text-align: right;
    width: 30%;
}
.body_nav_tags .modules .addnew {
    background-position: 0 -1177px;
    color: #CC3300;
    line-height: 26px;
    padding-left: 15px;
}
.body_nav_tags .modules .uppic {
    background-position: 0 -1455px;
    color: #CC3300;
    line-height: 26px;
    margin-right: 15px;
    padding-left: 15px;
}
.body_nav_second {
    border-bottom: 1px solid #EEEEEE;
    margin: 5px;
}
.body_nav_second .navs a {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
}
.body_nav_second .navs a.hover {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #333333;
}
.body_live {
    padding-bottom: 8px;
    position: relative;
}
.body_live_b1, .body_live_b2 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #DDDDDD #DDDDDD;
    border-image: none;
    border-right: 1px solid #DDDDDD;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    font-size: 0;
    height: 4px;
    line-height: 0;
    overflow: hidden;
    position: absolute;
}
.body_live_b1 {
    bottom: 4px;
    left: 18px;
    width: 700px;
}
.body_live_b2 {
    bottom: 0;
    left: 36px;
    width: 664px;
}
.body_live_inner {
    border-left: 1px solid #DDDDDD;
    margin: 0 auto;
    width: 735px;
}
.body_live_header {
    background: linear-gradient(#F4F4F4, #DEDEDE) repeat scroll 0 0 transparent;
    border-color: #DDDDDD #DDDDDD #BCBCBC;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    height: 48px;
    overflow: hidden;
}
.body_live_header .live_menu {
    border: 1px solid #FFFFFF;
    height: 46px;
    line-height: 46px;
    position: relative;
}
.body_live_header .live_menu span {
    cursor: pointer;
    display: block;
    font-size: 20px;
    height: 30px;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    top: 8px;
    width: 15px;
}
.body_live_header .live_menu span.lD {
    background-position: 0 -1260px;
    left: 10px;
}
.body_live_header .live_menu span.rD {
    background-position: 0 -1290px;
    right: 10px;
}
.body_live_header .live_menu p {
    font-family: '微软雅黑','宋体';
    font-size: 21px;
    text-align: center;
}
.body_live_head {
    background-position: 0 -1483px;
    background-repeat: repeat-x;
    border-right: 1px solid #DDDDDD;
    height: 40px;
    overflow: hidden;
    position: relative;
    z-index: 5;
}
.body_live_head li {
    color: #999999;
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 104px;
}
.body_live_head li em {
    display: block;
    height: 40px;
    width: 100px;
}
.body_live_body {
    height: 100%;
    margin-top: -15px;
    position: relative;
    width: 100%;
    z-index: 1;
}
.body_live_body li {
    border: 1px solid #DDDDDD;
    float: left;
    height: 92px;
    margin: -1px 0 0 -1px;
    overflow: hidden;
    position: relative;
    width: 104px;
    z-index: 0;
}
.body_live_body li b {
    color: #000000;
    font-family: Constantia,Georgia;
    font-size: 18px;
    font-weight: normal;
    left: 5px;
    position: absolute;
    top: 0;
    z-index: 8;
}
.body_live_body em{display:inline-block; width:15px; height:15px; line-height:15px; cursor:pointer;}
.body_live_body li i {
    color: #FECC89;
    cursor: pointer;
    display: inline-block;
    font-family: Trebuchet MS;
    font-size: 3em;
    font-weight: bold;
    height: 40px;
    left: 32px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 26px;
    visibility: hidden;
    width: 40px;
    z-index: 9;
}
.body_live_body li.select i, .body_live_body li.select b, .livesCt span.select {
    color: #CC3300;
}
.body_live_body li.select {
    border: 2px solid #CC3300;
    height: 90px;
    width: 102px;
    z-index: 2;
}
.body_live_body li.topSelect {
    border: 2px solid #CC3300;
    height: 118px !important;
    width: 102px;
    z-index: 2;
}
.body_live_body li.select i {
    visibility: visible;
}
.body_live_body li.hover {
    border-color: #FECC89;
    cursor: pointer;
    z-index: 1;
}
.body_lives {
    height: 92px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    padding:20px 0 0 0;
}
.body_lives .lives_node {
    float: left;
    height: 72px;
    padding-top: 20px;
    position: relative;
    width: 104px;
}
.body_lives .lives_node div {
    display: table-cell;
    height: 60px;
    line-height: 20px;
    overflow: hidden;
    padding: 0 5px;
    text-align: right;
    vertical-align: bottom;
}
.body_lives .live_time {
    background: none repeat scroll 0 0 #CC3300;
    border-radius: 7px 7px 7px 7px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 5px;
    width: 50px;
}
.body_live_body li.timeout {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #CCCCCC;
}
.body_live_body li.topTime {
    height: 120px;
}
.body_live_body li.topTime b {
    top: 15px;
}
.body_live_body li.topTime i {
    top: 41px;
}
.body_live_body li.topTime .body_lives {
    top: 15px;
}
.body_live_body li.topTime .lives_node {
    padding-top: 35px;
}
.livesCt {
    bottom: 0;
    left: 5px;
    position: absolute;
    z-index: 8;
}
.livesCt span {
    color: #999999;
    cursor: pointer;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 10px;
    margin-right: 5px;
}
.body_live_body li.timeout .live_time {
    background: none repeat scroll 0 0 #CCCCCC;
}
.body_live_body .live_timeToday {
    background: none repeat scroll 0 0 transparent;
    color: #333333;
    position: absolute;
    right: 10px;
    top: 5px;
}
.ui_warning{margin:0 2px; height:18px; line-height:18px;}
</style>
</head>
<body>
<div style="margin:0 auto;width:800px;height:800px;">
	<div class="body_nav_tags">
		<div class="modules">
			$!trainingGoods.goodsname
			<a href="javascript:addCurriculum('','$!trainingGoods.id');" class="addnew">添加课程</a>
		</div>
	</div>
	<div class="bodys">
		<div class="body_live clear">
			<div class="body_live_inner">
				<div class="body_live_header">
					<div class="live_menu">
						#set($frontMonth = $DateUtil.format($DateUtil.addDay($DateUtil.getMonthFirstDay($!playDate), -1), 'yyyy-MM-dd'))
						<span title="上一月" class="lD" onclick="goCurriculum('$!frontMonth');">上一月</span>
						<p>$!DateUtil.format($!playDate, 'yyyy年MM月')</p>
						#set($nextMonth = $DateUtil.format($DateUtil.getNextMonthFirstDay($!playDate), 'yyyy-MM-dd'))
						<span title="下一月" class="rD" onclick="goCurriculum('$!nextMonth');">下一月</span>
					</div>
				</div>
				<ul class="body_live_head">
					<li>周日</li>
					<li>周一</li>
					<li>周二</li>
					<li>周三</li>
					<li>周四</li>
					<li>周五</li>
					<li>周六</li>
				</ul>
				#set($startCell=${calendarUtil.startCell})
				#set($endCell=${calendarUtil.endCell})
				<ul class="body_live_body clear" id="bodyLive">
					#foreach($x in [1..${calendarUtil.allCell}])
					#set($day=$math.sub($x,$startCell))
					#set($dateTime=$calendarUtil.getMonthDayDate($day))
					#if($x gt $startCell && $x le $endCell)
					<li class="#if($VmUtils.eq($DateUtil.format($dateTime, 'yyyy-MM-dd'), $DateUtil.format($DateUtil.currentTime(), 'yyyy-MM-dd'))) #if($foreach.count lt 8) topSelect #else #end #elseif($VmUtils.gt($DateUtil.currentTime(), $dateTime)) timeout #end #if($foreach.count lt 8) topTime #end">
						<i title="安排娱乐生活">+</i><b>$day</b>
						<div class="body_lives">
							#foreach($curriculum in $curriculumList)
							#if($VmUtils.eq($curriculum.cycletype, 'month'))
							#if($day eq $DateUtil.getDay($curriculum.fromdate))
							<span class="ui_warning" title="$curriculum.classtime" onclick="addCurriculum('$curriculum.id','$!trainingGoods.id');">$curriculum.title</span>
							<em title="删除" onclick="delCurriculum('$curriculum.id')">×</em>
							#end
							#elseif($VmUtils.eq($curriculum.cycletype, 'week'))
							#if($DateUtil.getWeek($curriculum.fromdate) eq $DateUtil.getWeek($dateTime))
							#if(($DateUtil.after($dateTime, $curriculum.fromdate) ge 0) && ($DateUtil.after($curriculum.todate, $dateTime) ge 0))
							<span class="ui_warning" title="$curriculum.classtime" onclick="addCurriculum('$curriculum.id','$!trainingGoods.id');">$curriculum.title</span>
							<em title="删除" onclick="delCurriculum('$curriculum.id')">×</em>
							#end
							#end
							#else
							#if(($DateUtil.after($dateTime, $curriculum.fromdate) ge 0) && ($DateUtil.after($curriculum.todate, $dateTime) ge 0))
							<span class="ui_warning" title="$curriculum.classtime" onclick="addCurriculum('$curriculum.id','$!trainingGoods.id');">$curriculum.title</span>
							<em title="删除" onclick="delCurriculum('$curriculum.id')">×</em>
							#end
							#end
							#end
						</div>
					</li>
					#else
					<li class="timeout #if($x le $endCell)topTime#end">
						<i></i><b></b>
					</li>
					#end
					#end
				</ul>
			</div>
			<div class="body_live_b1"></div>
			<div class="body_live_b2"></div>
		</div>
	</div>
</div>
<div id="pointText" style="visibility:hidden; z-index:601;"></div>
<script>
function goCurriculum(date){
	location.href="${basePath}admin/training/getCurriculumCalendar.xhtml?tid=$!trainingGoods.id&playDate="+date;
}
function addCurriculum(id,tid){
	var url = "${basePath}admin/training/getCurriculum.xhtml";
	var values = {'id':id,'tid':tid};
	gewaUtil.loadData('pointText',url, values, function(result){
		if(result.success){
			GewaraUtil.showDialog('pointText');
		}else{
			gewaUtil.alert(result.json.msg);
		}
	});
}
function delCurriculum(id){
	if(!window.confirm('确认删除吗? 请谨慎操作！')) return;
	if(!window.confirm('请再次确认删除，请谨慎操作！')) return;
	var url = "${basePath}admin/agency/delCurriculum.xhtml";
	var values = {'id':id};
	GewaraUtil.sendRequest(url, values, function(result){
		if(result.success){
			refreshPage();
		}else{
			gewaUtil.alert(result.json.msg);
		}
	});
}
</script>
</body>
</html>
