<data>
	<pictureList>
	#foreach($pic in $picList)
	  <picture>
	     <id>$pic.id</id>
	     <name><![CDATA[$!pic.name]]></name>
	     <picturename><![CDATA[$!pic.picturename]]></picturename>
	     <smallPictureUrl>${mobilePath}$pic.picturename</smallPictureUrl>
	     <pictureUrl>${mobilePath}$pic.picturename</pictureUrl>
	  </picture>
	#end
	</pictureList>
</data>