<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>场次校验座位图</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/default.css" />
	<link rel="stylesheet" type="text/css" href="${staticPath}styles/base.css"/>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util&v=$VmUtils.jsVersion"></script>
	<style type="text/css">
		.selectMovie .r .match{font-weight: bold; color: #ff6600; font-size: 14px;}
		label{display: block;}
	</style>
</head>
<body  style="width:700px;margin: auto;">
	<table class="table">
		<thead>
			<tr><th>需要删除的座位</th><th>需要更新的座位</th><th>需要增加的座位</th><th>有问题的座位</th></tr>
		</thead>
		<tbody><tr>
		<td colspan="4"><form action="${basePath}admin/ticket/updateOpiSeatList.xhtml">
				<input type="hidden" name="mpid" value="$params.mpid"/>
				<input type="submit" value="确认更新座位影厅" />
				<span style="color:red">更新完座位后，请检查场次设置、座位价格设置等！！！！！</span>
			</form>
		</td>
		</tr><tr>
			<td>#foreach($key in $removeSeatMap.keySet())$removeSeatMap.get($key).seatLabel<br/>#end</td>
			<td>#foreach($key in $updateMap.keySet())$updateMap.get($key).seatLabel: $updateMap.get($key).position ---&gt; $rseatMap.get($key).position <br />#end</td>
			<td>#foreach($key in $addSeatMap.keySet())$addSeatMap.get($key).seatLabel<br/>#end</td>
			<td>#foreach($seat in $problemSeatList)$seat.seatLabel $seat.status,订单：$seat.orderid<br />#end</td>
		</tr></tbody>
	</table>
</body>
</html>