<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>查看不同电影价格</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" rel="stylesheet" href="${staticPath}css/gewara.css?n=admin&v=$VmUtils.jsVersion" />
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util&v=$VmUtils.jsVersion"></script>
	<script type="text/javascript" src="${staticPath}dpicker/WdatePicker.js"></script>
	<style type="text/css">
		.match{color:#fff;font-weight: bolder;background:#F47C30;padding:3px;}
		.shrink{height:22px;overflow:hidden;}
		
	</style>
</head>
<body style="text-align: center;width: 80%; margin:auto;">

<table class="roomManageTable" id="all_content" cellpadding="0" cellspacing="0" border="0" style="margin:auto;">
	
</table>
<table class="roomManageTable" id="all_content" cellpadding="0" cellspacing="0" border="0" style="margin:auto;">
	<thead>
		<tr>#set($ck=$cookieTool.admin_citycode.value)
			<th style="width:20px;">&nbsp;</th>
			<th style="width:40px;">首字母</th>
			<th style="width:250px;">电影名称</th>
			<th style="width:80px;">最低价格</th>
			<th style="width:80px;">基础价格</th>
		</tr>
	</thead>
	<tbody class="tbody" id="tbody">
		#foreach($movie in $movieList)
		#set($tierMap=$movieTierMap.get($movie.id))
		<tr class="grayBg h">
			<td>$foreach.count</td>
			<td>$VmUtils.getFirstSpell($movie.realBriefname)</td>
			<td><a href="${basePath}movie/$movie.id">$movie.realBriefname</a>
			<td>2D：$!moviePriceMap.get($movie.id).price<br/>
				 3D：$!moviePriceMap.get($movie.id).edition3D
			</td>
			<td>2D：$!movieTierPriceMap.get($movie.id).price<br/>
				 3D：$!movieTierPriceMap.get($movie.id).edition3D
			</td>
		</tr>
		#end
	</tbody>
</table>
<script type="text/javascript">
	window.addEvent("domready", function(){
		$$(".tbody tr").addEvents({
			'mouseenter':function(){
				this.addClass("mouseBg");
			},
			'mouseleave':function(){
				this.removeClass("mouseBg");
			}
		});
	});
</script>
</body>
</html>