<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>编辑场次</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/default.css" />
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/container.css"></link>
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/button.css"></link>
	<script type="text/javascript" src="${staticPath}dpicker/WdatePicker.js"></script>
	<style>
		label {display:inline-block;width:100px; text-align:right; padding:1px 0 1px 0; margin-top:3px;}
		input,textarea { width:560px; display:inline-block;}
	</style>
</head>
<body style="width:750px;margin:auto" class="yui-skin-sam">
<div style="width:650px; margin: 20px auto;">编辑场次短信</div>
<div id="mpiDialog" class="yui-panel" style="width:700px; margin: auto;">
	<div class="hd" id="title">编辑场次短信<span style="color:blue">$opi.cinemaname,$opi.moviename,$opi.playtime</span></div>
	<div class="bd">
	<form name="mpiDialog" action="${basePath}admin/ticket/saveMsg.xhtml" method="post">
		<input type="hidden" name="opid" value="${opi.id}"/>
		<div>
			<label>取票模版：</label>$cp.notifymsg1
		</div>
		<div>
			<label>提醒模版：</label>$cp.notifymsg2
		</div>
		<div>
			<label>取票短信：</label>
			<input type="text" name="notifymsg1" value="$!msgMap.notifymsg1"/>
		</div>
		<div>
			<label>3小时提醒：</label>
			<input type="text" name="notifymsg2" value="$!msgMap.notifymsg2"/>
		</div>
		<div>
			<label>&nbsp;</label>
			<input type="submit" class="button" style="width:100px" value="确定"/>
		</div>
	</form>
	</div>
</div>
</body>
</html>
