<uploadList>
#foreach($upload in $uploadList)
	<upload>
		<picname>$!upload.picname</picname>
		<memberid>$!upload.memberid</memberid>
		<picsize>$!upload.picsize</picsize>
		<status>$!upload.status</status>
		<tag>$!upload.tag</tag>
		<relatedid>$!upload.relatedid</relatedid>
		<modifytime>$upload.modifytime</modifytime>
	</upload>
#end
</uploadList>