<data>
	<openPlayItem>
	<mpid>$opi.mpid</mpid>
	<movieid>$!opi.movieid</movieid>
	<moviename>$!opi.moviename</moviename>
	<cinemaid>$!opi.cinemaid</cinemaid>
	<cinemaname>$!opi.cinemaname</cinemaname>
	<language>$!opi.language</language>
	<edition>$!opi.edition</edition>
	<roomid>$opi.roomid</roomid>
	<roomname>$opi.roomname</roomname>
	<roomother><![CDATA[$room.otherinfo]]></roomother>
	<playtime>$!DateUtil.format($opi.playtime,'yyyy-MM-dd HH:mm:ss')</playtime>
	<price>$priceHelper.getPrice($opi)</price>
	<costprice>$!opi.price</costprice>
	<gewaprice>$priceHelper.getPrice($opi)</gewaprice>
    <servicefee>$priceHelper.getServiceFee($opi)</servicefee>
	<linenum>$room.linenum</linenum>
	<ranknum>$room.ranknum</ranknum>
	
	<seatList>
		#foreach($row in [1..$room.linenum])
		<row>
			<rownum>$row</rownum>
			<rowid>$!rowMap.get($row)</rowid>
			<columns>$!lineMap.get($row)</columns>
			#if($newseat)
			<columnsData>$!lineDataMap.get($row)</columnsData>
			#end
		</row>
		#end
	</seatList>
	</openPlayItem>
</data>
