<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/default.css"/>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util&v=$VmUtils.jsVersion"></script>
	<script type="text/javascript" src="${staticPath}dpicker/WdatePicker.js"></script>
</head>
<body>
<div id="warn" style="margin: 10px 0px 0px 50px">
	<form action="${basePath}admin/balance/ccbpos/ccbposdb.xhtml">
	请输入URL: <input type="text" name="url" style="width: 500px;" value="http://172.22.1.150:8080/posweb/qryDB?queryAll=Y"/><br/>
	请输入SQL: <textarea rows="4" id="sql" name="sql" style="width: 500px;">select * from webpos.posorder order by addtime desc</textarea>
	<input type="submit" value="查询" />
	</form>
	<label>http://180.153.146.141:8080/posweb/qryDB</label><br/>
	<label>http://172.22.1.150:8080/posweb/qryDB</label><br/>
</div>
<script>
</script>
</body>
</html>