<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>建设银行对账数据</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=admin"/>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara-util.js?v=$VmUtils.jsVersion"></script>
	<script type="text/javascript" src="${staticPath}dpicker/WdatePicker.js"></script>
	<style type="text/css">
		.match{color:#fff;font-weight: bolder;background:#fff;padding:3px;}
		.shrink{height:22px;overflow:hidden;}
		td, th{
			text-align: center;
			height: 23px;
		}
	</style>
</head>
<body>
<div style="margin-top: 5px;text-align: center;" align="center">
		<div style="width:1700px;margin:2px;background:#FFF;text-align: center;">
			<div style="text-align:left;height:20px;line-height: 20px;margin-bottom: 5px;">
				<strong>建设银行对账数据</strong>
			</div>
			<div class="bd ml20" style="text-align:left;">
				<form name="openForm" id="openForm" action="${basePath}admin/balance/ccbpos/toSettle.xhtml" method="post">
					<div class="clear">
						日期：<input type="text"  readonly="readonly" name="adddate" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" value="$!setttleDate"/><br/>
						<textarea style="width: 98%;height: 450px;" name="settles">$!settles</textarea>
						<input type="submit" class="cbt1"  value="对账" />
					</div>
				</form>
			</div>
		</div>
</div>
</body>
</html>
