<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/default.css" />
</head>
<body style="width:750px;margin:auto">
	<div style="margin-top: 10px;">
	<form action="${basePath}admin/sysmgr/exportMobileBySql.xhtml" target="_blank" method="post">
		<span style="font-weight: bold; color: #ff6900;">输入执行的SQL, 需要返回手机号:</span>
		<textarea rows="8" cols="100" name="sql"></textarea><br />
		
		<span style="font-weight: bold; color: #ff6900;">输入当前任务的批次代号:(可以随便定义, 但是同一任务有且只有一个代号)</span>
		<input type="text" name="batchid" id="batchid"/>
		<br />
		<input type="radio" name="type" value="ADDBATCH" checked="checked"/>直接导入&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="radio" name="type" value="TMPMOBILE"/>预览导入
		<br />
		<input type="submit" value="执 行" />
	</form>
	</div>
	
</body>
</html>