<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<title>推荐</title>
	<link rel="stylesheet" type="text/css" media="all" href="${staticPath}component/css/default.css" />
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util&v=$VmUtils.jsVersion"></script>
	<style type="text/css">
		#table thead th{
			border: 1px solid #fff;
			text-align: left;
				font-size: 1em;
			background: #e8e8cf;
		}
		.wd200{width:200px;}
		.wd120{width:120px;}
		.wd60{width:60px;}
		.wd40{width:40px;}
		.wd80{width:80px;}
		td{padding:0px;}
		.itable{border:2px solid #74B3DC;}
		.itable td{height:26px;vertical-align: middle;}
		.itable strong{color:red}
		.itable span{color:#ff6200;font-size:14px;font-weight:bold}
		.td td{border-bottom:1px solid #74B3DC;}
		.l_td{border-left:1px solid #74B3DC;}
		.r_td{border-right:1px solid #74B3DC;}
	</style>
</head>
<body style="width:95%; margin:auto">
<div style="clear:both;"></div>
#if($admincitycode eq '310000')
<table width="95%" border="0"  cellspacing="0" class="itable">
	<tr class="td">
		<td colspan="7" align="left" class="td"><span>上海站电影首页推荐</span></td>
		<td align="right" class="td"><a href="javascript:refreshPage()">刷新</a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
	</tr>
	<tr class="td">
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=movie&signname=mnews&tag=news&hand=true&relatedid=true&title=true&summary=true&logo=true">推荐新闻6条</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/baserecommend.xhtml?signname=movie7other&simpleCommend=true&hand=true&title=true&link=true">其他推荐2个</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/baserecommend.xhtml?signname=movie2Mark&simpleCommend=true&hand=true&title=true&link=true&summary=true">电影关注2个</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/cinema/movieindex-search.xhtml">热门搜索</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/cinema/movieindex-buyticket.xhtml">其他资讯</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/cinema/movieindex-movie.xhtml">热映电影</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/cinema/movieindex-activity.xhtml">推荐活动</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/cinema/movieindex-vedio.xhtml">预告片</a></td>
	</tr>
	<tr class="td">
		<td align="left" class="wd120"><a href="${basePath}admin/cinema/movieindex-classicmovie.xhtml">经典电影</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/cinema/movieindex-hotcinema.xhtml">受关注影院</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/cinema/movieindex-commu.xhtml">推荐圈子</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/cinema/movieindex-futuremovie.xhtml">即将上映电影</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=movie&signname=diary_movieindex&tag=diary&hand=true&simpleCommend=true&relatedid=true&refer=movie">精彩影评</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/baserecommend.xhtml?signname=index_citymovie_info&simpleCommend=true&hand=true&title=true&link=true&refer=movie">滚动信息</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/baserecommend.xhtml?signname=movieindex_hotdiary&simpleCommend=true&hand=true&tag=diary&relatedid=true&refer=movie">推荐热帖</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/indexDiscount.xhtml?signName=movie_index_discount">电影首页优惠活动推荐</a></td>
	</tr>
</table>
<div style="clear:both;"></div>
<table width="95%" border="0"  cellspacing="0" class="itable">
	<tr class="td">
		<td  align="left" class="td"><span>电影首页推荐</span></td>
		<td align="right" class="td"><a href="javascript:refreshPage()">刷新</a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
	</tr>
	<tr class="td">
		<td colspan="2" align="left" class="wd120">
			<a href="${basePath}admin/cinema/cinemaByOrder.xhtml">影院弹出框排序</a>
		</td>
	</tr>
</table>
<div style="clear:both;"></div>
<table width="95%" border="0"  cellspacing="0" class="itable">
	<tr class="td">
		<td colspan="7" align="left" class="td"><span>上海站新版电影首页推荐</span></td>
		<td align="right" class="td"><a href="javascript:refreshPage()">刷新</a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
	</tr>
	<tr class="td">
		<td align="left" class="wd200"><a href="${basePath}admin/cinema/movieindex-movie.xhtml">本周热映电影</a></td>
		<td align="left" class="wd200"><a href="${basePath}admin/cinema/movieindex-futuremovie.xhtml">即将上映2条</a></td>
		<td align="left" class="wd200"><a href="${basePath}admin/cinema/movieindex-vedio.xhtml">新片预告5条</a></td>
		<td align="left" class="wd200"><a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=movie&signname=diary_movieindex&tag=diary&hand=true&simpleCommend=true&relatedid=true&refer=movie&comment=true">影评</a></td>
		<td align="left" class="wd200"><a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=movie&signname=mnews&tag=news&hand=true&relatedid=true&title=true&summary=true&logo=true">电影资讯4条</a></td>
		<td align="left" class="wd200"><a href="${basePath}admin/cinema/movieindex-activity.xhtml">电影活动</a></td>
		<td align="left" class="wd200"><a href="${basePath}admin/cinema/movieindex-activity.xhtml?signname=auto_movieindex_activity">无人运营首页电影活动</a></td>
		<td align="left" class="wd200"><a href="${basePath}admin/cinema/movieindex-search.xhtml">热门搜索</a></td>
	</tr>
	<tr class="td">
		<td align="left" class="wd200"><a href="${basePath}admin/cinema/movieindex-hotcinema.xhtml">最受关注影院</a></td>
		<td align="left" class="wd200"><a href="${basePath}admin/cinema/movieindex-commu.xhtml">电影圈子6条</a></td>
		<td align="left" class="wd200"><a href="${basePath}admin/cinema/movieindex-classicmovie.xhtml">经典电影4条</a></td>
		<td align="left" class="wd200"><a href="${basePath}admin/recommend/baserecommend.xhtml?signname=movieindex_hotdiary&simpleCommend=true&hand=true&tag=diary&relatedid=true&refer=movie">电影论坛5条</a></td>
		<td align="left" class="wd200"><a href="${basePath}admin/recommend/baserecommend.xhtml?signname=movieindex_question&simpleCommend=true&hand=true&tag=gewaquestion&relatedid=true&refer=movie">待解决问题5条</a></td>
		<td align="left" class="wd200"><a href="${basePath}admin/recommend/baserecommend.xhtml?signname=movieindex_news&signtype=movie&tag=news&hand=true&title=true&summary=true&logo=true&link=true">首页信息</a></td>
		<td align="left" class="wd200"><a href="${basePath}admin/site/header/headInfoList.xhtml?board=movie_headinfo">电影首页套头推荐</a></td>
	</tr>
</table>	
#else
<div style="clear:both;"></div>
	#*
<table width="95%" border="0"  cellspacing="0" class="itable">
	<tr class="td">
		<td colspan="3" align="left" class="td"><span>
				多业务首页推荐
		</span>
		</td>
		<td align="right" class="td"><a href="javascript:refreshPage()">刷新</a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
	</tr>
	<tr class="td">
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/baserecommend.xhtml?signname=index_movielist&tag=movie&relatedid=true&link=true&logo=true&title=true&hand=true">购票电影</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/site/header/headInfoList.xhtml?board=movie" target="_blank">首页套头推荐</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/indexDiscount.xhtml">优惠活动推荐</a></td>
		<td align="left" class="wd200"><a href="${basePath}admin/recommend/baserecommend.xhtml?signname=index_movie_news&tag=news&relatedid=true&hand=true">电影资讯</a></td>
	</tr>
	<tr class="td">
		<td align="left" class="wd120">
			<a href="${basePath}admin/recommend/baserecommend.xhtml?hand=true&signname=index_movie_activity&tag=activity&relatedid=true&acitivityDate=true">推荐活动</a>
		</td>
		<td align="left" class="wd120">
			<a href="${basePath}admin/recommend/baserecommend.xhtml?hand=true&signname=index_left_movie_activity&tag=activity&relatedid=true&logo=true&title=true&link=true">左侧推荐活动</a>(图片大小235*180)
		</td>
		
		<td align="left" class="wd120">
			<a href="${basePath}admin/recommend/baserecommend.xhtml?hand=true&signname=index_movie_subject&title=true&link=true&logo=true">电影专题</a>(图片大小235*160)
		</td>
		<td align="left" class="wd120">
			<a href="${basePath}admin/recommend/baserecommend.xhtml?hand=true&signname=index_movie_week&title=true&&logo=true&link=true&starttime=true&endtime=true&summary=true">观影指南</a>
		</td>
	</tr>
	
	<tr class="td">
		<td align="left" class="wd120">
			<a href="${basePath}admin/recommend/baserecommend.xhtml?signname=index_movie_diary&tag=diary&relatedid=true&hand=true">推荐影评</a>
		</td>
		<td align="left" class="wd120">
			<a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=movie&signname=movieindex_video&tag=video&hand=true&simpleCommend=true&relatedid=true&refer=movie">预告片</a>
		</td>
		<td align="left" class="wd120">
			<a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=movie&signname=futuremovie&tag=movie&hand=true&simpleCommend=true&relatedid=true&refer=movie">即将上映</a>
		</td>
		<td align="left" class="wd120">
			<a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=movie&signname=hotcinema&tag=cinema&hand=true&simpleCommend=true&relatedid=true&refer=movie">关注影院</a>
		</td>
	</tr>
	<tr class="td">
		<td align="left" class="wd120">
			<a href="${basePath}admin/recommend/baserecommend.xhtml?signname=index_community&title=true&link=true&hand=true">格瓦拉社区推荐</a>
		</td>
		<td align="left" class="wd120">
			<a href="/admin/recommend/indexWebsiteNotice.xhtml">网站通知</a>
		</td>
		<td align="left" class="wd120">
			<a href="${basePath}admin/recommend/baserecommend.xhtml?signname=index_bottom_picture&title=true&logo=true&link=true&hand=true">首页底部图片</a>(图片大小590*260)图片上不要边框
		</td>
		<td align="left" class="wd120">
			<a href="${basePath}admin/recommend/baserecommend.xhtml?signname=index_ticket_flow&title=true&logo=true&hand=true">购票流程图</a>(图片大小270*175)
		</td>
	</tr>
	<tr class="td">
		<td align="left" class="wd120">
			<a href="${basePath}admin/recommend/baserecommend.xhtml?signname=index_mobile&title=true&logo=true&link=true&hand=true">手机客户端</a>(图片大小268*68)
		</td>
		<td align="left" class="wd120">
		</td>
		<td align="left" class="wd120">
		</td>
		<td align="left" class="wd120"></td>
	</tr>
</table>
<div style="clear: both;"></div>
*#
#*
<table width="95%" border="0"  cellspacing="0" class="itable">
	<tr class="td">
		<td  align="left" class="td"><span>电影首页推荐</span></td>
		<td align="right" class="td"><a href="javascript:refreshPage()">刷新</a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
	</tr>
	<tr class="td">
		<td colspan="2" align="left" class="wd120">
			<a href="${basePath}admin/cinema/cinemaByOrder.xhtml">影院弹出框排序</a>
		</td>
	</tr>
</table>
*#
#if(!($AdminCityContant.citycode2GewaCity.get($admincitycode).hasAuto() || $AdminCityContant.citycode2GewaCity.get($admincitycode).serviceType eq 'single'))
<div style="clear:both;"></div>
<table width="95%" border="0"  cellspacing="0" class="itable">
	<tr class="td">
		<td colspan="3" align="left" class="td"><span>
				多业务电影首页推荐
		</span>
		</td>
		<td align="right" class="td"><a href="javascript:refreshPage()">刷新</a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
	</tr>
	<tr class="td">
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/baserecommend.xhtml?signname=movieindex_movie&tag=movie&relatedid=true&link=true&logo=true&title=true&hand=true">购票电影</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/site/header/headInfoList.xhtml?board=movie_headinfo" target="_blank">首页套头推荐</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/indexDiscount.xhtml?signName=movie_index_discount">电影首页优惠活动推荐</a></td>
		<td align="left" class="wd200"><a href="${basePath}admin/recommend/baserecommend.xhtml?signname=movieindex_news&signtype=movie&tag=news&hand=true&title=true&summary=true&logo=true&link=true">首页banner(滚动)信息(图片大小690*220)</a></td>
	</tr>
	<tr class="td">
		<td align="left" class="wd120">
			<a href="${basePath}admin/cinema/movieindex-activity.xhtml">推荐活动</a>
		</td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/baserecommend.xhtml?signname=index_right_picture&title=true&logo=true&link=true&hand=true">首页右边图片位</a>(图片大小310宽度)图片上不要边框</td>
		<td align="left" class="wd120">
			<a href="${basePath}admin/recommend/baserecommend.xhtml?hand=true&signname=index_movie_mpicinema&tag=cinema&relatedid=true">首部影片影院推荐（2个）</a>
		</td>
		<td align="left" class="wd120">
			<a href="${basePath}admin/recommend/baserecommend.xhtml?hand=true&signname=index_guanzhu_weibo&tag=other&link=true&logo=true&title=true">微博关注</a>
		</td>
	</tr>
</table>
#else
<div style="clear:both;"></div>
<table width="95%" border="0"  cellspacing="0" class="itable">
	<tr class="td">
		<td colspan="3" align="left" class="td"><span>
				单业务有运营电影首页推荐
		</span>
		</td>
		<td align="right" class="td"><a href="javascript:refreshPage()">刷新</a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
	</tr>
	<tr class="td">
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/baserecommend.xhtml?signname=index_movielist&tag=movie&relatedid=true&link=true&logo=true&title=true&hand=true&starttime=true&endtime=true">购票电影</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/site/header/headInfoList.xhtml?board=movie" target="_blank">首页套头推荐</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/indexDiscount.xhtml">优惠活动推荐</a></td>
		<td align="left" class="wd200"><a href="${basePath}admin/recommend/baserecommend.xhtml?signname=movieindex_news&signtype=movie&tag=news&hand=true&title=true&summary=true&logo=true&link=true">首页banner(滚动)信息(图片大小690*220)</a></td>
	</tr>
	<tr class="td">
		<td align="left" class="wd120">
			<a href="${basePath}admin/recommend/baserecommend.xhtml?hand=true&signname=index_movie_activity&tag=activity&relatedid=true&acitivityDate=true">推荐活动</a>
		</td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/baserecommend.xhtml?signname=index_right_picture&title=true&logo=true&link=true&hand=true">首页右边图片位</a>(图片大小310宽度)图片上不要边框</td>
		<td align="left" class="wd120">
			<a href="${basePath}admin/recommend/baserecommend.xhtml?hand=true&signname=index_movie_mpicinema&tag=cinema&relatedid=true">首部影片影院推荐（2个）</a>
		</td>
		<td align="left" class="wd120">
			<a href="${basePath}admin/recommend/baserecommend.xhtml?hand=true&signname=index_guanzhu_weibo&tag=other&link=true&logo=true&title=true">微博关注</a>
		</td>
	</tr>
	<tr class="td">
		<td align="left" class="wd120">
			<a href="/admin/recommend/indexWebsiteNotice.xhtml">网站通知</a>
		</td>
		<td align="left" class="wd120">
		</td>
		<td align="left" class="wd120">
		</td>
		<td align="left" class="wd120">
		</td>
	</tr>
	
</table>
#end
#end
</body>
</html>
