<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<title>推荐</title>
	<link rel="stylesheet" type="text/css" media="all" href="${staticPath}component/css/default.css" />
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util&v=$VmUtils.jsVersion"></script>
	<style type="text/css">
		#table thead th{
			border: 1px solid #fff;
			text-align: left;
				font-size: 1em;
			background: #e8e8cf;
		}
		.wd200{width:200px;}
		.wd120{width:120px;}
		.wd60{width:60px;}
		.wd40{width:40px;}
		.wd80{width:80px;}
		td{padding:0px;}
		.itable{border:2px solid #74B3DC;}
		.itable td{height:26px;vertical-align: middle;}
		.itable strong{color:red}
		.itable span{color:#ff6200;font-size:14px;font-weight:bold}
		.td td{border-bottom:1px solid #74B3DC;}
		.l_td{border-left:1px solid #74B3DC;}
		.r_td{border-right:1px solid #74B3DC;}
	</style>
</head>
<body style="width:95%; margin:auto">
#if($citycode eq '310000')
<div style="clear:both;"></div>
<table width="95%" border="0"  cellspacing="0" class="itable">
	<tr class="td">
		<td colspan="3" align="left" class="td"><span>网站首页推荐</span>&nbsp;&nbsp;&nbsp;
			<a href="${basePath}admin/recommend/indexCommend.xhtml?isNew=true">新版网站首页推荐</a>
		</td>
		<td align="right" class="td"><a href="javascript:refreshPage()">刷新</a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
	</tr>
	<tr class="td">
		<td align="left" class="wd120"><a href="${basePath}admin/site/header/headInfoList.xhtml?board=movie">首页套头</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/indexCommendPic.xhtml">购票推荐</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/indexMobile.xhtml">手机客户端</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/indexDiscount.xhtml">合作专区</a></td>
	</tr>
	<tr class="td">
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/indexMovie.xhtml">格瓦拉电影推荐</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/indexDrama.xhtml">格瓦拉话剧推荐</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/indexSport.xhtml">格瓦拉运动推荐</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/sportvenuecommend.xhtml?signname=index_sport_openitem">格瓦拉运动项目场次推荐</a></td>
	</tr>
	<tr class="td">
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/indexCommunity.xhtml">格瓦拉社区推荐</a></td>
		<td align="left"  class="wd120"><a href="${basePath}admin/recommend/indexBottomPic.xhtml">网站首页底部图片列表</a></td>
		<td align="left" colspan="3"  class="wd120"><a href="${basePath}admin/recommend/indexWebsiteNotice.xhtml">网站通知</a></td>
	</tr>
</table>
<br/>
<table width="95%" border="0"  cellspacing="0" class="itable">
	<tr class="td">
		<td colspan="3" align="left" class="td"><span>运动首页推荐</span></td>
		<td align="right" class="td"><a href="javascript:refreshPage()">刷新</a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
	</tr>
	<tr class="td">
		<td align="left" class="wd160"><a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=sport&signname=sportindex_search&simpleCommend=true&hand=true&title=ture&link=true&refer=sport">运动首页热门搜索</a></td>
		<td align="left" class="wd160"><a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=sport&signname=snews&tag=news&hand=true&relatedid=true&title=true&summary=true&logo=true&refer=sport">运动首页推荐新闻6条</a></td>
		<td align="left" class="wd160"><a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=sport&signname=sportindex_toprightother&simpleCommend=true&hand=true&title=ture&link=true&refer=sport">运动首页其他资讯2条</a></td>
		<td align="left" class="wd160"><a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=sport&signname=sportindex_toprightmark&simpleCommend=true&hand=true&title=ture&summary=true&link=true&refer=sport">运动首页运动关注2条</a></td>
	</tr>
	<tr class="td">
			<td align="left" class="wd160">
				<a href="${basePath}admin/recommend/basesportindex.xhtml?signname=sportindex_sportitem">推荐项目预订</a>
			</td>
		<td align="left" class="wd160">
			<a href="${basePath}admin/recommend/sportvenuecommend.xhtml?signname=sportindex_sport_sportitem">(运动)场馆预订</a></td>
		<td align="left" class="wd160">
			<a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=sport&signname=sportindex_sportshealth&tag=news&simpleCommend=true&relatedid=true&refer=sport">运动保健</a></td>
		<td align="left" class="wd160"><a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=sport&signname=sportindex_sportnew&simpleCommend=true&hand=true&title=ture&link=true&refer=sport">首页右边广告位上运动资讯2条</a></td>
	</tr>
	<tr class="td">
			<td align="left" class="wd160">
				<a href="${basePath}admin/recommend/basesportindex.xhtml?signname=sportindex_sportarea">活动区域</a>
			</td>
		<td align="left" class="wd160">
			<a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=sport&signname=sportindex_sportactivity&tag=activity&simpleCommend=true&relatedid=true">结伴运动</a>
		</td>
		<td align="left" class="wd160"><a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=sport&signname=sportindex_sportdiary&tag=diary&simpleCommend=true&relatedid=true">运动论坛</a></td>
		<td align="left" class="wd160"></td>
	</tr>
<tr class="td">
		<td align="left" class="wd160">
			<a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=sport&signname=sportindex_sportcommu&tag=commu&simpleCommend=true&relatedid=true">推荐圈子</a>
		</td>
		<td align="left" class="wd160">
			<a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=sport&signname=sportindex_sportdiarycommu&tag=diary_commu&simpleCommend=true&relatedid=true">热门话题</a>
		</td>
		<td align="left" class="wd160">
			<a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=sport&signname=sportindex_sporttopdiary&tag=diary&simpleCommend=true&relatedid=true">运动心得</a>
		</td>
		<td align="left" class="wd160">
			<a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=sport&signname=sportindex_sportquestion&tag=gewaquestion&simpleCommend=true&relatedid=true">待解决运动问题</a>
		</td>
	</tr>
	<tr class="td">
		<td align="left" colspan="4">
			<table width="100%" border="0"  cellspacing="0" class="itable">
				<tr class="td">
					<td colspan="5" align="left" class="td"><span>运动项目推荐</span></td>
					<td align="right" class="td"><a href="javascript:refreshPage()">刷新</a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
				</tr>
				<tr class="td">
					<td align="left" class="wd120"><a href="${basePath}admin/recommend/sportRookie.xhtml?signtype=sportrookie&tag=news">运动新手必读</a></td>
					<td align="left" class="wd120"><a href="${basePath}admin/recommend/sportMaster.xhtml?signtype=sportmaster&tag=news">运动高手进阶</a></td>
					<td align="left" class="wd120"><a href="${basePath}admin/recommend/sportItem.xhtml?signtype=sportitem&tag=sportservice">项目场馆</a></td>
					<td align="left" class="wd160">
					<a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=personindex&signname=personindex_commu&tag=commu&simpleCommend=true&relatedid=true">个人中心推荐圈子</a>
					</td>
					<td align="left" class="wd160">
					<a href="${basePath}admin/getAllRecommendMembers.xhtml">个人中心推荐用户</a>
					</td>
					<td align="left" class="wd160">
					<a href="${basePath}admin/getAllBetaMembers.xhtml">内测用户审核</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<br/>

<br/>
<table width="95%" border="0"  cellspacing="0" class="itable">
	<tr class="td">
		<td colspan="3" align="left" class="td"><span>电影节|电视节</span></td>
		<td align="right" class="td"><a href="javascript:refreshPage()">刷新</a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
	</tr>
	<tr class="td">
			<td align="left" class="wd120"><a href="${basePath}admin/recommend/mv13-zt.xhtml">13界电影节(专题)</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/mv13-news.xhtml">13界电影节(新闻)</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/mv13-diary.xhtml">13界电影节(影评)</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/mv13-luck-member.xhtml">13界电影节(幸运名单)</a></td>
	</tr>
	<tr class="td">
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/tv13-zt.xhtml">13界电视节(专题)</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/tv13-news.xhtml">13界电视节(新闻)</a></td>
		<td>&nbsp;</td><td>&nbsp;</td>
	</tr>
</table>
<br/>
<table width="95%" border="0"  cellspacing="0" class="itable">
	<tr class="td">
		<td colspan="3" align="left" class="td"><span>版块新闻推荐</span></td>
		<td align="right" class="td"><a href="javascript:refreshPage()">刷新</a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
	</tr>
	<tr class="td">
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/newsRecommend.xhtml?signtype=gym&tag=news">健身版块新闻</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/newsRecommend.xhtml?signtype=ktv&tag=news">KTV版块新闻</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/newsRecommend.xhtml?signtype=bar&tag=news">酒吧版块新闻</a></td>
		<td align="left" class="wd120">&nbsp;</td>
	</tr>
</table>
<br/>

<table width="95%" border="0"  cellspacing="0" class="itable">
	<tr class="td">
		<td colspan="3" align="left" class="td"><span>活动首页推荐</span></td>
		<td align="right" class="td"><a href="javascript:refreshPage()">刷新</a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
	</tr>
	<tr class="td">
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=activity&signname=activityindex&tag=activity&simpleCommend=true&relatedid=true">活动首页顶部活动</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=activity&signname=activityindex_info&tag=activity&hand=true&relatedid=true&title=true">活动首页顶部滑动活动</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=activity&signname=hotactivity&tag=activity&simpleCommend=true&relatedid=true">热门活动</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=activity&signname=activityindex_city&tag=activity&simpleCommend=true&relatedid=true">同城活动</a></td>
	</tr>
	<tr class="td">
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=activity&signname=activity_search&simpleCommend=true&hand=true&tag=true&title=true&relatedid=true">热门活动搜索</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=activity&signname=memberactivity&tag=activity&simpleCommend=true&relatedid=true">网友召集活动</a></td>
		<td align="left" class="wd120">&nbsp;</td>
		<td align="left" class="wd120">&nbsp;</td>
	</tr>
</table>
<br/>

<table width="95%" border="0"  cellspacing="0" class="itable">
	<tr class="td">
		<td colspan="4" align="left" class="td"><span>圈子外置首页推荐</span></td>
		<td align="right" class="td"><a href="javascript:refreshPage()">刷新</a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
	</tr>
	<tr class="td">
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/commuRecommend.xhtml">推荐圈子</a></td>
	</tr>
</table>

<br/>
<table width="95%" border="0"  cellspacing="0" class="itable">
	<tr class="td">
		<td colspan="4" align="left" class="td"><span>积分兑换物品推荐</span></td>
		<td align="right" class="td"><a href="javascript:refreshPage()">刷新</a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
	</tr>
	<tr class="td">
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/goodsRecommend.xhtml">推荐物品</a></td>
	</tr>
</table>
<br/>


<table width="95%" border="0"  cellspacing="0" class="itable">
	<tr class="td">
		<td colspan="4" align="left" class="td"><span>搜索位专题推荐</span></td>
		<td align="right" class="td"><a href="javascript:refreshPage()">刷新</a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
	</tr>
	<tr class="td">
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/searchRecommend.xhtml">推荐搜索专题</a></td>
	</tr>
</table>

<table width="95%" border="0"  cellspacing="0" class="itable">
	<tr class="td">
		<td colspan="4" align="left" class="td"><span>招聘信息</span></td>
		<td align="right" class="td"><a href="javascript:refreshPage()">刷新</a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
	</tr>
	<tr class="td">
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/jobList.xhtml">添加招聘信息</a></td>
	</tr>
</table>
<br/>
<table width="95%" border="0"  cellspacing="0" class="itable">
	<tr class="td">
		<td colspan="4" align="left" class="td"><span>合作商广告</span></td>
		<td align="right" class="td"><a href="javascript:refreshPage()">刷新</a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
	</tr>
	<tr class="td">
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/partnerAd.xhtml">添加广告链接</a></td>
	</tr>
</table>
<br/>
<table width="95%" border="0"  cellspacing="0" class="itable">
	<tr class="td">
		<td colspan="4" align="left" class="td"><span>用户中心</span></td>
		<td align="right" class="td"><a href="javascript:refreshPage()">刷新</a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
	</tr>
	<tr class="td">
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=activity&signname=member_point_activity&tag=activity&simpleCommend=true&relatedid=true">积分页面活动(2)</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=moderator&signname=member_recommend_moderator&tag=moderator&simpleCommend=true&relatedid=true&hand=true&logo=true">推荐话题</a></td>
	</tr>
</table>
<br/>
<table width="95%" border="0"  cellspacing="0" class="itable">
	<tr class="td">
		<td colspan="3" align="left" class="td"><span>资讯页推荐</span></td>
		<td align="right" class="td"><a href="javascript:refreshPage()">刷新</a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
	</tr>
	<tr class="td">
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=activity&signname=cinema_news_activity&tag=activity&simpleCommend=true&relatedid=true">每日推荐电影活动</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=activity&signname=sport_news_activity&tag=activity&simpleCommend=true&relatedid=true">每日推荐运动活动</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=activity&signname=gym_news_activity&tag=activity&simpleCommend=true&relatedid=true">每日推荐健身活动</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=activity&signname=theatre_news_activity&tag=activity&simpleCommend=true&relatedid=true">每日推荐话剧活动</a></td>
	</tr>
	##if($VmUtils.eq($citycode,'310000') or $VmUtils.eq($citycode,'320600'))
	<tr class="td">
	#if($VmUtils.eq($citycode,'310000') or $VmUtils.eq($citycode,'320600'))
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=cinema&signname=cinema_news_index&tag=news&hand=true&relatedid=true">头部推荐电影资讯4条</a></td>
	#else
		<td align="left" class="wd120"></td>
	#end
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=sport&signname=sport_news_index&tag=news&hand=true&relatedid=true">头部推荐运动资讯4条</a></td>
	#if($VmUtils.eq($citycode,'310000') or $VmUtils.eq($citycode,'320600'))
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=gym&signname=gym_news_index&tag=news&hand=true&relatedid=true">头部推荐健身资讯4条</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=theatre&signname=theatre_news_index&tag=news&hand=true&relatedid=true">头部推荐话剧资讯4条</a></td>
	#else
		<td align="left" class="wd120"></td>
		<td align="left" class="wd120"></td>
	#end
	</tr>
	<tr class="td">
	#if($VmUtils.eq($citycode,'310000') or $VmUtils.eq($citycode,'320600'))
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=cinema&signname=cinema_news_title&tag=news&hand=true&relatedid=true">头部推荐电影标题资讯1条</a></td>
	#else
		<td align="left" class="wd120"></td>
	#end
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=sport&signname=sport_news_title&tag=news&hand=true&relatedid=true">头部推荐运动标题资讯1条</a></td>
	#if($VmUtils.eq($citycode,'310000') or $VmUtils.eq($citycode,'320600'))
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=gym&signname=gym_news_title&tag=news&hand=true&relatedid=true">头部推荐健身标题资讯1条</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/baserecommend.xhtml?signtype=theatre&signname=theatre_news_title&tag=news&hand=true&relatedid=true">头部推荐话剧标题资讯1条$citycode</a></td>
	#else
		<td align="left" class="wd120"></td>
		<td align="left" class="wd120"></td>
	#end
	</tr>
	##end
</table>
#else
<div style="clear:both;"></div>
<table width="95%" border="0"  cellspacing="0" class="itable">
	<tr class="td">
		<td colspan="3" align="left" class="td"><span>新版网站首页推荐</span></td>
		<td align="right" class="td"><a href="javascript:refreshPage()">刷新</a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
	</tr>
	<tr class="td">
		<td align="left" class="wd120"><a href="${basePath}admin/site/header/headInfoList.xhtml?board=movie">首页套头</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/indexCommendPic.xhtml">购票推荐</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/indexLeftMenuPic.xhtml">导航广告位推荐</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/indexDiscount.xhtml">优惠热点公告区域</a></td>
	</tr>
	<tr class="td">
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/indexMovie.xhtml">电影推荐</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/indexDrama.xhtml">话剧推荐</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/indexSport.xhtml">运动推荐</a></td>
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/baserecommend.xhtml?hand=true&signname=index_sport_notice&tag=other&title=true&link=true">运动区域公告推荐</a></td>
	</tr>
	<tr class="td">
		<td align="left" class="wd120"><a href="${basePath}admin/recommend/indexWebsiteNotice.xhtml">网站通知</a></td>
		<td align="left" colspan="4" class="wd120"><a href="${basePath}admin/recommend/baserecommend.xhtml?signname=index_banner_news&signtype=movie&tag=news&hand=true&title=true&summary=true&logo=true&link=true" target="_blank">网站首页滚动信息（(图片大小690*220)）</a></td>
	</tr>
</table>
#end
<br/>
</body>
</html>
