<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>选座购票-$partner.partnername</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=layout,play&v=$VmUtils.jsVersion"/>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util&v=$VmUtils.jsVersion"></script>
	<style type="text/css">
		body{background:#fff;}
		#set($maxwidth=40+22*$room.ranknum)
		#set($maxHight=90+26*$room.linenum)
		#content{ width: ${maxwidth}px;}
		.partner_sdo{height:50px;width:100%;overflow:hidden;background:url(${staticPath}css/buss/partner_sdo_top.jpg?a=00) 20px center no-repeat;}
		.gui-title{background:url(${picPath}css/buss/sdo_menu.jpg) no-repeat;;border-bottom:0px;border-top:1px solid #dcf5d5;height:30px;line-height:30px;padding:0 10px;width:auto}
		.gui-title,.gui-title a,.gui-title p{color:#fff;}
		.gui-layout{width:940px;padding:10px}
		.buyBut{width:152px;height:37px;background:url(${picPath}css/buss/sbuy.png) no-repeat;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${picPath}css/buss/sbuy.png',sizingMethod='crop')}
		.m{background:#faf5f2;}
		.horn .m1,.horn .m2,.horn .m{border-color:#FDE3CC}
		.horn .m1{background:#FDE3CC}
		.ui_layout{width:100%;}
	</style>
</head>
<body>#set($partnerFlag='spsdo')
<div  class="ui_layout">
	<div class="partner_sdo"></div>
	<div class="inner">
		<div class="title mt10">
			你的位置：
			<a href="" class="mr5 black">盛大电影票</a>&gt;<b class="ml5">盛付通生活好助手-格瓦拉合作在线购票专区</b>
			<p class="more freeTag clear" style="background-position:0px -2670px;padding-left:20px;cursor: default;">
				<span class="left">预订过程中有任何问题请拨打客服电话：<b>4000-406-506</b>或联系</span>
				<a onclick="javascript:window.open('${basePath}chat.html','gewara','height=473,width=703,top=200,left=200,status=yes,toolbar=no,menubar=no,resizable=no,scrollbars=no,location=no,titlebar=no');" class="minBt button whiteBt" href="javascript:void(0);"><span>在线客服</span></a></p>
		</div>
		#parse('partner/lr_chooseSeat.vm')
	</div>
</div>
<script type="text/javascript">
var pageCode="step1.shtml"
</script>
#parse('partner/googleGa.vm')
</body>
</html>