<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<title>格瓦拉充值页面</title>
	<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=global,sns&v=$VmUtils.jsVersion"/>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util&v=$VmUtils.jsVersion"></script>
	<style type="text/css">
		.outside-box .inside-box{background:#ffeddf; border-color:#d0d0d0}
		.su_content{margin:68px 0 30px 148px;}
		.uipic{margin-right:40px;}
		.text_right{width:70%;}
		.text_right h1{font-size:32px; background:url($VmUtils.randomPic('','css/buss/success_text.jpg')) left center no-repeat; height:32px; text-indent:-999px}
		.text_right em{color:#676767; font-size:14px; line-height:28px; height:28px;}
		.text_right p b{font-size:16px;}
		.text_right p span{font-size:14px; font-weight:bold}
	</style>
</head>
<body>
#set($cfgHeader='header')#parse('include/navigation.vm')
<div class="gui-layout">
	<div class="gui-layout-left">
		<div class="gui-layout-leftInner">
			<div class="outside-box">
				<div class="inside-box">
					<ul class="su_content clear">
						<li>
							<div class="uipic">
								<img src="$VmUtils.randomPic('','css/buss/succ_i.png')" alt="充值成功"/>
							</div>
							<div class="uiText text_right mt5">
								<h1>充值成功!</h1>
								<p class="mt5 fs14"><em>订单号：</em>${tradeNo}</p>
								<p class="fs14"><em>充值金额：</em><b class="yellow">${fee}</b> 元</p>
								<p class="mt20"><a href="/cinema/searchOpi.xhtml" class="button redBt minBt left" target="_blank"><span>去购票</span></a><a href="${basePath}home/myAccount.xhtml" class="ml10 left" target="_blank">查看充值记录»</a></p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="height0"></div>
</div>
#parse('include/bottom.vm')
</body>
</html>
