<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>短信回复_格瓦拉生活网</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=layout&v=$VmUtils.jsVersion"/>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util&v=$VmUtils.jsVersion"></script>
	<style type="text/css">
		.ui_layout{background:#fff;}
	</style>
</head>
<body>
#set($ismovie=true)
#set($cfgHeader='header')#parse('include/navigation.vm')
<div class="ui_layout">
	<div style="padding:50px 0">
		<p class="ems center" style="font-size:14px;"><strong>系统将在5分钟内回拨你的手机：<b style="color:#ff5809">$!order.mobile</b>请按照语音提示进行操作，完成支付，语音中将直接告诉支付结果</strong><br /></p>
		<div style="width:100%;height:91px;padding:20px 0;background:url(${picPath}css/buss/payecoDNAPay_step.png) center center no-repeat"></div>
		<div class="center mt20">
			<input type="button" value="" onclick="orderResult()" style="width:177px;height:37px;border:0px;background:url(${picPath}css/buss/cmpay_bt.png) no-repeat;cursor: pointer;"/>
		</div>
		<div style="width:840px;height:74px;padding:10px;margin:30px auto 0;border:1px solid #cdcdcd;background:#f2f2f2;color:gray;line-height:22px;">
			<p>1、如未收到电话，请咨询客服中心：<b style="color:#ff5809">020-28863558</b><br/></p>
			<p class="mt5">2、如对020-96585电话有任何疑问可致电银联 服务热线95516详询</p>
		</div>
	</div>
</div>
<script type="text/javascript">
	function orderResult(){
		document.location = '${basePath}gewapay/orderResult.xhtml?tradeNo=$order.tradeNo';
	}
</script>
#parse('include/bottom.vm')
</body>
</html>