<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>专题活动信息</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/default.css" />
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/container.css"></link>
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/button.css"></link>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util,remote-util&v=$VmUtils.jsVersion"></script>
	<style>
		label {display:inline;float:left;width:80px;text-align:right;padding:1px 0 1px 0;margin-top:3px}
		input,textarea { width:400px; display:inline}
	</style>
</head>
<body style="width:980px;margin:auto;padding: 10px;" class="yui-skin-sam">
<table width="980px" border="1" cellspacing="0" class="table">
	<thead>
	<tr>
		<th style="width:10%;">场次id</th>
		<th style="width:15%;">影片名</th>
		<th style="width:15%;">影院</th>
		<th style="width:15%;">时间</th>
		<th style="width:10%;">预约次数</th>
		<th style="width:35%;">前台地址</th>
	</tr>
	</thead>
	<tbody id="roomTable">
	#foreach($mpi in $mpiList)
	#set($id = $mpi.get('_id').substring(3))
	<tr>
		<td>$id</td>
		<td>$mpi.moviename</td>
		<td>$mpi.cinemaname</td>
		<td>$mpi.playdate</td>
		<td>$mpi.count</td>
		<td><a href="${basePath}cinema/order/step1.shtml?mpid=$id" target="_blank">购票链接</a></td>
	</tr>
	#end
	</tbody>
</table>
#parse('include/pageUtil.vm')
</body>
</html>
