<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>第十五届上海国际电影节明星新闻_颁奖典礼_获奖电影 - 格瓦拉生活网</title>
<meta name="keywords" content="第15届上海国际电影节_电影专题_电影节排片表下载_在线购票_格瓦拉生活网"/>
<meta name="description" content="第15届上海国际电影节_电影专题_电影节排片表下载_在线购票_格瓦拉生活网"/>
<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=layout&v=$VmUtils.jsVersion"/>
<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util,gewara-util,noobSlide,pagesNavigation,slimbox,base_home,index_even&v=$VmUtils.jsVersion"></script>
#parse('subject/filmfest/2012/style.vm')
<style type="text/css">
	.ui_layout .inner{padding:10px;}
	.ui_left{width:680px;overflow:hidden;}
	.ui_right{width:280px;overflow:hidden;}
	.activity_title h2{font-family:'微软雅黑','宋体';font-size:18px;font-weight:bold; color:#582725;}
	.talk_special dt,.talk_dpf,.talk_title .talk_hd,.mod_talk{background:url(${staticPath}styles/filmfest/talk_time.png) no-repeat;}

	.newlist_in ul li{display:inline;float:left;margin:0 10px;width:200px;}
	.newlist_in ul li .box {background:#FFFFFF;border:1px solid #DDDDDD;margin-bottom:20px;overflow:hidden;width:198px;}
	.newlist_in ul li .box:hover {border:1px solid #cc3300;box-shadow:0 1px 3px rgba(204, 51, 0, 0.2);}
	.newlist_in ul li .box .topBox, .newlist_in ul li .box .btmBox {padding:9px;width:178px; border:1px solid #fff;}
	.newlist_in ul li .box .topBox h3 a {color:#666666;display:block;font-size:14px;font-weight:bold;margin:10px 0;overflow:hidden;width:180px;}
	.newlist_in ul li .box .topBox p {color:#999999;}
	.newlist_in ul li .box .topBox p a{color:#cc3300;}
	.newlist_in ul li .box .topBox p.spe {color:#666666;margin-top:5px;}
	.newlist_in ul li .box .topBox p.spe a {color:#EA7143;}
	.newlist_in ul li .box .btmBox {background:#F4F4F4;color:#999999;text-align:center;}

	.activity_hot {padding:0 15px 15px;width:228px;overflow:hidden;border-radius:0 0 5px 5px;}
	.activity_hot li{overflow:hidden;}
	.activity_hot h2 {font-size:12px;font-weight:bold;}
	.activity_hot .uipic{width:96px; overflow:hidden;}
	.activity_hot .left{width:120px;line-height:18px;}
	.activity_hot em{color:#777;}
	.mod_talk{width:260px;height:96px;background-position:left -171px;overflow:hidden;position:relative;}
	.mod_talk p{width:76px;color:#fff;text-align:center;position:absolute;top:47px;left:16px;}
	.mod_talk p em{font-size:20px;}
	.mod_talk p b{color:#EDD5D3;padding-left:5px;}
	.mod_talk a {width:260px;height:96px;display:block;position:absolute;top:0;left:0;z-index:11}
	</style>
</head>
<body>
#set($hasLogo = false)
#set($tag = 'newsselect')
#parse('subject/filmfest/2012/header.vm')
<div style="width:960px;margin:0 auto;background:#fff;overflow:hidden;">
<div id="ui_layout" class="ui_layout">
	<div class="ui_left">
		<div class="inner">
			<div class="title mt15 activity_title">
				<h2>电影节@格瓦拉　焦点星闻</h2>
			</div>
			<div class="newlist_in mt15">
				<ul class="row">
					#foreach($nlist in $!VmUtils.groupList($!newesList,3))
					<li>
						#foreach($news in $nlist)
						#set($relate=$relatedHelper.getR1("newsList",$news.id))
						#set($newother = $VmUtils.readJsonToMap($!relate.otherinfo))
						<div class="box" #if($foreach.index==3) style="margin-bottom:0;"#end>
							<div class="topBox">
								<a href="${basePath}news/$relate.id" target="_blank"><img width="180" src="$VmUtils.randomPic('',$!relate.logo)"/></a>
								<h3><a href="${basePath}news/$relate.id" target="_blank" title="$relate.title">$relate.title</a></h3>
								<p>$!VmUtils.escabbr($relate.summary,130)...<a class="ffst ml5" href="${basePath}news/$relate.id" target="_blank">全文&gt;&gt;</a></p>
								<p class="spe"><a href="${basePath}news/$relate.id" target="_blank" class="mr5">#if($VmUtils.isBlank($!newother.tips))0#else$!newother.tips#end</a>喜欢</p>
							</div>
							<div class="btmBox">
								$!DateUtil.format($relate.releasetime,"yyyy-MM-dd HH:mm")
							</div>
						</div>
						#end
					</li>
					#end
				</ul>
			</div>
			<div class="page">
				#parse('include/pageUtil.vm')
			</div>
		</div>
	</div>
	
	<div class="ui_right">
		<div class="inner">
			<div class="mod_talk">
				<p><em>$DateUtil.format($DateUtil.currentTime(),"dd")</em>日<b>$DateUtil.getCnWeek($DateUtil.currentTime())</b></p>
				<a href="${basePath}filmfest/fifteenTalk.xhtml" title="" target="_blank"></a>
			</div>
			<div class="mod_title mt20">
				<div class="mod_hd">
					<h2>热门影片推荐</h2>
				</div>
				<div class="activity_hot">
					<ul>
						#foreach($movieHot in $movieHotList)
						<li class="mt15">
							<div class="uipic">
								<a target="_blank" title="$!movieHot.moviename" href="${basePath}filmfest/fifteenMovieList.xhtml?moviename=$!movieHot.moviename"><img width="96" height="128" alt="$!movieHot.moviename" src="$VmUtils.randomPic('cw96h128',$!movieHot.logo)"/></a>
							</div>
							<div class="left">
								<div class="title"><h2><a href="${basePath}filmfest/fifteenMovieList.xhtml?moviename=$!movieHot.moviename" title="$!movieHot.moviename" target="_blank">$!movieHot.moviename</a></h2></div>
								<p><em>看点：</em>$!VmUtils.escabbr($!movieHot.highlight,30)...</p>
								<p><em>语言：</em>$!movieHot.language</p>
								#if($movieHot.videolen)<p><em>片长：</em>$!movieHot.videolen分钟</p>#end
								<p class="mt5">
								#if($VmUtils.eq('立即购票',$movieStatusMap.get($!movieHot.id)))
								<a href="${basePath}filmfest/fifteenMovieList.xhtml?movieid=$!movieHot.id" class="button minBt redBt" target="_blank"><span>立即抢票</span></a>
								#elseif($VmUtils.eq('购票提醒',$movieStatusMap.get($!movieHot.id)))
								<a href="${basePath}filmfest/fifteenMovieList.xhtml?movieid=$!movieHot.id" class="button minBt whiteBt" target="_blank"><span>购票提醒</span></a>
								#elseif($VmUtils.eq('暂无排片',$movieStatusMap.get($!movieHot.id)))
								<a href="${basePath}filmfest/fifteenMovieList.xhtml?movieid=$!movieHot.id" class="button minBt whiteBt" target="_blank"><span>暂无排片</span></a>
								#else
								<a href="${basePath}filmfest/fifteenMovieList.xhtml?movieid=$!movieHot.id" class="button minBt whiteBt" target="_blank"><span>卖光了…</span></a>
								#end
								</p>
							</div>
						</li>
						#end
					</ul>
				</div>
			</div>
			<div class="mt20"><a href="http://www.gewara.com/mobile/index.xhtml" target="_blank"><img src="${staticPath}styles/filmfest/phone.jpg" width="262" height="150"/></a></div>
		</div>
	</div>
</div>
</div>
#parse('include/bottom.vm')
</body>
</html>