<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>第十五届上海国际电影节购票须知_电影票购买注意事项 - 格瓦拉生活网</title>
<meta name="keywords" content="第15届上海国际电影节_电影专题_电影节排片表下载_在线购票_格瓦拉生活网"/>
<meta name="description" content="第15届上海国际电影节_电影专题_电影节排片表下载_在线购票_格瓦拉生活网"/>
<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=layout&v=$VmUtils.jsVersion"/>
<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util,gewara-util,noobSlide,pagesNavigation,slimbox,base_home,index_even&v=$VmUtils.jsVersion"></script>
#parse('subject/filmfest/2012/style.vm')	
<style type="text/css">
	.ui_layout{background:#fff;}
	.ui_layout .inner{padding:30px;}
	.ui_left{width:260px; margin-right:10px;}
	.ui_right{width:670px;}
	.inner{padding:20px 10px;}
	.notice_title h2{color:#552822; font-size:18px; line-height:24px; font-family: "微软雅黑","宋体",Arial;}
	.notice_list{margin:0 10px 10px 20px; width:230px;}
	.notice_list li{line-height:22px; border-bottom:1px dashed #cbcbcb; padding-bottom:10px; margin-top:10px;}
	.question span{display:inline-block; width:17px; height:17px; line-height:17px; font-weight:bold; color:#fff; text-align:center; margin-right:10px; background-position:0 -139px;}
	.answer{border:1px solid #ded8da; border-radius:5px; padding:10px; margin-top:10px;}
	.answer dt{float:left; font-weight:bold; color:#771c19;}
	.answer dd{float:left; width:625px;}
</style>
</head>
<body>
#set($hasLogo = false)
#set($tag = 'noticeselect')
#parse('subject/filmfest/2012/header.vm')
<div class="ui_layout">
	<div class="inner">
		$!diaryBody
	</div>
</div>
#parse('include/bottom.vm')
</body>
</html>