<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>第15届上海国际电影节_电影专题_电影节排片表下载_在线购票_格瓦拉生活网</title>
<meta name="keywords" content="第15届上海国际电影节_电影专题_电影节排片表下载_在线购票_格瓦拉生活网"/>
<meta name="description" content="第15届上海国际电影节_电影专题_电影节排片表下载_在线购票_格瓦拉生活网"/>
<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=layout&v=$VmUtils.jsVersion"/>
<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util,gewara-util,noobSlide,pagesNavigation,slimbox,base_home,index_even&v=$VmUtils.jsVersion"></script>
#parse('subject/filmfest/2012/style.vm')
<style type="text/css">
.ui_layout{background:#fff;}
.inner{padding:10px;}
.ui_left{width:260px; margin-right:20px;}
.ui_right{width:660px;}

.talk_special dt p.select,.talk_dpf,.talk_title .talk_hd{background:url(${staticPath}styles/filmfest/talk_time.png) no-repeat;}
.talk_special{overflow:hidden;}
.talk_special dt{width:76px;background-position:0 0;margin-right:10px;color:#fff;text-align:center;}
.talk_special dt p.select{height:35px; padding-top:50px; margin-bottom:10px;}
.talk_special dt p.select a{color:#fff;}
.talk_special dt p{line-height:24px;}
.talk_special dt em{font-size:20px;}
.talk_special dt b{color:#EDD5D3;padding-left:5px;}
.talk_special dd{width:174px;overflow:hidden;}
.talk_special dd ul li{padding-bottom:10px;margin-bottom:10px;border-bottom:1px dashed #ccc;}
.talk_dpf{background-position:-79px 0;height:93px;clear:both;position:relative;}
.talk_dpf p{position:absolute;top:46px;left:70px;width:185px;overflow:hidden;}
.talk_dpf p a{float:left;margin:0 5px;}
.talk_title {border:1px solid #ccc;border-radius:5px 5px 5px 5px;padding:10px;}
.talk_title .talk_hd{width:125px;height:35px;background-position:0 -100px;}
.talk_title .hp{background-position:0 -135px;}
.talk_title p{padding-left:40px;color:#666;}
.talk_article{overflow:hidden;padding-bottom:14px;width:100%;}
.talk_article dt{width:330px;}
.talk_text{border-top:2px solid #320000;width:290px;overflow:hidden;margin-left:2px;text-align:center;padding:10px 0 10px 20px;line-height:180%;}
.talk_text .talk_b{width:210px;margin:0 auto;}
.talk_text h3{font-size:17px;font-family:'微软雅黑','宋体';}
.talk_text h3 em,.talk_text .mores{font-size:14px;font-family:'宋体';}
.talk_text span{padding:5px 0;display:block;}
.talk_text p{padding-bottom:5px;}
.talk_iPhone a{background:url(${staticPath}styles/filmfest/ico_global.png) 0 6px no-repeat; font-weight:bold; display:block; height:40px; line-height:40px; padding-left:30px;}
</style>
</head>
<body>
#set($hasLogo = true)
#set($tag='tennews')
#parse('subject/filmfest/2012/header.vm')
<div class="ui_layout">
	<div class="inner">
		<div class="ui_left mt10">
			<dl class="talk_special">
				<dt class="left">
					#set($y = 0)
					#foreach($x in[14..25])
					#set($oldDayTalk = '2012-06-' + $x)
					<p #if($VmUtils.eq($!pageNo,$y))class="select"#end>
						<a #if($DateUtil.isAfter($DateUtil.parseDate($!oldDayTalk)))class="c666" href="javascript:void(0);" #else #if($VmUtils.eq($!pageNo,$y)) href="javascript:void(0);" #else class="cMovie" href="${basePath}filmfest/fifteenTalk.xhtml?pageNo=$!y" #end #end><em>$x</em>日 $!DateUtil.getCnWeek($DateUtil.parseDate($oldDayTalk))</a>
					</p>
					#set($y = $y + 1)
					#end
				</dt>
				<dd class="left">
					<ul>
						#foreach($talk in $talkList)
						<li>
							<h3><a href="$talk.newslink" title="$talk.title" target="_blank" class="cMovie">$talk.title</a></h3><br/>
							<span><a href="$talk.newslink" title="$talk.title" target="_blank" >$talk.content</a></span>
						</li>
						#end
					</ul>
				</dd>
			</dl>
			<div class="talk_dpf mt15">
				<p>
					#foreach($down in $downList)
					<a href="$!down.newslink" target="_blank">$!down.title</a>
					#end
				</p>
			</div>
			<div class="talk_iPhone mt15"><a href="http://www.gewara.com/mobile/index.xhtml" target="_blank">上海电影节app下载 </a></div>
			<div class="talk_title mt20">
				<div class="talk_hd"></div>
				<p>$noticeList.get(0).content2</p>
			</div>
			<div class="talk_title mt20">
				<div class="talk_hd hp"></div>
				<p>$noticeList.get(1).content2</p>
			</div>
		</div>
		<div class="ui_right mt10">
			#foreach($talk in $talkList)
			<dl class="talk_article">
				<dt class="left"><a href="$talk.newslink" title="$talk.content" target="_blank"><img src="$VmUtils.randomPic('',$!talk.newslogo)" width="330" height="200" alt="$talk.content" /></a></dt>
				<dd class="left">
					<div class="talk_text">
						<div class="talk_b"><h3><a href="$talk.newslink" title="$talk.content" target="_blank"><em class="cMovie">$talk.title</em>$talk.content</a></h3></div>
						<span class="c999">$!DateUtil.format($DateUtil.mill2Timestamp($!talk.addtime),"yyyy-MM-dd HH:mm")</span>
						<p>$talk.content2</p>
						<a href="$talk.newslink" target="_blank" class="mores cMovie">阅读全文&gt;&gt;</a>
					</div>
				</dd>
			</dl>
			#end
		</div>
	</div>
</div>
#parse('include/bottom.vm')
</body>
</html>