<script type="text/javascript">
	function fullBody(id){
		if($('af_'+id))
			$('af_'+id).toggleDisplay();
		if($('uf_'+id))
			$('uf_'+id).toggleDisplay();
		if($('review_'+id+'_short'))
			$('review_'+id+'_short').toggleDisplay();
		if($('review_'+id+'_full'))
			$('review_'+id+'_full').toggleDisplay();
	}
	
	function getBody(id){
		var full = 'review_'+id+'_full';
		fullBody(id);
		if($(full).getStyle("display")!="none"){
			var url = "${basePath}blog/fullDiaryBody.xhtml";
			var value = {'diaryid':id};
			GewaraUtil.sendLoad(full, url, value, function(result){
				if(!result.success){
					gewaUtil.alert(result.json.msg);
				}
			}, full);
		}
	}
</script>