<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>优惠券打印_格瓦拉生活网</title>
</head>
<body onload="window.print()">
<div style="margin:0 auto; width:500px;">
	<img src="$VmUtils.randomPic('',$!bulletin.limg)"/>
</div>
</body>
</html>