开始日期:<input type="text" class='Wdate' name="starttime" id="datefrom" value="$!VmUtils.escapeHtml($params.starttime)" style="width: 160px" readonly="readonly" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>&nbsp;
结束日期:<input type="text" class='Wdate' name="endtime" id="dateto" value="$!VmUtils.escapeHtml($params.endtime)" style="width: 160px" readonly="readonly" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>&nbsp;
<script type="text/javascript">
	window.addEvent('domready', function(){
		var t= new Date();
		var y=t.getFullYear();
		var m=t.getMonth()+1;
		var d=t.getDate();
		if(m<10){
			m="0"+m;
		}
		if(d<10){
			d="0"+d;
		}
		if($("datefrom").value==""){
			$("datefrom").value=y+"-"+m+"-"+d+" 00:00:00";
		}
		if($("dateto").value==""){
			$("dateto").value=y+"-"+m+"-"+d+" 23:59:59";
		}
	});
</script>