<div class="vote_title"><h2>$!specialActivity.surveytitle</h2></div>
<div class="vote" id="votedv">
	<strong>$!gawavote.subject</strong>
	<ul class="ul-vote" >
		#foreach($vv in $voList)
		<li>
			$foreach.count、$!VmUtils.escabbr($vv.option, 36)<br/>
			<div class="height0"></div>
		</li>
		#end
		<li>
			<b class="left">总投票数：<b class="brown">$votecount票</b></b>
			<span class="right">
				<a href="${absPath}${basePath}blog/t$!gawavote.id" target="_blank"><input type="button" value="投一票"/></a>
			</span>
			<div class="height0"></div>
		</li>
	</ul>
</div>