<!Doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>$!{cookieCityname}电影票网上购买预订_$!{cookieCityname}电影院排片购票_最新上映电影票价_格瓦拉生活网</title>
	<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=ui_layout,wide_pay&v=$VmUtils.jsVersion"/>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util,page,slimbox&v=$VmUtils.jsVersion"></script>
	<style type="text/css">
		.cardpass {top:3px;}
		/*订单成功*/
		.orderSuccessLeft{width:850px;}
		.orderSuccessRight{width:310px;margin-left:20px;}
		
		.orderResult{border:1px solid #ffefdf;}
		.orderResult h1{line-height:32px; font-size:34px; font-family:'微软雅黑','宋体'; font-weight:normal;}
		.orderResult h1 a{font-size:12px; font-weight:normal; margin-left:10px; color:#f60;}
		.orderResult p{line-height:24px;}
		.order_info {padding:65px 0 70px;overflow:hidden;width:820px;margin:0 auto;}
		.order_info dt {width:130px;float:left;}
		.order_info dd {width:650px;float:left;margin-left:30px;}
		.orderResult_tab_con {background-color:#fffaf4;border-top:1px solid #ffefdf;border-bottom:1px solid #ffefdf;overflow:hidden;}
		.orderResult_tab_con .inner{padding:15px;}
		.orderResult_tab_con h2{font-size:14px;}
		/*双十一*/
		.order_info dd .ui_media{width:650px;}
		.order_info dd .ui_media .ui_pic{width:350px; height:280px; margin:0;}
		.order_info dd .ui_media .ui_text{width:260px; padding:20px; height:240px; margin:0; background:#eeeeee;}
		.order_info dd .ui_media .ui_text p{font-family:"微软雅黑"; color:#343434;}
		.order_info dd .ui_media .ui_text .fx_text{font-size:18px;}
		
		/*微博分享*/
		.fx_weibo{margin:0;}
		.fx_weibo #bdshare a{border-radius:10px;cursor:pointer; float:left; display:block; width:75px; height:75px; padding:0; background:url("/css/activity_wide/share_ico.png") no-repeat;}
		.fx_weibo #bdshare a:hover{opacity:1;}
		.fx_weibo #bdshare .bds_qzone{background-position:-10px -300px !important}
		.fx_weibo #bdshare .bds_qzone:hover{background-position:-100px -300px !important}
		.fx_weibo #bdshare .bds_tsina{background-position:-10px -100px !important;}
		.fx_weibo #bdshare .bds_tsina:hover{background-position:-100px -100px !important;}
		.fx_weibo #bdshare .bds_tqq{background-position:-10px -200px !important}
		.fx_weibo #bdshare .bds_tqq:hover{background-position:-100px -200px !important}
		
		.m1{background:#c2bdba}
		.m2{ background:#fff;}
		.m1,.m2,.m{color:#c2bdba;}
		.orderResult_tab_info p{background:#fff; padding:10px; line-height:18px;}
		.orderResult_tab_info textarea{background:#fff; overflow-y:auto; line-height:18px; font-size:12px; /*width:375px;*/ height:40px; color:#666; resize:none; border:0;}
		.selfdom,.result{width:423px;float:left;overflow:hidden;}
		#if(!$profile && $profile.hasDefinePaper())
		.result{width:423px; margin:0 auto;float:none;}
		#end
		.selfdom {border-right:1px solid #ffefdf;margin-bottom:-30000px; padding-bottom:30000px;}
		.isfont {display: inline-block;float:right;font-family:Constantia,Georgia;font-size:16px;font-weight:bold;color:#999;}
		.result dt,.result dd{float:left;position:relative;overflow:hidden;}
		.result p{position:relative;}
		.result input.text{padding:6px 4px;}
		.oAddPhone,.oDelPhone{display:inline-block; width:20px; height:20px; cursor:pointer;vertical-align:middle;_margin-top:3px;}
		.oAddPhone{background-position:left -225px;}
		.oDelPhone{background-position:left -252px;}
		/*瓦友购买*/
		.wayouBuy {margin:20px;overflow:hidden;}
		.wayouBuy dl{float:left;width:404px;}
		/*取票位置*/
		.payBox {border-color:#f3f3f3;}
		.movieReview .mod_kong{margin:10px 20px 20px;}
		
		.map_ico img{width:25px; height:500px; background:url(${staticPath}css/global/map_ico.png) 0 0 no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${staticPath}css/global/map_ico.png',sizingMethod='crop');}
		.search_panel{position:relative;}
		.payBox .mod_kong{margin-bottom:0;}
		.payBox .mod_kong .mod_hd {text-indent:20px;}
		.search_panel .inner{position:relative; padding:10px 10px 20px 50px;}
		.search_icon_tab{padding-left:1px;}
		.search_icon_tab a{width:16px; height:16px; overflow:hidden; border:1px solid #e4e4e4; background:#f7f7f7; margin-left:-1px; padding:5px 30px; display:inline-block; float:left; cursor:pointer;}
		.search_icon_tab .select{background:#eee; box-shadow:0 1px 2px rgba(0, 0, 0, 0.1) inset;}
		.search_icon_tab a:hover,.search_icon_tab .select{background:#eee;}
		.search_icon_tab a:first-child{border-bottom-left-radius:3px; border-top-left-radius:3px;}
		.search_icon_tab a:last-child{border-bottom-right-radius:3px; border-top-right-radius:3px;}
		
		.search_panel .search_icon_tab .car {margin:-21px 0 0 1px;}
		.search_panel .search_icon_tab .select .car{margin:4px 0 0 1px;}
		.search_panel .search_icon_tab .bus{margin:-74px 0 0 3px;}
		.search_panel .search_icon_tab .select .bus{margin:-49px 0 0 3px;}
		.search_panel .search_icon_tab .man{margin:-124px 0 0 4px;}
		.search_panel .search_icon_tab .select .man{margin:-99px 0 0 4px;}
		
		.search_panel .search_form ul li{margin:5px 0; _height:28px; _overflow-y:hidden; position:relative;}
		.search_panel .search_form ul li .text{width:235px; padding:6px 4px;_padding:4px;}
		.search_panel .search_form ul li span.map_ico{width:25px; height:25px; display:block; overflow:hidden; position:absolute; top:0; left:-30px;}
		.search_panel .search_form ul li span .a{margin:-201px 0 0 0;}
		.search_panel .search_form ul li span .b{margin:-231px 0 0 0;}
		.seach_result {background-color:#f6f6f6;padding:15px;}
		.seach_result h2{line-height:25px;font-size:14px;}
		.seach_result dl {color:#999;margin-top:5px;position:relative;width:100%;}
		.seach_result dl dd{padding-right:15px;}
		.seach_result dl a{width:10px;height:16px;display:inline-block; overflow:hidden; background-position:-66px -202px; position:absolute;right:0;bottom:0;}
		.seach_result .ui_media .ui_pic{margin-right:0;}
		.seach_result input.text{font-size:16px;font-weight:bold;color:#333;}
		/*share*/
		.isShare .s_more{float:left;}
		.isShare a{background:url(${staticPath}css/movie_wide/ico_share.png) no-repeat;width:25px;height:20px;display:block;float:left;margin:0 3px;overflow:hidden;cursor:pointer;}
		.isShare .s_tqq {background-position:0 -30px;}
	</style>
</head>
<body>
#set($tag="movie")#set($ismovie=true)#set($movieFlag="movieindex")
#set($isIndexBigAd=true)#set($cfgHeader='header')
#parse('include/wide_header.vm')
#set($spList=['css/movie_wide/db11_1.jpg',
				  'css/movie_wide/db11_2.jpg',
				  'css/movie_wide/db11_3.jpg',
				  'css/movie_wide/db11_4.jpg',
				  'css/movie_wide/db11_5.jpg',
				  'css/movie_wide/db11_6.jpg',
				  'css/movie_wide/db11_7.jpg',
				  'css/movie_wide/db11_8.jpg',
				  'css/movie_wide/db11_9.jpg',
				  'css/movie_wide/db11_10.jpg'])
#set($scList=[['请叫我百分百抢票成功的牛人！','我要让全世界都知道，我很低调。','人生有几多个十年，最紧要是抢到票！'],
				  ['这种牛叉的运气，你们是羡慕不来的！','哎呀妈呀，这是要发呀！11元就抢到电影票啦！','来个大特写，重点表现我的高端大气上档次。'],
				  ['11元看电影，我和我的小伙伴们都惊呆了。','难道我抢到11元的电影票要告诉你咩！','我会告诉你我就是那个介于牛A和牛C之间的人吗？'],
				  ['中奖就像来大姨妈，久久不来会日夜期盼！','抢票是门技术活，不是随便说说就能超越的。','抢票最重要的就是肿胀感，你们感受到了吗？'],
				  ['咸猪手的作用：1、揩油，2、抢票。','都怪手太贱，又抢占别人一名额。','已经无法用言语来形容我此刻的手气了！'],
				  ['真正有爷们气质的男人，都是偷偷中奖的男人！','我果然是个狂拽炫酷吊炸天的人。','人品、长相、土豪金是成功抢票的三大利器！'],
				  ['我对灯火发誓，抢票真的太简单了…','我也被自己的运气给震慑到了！','我这不是显摆，是炫耀。'],
				  ['人生嘛，就是中奖之后笑笑别人，顺便再让别人嫉妒一下。','赶紧来和我这个土豪做朋友吧！','土豪不是你想当，相当就能当。'],
				  ['不要羡慕哥，哥是个传说！','我真嫉妒你们能遇到这么牛的抢票高手！','彪悍的人生不需要解释。'],
				  ['这是个屌丝逆袭的时代！','抢到票的幸福光芒遮盖了我苦逼阴暗的一生！','谈恋爱最大的羁绊莫过于只抢到一张电影票！']])
#set($randomIndex=$math.random(0, $spList.size()))
#set($rsp=$spList.get($randomIndex))
#set($tscList=$scList.get($randomIndex))
#set($ri=$math.random(0, $tscList.size()))
#set($rsc=$tscList.get($ri))
<div class="ui_layout">
	<div class="inner">
		<div class="payStep04">
			<ul class="payOrderSteps clear">
				<li class="step1">1.选择影片场次</li>
				<li class="step2">2.在线选座，填写手机号码</li>
				<li class="step3">3.确认订单并支付</li>
				<li class="step4">4.终端机取票</li>
			</ul>
		</div>
		<div class="clear mt20">
			<div class="orderSuccessLeft left">
				<div class="orderResult clear">
					<dl class="order_info">
						<dt><img src="${staticPath}css/movie_wide/succ_i.png" alt="购买成功"/></dt>
						<dd>
							#set ($dsc=$VmUtils.readJsonToMap($!order.description2))
							<h1>支付成功，立即分享给好友！</h1>
							<dl class="ui_media mt20">
								<dt class="ui_pic"><img src="${staticPath}$rsp" width="350" height="280"/></dt>
								<dd class="ui_text">
									<p class="fx_text">1000000电影票,狂欢三重奏,11元看电影,分享给好友一同参加!</p>
									<div class="fx_weibo" style="padding-top:60px;">
										<p class="ml10" style="font-size:14px; text-align:center;">分享到:</p>
										<div id="bdshare" class="clear mt10 ml10">
										    <a href="javascript:goShare('sina','$rsc','$rsp');" class="bds_tsina" onclick="_gaq.push(['_trackEvent', 'double11', 'clickorderfenxiang', 'sinaweibo']); "></a>
										    <a href="javascript:goShare('qq','$rsc','$rsp');" class="bds_tqq ml10 mr10" onclick="_gaq.push(['_trackEvent', 'double11', 'clickorderfenxiang', 'tenxunweibo']);"></a>
										    <a href="javascript:goShare('qzone','$rsc','$rsp');" class="bds_qzone" onclick="_gaq.push(['_trackEvent', 'double11', 'clickorderfenxiang', 'qqkongjian']);"></a>
										</div>
									</div>
								</dd>
							</dl>
							<p class="mt10">订单正在处理中，成功后15分钟内将收到取票短信</p>
							<p class="c999">短信发送可能会有延迟或被手机安全软件拦截，长时间未收到，请致电格瓦拉客服：4000-406-506</p>
							<p>$!{dsc.get("影片")}   $!{cinema.name}   $!{dsc.get("场次")} $!{dsc.get("影票").split(",").size()}个座位</p>
							#if($order.paymethod eq 'gewaPay') 
								#set($point=${order.due}-${order.wabi}) #else #set($point=$order.due)
							 #end
							#if($point gt 0) 
								<p>本次消费<b class="cf60">$!fee</b>元，获得<b class="cf60">$point</b>个积分</p>
							#end
							#if($order.itemfee gt 0)
							<p>订单号<b class="cf60">$!GewaOrderHelper.getBuyItemName($itemList)</b> <b class="cf60">${order.itemfee}</b>元，请打印电子票后到柜台领取</p>
							#end
							<p style="margin:20px 0 30px;">
								<a class="mr30" href="${basePath}home/myOrderManage.xhtml" title="" target="_blank">查看取票密码</a>
								<a class="mr30" href="#movieReview">查看影院取票机位置</a>
								<a href="${basePath}helpCenter/index.dhtml?diaryId=3120809&dkey=helpcenter1308109899606" title="" target="_blank">查看积分用途</a>
							</p>
							#*
							<div class="clear">
								<div class="isShare">
									<span class="s_more">分享到：</span>
							        <a class="s_tsina" onclick="bindWeibo('sina',$!order.id)"></a>
								</div>
								<span class="ml10">分享观影日程，赢取<b class="cf60">5</b>积分</span>
							</div>
							*#
						</dd>
					</dl>
					#if($specialDiscount)
					<div class="orderResult_tab_con clear" style="border-bottom:none;">
						<div class="inner center">
							<div>	
								<h2 style="vertical-align:5px;">恭喜您参加本次活动，获得&nbsp;<em class="cF60">$!{specialDiscount.rebates}元</em>&nbsp;抵值券</h2>
								<a class="button redBt minBt ml20" href="javascript:drawCard('$order.tradeNo','$specialDiscount.id');"><span>立即领取</span></a>
							</div>
							<div style="width:100%;padding-top: 10px;text-align: center;">
								<b>抵值券功能：</b>每张可抵用该订单的部分金额，提交订单时只须支付剩余金额即可。抵值券在一笔订单中只能使用一次该类券。
							</div>
						</div>
					</div>
					#end
					<div class="orderResult_tab_con clear">
					#if($profile && $profile.hasDefinePaper())
						<div class="selfdom result">
							<div class="inner">
								<h2>定制我的影票</h2>
								<dl class="clear">
									<dt class="left" style="width:182px;"><img src="${staticPath}css/movie_wide/selfdom.jpg" alt="打造个性化影票"/></dt>
									<dd class="left ml10" style="width:201px;overflow:hidden;">
										<p class="clear"><b id="isSelfdom" class="isfont">15</b></p>
										<div class="orderResult_tab_info mt10">
											<em class="m1"></em>
											<em class="m2"></em>
											<p class="m" style="position:relative;">
												#if($VmUtils.isBlank($gconfig.content))
												<textarea id="selfdomContent" onfocus="inputFocus(this)" onblur="inputBlur(this);" style="width:176px;"></textarea>
												<label class="cardpass" for="selfdomContent" style="display:block;top:14px;left:11px;">打造个性化影票，留下美好回忆，写点什么吧！</label>
												#else
												<textarea id="selfdomContent" style="width:176px;">$!gconfig.content</textarea>
												#end
											</p>
											<em class="m2"></em>
											<em class="m1"></em>
										</div>
										<a class="button minBt redBt mt5 right" onclick="selfTicket()" ><span style="width:30px">确认</span></a>
									</dd>
								</dl>
							</div>
						</div>
					#end
						<div class="result">
							<div class="inner">
								<b id="isMsg" class="isfont">60</b><h2>免费短信邀请好友观影</h2>
								<div class="orderResult_tab_info mt10">
									<em class="m1"></em>
									<em class="m2"></em>
									#set($descMap=$VmUtils.readJsonToMap($order.description2))
									<p class="m">
										<textarea style="width:369px;" readonly="readonly" id="msgContent">嗨，$!member.nickname 邀你一起看电影，$!descMap.get('场次') $!{cinema.realBriefname} $!descMap.get('影片')，祝观影愉快！</textarea>
									</p>
									<em class="m2"></em>
									<em class="m1"></em>
								</div>
								<dl class="clear mt5">
									<dt class="mr5" style="width:115px">
										<p>
										<input type="text" class="text" id="myname" name="myname" onfocus="inputFocus(this)" onblur="inputBlur(this);updateContent(this);" maxlength="5" style="width:105px;"/>
										<label class="cardpass" for="myname" style="display:block;">我的名字</label>
										</p>
									</dt>
									<dd style="width:197px;" id="voptions">
										<div>
											<p class="left">
												<input class="text" id="phone" onfocus="inputFocus(this)" onblur="inputBlur(this);" type="text" name="phonenum" maxlength="11" style="width:157px;"/>
												<label class="cardpass" for="phone" style="display:block;">好友手机</label>
											</p>
											<p class="right"><span class="oAddPhone" id="addFont"></span></p>
										</div>
									</dd>								
									<dd class="ml10" style="width:66px;">
										<a class="button minBt redBt" onclick="sendMsg($!order.id);" ><span style="width:30px;">发送</span></a>
									</dd>
								</dl>
								<dl>
									<dd>
										<div class="mt10 clear">
										<label class="left">　验证码：</label>
										<input type="hidden" name="captchaId" id="captcha" />
										<label class="left" style="width:60px">
										<input type="text" class="text captcha" name="captcha" alt="点击获取" autocomplete="off"  id="captchaInput" size="18" style="width:60px" mustTxt="请输入验证码!" onfocus="GewaraUtil.refreshCaptcha('captcha');"/></label>
										<img id="captchaImg" src="${staticPath}css/images/blank.gif" class="ml20" style="cursor: pointer;vertical-align: middle;float:left;height:30px; width:80px;" onclick="GewaraUtil.refreshCaptcha('captcha')" title="看不清楚，请点击换一张图片"/>
								</div>
									</dd>
								</dl>
							</div>
						</div>
					</div>
					#if(!$VmUtils.isEmptyList($goodsList))
					<div class="mod_kong wayouBuy">
						<div class="mod_hd">
							<h2>购票瓦友还购买了$!{cinema.name}影院如下套餐</h2>
						</div>
						<div class="mod_bd mt5">
							#if($goodsList.size() gt 0)
								#set($g0=$goodsList.get(0))
								<dl class="ui_media">
									<dt class="ui_pic">
										<a href="#" title="" target="_blank">
											<img src="$VmUtils.randomPic('sw120h90',$g0.limg)" alt="" width="128" height="96"/>
										</a>
									</dt>
									<dd class="ui_text">
										<p>$!g0.summary</p>
										<p class="mt5"><span class="ui_price">¥<b>$!g0.unitprice</b>元</span>
										#set($money =$!g0.oriprice - $!g0.unitprice)
										#if($!g0.oriprice && $money gt 0)
											<em class="ml15 c999">立省：$!money元</em></p>
										#end
										<p class="mt10"><a href="${basePath}goods/buyGoods.xhtml?gid=$goods.id" 
											class="button redBt bigBt"><span>立即购买</span></a></p>
									</dd>
								</dl>
							#end
							#if($goodsList.size() gt 1)
								#set($g1=$goodsList.get(1))
								<dl class="ui_media">
									<dt class="ui_pic">
										<a href="#" title="" target="_blank">
											<img src="$VmUtils.randomPic('sw120h90',$g1.limg)" alt="" width="128" height="96"/>
										</a>
									</dt>
									<dd class="ui_text">
										<p>$!g1.summary</p>
										<p class="mt5"><span class="ui_price">¥<b>$!g1.unitprice</b>元</span>
										#set($money =$!g1.oriprice - $!g1.unitprice)
										#if($!g1.oriprice && $money gt 0)
											<em class="ml15 c999">立省：$!money元</em></p>
										#end
										<p class="mt10"><a href="${basePath}goods/buyGoods.xhtml?gid=$goods.id" class="button redBt bigBt"><span>立即购买</span></a></p>
									</dd>
								</dl>
							#end
						</div>
					</div>
					#end
				</div>
				<div class="payBox movieReview mt20" id="movieReview">
					<div class="mod_kong">
						<div class="mod_hd">
							<h2>取票机位置</h2>
						</div>
						<div class="mod_bd">
							$!diaryBody
						</div>
					</div>
				</div>
			</div>
			<div class="orderSuccessRight right">
				#if($ad && $ad.ad)
				<div class="clear">
					<a href="$!{ad.link}" title="$!{ad.title}" target="_blank">
						<img width="310" src="${staticPath}$!{ad.ad}" alt="$!{ad.description}" />
					</a>
				</div>
				#end
				<div class="payBox search_panel mt20 clear">
					<div class="mod_kong">
						<div class="mod_hd">
							<h2>交通路线查询</h2>
						</div>
						<div class="mod_bd">
							<div class="inner">
								<div class="search_icon_tab map_ico clear">
									<a href="javascript:void(0);" title="驾车"><img src="${staticPath}css/images/blank.gif" class="car"/></a>
									<a href="javascript:void(0);" title="公共交通"><img src="${staticPath}css/images/blank.gif" class="bus"/></a>
									<a href="javascript:void(0);" title="步行"><img src="${staticPath}css/images/blank.gif" class="man"/></a>
								</div>
								<div class="search_form mt10">
									<ul>
										<li>
											<span title="起点" class="map_ico"><img src="${staticPath}css/images/blank.gif" class="a"/></span>
											<input type="text" name="start" alt="起点：" class="text" id="start"><label class="overTxtLabel" style="line-height:24px;height:24px;position:absolute;cursor:text;color:#ccc;width:42px;left:4px;top:0px;" for="start"></label>
										</li>
										<li>
											<span title="终点" class="map_ico"><img src="${staticPath}css/images/blank.gif" class="b"/></span>
											<input type="text" name="end" alt="终点：" class="text" value="$!{cinema.name}" id="end"/><label class="overTxtLabel" style="line-height:24px;height:24px;position:absolute;cursor:text;color:#ccc;width:42px;display:none;" for="end">终点：</label>
										</li>
									</ul>
									<p class="mt10"><a class="button bigBt redBt" href="javascript:searchLine();"><span style="width:55px;">查&nbsp;询</span></a></p>
								</div>
							</div>
							#*
							#set($map_place=$cinema)
							
							<div class="seach_result">
								<h2>发送交通信息至手机</h2>
								 #if($VmUtils.isNotBlank($map_place.transport))
									<dl class="ui_media">
										<dt class="ui_pic">公交：</dt>
										<dd class="ui_text">$!map_place.transport<a class="freeTag1" href="javascript:sendTrafficInfo('transport');" title="点击发送短信至手机"></a></dd>
									</dl>
								#end
								#if($VmUtils.isNotBlank($map_place.stationname))
									<dl class="ui_media">
										<dt class="ui_pic">地铁：</dt>
										<dd class="ui_text">$!map_place.getLineName($subwaylineMap)&nbsp;$!{map_place.stationname}站&nbsp;$!{map_place.exitnumber}<a class="freeTag1" href="javascript:vsendTrafficInfo('stationname');" title="点击发送短信至手机"></a></dd>
									</dl>
								#end
								#if($VmUtils.isNotBlank($map_place.otherinfo))
									#set($parkOtherInfoMap=$VmUtils.readJsonToMap($map_place.otherinfo))
									#set($park = $parkOtherInfoMap.get('park'))
									#if($park)
										<dl class="ui_media">
											<dt class="ui_pic">停车：</dt>
											<dd class="ui_text">$!park<a class="freeTag1" href="javascript:sendTrafficInfo('park');" title="点击发送短信至手机"></a></dd>
										</dl>
									#end
								#end
							</div>
							*#
						</div>
					</div>
				</div>
				#*
				<div class="payBox mt20 clear">
					<div class="mod_kong">
						<div class="mod_hd">
							<h2>交通路线查询</h2>
						</div>
						<div class="mod_bd" style="padding:10px 20px 20px;">
							<dl class="ui_media">
								<dt class="ui_pic" style="margin-right:20px;"><img src="${staticPath}css/movie_wide/sina_pic.png" alt=""></dt>
								<dd class="ui_text">
									<p>分享观影日程到微博，赢<em class="cf60">5</em>积分</p>
									<p class="mt10">
										<a class="button bigBt redBt" href="javascript:bindWeibo($!order.id)"><span>立即分享</span></a>
									</p>
								</dd>
							</dl>
						</div>
					</div>
				</div>
				*#
			</div>
		</div>
	</div>
</div>
#set($pageTrack=${basePath} + 'cinema/order/success.html')
<script type="text/javascript">
window.addEvent('domready',function(){
	#if($profile && $profile.hasDefinePaper())
	$('selfdomContent').addEvent('keyup',function(){ 
		new modifyTextArea('selfdomContent','isSelfdom',15);
	});
	#end
	$('addFont').addEvent('click',function(){
		addOpation();
	})
	tabs();
});

function bindWeibo(type, value){
	gewara.util.sendRequest('${basePath}ajax/member/synchroizaInfo.xhtml',{'rights':'moviecomment'},function(result){
		if(result.success){
			if(result.appList){
				if(result.appList.contains('sina') && type == 'sina'){
					clickGetPoint(value);
				}
				else if (result.appList.contains('qq') && type == 'qq'){
					clickGetPoint(value);
				}else{
					if ('sina' == type){
						syscData('${basePath}home/bind/sina/userApp.xhtml?source=close','新浪微博','sina');
					}else{
						alert("error");
					}
				}
			}
		}
	});
}
function clickGetPoint(value){
	var url = "${basePath}ajax/shareGetPoint.xhtml?math="+GewaraUtil.rtime();
	gewa.util.mask({'element':'pointMessage','title':'获取数据中，请稍候...'})
	GewaraUtil.sendRequest(url,{'orderId':value},function(result){
		gewa.util.clearMask();
		if(result.success){
			gewaUtil.alert("成功分享至新浪微博！");
		}else{
			if(result.msg == "isNotBind"){
				syscData('${basePath}home/bind/sina/userApp.xhtml?source=close','新浪微博','sina');
			}else{
				gewaUtil.alert(result.msg);
			}
		}
	});
}
function syscData(url,title,tag){
	var html = "",width=600;
	if(tag == 'sina'){
		html = new Element('iframe',{
			'frameborder':0,
			'scrolling':'no',
			'height':'368',
			'width':'600',
			'src':url
		});
	}else{
		html = new Element('div',{
			'styles':{
				'width':'620px',
				'height':window.ActiveXObject?'380px':'330px',
				'overflow':'hidden'
			}
		});
		new Element('iframe',{
			'frameborder':0,
			'scrolling':'no',
			'height':'850',
			'width':'810',
			'src':url,
			'styles':{
				'margin-top':'-280px',
				'margin-left':'-160px'
			}
		}).inject(html);
		width = 650;
	}
	gewa.util.maskContent('',html,'正在设置'+title+'的同步功能！',width,'syscing');
}




function inputFocus(obj){
	var obj=$(obj);
	obj.getParent().getElement('.cardpass').hide();
}
function inputBlur(obj){
	var obj=$(obj);
	if(obj.value == '')
		obj.getParent().getElement('.cardpass').show();
}
function updateContent(el){
	if(el.value == "") return ;
	$('msgContent').value = $('msgContent').get('text').replace('$!member.nickname',el.value);
	new modifyTextArea('msgContent','isMsg',60);
}
function selfTicket(){
	if($('selfdomContent').value.length>15){
		gewaUtil.alert('亲，个性化票券长度不可以超过15个字哦！');
		return;
	}
	gewara.util.sendRequest('${basePath}gewapay/selfTicket.xhtml',{'specialComents':$('selfdomContent').value,'tradeNo':'$!{order.tradeNo}'},function(result){
		if(result.success){
			gewaUtil.alert("定制成功！");
			if($('selfdomContent'))$('selfdomContent').value='';
		}else{
			gewaUtil.alert(result.msg);
		}
	});
	
}
function sendTrafficInfo(trafficType){
	var values = {'orderId':${order.id},'trafficType':trafficType};
	gewara.util.sendRequest('${basePath}ajax/trade/sendTraficInfo.xhtml',values,function(result){
		if(result.success){
			gewaUtil.alert("发送成功！");
		}else{
			gewaUtil.alert(result.msg);
		}
	});
}
function isNumber(str){return /^\d+$/.test(str);}

function sendMsg(orderId){
	var mobile = "",err = "",content="";
	var phonelist = $('voptions').getElements('input[name=phonenum]');
	Array.each(phonelist,function(item,index){
		if(index > 0){
			mobile += "," + item.value;
			if((!isNumber(item.value) || item.value.length != 11) && item.value != "") err = "请输入正确的电话号码！";
		}else{
			mobile += item.value;
			if((!isNumber(item.value) || item.value.length != 11) && item.value != "") err = "请输入正确的电话号码！";
		}
	});
	if(mobile == ""){
		err = "好友手机号码不能为空";
	}
	if($('myname').value != ""){
		content = $('msgContent').value + "http://t.cn/Sb2z2G";
	}else{
		err = "请输入你的真实名字!";
	}
	if(err.length>0){gewaUtil.alert(err); return;}
	var values = {"orderId":orderId, "mobile":mobile, "msgContent":content.trim(), "captchaId":$('captcha').value,"captcha":$('captchaInput').value};
	GewaraUtil.sendRequest('${basePath}ajax/trade/orderResultSendMsg.xhtml', values, function(result){
		if(result.success){
			gewaUtil.alert("发送成功！");
		}else{
			gewaUtil.alert(result.msg);
			GewaraUtil.refreshCaptcha('captcha');
		}
	});
}
var vcount=0;
function addOpation(){
	if(vcount == 3){
		$('addFont').hide();
		return;
	}
	var ap = new Element('div',{
		'html':'<p class="left mt5"><input class="text" id="phone'+vcount+'" onfocus="inputFocus(this)" onblur="inputBlur(this);" type="text" name="phonenum" maxlength="11" style="width:157px;"/><label class="cardpass" for="phone'+vcount+'" style="display:block;">好友手机</label></p><p class="right mt5"><span class="oDelPhone"></span></p>'
	}).inject('voptions');
	var aspan = ap.getElement('*[class=oDelPhone]');
	aspan.addEvent('click',function(){
		this.getParent('div').dispose();
		vcount--;
		OverText.update();
		if(vcount > 0)$('addFont').show();
	})
	vcount++;
	OverText.update();
}
var modifyTextArea = new Class({
	initialize:function(textbody,count,unm) {
		if($(textbody) && $(count)){
				var curNum = unm - $(textbody).value.length;
				$(count).innerHTML = curNum;
				if(curNum < 0){
					$(count).setStyle('color','#ff0000');
				}
				else{
					$(count).setStyle('color','');
				}
		}
	}
});
function searchLine(){
	var url = '${basePath}common/baiduMap.xhtml?id=$!{cinema.id}&tag=cinema&from='+encodeURI($('start').value)+'&end='+encodeURI($('end').value);
	GewaraUtil.openwin(url,'_blank');
};
function bookSpecialComments(){
}

function tabs(){
	var elements = $$('.search_icon_tab a');
	elements.addEvent('click',function(){
		elements.each(function(item){
			item.removeClass('select');
		})
		this.addClass('select');
	})
}
function drawCard(tradeNo,sid){
	var values = {"tradeNo": tradeNo,"sid":sid};
	GewaraUtil.sendRequest('${basePath}home/drawCard.xhtml', values, function(result){
		if(result.success){
			gewaUtil.issure(document.body,"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;恭喜您，已成功领取！","格瓦拉生活网提示",210,'',function(){
				document.location.href = "${basePath}home/acct/cardList.xhtml";
			},"查看票券");
		}else{
			gewaUtil.alert(result.msg);
		}
	});
}
function goShare(shareSite,shareContent,sharePicture){
    var shareTitle = shareContent ? shareContent : $('shareContent').value;//分享内容
    shareTitle = encodeURIComponent(shareTitle);
    var sharePic = sharePicture ? sharePicture : $('sharePic').value;//分享微博附加图片的地址
    sharePic = encodeURIComponent(sharePic);
	 var shareUrl = 'http://www.gewara.com/zhuanti/doubleEleven.xhtml';//分享链接,本页面location.href
    if(shareSite == 'qq'){
        window.open('http://v.t.qq.com/share/share.php?title=我在格瓦拉#11元看电影#活动中抢到了电影票，'+shareTitle+'&pic='+sharePic+'&url='+shareUrl,'_blank');
    }else if(shareSite == 'qzone'){
        window.open('http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?title=我在格瓦拉#11元看电影#活动中抢到了电影票，'+shareTitle+'&pic='+sharePic+'&url='+shareUrl,'_blank');
    }else if(shareSite == 'sina'){
        window.open('http://v.t.sina.com.cn/share/share.php?title=我在格瓦拉#11元看电影#活动中抢到了电影票，'+shareTitle+'&pic='+sharePic+'&url='+shareUrl,'_blank');
    }
}
</script>
#parse('include/wide_footer.vm')
</body>
</html>