#if(!$VmUtils.isEmptyList($diaryList))
<div class="mod_kong">
	<div class="mod_hd">
		<h2>辣评榜</h2>
		<a href="${basePath}blog/theatre" target="_blank" class="more ffst a_color">更多&gt;&gt;</a>
	</div>
	<div class="mod_bd">
		<ul class="ui_abeam">
			#foreach($diary in $diaryList)
			<li class="#if($foreach.count gt 1)mt20#end clear">
				<div class="uipic">
					<a class="pubpic"href="${basePath}home/sns/othersPersonIndex.xhtml?memberid=$diary.memberid"><img src="${staticPath}css/images/blank.gif" style="background:url($VmUtils.randomPic('cw50h50',$cacheMemberMap.get($diary.memberid).headpicUrl)) center center no-repeat;" width="50" height="50"/></a>
				</div>
				<div class="uiText text_comment">
					<p><a href="${basePath}home/sns/othersPersonIndex.xhtml?memberid=$diary.memberid" target="_blank">$cacheMemberMap.get($diary.memberid).nickname</a> 评论 <a href="${basePath}drama/$!diaryNameMap.get($diary.id).id" target="_blank">《$!diaryNameMap.get($!diary.id).dramaname》</a></p>
					<p class="c666">$VmUtils.htmlabbr($!diary.summary, 50)...<a class="ml5" href="${basePath}blog/t$!diary.id" target="_blank">查看</a> </p>
				</div>
			</li>
			#end
		</ul>
	</div>
	<div class="tBg mt10 title"></div>
</div>
#end