<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>格瓦拉电影、影院搜索-$partner.partnername</title>
	<meta name="keywords" content="电影排片表查询,电影放映时间查询" />
	<meta name="description" content="近期各大影院上映电影的排片表、放映时间查询。" />
	<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=layout,play&v=$VmUtils.jsVersion"/>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util,page&v=$VmUtils.jsVersion"></script>
	<style type="text/css">
	.ui_layout{width:100%;}
	</style>
</head>
<body>#set($partnerFlag='anxin')
<div class="ui_layout" id="g-top">
	<iframe id="c_iframe" height="0″ width="" src="http://www.anxin1688.com/images/logo.gif" style="display:none" ></iframe>
	#parse('partner/opiList.vm')
</div>
<script type="text/javascript"> 
	var b_width = Math.max(document.body.scrollWidth,document.body.clientWidth); 
	var b_height = Math.max(document.body.scrollHeight,document.body.clientHeight); 
	var iframe = document.getElementById("c_iframe"); 
	iframe.src = iframe.src+"#"+b_width+"|"+b_height; 
</script>
<script type="text/javascript">
var pageCode="Showtimelist"
</script>
#parse('partner/googleGa.vm')
</body>
</html>