<data>
	<cinemaOpiList>
		#foreach($cinema in $resMapList)
		<cinemaOpi>
			#set($dateMpiMap = $cinemaDateMap.get($cinema.cinemaid))
			$!VmUtils.xmlOutput('', $cinema, $hasField, $fieldList)
			<cinemaDateList>
				#foreach($date in $dateMpiMap.keySet())
				#set($mpiList = $dateMpiMap.get($date))
				<dateinfo>
				<date>$!DateUtil.format($date,'MM月dd日') $!DateUtil.getCnWeek($date)</date>
				#foreach($mpi in $mpiList)
				<datempi>
					$!VmUtils.xmlOutput('', $mpi, $hasField, $fieldList)
				</datempi>
				#end
				</dateinfo>
				#end
			</cinemaDateList>
		</cinemaOpi>
		#end
		</cinemaOpiList>
</data>