<data>
	<movieLinkList>
		#foreach($ml in $movieLinkList)
			<movieLink>
				<name>$!ml.title</name>
				<tag>$!ml.tag</tag>
				<childMovieLinkList>
					#foreach($child in $childrenMovieLinkMap.get($ml.id))
					<childMovieLink>
						<name>$!child.title</name>
						<tag>$!child.tag</tag>	
					</childMovieLink>
					#end
				</childMovieLinkList>
			</movieLink>
		#end
	</movieLinkList>
</data>