<data>
	<pictureList>
	#foreach($picture in $pictureList)
	  <picture>
	     <id>$picture.id</id>
	     <picturename><![CDATA[$!picture.name]]></picturename>
	     <smallPictureUrl>${mobilePath}${picture.picturename}</smallPictureUrl>
	     <pictureUrl>${mobilePath}${picture.picturename}</pictureUrl>
	  </picture>
	#end
	</pictureList>
</data>