<data>
  <sport>
	<id>$sport.id</id>
	<name><![CDATA[$sport.name]]></name>
	<generalmark>$!sport.getGeneral()</generalmark>
 	<logo>${mobilePath}$sport.limg</logo>
 	<firstpic>#if($VmUtils.isNotBlank($sport.firstpic))${mobilePath}${sport.firstpic}#end</firstpic>
	<pointx>$!sport.pointx</pointx>
	<pointy>$!sport.pointy</pointy>
	<bpointx>$!sport.pointy</bpointx>
	<bpointy>$!sport.pointx</bpointy>
	<address><![CDATA[$!{sport.countyname}$!sport.address]]></address>
	<clickedtimes>$!sport.clickedtimes</clickedtimes>
	<collectedtimes>$!sport.collectedtimes</collectedtimes>
	<opentime>$!sport.opentime</opentime>
	<contactphone><![CDATA[$!sport.contactphone]]></contactphone>
	<transport><![CDATA[$!sport.transport]]></transport>
	<collectstatus>$!collectstatus</collectstatus>
	<bookstatus>$!booking</bookstatus>
	<otherinfo><![CDATA[$!sport.otherinfo]]></otherinfo>
	<content><![CDATA[$!VmUtils.getHtmlText($!sport.content,4000)]]></content>
	<itemList>
		#foreach($item in $itemList)
		<item>
	        <itemid>$!item.id</itemid>
	        <itemname><![CDATA[$!item.name]]></itemname>
	        <booking>$!itemBooingMap.get($item.id)</booking>
	    </item>
	    #end
	</itemList>
	<commentList>
		#foreach($comment in $commentList)
		<comment>
			<id>$!comment.id</id>
			<body><![CDATA[$!comment.body]]></body>
			<memberid>$!comment.memberid</memberid>
			<nickname>$!comment.nickname</nickname>
			<headpic>${mobilePath}$!cacheMemberMap.get($comment.memberid).headpicUrl</headpic>
			<brandname><![CDATA[$sport.name]]></brandname>
		</comment>
		#end
	</commentList>
	<memberList>
		#foreach($member in $infoList)
		<member>
			<memberid>$!member.id</memberid>
			<nickname>$!member.nickname</nickname>
			<headpic>${mobilePath}$!member.headpicUrl</headpic>
		</member>
		#end
	</memberList>
  </sport>
</data>
