<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	#parse('include/constant/cityParam.vm')
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>发表圈子帖子_格瓦拉生活网</title>
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=global,sns,commnu,bbs&v=$VmUtils.jsVersion"/>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util,base_home,Autocompleter&v=$VmUtils.jsVersion"></script>
	<script type="text/javascript" src="${staticPath}ckeditor/ckeditor.js"></script>
	#parse('home/community/commnu_style.vm')
	<style type="text/css">
		.plug .tales60 .text{height:20px;background-position:right -654px;width:500px;padding:8px 8px 7px 0;}
		.plug .tales60 .label{height:36px;background-position:0 -654px;padding:0px 0px 0px 8px;}
		.plug .tales60 .labelHover{background-position:0 -704px}
		.plug .tales60 .labelHover .text{background-position:right -704px}
		.plug .tales60 dd{font-size:12px;display: table-cell;vertical-align: middle;}
		.plug_tales dt{margin-top:0px;}
		.plugFooter{height:22px;padding:5px 10px;background:#eee;}
		.ui_80{padding-left:80px;}
		.ui_80 dt{float:left;margin-left:-80px;_margin-left:-40px;text-align: right;color:#666;width:76px;}
		.ui_80 dt b{display:block;margin:3px 8px 0 0;color:#333}
		.ui_80 dd{float:left;width:100%;overflow:hidden;}
		.ui_80 a{display: inline-block;width:auto;margin:0 6px 10px 0;}
		.plugpanel .line{position: relative;z-index: 2;width:100%;height:0px;}
		.textInfo{display:inline-block;margin-top:8px;float:left;margin-left:5px;}
		.gr-r,.gr-l{width:50%;}
		.plug_tales .button img,.ui_80 .button img{top:6px;left:auto;right:5px;background:url(home/c_del.png) no-repeat;width:7px;height:7px;}
		.plug_tales .button span,.ui_80 .button span{padding-right:16px;}
		.plug .tales60 .w120{width:128px;}
		.plug .tales60 .w120 .text{width:120px;}
		.cke_skin_chris{width:590px !important;border-bottom:1px solid #bbb;float:left;}
	</style>
</head>
<body>
#set($tag="home")#set($community=true) #set($communityTopic = true)
#set($communityTopic=true)
#set($cfgHeader='newUserHeader')#parse('include/home/newUserHeader.vm')
#parse('include/home/communityHeadMenu.vm')
<h1>发表圈子帖子</h1>
<div class="commnu_layout">
	<div class="commnu_left">
		<div class="showList commnu_bg_02 plug" style="margin-top:0px;">
			<div style="position: relative;z-index: 1">
				#if($isCommuMember)
				<form id="topicForm">
					<input type="hidden" id="id" name="id" value="$!{topic.id}" />
					<input type="hidden" id="summary" name="summary" value="" />
					<input type="hidden" name="communityid" value="$!VmUtils.escapeHtml($params.cid)" />
					<dl class="tales60 mt10">
						<dt>主题：</dt>
						<dd>
							<label class="text label"><input type="text" class="text" name="subject" id="titleName" mustTxt="请输入标题!" alt="请输入标题，最多不超过30字" value="$!VmUtils.escapeHtml($!topic.subject)"/></label>
						</dd>
					</dl>
					<dl class="tales60 plug_tales">
						#set($activity = $topic)
						<dt>类型：</dt>
						<dd>
							<select name="tp" class="switchDis">
								<option lang="" title="" value="2" #if($VmUtils.eq($!type,'2') || $VmUtils.isBlank($!type))selected="selected" #end>普通帖子</option>
								<option lang="cinema" title="影片/影院" value="1" #if($VmUtils.eq($type,'1') && $VmUtils.eq($activity.tag, 'cinema'))selected="selected" #end>影片评论</option>
								#if($cookieCitycode eq '310000')
								<option lang="gym" title="健身项目" value="1"  #if($VmUtils.eq($type,'1') && $VmUtils.eq($activity.tag, 'gym'))selected="selected" #end>健身心得</option>
								<option lang="sport" title="运动项目" value="1" #if($VmUtils.eq($type,'1') && $VmUtils.eq($activity.tag, 'sport'))selected="selected" #end>运动心得</option>
								#end
								<option lang="theatre" title="演出" value="1" #if($VmUtils.eq($type,'1') && $VmUtils.eq($activity.tag, 'theatre'))selected="selected" #end>演出评论</option>
							</select>
						</dd>
					</dl>
					<dl class="tales60 plug_tales" style="height:24px;overflow:hidden;position: relative;">
						<dt>关联：</dt>
						<dd id="toplug">
							<div>
								<label for="no0"><input type="radio" name="tag" class="switchDis" value="" id="no0" lang="" #if(!$activity.tag)checked="checked"#end/>不关联</label>
								#if($VmUtils.contains($cityOtherRelate,'movie'))<label class="ml10" for="no_cinema"><input name="tag"  class="switchDis" id="no_cinema" lang="cinema" title="影片/影院"  type="radio" value="cinema" #if($VmUtils.eq($activity.tag, 'cinema'))checked="checked"#end align="middle"/>电影</label>#end
								#if($VmUtils.contains($cityOtherRelate,'ktv'))<label class="ml10" for="no_ktv"><input name="tag"  class="switchDis" id="no_ktv" type="radio" lang="ktv" title="ktv场馆" value="ktv" #if($VmUtils.eq($activity.tag, 'ktv'))checked="checked"#end/>KTV</label>#end
								#if($VmUtils.contains($cityOtherRelate,'bar'))<label class="ml10" for="no_bar"><input name="tag"  class="switchDis" id="no_bar" type="radio" lang="bar" title="酒吧场馆" value="bar" #if($VmUtils.eq($activity.tag, 'bar'))checked="checked"#end/>酒吧</label>#end
								#if($VmUtils.contains($cityOtherRelate,'gym'))<label class="ml10" for="no_gym"><input name="tag"  class="switchDis" id="no_gym" type="radio" lang="gym" title="项目/场馆" value="gym" #if($VmUtils.eq($activity.tag, 'gym'))checked="checked"#end/>健身</label>#end
								#if($VmUtils.contains($cityOtherRelate,'sport'))<label class="ml10" for="no_sport"><input name="tag"  class="switchDis" id="no_sport" type="radio" lang="sport" title="项目/场馆" value="sport" #if($VmUtils.eq($activity.tag, 'sport'))checked="checked"#end/>运动</label>#end
								#if($VmUtils.contains($cityOtherRelate,'drama'))<label class="ml10" for="no_theatre"><input name="tag"  class="switchDis" id="no_theatre" type="radio" lang="theatre" title="演出场馆" value="theatre" #if($VmUtils.eq($activity.tag, 'theatre'))checked="checked"#end/>演出</label>#end
								#if($VmUtils.contains($cityOtherRelate,'activity'))<label class="ml10" for="no_activity"><input name="tag"  class="switchDis" id="no_activity" type="radio" lang="activity" title="活动" value="activity" #if($VmUtils.eq($activity.tag, 'activity'))checked="checked"#end/>活动</label>#end
							</div>
						</dd>
					</dl>
					#if(!$VmUtils.isEmptyList($commuTopicList))
					<dl class="tales60 plug_tales">
						<dt>话题板块:</dt>
						<dd>
							<select name="moderatorid">
								<option>普通话题</option>
								#foreach($commuTopic in $commuTopicList)
								<option #if($params.commutopicid eq $commuTopic.id) selected="selected" #end value="$!commuTopic.id">$!commuTopic.topicname</option>
								#end
							</select>
						</dd>
					</dl>
					#end
					<dl class="tales60 plug_tales">
						<dt>内容：</dt>
						<dd style="height:255px;">
							<textarea id="diarycontent" name="diarycontent" mustTxt="请输入内容!">$!{diaryBody}</textarea>
						</dd>
					</dl>
					#if(!$!params.did)
					<div class="tales60 plug_tales">
						<label for="withmicroblog"><input type="checkbox" name="withmicroblog" class="mr5" id="withmicroblog" value="1" />同时发表到“哇啦!”</label>
					</div>
					#end
					<dl class="tales60">
						<dt>验证码</dt>
						<dd>
							
							<input type="hidden" name="captchaId" id="captcha" />
							<label class="label text left" style="width:120px">
							<input type="text" class="text captcha" name="captcha" alt="点击获取" autocomplete="off"  id="captchaInput" size="18" style="width:120px" mustTxt="请输入验证码!" onfocus="GewaraUtil.refreshCaptcha('captcha');"/></label>
							<img id="captchaImg" src="${staticPath}css/images/blank.gif" class="ml10" style="cursor: pointer;vertical-align: middle;float:left;height:36px;" onclick="GewaraUtil.refreshCaptcha('captcha');" title="看不清楚，请点击换一张图片"/>
						</dd>
					</dl>
				</form>
				<div class="tales60 plug_tales">
					<label class="button bigBt"><input type="button" id="jsq" value="写好了，加上去" onclick="saveDiary();" /></label>
				</div>
				#else
				这个圈子为非公开圈子，你还没有加入这个圈子。
				#end
			</div>
		</div>
	</div>
	<div class="commnu_right">
		#parse('include/home/commuRightMenu.vm')
		#parse('include/home/commuRightList.vm')
	</div>
	<div class="height0"></div>
</div>
<script type="text/javascript">
var ckeditor;
window.addEvent('domready',function(){
	ckeditor = CKEDITOR.replace("diarycontent", {customConfig : '/ckeditor/gewaConfig.js'});
	ckeditor.on('paste',function(e){
		if($chk(e.data.html)){
			var data = this.getData();
			var htm = e.data.html;
			if(e.data.html.indexOf('data:image/') > 0){
				gewa.util.alert('图片不能直接粘贴，请点击图像上传！',function(){
					this.setData(data);
				}.bind(this));
			}else if((htm.indexOf('&lt;script&gt;') > 0 || htm.indexOf('<script>') > 0 )
			 && (htm.indexOf('&lt;style&gt;') > 0 || htm.indexOf('<style>') > 0)){
				gewa.util.alert('粘贴非法数据，请在文本中过滤后再进行粘贴！',function(){
					this.setData(data);
				}.bind(this));
			}
		}
	})
});
window.addEvent('domready',function(){
	gewaUtil.textOver('.text');
	updateModify();
});
function saveDiary(){
	$('diarycontent').value = ckeditor.getData();
	if(!GewaraUtil.baseValidForm('topicForm')) return false;
	el = $('jsq');
	el.disabled=true;
	checkLogin(true,function(){
		$('diarycontent').value=ckeditor.getData();
		gewa.util.mask({'element': el,'title':'正在提交，请稍等...'});
		var values = GewaraUtil.getValues("topicForm");
		
		var url = '${basePath}blog/saveDiary.xhtml';
		GewaraUtil.sendRequest(url, values, function(result){
			if(result.success){
				document.location = '${basePath}quan/getCommuDiaryList.xhtml?commuid='+result.retval;
			}else{
				if(result.msg) gewaUtil.alert(result.msg);
				else gewaUtil.alert("保存失败！");
				gewa.util.clearMask();
				el.disabled=false;
				GewaraUtil.refreshCaptcha('captcha');
			}
		});
	}, function(){el.disabled=false;});
}
function updateModify(){
	var defiend = new modifyDefiend('.switchDis',{'to':'toplug','cookieCitycode':'$!{cookieCitycode}'});
	var mapList = new Hash(),relList = new Hash(),catList = new Hash();
	var related = {'rel':'relatedid','id':'$!activity.relatedid','name':'','text':'$!relate.name','lang':'$!{activity.tag}'}
	var category = {'rel':'categoryid','id':'$!{activity.categoryid}','name':'$!{activity.category}','text':'$!{relate2.name}','lang':'#if(!$!activity.relatedid)$!{activity.tag}#end'}
	relList.extend(related);
	catList.extend(category);
	mapList.set(0,relList);
	mapList.set(1,catList);
	mapList.each(function(item){
		if(item.get('id'))defiend.reset(item);
	})
}
</script>
#parse('include/bottom.vm')
</body>
</html>