<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>银行列表</title>
	<link rel="stylesheet" type="text/css" href="${staticPath}css/layout.css"/>
	<link rel="stylesheet" type="text/css" href="${staticPath}css/bms.css?v=$VmUtils.jsVersion"/>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara-util.js"></script>
	<script type="text/javascript" src="${staticPath}dpicker/WdatePicker.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/sortableTable.js"></script>
</head>
<body class="ui_orange">
<div class="maintop">
	$!{gateway.gatewayName}（$!{gateway.gatewayCode}）&nbsp;&nbsp;
</div>
<div class="main">
    <div class="info">
      <table class="tablist mt10 " id="myTable" width="100%">
      	<tbody>
      		<tr class="trbg">
	  		     <td>银行名称</td>
	  		     <td>格瓦银行代码</td>
	  		     <td>银行类型</td>
	  		     <td>同步时间</td>
      		</tr>
      		#foreach($bank in $bankList)
      		<tr class="">
      	       	<td style="text-align: left">$!{bank.bankName}</td>
      	       	<td style="text-align: left">$!{bank.gwraBankCode}</td>
      	       	<td style="text-align: left">$!bankTypeKeyMap.get($!{bank.bankType})($!{bank.bankType})</td>
      	       	<td style="text-align: left">$!DateUtil.format($!{bank.updateTime},"yyyy-MM-dd HH:mm:ss")</td>
      		</tr>
      		#end
      	</tbody>
      </table>
    </div>
</div>
<div class="edit" id="bankDiv" style="display:none;">	
	
</div>
<script type="text/javascript">
	
</script>
</body>
</html>
