<div class="main">
    <div class="info">    	
		<form id="citymerForm">
      		<table class="tablist mt6 " width="100%" style="line-height: 20px">
		      	<tbody>
		      		<tr class="trbg">
		      	       	<td width="30%">参数</td>
		      	       	<td>值</td>
		      		</tr>
		      		<tr >
		      	       	<td style="text-align: left">区域类型</td>
		      	       	<td style="text-align: left">
		      	       		#if(!$VmUtils.isNull($!{citymer.id}))
		      	       		<input type="hidden" name="id" value="$!{citymer.id}"/>
		      	       		#end
		      	       		<input type="hidden" name="gatewayId" value="$!{gateway.id}"/>
		      	       		<select id="areaType" name="areaType" style="width:155px;" onchange="chaAreaType(this.value)">
		      	       			<option value="P" #if($VmUtils.eq('P',$!{citymer.areaType}))selected="selected"#end>省</option>
		      	       			<option value="C" #if($VmUtils.eq('C',$!{citymer.areaType}))selected="selected"#end>市</option>
				      	    </select>&nbsp;<font color="red">*</font>
		      	       	</td>
		      		</tr>
		      		<tr>
		      	       	<td style="text-align: left">省</td>
		      	       	<td style="text-align: left">
		      	       		<select id="provinceCode" name="provinceCode" style="width:155px;" onchange="chaProvince(this.value)">
		      	       		#foreach($province in $provinceList)
		      	       			<option value="$province.provincecode" #if($VmUtils.eq($province.provincecode,$!currentProvinceCode))selected="selected"#end>$province.provincename</option>
				      	    #end
				      		</select>&nbsp;<font color="red">*</font></td>		      	       	
		      		</tr>
		      		<tr>
		      	       	<td style="text-align: left">市</td>
		      	       	<td style="text-align: left">
		      	       		<select id="cityCode" name="cityCode" style="width:155px;" #if($VmUtils.isNull($!{citymer.areaType}) || $VmUtils.eq('P',$!{citymer.areaType}))disabled="disabled"#end>
		      	       		#foreach($city in $cityList)
		      	       			<option value="$city.citycode" #if($VmUtils.eq($city.citycode,$!currentCityCode))selected="selected"#end>$city.cityname</option>
				      	    #end
				      		</select>&nbsp;
		      		</tr>
		      		<tr>
		      	       	<td style="text-align: left">商户号标识</td>
		      	       	<td style="text-align: left">
		      	       		<select name="merchantCode" style="width:155px;">		      	       			
		      	       		#foreach($merchant in $merchantList)
		      	       			<option value="$merchant.merchantCode" #if($VmUtils.eq($merchant.merchantCode,$!{citymer.merchantCode}))selected="selected"#end>$!{merchant.merchantCode}</option>
				      	    #end
				      		</select>&nbsp;<font color="red">*</font></td>		      	       	
		      		</tr>
		      	</tbody>
      		</table>
      	</form>
    </div>
    <div style="padding-left:160px;">
    	<input type="button" onclick="javascript:saveCitymer();" value="&nbsp;保存&nbsp;">
    	<input type="button" onclick="javascript:closetc();" value="&nbsp;返回&nbsp;">
    </div>
</div>
<script type="text/javascript">
	
</script>
