<div class="mod_kong hotMovieList">
	<div class="mod_hd">
		<h2>热映购票排行榜</h2>
	</div>
	<div class="mod_bd">
		<ul>
		#foreach($movie in $rankMovieList)
			<li class="#if($foreach.count le 2)winner#end clear" style=" margin-top:-5px;">
				<span class="num">$foreach.count</span>
				<span class="point">$!movie.boughtcount购票</span>
				<p><a title="$!movie.moviename" target="_blank" href="${basePath}movie/$!movie.id">$!VmUtils.escabbr($!movie.moviename,60)</a></p>
			</li>
		#end
		</ul>
	</div>
</div>