<div class="index_left">
	<div class="leftNavBox" id="leftNavBox">
		<dl class="navMovie select clear" rel="movieBox" data-news="movieAc">
			<dt>
				<em></em>
				<a href="$!{basePath}movie" target="_blank">电影</a>
				<span id="keyNum_cinemaCount">$!{cinemaCount}家影院在线选座</span>
				<label rel="movieBox"><b></b></label>
			</dt>
			<dd>
				<ul class="leftNavTags clear">
					<li><a href="$!{basePath}movie/searchMovie.xhtml" target="_blank"><em class="a"></em><span>热映电影</span></a></li>
					<li><a href="$!{basePath}movie/futureMovie.xhtml" target="_blank"><em class="b"></em><span>即将上映</span></a></li>
					<li><a href="$!{basePath}$cityPinyin/cinemalist" target="_blank"><em class="c"></em><span>找影院</span></a></li>
					<li><a href="$!{basePath}activity/activityList.xhtml" target="_blank"><em class="d"></em><span>电影活动</span></a></li>
					<li><a href="$!{basePath}news/cinema" target="_blank"><em class="e"></em><span>电影资讯</span></a></li>
					<li><a href="$!{basePath}blog/movie?type=1" target="_blank"><em class="f"></em><span>读影评</span></a></li>
				</ul>
				<div id="movieAc" class="none">
					
				</div>
			</dd>
		</dl>
		#set($cityItemModule=$globalItemModuleMap.get($cookieCitycode))
		#if($VmUtils.contains($cityItemModule,'drama'))
		<dl class="navDrama clear" rel="dramaBox" data-news="dramaAc" data-tag="drama">
			<dt>
				<em></em>
				<a href="$!{basePath}drama" target="_blank">演出</a>
				<span id="keyNum_dramaCount">$!{dramaCount}个剧目正在上演</span>
				<label rel="dramaBox"><b></b></label>
			</dt>
			<dd>
				<ul class="leftNavTags clear">
					<li><a href="$!{basePath}drama/dramaList.xhtml?dramatype=drama" target="_blank"><em class="a"></em><span>话剧</span></a></li>
					<li><a href="$!{basePath}drama/dramaList.xhtml?dramatype=concert" target="_blank"><em class="b"></em><span>演唱会</span></a></li>
					<li><a href="$!{basePath}drama/dramaList.xhtml?dramatype=musicale" target="_blank"><em class="c"></em><span>音乐会</span></a></li>
					<li><a href="$!{basePath}drama/dramaList.xhtml?dramatype=show" target="_blank"><em class="d"></em><span>展会</span></a></li>
					<li><a href="$!{basePath}drama/dramaList.xhtml?dramatype=dance" target="_blank"><em class="e"></em><span>舞蹈</span></a></li>
					<li><a href="$!{basePath}drama/dramaList.xhtml?dramatype=acrobatics" target="_blank"><em class="f"></em><span>曲艺杂技</span></a></li>
					<li><a href="$!{basePath}drama/dramaList.xhtml?dramatype=race" target="_blank"><em class="g"></em><span>体育赛事</span></a></li>
					<li><a href="$!{basePath}drama/dramaList.xhtml?dramatype=attracticket" target="_blank"><em class="h"></em><span>景点门票</span></a></li>
				</ul>
				<div id="dramaAc">
				</div>
			</dd>
		</dl>
		#end
		<dl class="navSport clear" rel="sportBox" data-news="sportAc" data-tag="sport">
			<dt>
				<em></em>
				<a href="$!{basePath}sport" target="_blank">运动</a>
				<span id="keyNum_sportCount">$!{sportCount}家场馆在线预订</span>
				<label rel="sportBox"><b></b></label>
			</dt>
			<dd>
				<ul class="leftNavTags clear">
					<li><a href="$!{basePath}sport/sportList.xhtml" target="_blank"><em class="a"></em><span>运动馆</span></a></li>
					<li><a href="$!{basePath}sport/itemList.xhtml" target="_blank"><em class="b"></em><span>运动项目</span></a></li>
					#if($cookieCitycode eq '310000')
					<li><a href="$!{basePath}gym/searchGym.xhtml" target="_blank"><em class="c"></em><span>健身馆</span></a></li>
					<li><a href="$!{basePath}gym/courseList.xhtml" target="_blank"><em class="d"></em><span>健身项目</span></a></li>
					#end
					<li><a href="$!{basePath}sport/curriculumList.xhtml" target="_blank"><em class="e"></em><span>培训课程</span></a></li>
					#if(!($cookieCitycode eq '310000'))
					<li><a href="$!{basePath}news/sport" target="_blank"><em class="g"></em><span>运动资讯</span></a></li>
					<li><a href="$!{basePath}sport/itemDiaryList.xhtml" target="_blank"><em class="h"></em><span>运动心得</span></a></li>
					#end
					<li><a href="$!{basePath}activity/activityList.xhtml?tag=sg" target="_blank"><em class="i"></em><span>运动活动</span></a></li>
				</ul>
				<div id="sportAc">
				</div>
			</dd>
		</dl>
		<a href="${basePath}mobile/mobileMovie.xhtml" target="_blank" title="点击或扫描下载" class="app2wm">
			<img class="app2wm_tips" src="${staticPath}css/global/app2wm_big.gif" width="150" height="150" alt="二维码下载">
			<span class="fs14 mt10">扫描二维码下载</span>
			<span>格瓦拉客户端</span>
		</a>
	</div>
</div>