#if(!$VmUtils.isEmptyList($sportList))
<div class="mod_kong">
	<div class="mod_hd">
		<h2>周边场馆</h2>
	</div>
	<div class="mod_bd">
		<ul class="ui_list">
			#foreach($sport in $sportList)
						#set($gmark=$VmUtils.getSingleMarkStar($sport, "general")) #set($gmark1=$gmark/10) #set($gmark2=$gmark%10)
			<li class="left">
				<span class="right c9">$sport.clickedtimes关注</span>
				<a href="${basePath}sport/$!sport.id" target="_blank" title="$!sport.name" class="fs14 left">$!VmUtils.escabbr($sport.name, 12)</a>
				<span class="grade left">
					<sub style="margin:0;font-size:16px;">$gmark1</sub>
					<sup style="font-size:10px;">.$gmark2</sup>
				</span>
			</li>
			#end
		</ul>
	</div>
</div>
#end