#if(!$!VmUtils.isEmptyList($!gcList))
<div class="mod_kong">
	<div class="mod_hd">
		<h2>电影论坛</h2>
		<a href="${basePath}blog/cinema" class="more" target="_blank">更多</a>
	</div>
	<div class="mod_bd">
		<ul class="ui_list">
			#foreach($gc in $!gcList)
			#set($relate=$relatedHelper.getR1("gcList",$gc.id))
			#if(!$relate)
			#set($relate= $gc)
			#end
			<li>
				<a href="${basePath}blog/t${relate.id}" target="_blank" title="$!VmUtils.escabbr($!relate.subject,48)">
					$!VmUtils.escabbr($!relate.subject,48)
				</a>
			</li>
			#end
		</ul>
	</div>
</div>
#end