#if(!$VmUtils.isEmptyList($spdiscountList))
<div class="mod_kong movieSelas">
	<div class="mod_hd">
		<h2>影院优惠</h2>
	</div>
	<div class="mod_bd">
		<ul>
			#foreach($spdiscount in $spdiscountList)
				#if($foreach.count le 4)
				#if($spdiscount.distype eq 'percent')
				 	#set($discount=$!spdiscount.gainDiscount('true'))
				#else
				  #set($discount=$!spdiscount.discount)	
				#end
				<li #if($foreach.count gt 1)class="mt10"#end>
					<a title='$!spdiscount.getDiscountText($!spdiscount.bankname,"$!discount","$!spdiscount.rebates")' href="${basePath}cinema/searchOpi.xhtml?spkey=$spidMap.get($spdiscount.id)" target="_blank" >
						<em>$!spdiscount.gainDiscountType()</em>
						$!spdiscount.getDiscountText("$!spdiscount.bankname","$!discount","$!spdiscount.rebates")
					</a>
				</li>
			#end
			#end
			</ul>
	</div>
</div>
#end