<div class="mod_kong">
	<div class="mod_hd">
		<h2>一周热评榜</h2>
		<a href="http://www.gewara.com/blog/movie?type=1" class="more ffst" target="_blank">更多&gt;&gt;</a>
	</div>
	<div class="mod_bd">
		<ul>
			#foreach($diary in $recommendDiaryList)
			<li #if($foreach.count gt 1)class="mt30"#end>
				<dl class="ui_media">
					<dt class="ui_pic buyTick">
						<a href="${basePath}home/sns/othersPersonIndex.xhtml?memberid=$!diary.memberid" title="$!diary.replyname" target="_blank">
							<img src="$VmUtils.randomPic('cw50h50',$cacheMemberMap.get($diary.memberid).headpicUrl)" alt="$!diary.replyname" width="50" height="50"/>
						</a>
						#if($VmUtils.contains($diary.flag,'ticket'))
						<span class="ico_buyTicket"></span>
						#end
					</dt>
					<dd class="ui_text">
						<a href="${basePath}blog/t$diary.id" title="$diary.subject" target="_blank" class="fs14">$!VmUtils.escabbr($diary.subject,40)</a>
						<p class="mt10 c999">$!VmUtils.escabbr($diary.summary,60)...</p>
						<p class="mt10 c999">
							<a href="${basePath}home/sns/othersPersonIndex.xhtml?memberid=$!diary.memberid" target="_blank">$!cacheMemberMap.get($diary.memberid).nickname</a> 评  
							<a href="${basePath}movie/$!moveMap.get($diary.id).id" class="c333" title="$!moveMap.get($diary.id).moviename" target="_blank">$!moveMap.get($diary.id).moviename</a>
						</p>
					</dd>
				</dl>
			</li>
			#end
		</ul>
	</div>
</div>