#if($VmUtils.size($goodsList) gt 0)
<div class="partBg mt10" style="background:#fff;border-color:#bbb">
	<div class="title fc_b" style="background:url(${picPath}css/home/line_dot.gif) 0 bottom repeat-x;">你同时还可以选择购买以下套餐</div>
	#if($isChooseSeat)
	<ul class="percent_20 clear mt10">
		#foreach($goods in $goodsList)
		<li>
			<img src="${staticPath}css/images/blank.gif" style="background:url($VmUtils.randomPic('sw110h100',$!goods.limg)) center center no-repeat;" width="110" height="100" alt="$goods.goodsname" /><br/>
			<span class="brown">$goods.goodsname</span><br/>
			<span class="gray">影院价：￥$!goods.oriprice</span><br/>
			<span class="brown">现价：￥$goods.unitprice</span>
		</li>
		#end
	</ul>
	#else
	<ul class="percent_20 clear mt10">
		#foreach($goods in $goodsList)
		<li>
			<a href="${basePath}goods/buyGoods.xhtml?gid=$goods.id" target="_blank"  style="text-decoration: none !important">
			<img src="${staticPath}css/images/blank.gif" style="background:url($VmUtils.randomPic('sw110h100',$!goods.limg)) center center no-repeat;" width="110" height="100" alt="$goods.goodsname" /><br/>
			<span class="brown">$goods.goodsname</span><br/>
			<span class="gray">影院价：￥$!goods.oriprice</span><br/>
			<span class="brown">现价：￥$goods.unitprice</span>
			<span class="minBt redBt button"><span><em class="uc">我要购买</em></span></span>
			</a>
		</li>
		#end
	</ul>
	#end
</div>
#end