<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>知道回答审核</title>
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/container.css"></link>
	<link rel="stylesheet" type="text/css" href="${staticPath}styles/base.css"/>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara-util.js?v=${VmUtils.jsVersion}"></script>
</head>
<body>   
<div id="content">
<div class="bc1"></div>
<div id="content_left" style="width:98%;margin:auto;">
	<div class="panelTop"><em></em></div>
	<div class="panelMid">
	<table id="checktable" style="width:100%;" class="blogtable">
		<tr>
			<td>回答者ID</td><td>$!answer.memberid</td>
		</tr>
		<tr>
			<td>回答者名称</td><td>$!member.nickname</td>
		</tr>
		<tr>
			<td>回答内容</td><td>$!answer.content</td>
		</tr>
		<tr>
			<td>回答时间</td><td>$!DateUtil.formatTimestamp($!answer.addtime)</td>
		</tr>
	</table>
	</div><!-- end panelMid-->
	<div class="panelBot"><em></em></div>
</div><!-- end content_left -->
<div id="height0"></div>
</div><!--end content-->
<div id="panel_bottom"></div>
<div id="height0"></div>
</body>
</html>