<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>已删除的帖子列表_格瓦拉生活网</title>
	<style  type="text/css">
	.fck {border:1px dotted #000;text-align: left;}
	</style>
</head>
<body style="margin:auto;">
	<table style="width:100%;border:1px dotted #000;">
		<thead>
			<tr>
				<th style="border:1px dotted #000;text-align: left; width:10%;">标题</th>
				<th style="border:1px dotted #000;text-align: left; width:10%;">发布时间</th>
				<th style="border:1px dotted #000;text-align: left; width:50%;">内容</th>
				<th style="border:1px dotted #000;text-align: left; width:10%;">发表人</th>
				<th style="border:1px dotted #000;text-align: left; width:10%;">IP</th>
				<th style="border:1px dotted #000;text-align: left; width:10%;">手机</th>
			</tr>
		</thead>
		<tfoot>
			#foreach($diary in $diaryMapExpList) 
			<tr>
				<td class="fck">
					$!diary.subject
				</td>
				<td class="fck">
					$!DateUtil.format($diary.addtime, 'yyyy-MM-dd HH:mm:ss')
				</td>
				<td valign="middle" class="fck"  >
					$!VmUtils.getSrcString($!diary.diaryBody)
				</td>
				<td valign="middle" class="fck">
					$!diary.nickname
				</td>
				<td valign="middle" class="fck">
					$!diary.ip
				</td>
				<td valign="middle" class="fck">
					$!mobileExpMap.get($!diary.memberid)
				</td>
			</tr>
			#end
		</tfoot>
	</table>
</body>
</html>
