<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>已删除的点评列表_格瓦拉生活网</title>
</head>
<body style="margin:auto;">
	<table style="width:100%;border:1px dotted #000;">
		<thead>
			<tr>
				<th style="border:1px dotted #000;text-align: left; width:10%;">发布时间</th>
				<th style="border:1px dotted #000;text-align: left; width:60%;">内容</th>
				<th style="border:1px dotted #000;text-align: left; width:10%;">发表人</th>
				<th style="border:1px dotted #000;text-align: left; width:10%;">IP</th>
				<th style="border:1px dotted #000;text-align: left; width:10%;">手机</th>
			</tr>
		</thead>
		<tfoot>
			#foreach($comment in $commentExpList) 
			<tr>
				<td style="border:1px dotted #000;text-align: left; width:10%">
					$!DateUtil.format($comment.addtime, 'yyyy-MM-dd HH:mm:ss')
				</td>
				<td valign="middle"  style="border:1px dotted #000;text-align: left; width:60%">
					$!VmUtils.getSrcString($!comment.body)
				</td>
				<td valign="middle"  style="border:1px dotted #000;text-align: left; width:10%">
					$!comment.membername
				</td>
				<td valign="middle"  style="border:1px dotted #000;text-align: left; width:10%">
					$!comment.ip
				</td>
				<td valign="middle"  style="border:1px dotted #000;text-align: left; width:10%">
					$!mobileExpMap.get($!comment.memberid)
				</td>
			</tr>
			#end
		</tfoot>
	</table>
</body>
</html>