格瓦拉生活网管理员,你们好！<br/>
&nbsp;&nbsp;在$startTime到$endTime时间内，有以下异常购票用户
<table style="width:400px;border:1px dotted #000;">
  <tr>
    <th style="border:1px dotted #000;text-align: left;">用户ID</th>
    <th style="border:1px dotted #000;text-align: left;">订单号</th>
  </tr>
  #foreach($memberMap in $memberCountList)
  #set($tradeNoList=$memberMap.get("tradeNoList"))
  <tr>
    <td style="border:1px dotted #000;text-align: left;">
    	$memberMap.get('memberid')<br />
    	订单总数:$memberMap.get('num')
    </td>
    <td style="border:1px dotted #000;text-align: left;">
    	<table>
    	#foreach($tradeNo in $tradeNoList)
    		<tr><td>$tradeNo</td></tr>
    	#end
    	</table>
    </td>
  </tr>
  <tr>
  	<td colspan="2" style="border:1px dotted #000;text-align: left;"></td>
  </tr>
  #end
</table>