<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>编辑场次</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/default.css" />
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/container.css"></link>
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/button.css"></link>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara-util.js"></script>
	<style>
		label {display:inline-block;width:100px; text-align:right; padding:1px 0 1px 0; margin-top:3px;}
		input,textarea { width:500px; display:inline-block;}
	</style>
</head>
<body style="width:750px;margin:auto" class="yui-skin-sam">
<div id="mpiDialog" class="yui-panel" style="width:650px; margin: auto;">
	<div class="hd" id="title">编辑会员卡数据<span style="color:blue"></span></div>
	<div class="bd">
	<form name="tableDialog" id="tableForm" action="${basePath}admin/sport/open/memberCard/saveMct.xhtml" method="post">
		<input type="hidden" name="id" value="${mct.id}"/>
		<fieldset style="margin-top: 5px;height: 90px;">
			<legend class="yellow">价格设置</legend>
			<div>场&nbsp;馆&nbsp;价：$!mct.price</div>
			<div>格瓦卖价：<input type="text" name="gewaprice" value="$!mct.gewaprice" style="width: 100px;"/></div>
			<div>结算比率：<input type="text" name="costRate" value="$!mct.costRate" style="width: 50px;"/><strong>%</strong></div>
			<div>保底金额：<input type="text" name="mingain" value="$!mct.mingain" style="width: 100px;"/></div>
		</fieldset>
		#parse('include/pay/otherConfig.vm')
		#parse('include/pay/otherPayConfig.vm')
		<fieldset>
			<legend class="yellow">积分设定</legend>
			<div>
				<label>最少使用：</label>
				<input name="minpoint" value="$!mct.minpoint" style="width: 100px;"/>
			</div>
			<div>
				<label>最多使用：</label>
				<input name="maxpoint" value="$!mct.maxpoint" style="width: 100px;"/>
			</div>
		</fieldset>
		<fieldset style="margin-top: 30px;height: 45px;">
			<legend class="yellow">特价活动</legend>
			<div>活动标识：<input type="text" name="spflag" id="spflag" value="$!mct.spflag" style="width: 100px;"/>
			</div>
		</fieldset>
		<div>
			<label>说明：</label>
			<textarea rows="5" name="remark" id="remark">$!mct.remark</textarea>
		</div>
		<div>
			<label>&nbsp;</label>
			<input type="button" onclick="saveOtt(this)" class="button" style="width:100px" value="确定"/>
		</div>
	</form>
	</div>
</div>
<script type="text/javascript">
	function saveOtt(el){
		gewa.util.mask({'element': el,'title':'正在提交，请稍等...'});
		var values = GewaraUtil.getValues('tableForm', ",");
		GewaraUtil.sendRequest('${basePath}admin/sport/open/memberCard/saveMct.xhtml', values, function(result){
			if(result.success){
				refreshPage();
			}else {
				gewa.util.clearMask();
				alert(result.msg);
			}
		});
	}
	window.addEvent('domready',function(){
	});
</script>
</body>
</html>
