<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>运动订单处理</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" rel="stylesheet" href="${staticPath}css/admin.css?v=$VmUtils.jsVersion" />
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara-util.js"></script>
	<style type="text/css">
		.match{color:#fff;font-weight: bolder;background:#F47C30;padding:3px;}
		.shrink{height:22px;overflow:hidden;}
	</style>
</head>
<body>
<div style="margin-top: 10px;margin-left: 100px;">
<form action="${basePath}admin/sport/open/memberCard/msg.xhtml">
	模板内容：<input type="text" name="content" value="$!template.data" style="width: 800px;"/><br/>
	<input type="submit" value="提交"/>
</form>
</div>
</body>
</html>