<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>格瓦拉电影、影院搜索-$partner.partnername</title>
	<meta name="keywords" content="电影排片表查询,电影放映时间查询" />
	<meta name="description" content="近期各大影院上映电影的排片表、放映时间查询。" />
	<link rel="stylesheet" type="text/css" href="${basePath}css/gewara.css?n=global,sns,play,chinapay&v=$VmUtils.jsVersion"/>
	<script type="text/javascript" src="${basePath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${basePath}scripts/gewara.js?n=gewara-util,page&v=$VmUtils.jsVersion"></script>
	<style type="text/css">
		html{background:#fff;}
		.ui-layout{color:#5b1122}
		.gui-title,.strbt,.gouBt{background:url(${picPath}css/buss/subjectbuy.jpg);}
		.gui-title{background-repeat:repeat-x;height:22px;line-height:22px;color:#fff;text-indent:12px;font-size:14px;font-weight:bold;}
		.gui-more,.gui-more:hover{color:#fff;right:16px;text-decoration: underline;font-size:12px;line-height:20px;font-weight:normal;}
		.clear{padding:0 8px;}
		.p_130{overflow:hidden;margin-top:10px;padding-bottom:20px;}
		.p_130 dl{padding-left:132px;color:#992122;font-size:12px;}
		.p_130 dt{width:120px;height: 100%;overflow:hidden;text-align:center;float:left;margin-left:-124px;_margin-left:-62px;}
		.p_130 dd{width:100%;float:left;height: 100%;overflow:hidden;}
		.ticketBox{width:100%;overflow:hidden;}
		.ticketBox li{width:103px;_height:150px;line-height:24px;float:left;text-align:center;color:#fff;}
		.ticketBox div{height:24px;line-height:24px;background:#fff;color:#992122}
		.tdc div{font-weight:bold;}
		.tdc{width:60px !important;}
		.ticketBox div.bg_box{background:#ffae2e;color:#fff;}
		.sub-mode b{color:#ff6200}
		.bd_c{color:#0A420D;font-weight:bold}
		.bd_f{color:#fff;font-weight:bold}
		.strbt,.gouBt{display:inline-block;height:20px;width:64px;background-position:0 -21px;}
		.gouBt{background-position:0 bottom;width:68px;height:21px;}
		.ticketBox div.colo{color:#ec6513}
		.showLs{margin-top:10px;}
		.showLs li{width:20%;height:220px;overflow:hidden;text-align:center;float:left;}
	</style>
</head>
<body>
<div class="ui-layout">
	<div class="gui-title">抢票影院、场次</div>
	<div class="clear">
		<div class="p_130">
			<font color="red" style="font-size: 20px;"><b>本次抢票活动已结束！</b></font>
		</div>
	</div>
	<div class="gui-title">更多影片推荐<a href="${basePath}partner/chinapay/opiList.xhtml?encQryStr=${encQryStr}" class="gui-more">更多</a></div>
	<ul class="clear showLs">
		#foreach($movie in $movieList)
		<li>
			<a href="${basePath}partner/chinapay/opiList.xhtml?movieid=$movie.id&encQryStr=${encQryStr}">
			<img src="${basePath}sw96h128/${movie.limg}" class="img2"/></a>
			<br/>《$movie.name》<br/>
			<a href="${basePath}partner/chinapay/opiList.xhtml?movieid=$movie.id&encQryStr=${encQryStr}" class="gouBt"></a>
		</li>
		#end
	</ul>
</div>
<iframe id="c_iframe" name="c_iframe" height="0" src="https://bianmin.chinapay.com/SCWeb/pages/gwl/demo.html" style="display:none" ></iframe>
	<script type="text/javascript"> 
	var b_width = Math.max(document.body.scrollWidth,document.body.clientWidth); 
	var b_height = Math.max(document.body.scrollHeight,document.body.clientHeight); 
	var iframe = document.getElementById("c_iframe"); 
	iframe.src = iframe.src+"#"+b_width+"|"+b_height; 
</script>
</body>
</html>