#if(!$VmUtils.isEmptyList($commentList))
<ul class="ui_abeam list_wala mt20">
	#foreach($comment in $commentList)
	<li class="#if($foreach.count eq 1)mt0#end clear">
		<div class="uipic">
			<a title="$comment.nickname" target="_blank" href="${basePath}home/sns/othersPersonIndex.xhtml?memberid=$comment.memberid" class="picmin"><img width="30" height="30" src="$VmUtils.randomPic('cw30h30',$cacheMemberMap.get($comment.memberid).headpicUrl)"/></a>
		</div>
		<div class="uiText">
			<div class="switch_ui_inside">
				<div class="switch_plugs"><span class="pl"></span>
					<div class="switch_uis_t"><div class="switch_uis_t"></div></div>
					<div class="switch_uis_c">
						<div class="switch_uis_c">
							<div class="inner">
								<a target="_blank" href="${basePath}home/sns/othersPersonIndex.xhtml?memberid=$comment.memberid">$comment.nickname</a>：$!VmUtils.getWebBody($!VmUtils.subLastText("#",$!comment.body),$picPath)
								<div class="t">
									<span class="rtime">$DateUtil.getTimeDesc($comment.addtime) 来自$!comment.fromFlag</span>
								</div>
							</div>
						</div>
					</div>
					<div class="switch_uis_b"><div class="switch_uis_b"></div></div>
				</div>
			</div>
		</div>
	</li>
	#end
</ul>
#end