<data>
<movieList>
	#foreach($movie in $mpiList)
	<movie>
		<movieid>$!movie.id</movieid>
		<moviename>$!movie.moviename</moviename>
		<director>$!movie.director</director>
		<actors>$!movie.actors</actors>
		<logo>${picPath}sw300h300/$!movie.logo</logo>
		<smalllogo>${picPath}sw150h200/$!movie.logo</smalllogo>
		#set($mark=$VmUtils.getSingleMarkStar($movie,'general')) #set($mk1=$mark/10) #set($mk2=$mark%10)
		<generalmark>$mk1.$mk2</generalmark>
		<openingdate>$!DateUtil.format($!movie.releasedate, 'yyyy-MM-dd')</openingdate>
		<length>$!movie.length</length>
	</movie>
	#end
</movieList>
</data>