<data>
	<movie>
	<movieid>$!movie.id</movieid>
	<moviename>$!movie.name</moviename>
	<englishname><![CDATA[$!VmUtils.getHtmlText($!movie.englishname,500)]]></englishname>
	<generalmark>$!generalmark</generalmark>
	<language>$!movie.language</language>
	<type>$!movie.type</type>
	<state>$!movie.state</state>
	<director>$!movie.director</director>
	<actors>$!movie.actors</actors>
	<honor>$!movie.honor</honor>
	<length>$!movie.length</length>
	<content><![CDATA[$!VmUtils.getHtmlText($!movie.content,10000)]]></content>
	<hotvalue>$!movie.hotvalue</hotvalue>
	<logo>${picPath}sw300h300/$!movie.logo</logo>
	<smalllogo>${picPath}sw150h200/$!movie.logo</smalllogo>
	<releasedate>$!DateUtil.format(${movie.releasedate},"yyyy年M月d日")</releasedate>
	<cinemanum>$cinemaNum</cinemanum>
	<ordercinemanum>$!orderCinemaNum</ordercinemanum>
	</movie>
</data>