<data>
<cinemaList>
		#foreach($cinema in $cinemaList)
		<cinema>
			<cinemaid>$!cinema.id</cinemaid>
			<cinemaname>$!cinema.name</cinemaname>
			<address>$!cinema.city.cityname<![CDATA[$!VmUtils.getHtmlText($!{cinema.address},10000)]]></address>
			<pointx>$!cinema.pointx</pointx>
			<pointy>$!cinema.pointy</pointy>
			<open>#if($isOpenMap.get($!cinema.id))1#{else}0#end</open>
		</cinema>	
		#end
</cinemaList>
</data>