<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	#parse('include/constant/cityParam.vm')
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="robots" content="noindex" />
	<title>#if($!params.did)编辑#else发表#end话题-格瓦拉</title>
	<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=layout,wala&v=$VmUtils.jsVersion"/>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util,page&v=$VmUtils.jsVersion"></script>
	<script type="text/javascript" src="${staticPath}ckeditor/ckeditor.js"></script>	
</head>
<body class="plug">
#set($istopic=true)#set($isbbs=true)
#set($cfgHeader='header')#parse('include/navigation.vm')
#parse('include/constant/cityParam.vm')
#set($titleMap={"cinema":"电影","movie":"电影","gym":"健身","gymcourse":"健身","sport":"运动","sportservice":"运动","ktv":"KTV","bar":"酒吧","theatre":"话剧","drama":"话剧"})
<div class="ui_layout">
	<div class="crumbs">
		<a href="${basePath}">格瓦拉生活网</a><span class="m5">»</span>
		<a href="${basePath}blog/">论坛</a><span class="m5">»</span>
		<span>发表主题</span>
		<span class="gr-r" style="width:100%"></span>
	</div>
	<div class="ui_left">
		<div class="inner">
			<h1 class="modifyH1">发表主题</h1>
			<form id="topicForm">
			<input type="hidden" id="id" name="id" value="$!{topic.id}" />
			<dl class="tales60 mt10">
				<dt>主题：</dt>
				<dd>
					<label class="text label"><input type="text" class="text" name="subject" id="titleName" mustTxt="请输入标题!" alt="请输入标题，最多不超过30字" value="$!VmUtils.escapeHtml($!topic.subject)"/></label>
				</dd>
			</dl>
			<dl class="tales60 plug_tales">
				#set($activity = $topic)
				<dt>类型：</dt>
				<dd>
					<select name="tp" class="switchDis">
						<option lang="" title="" value="2" #if($VmUtils.eq($!type,'2') || $VmUtils.isBlank($!type))selected="selected" #end>普通帖子</option>
						<option lang="cinema" title="影片/影院" value="1" #if($VmUtils.eq($type,'1') && $VmUtils.eq($activity.tag, 'cinema'))selected="selected" #end>影片评论</option>
						#if($VmUtils.contains($cityItemModule,'sport'))
						<option lang="sport" title="运动项目" value="1" #if($VmUtils.eq($type,'1') && $VmUtils.eq($activity.tag, 'sport'))selected="selected" #end>运动心得</option>
						#end
						#if($cookieCitycode eq '310000')
						<option lang="gym" title="健身项目" value="1"  #if($VmUtils.eq($type,'1') && $VmUtils.eq($activity.tag, 'gym'))selected="selected" #end>健身心得</option>
						#end
						#if($VmUtils.contains($cityItemModule,'drama'))
						<option lang="theatre" title="演出" value="1" #if($VmUtils.eq($type,'1') && $VmUtils.eq($activity.tag, 'theatre'))selected="selected" #end>演出评论</option>
						#end
					</select>
				</dd>
			</dl>
			<dl class="tales60 plug_tales" style="height:24px;overflow:hidden;position: relative;">
				<dt>关联：</dt>
				<dd id="toplug">
					<div>
						<label for="no0"><input type="radio" name="tag" class="switchDis" value="" id="no0" lang="" #if(!$activity.tag)checked="checked"#end/>不关联</label>
						#if($VmUtils.contains($cityOtherRelate,'movie'))<label class="ml10" for="no_cinema"><input name="tag"  class="switchDis" id="no_cinema" lang="cinema" title="影片/影院"  type="radio" value="cinema" #if($VmUtils.eq($activity.tag, 'cinema'))checked="checked"#end align="middle"/>电影</label>#end
						#if($VmUtils.contains($cityOtherRelate,'ktv'))<label class="ml10" for="no_ktv"><input name="tag"  class="switchDis" id="no_ktv" type="radio" lang="ktv" title="ktv场馆" value="ktv" #if($VmUtils.eq($activity.tag, 'ktv'))checked="checked"#end/>KTV</label>#end
						#if($VmUtils.contains($cityOtherRelate,'bar'))<label class="ml10" for="no_bar"><input name="tag"  class="switchDis" id="no_bar" type="radio" lang="bar" title="酒吧场馆" value="bar" #if($VmUtils.eq($activity.tag, 'bar'))checked="checked"#end/>酒吧</label>#end
						#if($VmUtils.contains($cityOtherRelate,'gym'))<label class="ml10" for="no_gym"><input name="tag"  class="switchDis" id="no_gym" type="radio" lang="gym" title="项目/场馆" value="gym" #if($VmUtils.eq($activity.tag, 'gym'))checked="checked"#end/>健身</label>#end
						#if($VmUtils.contains($cityOtherRelate,'sport'))<label class="ml10" for="no_sport"><input name="tag"  class="switchDis" id="no_sport" type="radio" lang="sport" title="项目/场馆" value="sport" #if($VmUtils.eq($activity.tag, 'sport'))checked="checked"#end/>运动</label>#end
						#if($VmUtils.contains($cityOtherRelate,'drama'))<label class="ml10" for="no_theatre"><input name="tag"  class="switchDis" id="no_theatre" type="radio" lang="theatre" title="演出场馆" value="theatre" #if($VmUtils.eq($activity.tag, 'theatre'))checked="checked"#end/>演出</label>#end
						#if($VmUtils.contains($cityOtherRelate,'activity'))<label class="ml10" for="no_activity"><input name="tag"  class="switchDis" id="no_activity" type="radio" lang="activity" title="活动" value="activity" #if($VmUtils.eq($activity.tag, 'activity'))checked="checked"#end/>活动</label>#end
					</div>
				</dd>
			</dl>
			<dl class="tales60 plug_tales" style="height: 260px;">
				<dt>内容：</dt>
				<dd>
					<textarea id="diarycontent" name="diarycontent" mustTxt="请输入内容!">$!{diaryBody}</textarea>
				</dd>
			</dl>
			#if(!$!params.did)
			<div class="tales60 plug_tales">
				<label for="withmicroblog"><input type="checkbox" name="withmicroblog" class="mr5" id="withmicroblog" value="1" />同时发表到“哇啦!”</label>
			</div>
			#end
			<dl class="tales60">
				<dt>验证码</dt>
				<dd>
					<input type="hidden" name="captchaId" id="captcha" />
					<label class="label text left" style="width:120px">
					<input type="text" class="text captcha" name="captcha" alt="点击获取" autocomplete="off"  id="captchaInput" size="18" style="width:120px" mustTxt="请输入验证码!" onfocus="GewaraUtil.refreshCaptcha('captcha');"/></label>
					<img id="captchaImg" src="${staticPath}css/images/blank.gif" class="ml10" style="cursor: pointer;vertical-align: middle;float:left;height:36px;" onclick="GewaraUtil.refreshCaptcha('captcha')" title="看不清楚，请点击换一张图片"/>
				</dd>
			</dl>
			<div class="tales60 plug_tales">
				<label class="button bigBt"><input type="button" value="写好了，加上去" onclick="commentOrDiary(this);" /></label>
			</div>
			</form>
		</div>
	</div>
	<div class="ui_right">
		<div class="inner">
			<div class="fs14">哪些内容格瓦拉不欢迎</div>
			<div class="mt10">
				<p>1、广告内容</p>
				<p>2、涉及政治敏感信息</p>
				<p>3、对他人进行人身攻击的内容(包括不文明用语和任何形式的挑衅,侮辱等)</p>
				<p>4、灌水,与主题毫无关系的内容</p>
				<p>5、违反互联网电子公告服务管理规定的内容</p>
			</div>
		</div>
	</div>
</div>
<div id="dailog_topic" style="display:none">
	<div class="fs14">很抱歉，你发表的影评没有达到字数要求！</div>
	<div class="ml20">点击“确认”发表到一句话影评；</div>
	<div class="ml20">点击“忽略”继续发表影评；</div>
	<div class="ml20">点击“取消”返回重新编辑内容</div>
	<div class="mt10 tar clear title">
		<label class="button whiteBt minBt"><input type="button"  onclick="releaseComment();" value="确认"/></label>
		<label class="button whiteBt minBt ml10"><input type="button"  onclick="saveDiary();" value="忽略"/></label>
		<label class="button whiteBt minBt ml10 mr10"><input type="button"  onclick="hidenTitle();" value="取消"/></label>
	</div>
</div>

<script type="text/javascript">
var ckeditor;
window.addEvent('domready',function(){
	ckeditor = CKEDITOR.replace("diarycontent", {customConfig : '/ckeditor/gewaConfig.js',width:590});
	ckeditor.on('paste',function(e){
		if($chk(e.data.html)){
			var data = this.getData();
			var htm = e.data.html;
			if(e.data.html.indexOf('data:image/') > 0){
				gewa.util.alert('图片不能直接粘贴，请点击图像上传！',function(){
					this.setData(data);
				}.bind(this));
			}else if((htm.indexOf('&lt;script&gt;') > 0 || htm.indexOf('<script>') > 0 )
			 && (htm.indexOf('&lt;style&gt;') > 0 || htm.indexOf('<style>') > 0)){
				gewa.util.alert('粘贴非法数据，请在文本中过滤后再进行粘贴！',function(){
					this.setData(data);
				}.bind(this));
			}
		}
	})
	gewaUtil.textOver('.text');
	updateModify();
});
function updateModify(){
	var defiend = new modifyDefiend('.switchDis',{'to':'toplug','cookieCitycode':'$!{cookieCitycode}'});
	var mapList = new Hash(),relList = new Hash(),catList = new Hash();
	var related = {'rel':'relatedid','id':'$!topic.relatedid','name':'','text':'$!relate.name','lang':'$!{topic.tag}'}
	var category = {'rel':'categoryid','id':'$!{topic.categoryid}','name':'$!{topic.category}','text':'$!{relate2.name}','lang':'#if(!$!topic.relatedid)$!{topic.tag}#end'}
	relList.extend(related);
	catList.extend(category);
	mapList.set(0,relList);
	mapList.set(1,catList);
	mapList.each(function(item){
		if(item.get('id'))defiend.reset(item);
	})
}
function commentOrDiary(el){
	$('diarycontent').value = ckeditor.getData();
	if(!GewaraUtil.baseValidForm('topicForm')) return false;
	var values = GewaraUtil.getValues('topicForm');
	if(checkImg($('diarycontent').value)){
		saveDiary(el);
	}else{
		if($defined(values.categoryid) && $equals(values.tag, 'cinema') && GewaraUtil.isNotNull(values.categoryid) && $('diarycontent').value.length<100){
			gewa.util.maskContent('','dailog_topic','格瓦拉提示：',430,'notTitle');
		}else saveDiary(el);
	}
}

function checkImg(value){
	var regimg=/<img/;
	var remflash=/<object/;
	return (value.match(regimg)!=null)||(value.match(remflash)!=null);
}

function saveDiary(el){
	if(gewa.util.container['notTitle'])gewa.util.container['notTitle'].dispose('notTitle');
	var tag='$!topic.tag';
	checkLogin(true,function(){
		gewa.util.mask({'element':el,'title':'正在提交，请稍等...'});
		var values = GewaraUtil.getValues("topicForm");
		if(typeof(values.relatedid) == 'undefined'){
			values.relatedid = '';
		}
		if(typeof(values.category) == 'undefined'){
			values.category = '';
		}
		if(typeof(values.categoryid) == 'undefined'){
			values.categoryid = '';
		}
		var url = '${basePath}blog/saveDiary.xhtml';
		GewaraUtil.sendRequest(url, values, function(result){
			if(result.success){
				document.location = '${basePath}blog/' + tag;
				if(result.msg) gewaUtil.alert(result.msg);
			}else{
				if(result.retcode){
					if(result.retcode == '403'){
						gewaUtil.alert(result.retmsg, function(){gotoURL(result.returl)});
					}
				}else{
					badEggAlert(result.msg);
					GewaraUtil.refreshCaptcha('captcha');
					gewaUtil.alert(result.msg);
					GewaraUtil.unmask();
				}
			}
		});
	});
}
function badEggAlert(status){
	if(status == '1'){
		gewaUtil.alert('您的发表体验机会已用完，完善账户信息就可以使用哇啦、站内信、活动、知道、论坛的所有功能啦！', function(){gotoURL('${basePath}home/acct/safetyCenter.xhtml')});
	}else if(status == '7'){
		gewaUtil.alert('您的发表体验机会已用完，确认您的邮件地址就可以使用哇啦、站内信、活动、知道、论坛的所有功能啦！', function(){gotoURL('${basePath}home/acct/safetyCenter.xhtml')});
	}else if(status == '0'){
		gewaUtil.alert('非法请求！');
	}else if(status == '51'){
		gewaUtil.alert('操作过于频繁！');
	}
	if(status =='1' || status=='7' || status == '0' || status == '51'){
		GewaraUtil.refreshCaptcha('captcha');
		GewaraUtil.unmask();
		return;
	}
}
function releaseComment(){
	var valuesdata = GewaraUtil.getValues('topicForm');
	if(gewa.util.container['notTitle'])gewa.util.container['notTitle'].dispose('notTitle');
	if(!GewaraUtil.isNotNull(valuesdata.categoryid)){
		gewaUtil.alert('发表一句话没有关联电影!');
		return false;
	}
	checkLogin(true,function(){
		var url="${basePath}ajax/common/addComment.xhtml";
		var values = {'commentText':$('diarycontent').value,'relatedid':valuesdata.categoryid,'tag':valuesdata.category};
		GewaraUtil.mask();
		GewaraUtil.sendRequest(url, values, function(result){
			GewaraUtil.unmask();
			if(result.success){
				document.location='${basePath}movie/'+valuesdata.categoryid+'/diarylist?myOrder=oneComment';
			}else{
				gewaUtil.alert(result.msg);
			}
		});
	});
}

function hidenTitle(){
	if(gewa.util.container['notTitle'])gewa.util.container['notTitle'].dispose('notTitle');
}
</script>
#parse('include/bottom.vm')
</body>
</html>
