<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>$!{params.movienames}5元抢票幸运网友名单</title>
	<meta name="keywords" content=""/>
	<meta name="description" content="格瓦拉生活网5元抢票活动，抢票名单"/>
	<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=global&v=$VmUtils.jsVersion"/>
	<link rel="stylesheet" type="text/css" href="${staticPath}styles/ac.css?v=$VmUtils.jsVersion"/>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util&v=$VmUtils.jsVersion"></script>
</head>
<body class="c">
#set($cfgHeader='header')#parse('include/navigation.vm')

<h1>$!{params.movienames}5元抢票名单</h1>
<div class="sub-box">
	<em class="m1"></em><em class="m2"></em>
	<div class="m">
		<h2><strong class="white">$!{params.movienames}5元抢票部分瓦友名单</strong></h2>
		<ul class="ul-25-img">
			#foreach($order in $orderList)
			#set($member=$memberMap.get($order.id))
			#set($cinemaname=$cinemaMap.get($order.id))
			#set($room=$roomMap.get($order.id))
			<li>
				<div class="wd30"><a href="${basePath}home/sns/othersPersonIndex.xhtml?memberid=$member.id" class="pubpic" target="_blank"><img src="${staticPath}css/images/blank.gif" style="background:url($VmUtils.randomPic('cw50h50',$cacheMemberMap.get($member.id).headpicUrl)) center center no-repeat;"/></a></div>
				<div class="wd70"><strong><a href="${basePath}home/sns/othersPersonIndex.xhtml?memberid=$member.id" class="white" target="_blank">$member.nickname</a></strong><br/>#if($order.mobile.length() eq 11)$order.mobile.substring(0,4)****$order.mobile.substring(8,11)#end<br/>${cinemaname}${room}</div>
			</li>
			#end
		</ul>
	</div>
	<em class="m2"></em><em class="m1"></em>
</div>
#parse('include/bottom.vm')
</body>
</html>