<div class="right"><a href="${basePath}admin/blog/commendpic.xhtml">推荐图片</a>&nbsp;|&nbsp;</div>
<div class="right"><a href="${basePath}admin/blog/topMemberListByPoint.xhtml">用户经验值排行</a>&nbsp;|&nbsp;</div>
<div class="right"><a href="${basePath}admin/blog/topMemberListByAnswer.xhtml">用户回答数量排行</a>&nbsp;|&nbsp;</div>
<div class="right"><a href="${basePath}admin/blog/topMemberListByBestAnswer.xhtml">用户最佳答案排行</a>&nbsp;|&nbsp;</div>
<div class="right"><a href="${basePath}admin/blog/qaExpertList.xhtml">专家信息</a>&nbsp;|&nbsp;</div>
<div class="right"><a href="${basePath}admin/blog/qaList.xhtml">问答数据</a>&nbsp;|&nbsp;</div>
<div class="right"><a href="${basePath}admin/blog/qaHotDataList.xhtml?hotvalue=30000">热门数据</a></div>
<div class="right"><a href="${basePath}admin/blog/qaHotDataList.xhtml?hotvalue=50000">推荐数据</a>&nbsp;|&nbsp;</div>