<div id="selectArea" class="selectOptions">
	#foreach($map in $countyListMap)
	#set($r=$map.get('relatedid')+'')
	#set($sportlist=$sportMap.get($r))
	#if($sportlist.size() ne 0)
	<a href="${basePath}sport/sportList.xhtml?countycode=$!map.get('relatedid')" #if($foreach.index eq 0)class="select"#set($curCode=$!map.get('relatedid'))#end rel="$map.get('relatedid')">$map.get('title')</a>
	#end
	#end
</div>
#foreach($map in $countyListMap)
#set($r=$map.get('relatedid')+'')
#set($sportlist=$sportMap.get($r))
#if($sportlist.size() ne 0)
<dl class="inner" config="$map.get('relatedid')" #if($map.get('relatedid') ne $curCode)style="display:none;"#end>
	<dt>
	$map.get('title')
	</dt>
	<dd>
		#foreach($sportm in $sportlist)
		<span>
			<a href="${basePath}sport/$!sportm.id" title="$!sportm.name">$VmUtils.escabbr($!sportm.name, 26)</a>
		</span>
		#end
	</dd>
</dl>
#end
#end