<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>选座购票-$partner.partnername</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=layout,play&v=$VmUtils.jsVersion"/>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util&v=$VmUtils.jsVersion"></script>
	<style type="text/css">
		html{background:#fff;}
		#set($maxwidth=40+22*$room.ranknum)
		#content{ width: ${maxwidth}px;}
		.title{height:24px;}
		.horn .m,.horn .m1,.horn .m2{border-color:#EFEFEF}
		.horn .m{background:#FAFBFC;}
		.horn .m1{background:#efefef}
		.pewBg,.pewNo{background:#D9E8F6;border-color:#356ba8}
		.verticalC .inner{margin:0 0 0 40%;width:50%;border:0px;padding-left:50px;background:url("${picPath}css/home/bg.gif") repeat-y}
		.verticalC .pewGroup{padding:0px;}
		.verticalBuy{color:#666;}
		.verticalL{width:37.5%;}
		.payOrder li div.select{color:#045FA5;border-bottom-color:#045FA5}
		.payOrder li,.payOrder{height:32px;}
		.divp50{height:100%;padding-left:400px;margin-top:10px;clear: both;color:#666;}
		.divp50Inner{float:left;width:330px;padding-left:20px;margin-left:-400px;_margin-left:-200px;}
		.divp50 li{line-height:24px;}
		.divp50 li h2{font-weight:bold;color:#333;font-size:12px;}
		.sureBt,.returnBt{display:inlin-block;height:28px;line-height:28px;font-size:14px;font-weight:bold;color:#fff;text-align:center;background:url(${picPath}css/buss/cmwifi_bt.png) no-repeat;border:0px;cursor: pointer;}
		.sureBt{width:85px;background-position:0 -1px;margin-right:30px;}
		.returnBt{width:51px;background-position:0 -33px;color:#045FA5}
		.pews,.pewSettle strong, .verticalL strong{color:#045FA5}
		.gewaT{
			height:50px;
			line-height:22px;
			padding:10px;
			background:#D9E8F6 url(${staticPath}css/buss/cmwifiLogo.png) 20px 2px no-repeat;
			font-size:12px;
			color:#045FA5;
			position: relative;
			margin:0 auto;
			z-index: 9;
		}
		.gewaT .p{position: absolute;bottom:5px;left:84px;width:660px;}
		.gewaT .more{position: absolute;bottom:6px;right:10px;top:auto;}
		.gewaT .gocity{width:40px;height:30px;line-height:34px;padding:0 26px 0 4px;display:inline-block;position: absolute;left:160px;top:7px;cursor: pointer;text-align:center;overflow:hidden;color:#333;font-weight:bold;font-size:14px;font-family: '宋体'}
		.dot{padding-left:8px;background:url(${picPath}css/home/dot.gif) 0 center no-repeat;color:#045FA5}
		.gocitypanel{visibility:hidden;background:#fff;box-shadow:#90b1cf 3px 3px 3px;position: absolute;z-index:99;border:2px solid #90b1cf;top:0;left:0}
		.gocitypanel .inner{padding:12px;}
		.gocitypanel .scity{padding:0 0 4px 60px;border-bottom:1px dotted #dfd7cb;}
		.gocitypanel .scityT{display:inline-block;width:50px;float:left;text-align:right;margin-left:-60px;_margin-left:-30px;margin-top:4px;color:#333}
		.gocitypanel .scityC{float:left;width:100%;text-align:left;}
		.gocitypanel a{display: inline-block;height: 20px;line-height: 20px;padding: 0 8px;color:#045fa5;text-decoration: none !important;margin:4px 4px 0 0;_margin:4px 2px 0 0;}
		.gocitypanel a:hover,.gocitypanel a.select {background: #045fa5;color: #fff;}
		.cmwifinotice{width:290px;height:40px;line-height:46px;padding:0 50px 0 10px;background:url(${picPath}css/buss/cmwifinotice.png) no-repeat;overflow:hidden;position: absolute;z-index: 1;left:162px;top:41px;}
	</style>
</head>
<body>
#set($page='pointpark/opiList')
#parse('partner/citiyLink.vm')
<div class="ui_layout" style="width:940px;">
	<div class="gewaT">
		<span class="gocity" id="areaTrigger">$!cookieCityname</span>
		<div class="p">
			<span class="left">
				<!--  <a href="http://club.bankcomm.com/customer/index.html" class="dot" target="_blank">每单立减6元，每周可享一次优惠</a> -->
			</span>
		</div>
		<span class="more">在线选座购票服务由格瓦拉生活网提供</span>
	</div>
	<ul class="payOrder" id="top">
		<li style="margin-right:8px;">
			<div class="step_order_inner">1、选择电影场次</div>
		</li>
		<li style="margin-right:8px;"><div class="step_order_inner select">2、选择座位<img src="${picPath}css/buss/cmwifi_ioc.png"/></div></li>
		<li style="margin-right:8px;"><div class="step_order_inner">3、确认订单，支付</div></li>
		<li><div class="step_order_inner">4、完成购票</div></li>
	</ul>
	<div class="mt10 horn">
		<em class="m1"></em><em class="m2"></em>
		<div class="m">
			<div class="inner">
				<table cellpadding="0" cellspacing="0" width="100%">
					<tr>
						<td width="34%">
							<dl class="ui_abeam">
								<dt class="uipic">
									<img src="$VmUtils.randomPic('sw60h80',${movie.limg})" alt="$movie.moviename"/>
								</dt>
								<dd class="uiText">
									<p>影片：《$movie.moviename》</p>
									<p>语言：$!{opi.language}(仅供参考)</p>
									#if(${opi.edition})<p>版本：$!{opi.edition}</p>#end
								</dd>
							</dl>
						</td>
						<td width="33%" valign="top">
							<p>影院：${cinema.name}</p>
							<p class="fs14"><b>场次：</b><b class="yellow">$DateUtil.format($opi.playtime,"yyyy-MM-dd HH:mm")（$DateUtil.getCnWeek($opi.playtime)）</b></p>
							<p>放映厅：$room.roomname</p>
						</td>
						<td valign="top">
							<p>影院价：${opi.price}元</p>
							<p>票价：<b class="yellow fs14">#set($price=$priceHelper.getPrice($opi))$price元</b>#set($fufee=$opi.gewaprice - $opi.costprice)(含格瓦拉服务费#if($fufee gt 0)${fufee}#{else}0#{end}元)</p>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<em class="m2"></em><em class="m1"></em>
		</div>
		<div class="pewGroup">
			<div class="roomView">
				<div class="inner clear pewBg">
					<div class="roomView hasScoll" id="seatTable">
						<div class="pewDemo">
							<b class="b">选择座位</b>
							<span><img src="${staticPath}css/images/blank.gif" class="hasSeat" align="middle"/>可选位置</span>
							<span><img src="${staticPath}css/images/blank.gif" class="sellSeat" align="middle"/>已售位置</span>
							<span><img src="${staticPath}css/images/blank.gif" class="checkSeat" align="middle"/>您已选的位置</span>
							<span><b style="color:green">1、2</b>：情侣座第1、2个座位</span>
						</div>
						<div class="wrapper" id="wrapper">
							#set($maxwidth=22+22*$room.ranknum)
							#set($pewHeight=$room.linenum*25)
							#set($rowList=$VmUtils.split($room.seatmap,"@@"))
							<div id="wrapped" style="width: #if(${maxwidth} gt 640)${maxwidth}px;#else 640px #end;margin:0 auto;overflow:visible;">
								<div class="room_screen" style="width: #if(${maxwidth} gt 600) ${maxwidth}px; #else 600px;#end;">${opi.cinemaname}$room.roomname银幕#if($!{room.screenwidth})长$!{room.screenwidth}m #end #if($!{room.screenheight})高$!{room.screenheight}m#end</div>
								<div class="seatlist" style="margin:0 auto;width:${maxwidth}px">
									#set($classMap={'O':'noSeat','A':'hasSeat'})
									#foreach($row in $rowList)
									<dl class="clear">
										#foreach($rank in $VmUtils.split($row, ","))
										<dd><div class="$classMap.get($rank)"></div></dd>
										#end
									</dl>
									#end
								</div>
							</div>
						</div>
					</div>
					<div class="verticalBuy">
						<div class="verticalC">
							<div class="inner">
								<div class="pewGroup" style="margin-top:0px;">
									<div class="pewStepTitle"><b>输入用于取票的手机号码</b></div>
									#set($seatidList=[])
									#if($VmUtils.size($mySeatList) gt 0)#foreach($oseat in $mySeatList)#set($tmp=$seatidList.add($oseat.id))#end#end
									<form id="orderForm" method="post">
										<input type="hidden" name="memberid" id="memberid" value="$!memberid"/>
										<input type="hidden" name="citydes" id="citydes" value="$!citydes"/>
										<input type="hidden" name="ppmid" id="ppmid" #if($!params.ppmid)value="$!params.ppmid"#{else}value="$!ppmid"#end/>
										<input type="hidden" name="mpid" id="mpid" value="${opi.mpid}"/>
										<input type="hidden" name="seatid" id="seatList" value="$!VmUtils.join($seatidList,',')"/>
										<ul>
											<li>
												#if($mobile)
												<input type="hidden" class="g-pubinput validate['required','digit']" name="mobile" id="mobile" value="$!mobile"/>
												#else
												<label for="mobile">接收手机号：</label><input type="text" class="text validate['required','digit']" name="mobile" id="mobile" size="18" value="$!params.mobile" style="width:130px"/><span class="yellow">*</span></li>
												#end
											<li><span class="ml30 black">接收都是免费的，不会产生任何费用</span></li>
											<li class="mt5"><label for="captcha">输入验证码：</label>
											<input type="text" class="text" name="captcha" id="partnercaptchaInput" size="18" style="width:130px"/><span class="yellow">*</span>
											#set($captchaId=$VmUtils.randomCaptchaId)
											<input type="hidden" name="captchaId" id="partnercaptcha" value="$!captchaId"/>
											</li>
											<li class="mt5 clear">
												<div style="height:55px;width:120px;overflow: hidden;margin-left:74px;_margin-left:32px;float:left">
													<img id="partnercaptchaImg" src="${basePath}captcha.xhtml?captchaId=$!captchaId&r=$math.random" style="cursor: pointer;" onclick="GewaraUtil.refreshCaptcha('partnercaptcha')" title="看不清楚，请双击换一张图片"/>
												</div>
												<div class="blue left" onclick="GewaraUtil.refreshCaptcha('partnercaptcha')" style="cursor: pointer;">看不清楚</div>
												<div id="height0"></div>
											</li>
											<li class="mt5">
												<input id="disBtn" type="button" class="sureBt ml30" onclick="submitOrder();" value="立即购买"/><input type="button" class="returnBt" onclick="window.history.go(-1);" value="返回"/>
												<div style="margin-top:10px;line-height:20px;"><strong style="color: #FF6200;">注</strong>：<b style="color: #FF6200;">点击“立即购买”后，系统将为您锁定座位15分钟。</b></div>
											</li>
										</ul>
									</form>
								</div>
							</div>
						</div>
						<div class="verticalL">
							<p><b id="yes">#if($VmUtils.size($mySeatList) gt 0)您选择的座位#else您尚未选座 #end</b><span id="no" #if($VmUtils.size($mySeatList) gt 0) class="none" #end>请在<strong class="m5">上面座位图</strong>选择座位，每笔订单最多可购5张电影票！</span></p>
							<div id="selectedSeat">
								#set($seatidList=[])
								#if($VmUtils.size($mySeatList) gt 0)
								#foreach($oseat in $mySeatList)#set($tmp=$seatidList.add($oseat.id))
								<div class="pews" id="s$oseat.id" style="position: inherit">${oseat.seatLabel}$price元</div>
								#end #end
							</div>
							<div class="cls"></div>
							<p class="fs14">您已选购<strong class="m5" id="seatNum">$VmUtils.size($!mySeatList)</strong>张电影票</p>
						</div>
					</div>
				</div>
				<div class="divp50">
					<ul class="divp50Inner">
						<li><h2>使用说明：</h2></li>
						<li>1、查看座位编码，请将鼠标移至相应座位上；</li>
						<li>2、选择座位，请用鼠标左键单击该座位；</li>
						<li>3、每笔订单最多可选购$!{opi.gainLockSeat()}张电影票；</li>
						<li>4、选座时，请尽量选择相邻座位，请不要留下单个座位；</li>
						<li>5、点击“立即购买”进入付款页面后，请在15分钟内完成支付，超时系统将释放您选定的座位。</li>
					</ul>
					<ul>
						<li><h2>格瓦拉在线选座购票系统让您</h2></li>
						<li>1、无须在影院排队买票；</li>
						<li>2、直观选择最佳座位；</li>
						<li>3、专享优惠的影票价格；</li>
						<li>4、专业设备影院快捷自助取票；</li>
						<li>5、享受优质的服务体验。</li>
					</ul>
				</div>
			</div>
		</div>
</div>
<form id="submitForm" target="_top" method="post"></form>
<script type="text/javascript">
	#set($seatidList=[])
	#if($VmUtils.size($mySeatList) gt 0)#foreach($oseat in $mySeatList)#set($tmp=$seatidList.add($oseat.id))#end#end
	#if($VmUtils.size($seatidList) gt 0)#set($jsSeatList="'" +$!VmUtils.join($seatidList,"','") + "'")#end

	var selectedSeat=[$!jsSeatList];
	window.addEvent('domready', function(){
		refreshSeat();
	});
	function refreshSeat(){
		gewa.util.mask({'element': "seatTable",'title':'正在查询数据...', "opacity":"0.4"});
		#set($price=$priceHelper.getPrice($opi))
		var values={'mpid':$opi.mpid, 'partnerid':$partner.id, 'price':'$price'};
		var url="${basePath}partner/$partner.partnerpath/seatPage.xhtml"
		GewaraUtil.sendLoad('seatTable', url, values, function(result){
			gewa.util.clearMask();
			if(!result.success){
				var msg = result.json.msg;
				gewa.util.maskContent("seatTable", '<span style="cursor:pointer">'+msg+'</span>');
			}
		})
	}
	function submitOrder(){
		var err = "",val=$("mobile").value.trim();
		if($("seatList").value.trim()=="") err = "请先选择座位！";
		if(val == ""){err += "请输入您的手机号码！"}
		if((!isNumber(val) || val.length != 11) && val != "") err += "请输入正确的手机号码！";
		if(err.length>0){gewaUtil.alert(err); return;}
		gewa.util.mask({'element': "orderForm",'title':'正在提交，请稍等...'});
		var values = GewaraUtil.getValues($("orderForm"));
		var url = '${basePath}partner/${partner.partnerpath}/addOrder.xhtml';
		GewaraUtil.sendRequest(url, values, function(result){
			gewa.util.clearMask();
			if(result.success){
				document.location = '${basePath}partner/${partner.partnerpath}/showOrder.xhtml?orderId='+result.retval+"&citydes=$!citydes";
			}else {
				alert(result.msg);
				GewaraUtil.refreshCaptcha('partnercaptcha');
			}
		});
	}
	function isNumber(str){return /^\d+$/.test(str);}
</script>
<script type="text/javascript">
var pageCode="step1.shtml"
</script>
#parse('partner/googleGa.vm')
</body>
</html>