<div class="title mt20"><h2>$!right.title</h2><span class="linet"></span></div>
<ul class="ul_24 ul_dot mt5">
	#foreach($zhidao in $RzhidaoList)
	<li><a href="$!zhidao.newslink" target="_blank">$!zhidao.newstitle</a></li>
	#end
</ul>
#if($VmUtils.isNotBlank($!right.newslink))
<div class="tar"><a href="$!right.newslink" target="_blank">更多»</a></div>
#end