#*列表式新闻*#
<div class="title mt20"><h2>$!left.title</h2><span class="linet"></span></div>
#foreach($news in $!Lxinwen03List)
<div class="new_List">
	<a href="$!news.newslink" class="brown fs14 bold">$!news.newstitle</a>
	<span class="gray ml20">#*<span>作者： Gewara</span><span class="ml10">发表时间：2011-08-30</span>*#</span>
	<ul class="ui_abeam">
		<li>
			<div class="uipic">
				<a href="$!news.newslink">
				<img width="160" height="120" style="background:url($VmUtils.randomPic('',$!news.newslogo)) 0 center no-repeat;" src="${staticPath}css/images/blank.gif"/></a>
			</div>
			<div class="uiText">$VmUtils.getText($news.newssubject)……<a href="$!news.newslink" class="brown">(全文)</a></div>
		</li>
	</ul>
</div>
#end
#if($VmUtils.isNotBlank($!left.newslink))
<div class="tar mt10"><a href="$!left.newslink" target="_blank">更多»</a></div>
#end