#*大背景新闻*#
<div class="plugNews" id="objectContainer">
	#if($VmUtils.size($Lxinwen01List) gt 0)
	#set($firstNews=$Lxinwen01List.get(0))
	<a href="$!firstNews.newslink" target="_blank"><img src="$VmUtils.randomPic('',$!firstNews.newslogo)" class="choiceImg"/></a>
	<div class="choiceOutside">
		<div class="choiceInside">
			<div id="objWohin">
				<h2><a href="$!firstNews.newslink" target="_blank">$!firstNews.newstitle</a></h2>
				<p>$!VmUtils.htmlabbr($firstNews.newssubject, 120)</p>
			</div>
			<ul id="objWoher">
				#foreach($news in $!Lxinwen01List)
				<li style="background:url($VmUtils.randomPic('',$!news.newssmalllogo)) center center no-repeat;" lang="$VmUtils.randomPic('',$news.newslogo)">
					<h2><a href="$!news.newslink" target="_blank">$!news.newstitle</a></h2>
					<p>$!VmUtils.htmlabbr($news.newssubject, 120)</p>
				</li>
				#end
			</ul>
			<span class="choiceNave"><span></span></span>
		</div>
	</div>
	#end
</div>
<script type="text/javascript">
window.addEvent('domready',function(){new objectSolid('objectContainer','objWoher','objWohin',{'width':88});})
</script>