<div class="title"><h2>$!top.title</h2><span class="linet"></span></div>
<ul class="percent_16">
	#foreach($juzhao in $Tjuzhao2List)
	<li>
		<a href="#if($VmUtils.isNotBlank($juzhao.newslink)) $juzhao.newslink #else $VmUtils.randomPic('',$!juzhao.newslogo) #end" class="img" target="_blank" #if($VmUtils.isBlank($juzhao.newslink)) id="box$juzhao.get('_id')" rel="lightbox[galerie]" #end ><img src="${staticPath}css/images/blank.gif" style="background:url($VmUtils.randomPic('cw120h160',$!juzhao.newslogo)) 0 center no-repeat;" width="120" height="160"/></a>
		<span>$!juzhao.newstitle</span>
	</li>
	#end
</ul>
#if($VmUtils.isNotBlank($!top.newslink))
<div class="tar mt5"><a href="$!top.newslink" target="_blank">更多»</a></div>
#end
