#*图片模板*#
<div class="title mt20"><h2>$!left.title</h2><span class="linet"></span></div>
<ul class="percent_25">
	#foreach($juzhao in $LjuzhaoList)
	<li>
		<a href="#if($VmUtils.isNotBlank($juzhao.newslink)) $juzhao.newslink #else javascript:void(0); #end" class="img" #if($VmUtils.isNotBlank($juzhao.newslink)) target="_blank" #end ><img src="${staticPath}css/images/blank.gif" style="background:url($VmUtils.randomPic('',$!juzhao.newslogo)) 0 center no-repeat;" width="142" height="106"/></a>
		<span>$!juzhao.newstitle</span>
	</li>
	#end
</ul>
#if($VmUtils.isNotBlank($!left.newslink))
<div class="tar"><a href="$!left.newslink" target="_blank">更多»</a></div>
#end