<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/default.css" />
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/container.css"></link>
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/button.css"></link>
	<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=admin&v=$VmUtils.jsVersion"/>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara-util.js?v=${VmUtils.jsVersion}"></script>
	<title>商户列表</title>
</head>
<body style="width:100%;margin:auto" class="yui-skin-sam">
	<div style="margin:5px 0 5px 0;">
		<a href="${basePath}admin/merchant/modifyMerchant.xhtml">增加商户</a>
	</div>
	<table class="table" id="merchants">
		<thead><tr>
			<th>用户名</th>
			<th>角色</th>
			<th>是否启用</th>
			<th>公司名称</th>
			<th>影院类型</th>
			<th>增加时间</th>
			<th>操作</th>
			<th style="width:420px;">场馆名称</th>
		</tr></thead>
		<tbody>
		#foreach($merchant in $merchantList)
		<tr>
			<td>${merchant.loginname}|${merchant.mername}</td>
			<td>${merchant.roles}</td>
			<td>#if($merchant.enabled)已启用#else 已禁用 #end</td>
			<td title="${brandMap.get($merchant.id)}">${merchant.company}</td>
			<td>${merchant.opentype}</td>
			<td>${merchant.addtime}</td>
			<td><a href="${basePath}admin/merchant/modifyMerchant.xhtml?mid=${merchant.id}" target="_blank">商户设置</a></td>
			<td><div style="width:400px;">${nameMap.get($merchant.id)}</div></td>
		</tr>
		#end
		</tbody>
	</table>
</body>
</html>
