#parse('include/constant/paybank.vm')
#set($bankPayList=[])
#foreach($confPay in $confPayList)
	#set($bankicon=$PAYBANK_MAP.get($confPay.name))
	#if($VmUtils.isNotBlank($bankicon))
		#set($bicoll=$VmUtils.split($bankicon, ","))
		#set($tmp=$bankPayList.add("$bicoll[0],$bicoll[1],$confPay.paymethod,$bicoll[1]"))
	#end
#end

#set($isPaySimple=false)

#set($addBankMap={"directPay:CCB":"中国建设银行,icon_jsyh,directPay:CCB,yhzfbjh"})
#set($tmp=$addBankMap.put("ccbposPay","中国建设银行,icon_jsyh,ccbposPay,yhzfbjh"))
#set($tmp=$addBankMap.put("hzbankPay:02","杭州银行,icon_hzyh,hzbankPay:02,hzbankPay"))
#set($tmp=$addBankMap.put("psbcPay:02","储蓄银行,icon_yz,psbcPay:02,psbcPay"))
#set($tmp=$addBankMap.put("spdPay_activity","浦发银行,icon_pfyh,spdPay_activity,spdPay_activity"))
#set($tmp=$addBankMap.put("pnrfastPay:Cl","华夏银行,icon_hxyh,pnrfastPay:Cl,pnrfastPayhx"))
#set($tmp=$addBankMap.put("unionPayFast","银联2.0认证支付,icon_kj,unionPayFast,unionPayFashero"))
#set($tmp=$addBankMap.put("unionPayFast:CCB","中国建设银行,icon_jsyh,unionPayFast:CCB,unionPayFashjs"))
#set($tmp=$addBankMap.put("unionPayFast:ICBC","工商银行,icon_gsyh,unionPayFast:ICBC,unionPayFashgsyh"))
#set($tmp=$addBankMap.put("unionPayFast:CEB","光大银行,icon_gdyh,unionPayFast:CEB,unionPayFashgd"))
#set($tmp=$addBankMap.put("unionPayFast:CIB","兴业银行,icon_xyyh,unionPayFast:CIB,unionPayFashxy"))
#set($tmp=$addBankMap.put("unionPayFast:GDB","广发银行,icon_gfyh,unionPayFast:GDB,unionPayFashgf"))
#set($tmp=$addBankMap.put("unionPayFast:PABASFB","平安银行和深发展银行,icon_payh,unionPayFast:PABASFB,unionPayFastPAandSFZ"))
#set($tmp=$addBankMap.put("unionPayFast:HXB","华夏银行,icon_hxyh,unionPayFast:HXB,unionPayFashx"))
#set($tmp=$addBankMap.put("unionPayFast:BOC","中国银行,icon_zgyh,unionPayFast:BOC,unionPayFastzh"))
#set($tmp=$addBankMap.put("unionPayFast:CMB","招商银行,icon_zsyh,unionPayFast:CMB,unionPayFastzs"))
#set($tmp=$addBankMap.put("unionPayFast:ABC","中国农业银行,icon_nyyh,unionPayFast:ABC,unionPayFastnyyh"))
#set($tmp=$addBankMap.put("unionPayFast:CQRCB","重庆农商银行,icon_cqnsyh,unionPayFast:CQRCB,unionPayFastcqnsyh"))
#set($tmp=$addBankMap.put("unionPayFast:WZCB","温州银行,icon_wzyh,unionPayFast:WZCB,unionPayFastwzyh"))
#set($tmp=$addBankMap.put("unionPayFast:ZDCB","渣打银行,icon_zdyh,unionPayFast:ZDCB,unionPayFastzdyh"))
#set($tmp=$addBankMap.put("unionPayFast:SRCB","上海农商银行,icon_shnsyh,unionPayFast:SRCB,unionPayFastsrcb"))
#set($tmp=$addBankMap.put("unionPayFast:PSBC","中国邮政储蓄,icon_yz,unionPayFast:PSBC,unionPayFastpsbc"))
#set($tmp=$addBankMap.put("unionPayFast:PAB","平安银行,icon_payh,unionPayFast:PAB,unionPayFastALLPAB"))
#set($tmp=$addBankMap.put("unionPayFast_activity_js","江苏银联活动2.0认证支付,icon_kj,unionPayFast_activity_js,unionPayFastAJS"))
#set($tmp=$addBankMap.put("unionPayFast_activity_js:BOC","中国银行,icon_zgyh,unionPayFast_activity_js:BOC,unionPayFastJSzh"))
#set($tmp=$addBankMap.put("unionPayFast_activity_js:ZDCB","渣打银行,icon_zdyh,unionPayFast_activity_js:ZDCB,unionPayFastJSzdyh"))
#set($tmp=$addBankMap.put("unionPayFast_activity_js:SRCB","上海农商银行,icon_shnsyh,unionPayFast_activity_js:SRCB,unionPayFastJSsrcb"))
#set($tmp=$addBankMap.put("unionPayFast_activity_js:PSBC","中国邮政储蓄,icon_yz,unionPayFast_activity_js:PSBC,unionPayFastJSpsbc"))
#set($tmp=$addBankMap.put("unionPayFast_activity_js:CCB","中国建设银行,icon_jsyh,unionPayFast_activity_js:CCB,unionPayFastJSjs"))
#set($tmp=$addBankMap.put("unionPayFast_activity_js:PAB","平安银行,icon_payh,unionPayFast_activity_js:PAB,unionPayFastJSPAB"))
#set($tmp=$addBankMap.put("unionPayFast_activity_bj","北京银联活动2.0认证支付,icon_kj,unionPayFast_activity_bj,unionPayFastBJ"))
#set($tmp=$addBankMap.put("unionPayFast_activity_bj:ZDCB","渣打银行,icon_zdyh,unionPayFast_activity_bj:ZDCB,unionPayFastBJzdyh"))
#set($tmp=$addBankMap.put("unionPayFast_activity_bj:SRCB","上海农商银行,icon_shnsyh,unionPayFast_activity_bj:SRCB,unionPayFastBJsrcb"))
#set($tmp=$addBankMap.put("unionPayFast_activity_bj:PSBC","中国邮政储蓄,icon_yz,unionPayFast_activity_bj:PSBC,unionPayFastBJpsbc"))
#set($tmp=$addBankMap.put("unionPayFast_activity_bj:PAB","平安银行,icon_payh,unionPayFast_activity_bj:PAB,unionPayFastBJPAB"))
#set($tmp=$addBankMap.put("unionPayFast_activity_sz","深圳银联活动2.0认证支付,icon_kj,unionPayFast_activity_sz,unionPayFastSZ"))
#set($tmp=$addBankMap.put("unionPayFast_activity_sz:PAB","平安银行,icon_payh,unionPayFast_activity_sz:PAB,unionPayFastGZPAB"))
#set($tmp=$addBankMap.put("unionPayFast_activity_sz:ZDCB","渣打银行,icon_zdyh,unionPayFast_activity_sz:ZDCB,unionPayFastSZzdyh"))
#set($tmp=$addBankMap.put("unionPayFast_activity_sz:SRCB","上海农商银行,icon_shnsyh,unionPayFast_activity_sz:SRCB,unionPayFastSZsrcb"))
#set($tmp=$addBankMap.put("unionPayFast_activity_sz:PSBC","中国邮政储蓄,icon_yz,unionPayFast_activity_sz:PSBC,unionPayFastSZpsbc"))
#set($tmp=$addBankMap.put("unionPayFast_activity_gz","广州银联活动2.0认证支付,icon_kj,unionPayFast_activity_gz,unionPayFastGZ"))
#set($tmp=$addBankMap.put("unionPayFast_activity_gz:BOC","中国银行,icon_zgyh,unionPayFast_activity_gz:BOC,unionPayFastGZBOC"))
#set($tmp=$addBankMap.put("unionPayFast_activity_gz:ICBC","工商银行,icon_gsyh,unionPayFast_activity_gz:ICBC,unionPayFastGZICBC"))
#set($tmp=$addBankMap.put("unionPayFast_activity_gz:CMB","招商银行,icon_zsyh,unionPayFast_activity_gz:CMB,unionPayFastGZzs"))
#set($tmp=$addBankMap.put("unionPayFast_activity_gz:GDB","广发银行,icon_gfyh,unionPayFast_activity_gz:GDB,unionPayFastGZgf"))
#set($tmp=$addBankMap.put("unionPayFast_activity_gz:ZDCB","渣打银行,icon_zdyh,unionPayFast_activity_gz:ZDCB,unionPayFastGZzdyh"))
#set($tmp=$addBankMap.put("unionPayFast_activity_gz:SRCB","上海农商银行,icon_shnsyh,unionPayFast_activity_gz:SRCB,unionPayFastGZsrcb"))
#set($tmp=$addBankMap.put("unionPayFast_activity_gz:PSBC","中国邮政储蓄,icon_yz,unionPayFast_activity_gz:PSBC,unionPayFastGZpsbc"))
#set($tmp=$addBankMap.put("unionPayFast_activity_gz:CCB","中国建设银行,icon_jsyh,unionPayFast_activity_gz:CCB,unionPayFastgzjs"))
#set($tmp=$addBankMap.put("unionPayFast_activity_gz:PAB","平安银行,icon_payh,unionPayFast_activity_gz:PAB,unionPayFastGZAAPAB"))
#set($tmp=$addBankMap.put("unionPayFast_activity_zj","浙江银联2.0认证支付,icon_kj,unionPayFast_activity_zj,unionPayFastZJ"))
#set($tmp=$addBankMap.put("unionPayFast_activity_zj:ZDCB","渣打银行,icon_zdyh,unionPayFast_activity_zj:ZDCB,unionPayFastZJzdyh"))
#set($tmp=$addBankMap.put("unionPayFast_activity_zj:SRCB","上海农商银行,icon_shnsyh,unionPayFast_activity_zj:SRCB,unionPayFastZJsrcb"))
#set($tmp=$addBankMap.put("unionPayFast_activity_zj:PSBC","中国邮政储蓄,icon_yz,unionPayFast_activity_zj:PSBC,unionPayFastZJpsbc"))
#set($tmp=$addBankMap.put("unionPayFast_activity_zj:PAB","平安银行,icon_payh,unionPayFast_activity_zj:PAB,unionPayFastZJAPAB"))
#set($tmp=$addBankMap.put("directPay:KJCEB","光大银行,icon_gdyh,directPay:KJCEB,directPayKJCEB"))
#set($tmp=$addBankMap.put("pnrfastPay2:CE","中国建设银行,icon_jsyh,pnrfastPay2:CE,pnrfastPay2jh"))
#set($tmp=$addBankMap.put("pnrfastPay2:T1","中国建设银行,icon_jsyh,pnrfastPay2:T1,pnrfastPay2jh"))
#set($tmp=$addBankMap.put("pnrfastabcPay","中国农业银行,icon_nyyh,pnrfastabcPay,pnrfastabcPay"))
#set($tmp=$addBankMap.put("directPay:KJABC","中国农业银行,icon_nyyh,directPay:KJABC,directPayKJABC"))
#set($tmp=$addBankMap.put("directPay:MOABC-EXPRESS-CREDIT","中国农业银行,icon_nyyh,directPay:MOABC-EXPRESS-CREDIT,directPayMOABC-EXPRESS-CREDIT"))
#set($tmp=$addBankMap.put("directPay:MOHXBANK-EXPRESS-CREDIT","华夏银行,icon_hxyh,directPay:MOHXBANK-EXPRESS-CREDIT,directPayMOHXBANK-EXPRESS-CREDIT"))
#set($tmp=$addBankMap.put("directPay:KJABC","中国农业银行,icon_nyyh,directPay:KJABC,directPayKJABC"))
#set($tmp=$addBankMap.put("cmPay:ABC","中国农业银行,icon_nyyh,cmPay:ABC,cmPayABC"))
#set($tmp=$addBankMap.put("directPay:KJQZ","支付宝快捷支付,icon_direct,directPay:KJQZ,directPayKJQZ"))

#set($tmp=$addBankMap.put("yeePay:AllScore-NET","奥斯卡,icon_ask,yeePay:AllScore-NET,yeePayasn"))
#set($tmp=$addBankMap.put("yeePay:Aixin-NET","爱心卡,icon_aixin,yeePay:Aixin-NET,yeePayAxi"))
#set($tmp=$addBankMap.put("yeePay:Zhongfutong-NET","城市通卡,icon_zft,yeePay:Zhongfutong-NET,yeePaycst"))
#set($tmp=$addBankMap.put("yeePay:Yitong-NET","1039易通卡,icon_yitong,yeePay:Yitong-NET,yeePayyitong"))
#set($tmp=$addBankMap.put("yeePay:Edenred-NET","雅高e卡,icon_edenred,yeePay:Edenred-NET,yeePayedenred"))
#set($tmp=$addBankMap.put("yeePay:Ybt-NET","中欣银宝通卡,icon_ybtnet,yeePay:Ybt-NET,yeePayybt"))
#set($tmp=$addBankMap.put("yeePay:Yikahui-NET","壹卡会,icon_yikahui,yeePay:Yikahui-NET,yeePayyikahui"))
#set($tmp=$addBankMap.put("yeePay:Bohaiyisheng-NET","易生如意卡,icon_yisheng,yeePay:Bohaiyisheng-NET,yeePayyisheng"))
#set($tmp=$addBankMap.put("yeePay:Shangmeng-NET","商盟统统付,icon_shangmeng,yeePay:Shangmeng-NET,yeePayshangmeng"))
#set($tmp=$addBankMap.put("yeePay:Slsy-NET","商联商用,icon_slsy,yeePay:Slsy-NET,yeePayslsy"))
#set($tmp=$addBankMap.put("yeePay:Dazhong-NET","大众e通卡,icon_dazhong,yeePay:Dazhong-NET,yeePaydazhong"))
#set($tmp=$addBankMap.put("yeePay:JXJiaofeitong-NET","江西缴费通卡,icon_jxjft,yeePay:JXJiaofeitong-NET,yeePayjxjft"))

#if($addBankMap[$paymethod])#set($tmp=$bankPayList.add($addBankMap[$paymethod]))#end
#foreach($paymethodDiscount in $valHelp.paymethodList)
	#if($paymethodDiscount ne $paymethod && $addBankMap[$paymethodDiscount])
		#set($tmp=$bankPayList.add($addBankMap[$paymethodDiscount]))
	#end
#end