<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Expires" content="0" />    
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="Pragma" content="no-cache" />    
	<title>选择支付方式_格瓦拉生活网</title>
	<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=layout,new_play&v=$VmUtils.jsVersion"/>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util,page&v=$VmUtils.jsVersion"></script>
	<style type="text/css">
		.payBox_body_left{width:677px; _width:673px;}
		.msgBtBox{height:23px;padding:5px 0;width:100%;overflow:hidden;background:#F8F8F8;}
		.msgBtBox div{width: 94%; height: 100%; overflow: hidden;}
		.msgBtBox label{float:right;}
		
		.movieInfo{width:677px;  _width:673px;}
		.movieInfo_body{width:325px;float:left;overflow:hidden;}
		.movieInfo .movieInfo_footer{font-size:14px;color:#000;font-weight:bold;padding:20px 10px 36px}
		.movieInfo .movieInfo_footer b{font-size:22px;color:#ff6200}
		.movieInfo .ui_abeam{margin:20px 10px 0 10px;}
		.payway label.icon_gsyh{background-position:30px 0;}
		.payway label.icon_jsyh{background-position:30px -40px;}
		.payway label.icon_zsyh{background-position:30px -80px;}
		.payway label.icon_jtyh{background-position:30px -120px;}
		.payway label.icon_gfyh{background-position:30px -160px;}
		.payway label.icon_xyyh{background-position:30px -200px;}
		.payway label.icon_nyyh{background-position:30px -240px;}
		.payway label.icon_gdyh{background-position:30px -280px;}
		.payway label.icon_zxyh{background-position:30px -320px;}
		.payway label.icon_pfyh{background-position:30px -360px;}
		.payway label.icon_zgyh{background-position:30px -400px;}
		.payway label.icon_sfyh{background-position:30px -440px;}
		.payway label.icon_msyh{background-position:30px -480px;}
		.payway label.icon_payh{background-position:30px -520px;}
		.payway label.icon_shnsyh{background-position:30px -560px;}
		.payway label.icon_hxyh{background-position:30px -600px;}
		.payway label.icon_njyh{background-position:30px -640px;}
		.payway label.icon_zhsyh{background-position:30px -680px;}
		.payway label.icon_hzyh{background-position:30px -720px;}
		.payway label.icon_nbyh{background-position:30px -760px;}
		.payway label.icon_kj{background-position:30px -800px;}
		.icon_yl{background-position:30px -840px;}
		.payway label.icon_hf{background-position:30px -1080px;}
		.payway label.icon_yzj{background-position:30px -1120px;width:150px;}
		.payway label.icon_yzx{background-position:30px -1165px;width:150px;}
		.payway label.icon_yz{background-position:30px -1200px;width:150px;}
		.payway label.icon_jsuyh{background-position:30px -1340px;}
		.payway label.icon_aixin{background-position:30px -1629px;}
		.payway label.icon_ask{background-position:30px -1784px;}
		.payway label.icon_zft{background-position:30px -1938px;}
		.payway label.icon_yitong{background-position:30px -1474px;}
		.payway label.icon_edenred{background-position:30px -1578px;}
		.payway label.icon_ybtnet{background-position:30px -2042px;}
		.payway label.icon_yikahui{background-position:30px -1733px;}
		.payway label.icon_yisheng{background-position:30px -1888px;}
		.payway label.icon_shangmeng{background-position:30px -1990px;}
		.payway label.icon_slsy{background-position:30px -1836px;}
		.payway label.icon_dazhong{background-position:30px -1526px;}
		.payway label.icon_jxjft{background-position:30px -1681px;}
		.payway label.icon_cqnsyh{background-position:30px -2193px;}
		.payway label.icon_wzyh{background-position:30px -2243px;}
		.payway label.icon_zdyh{background-position:30px -2294px;}
		.payway label.icon_bestPay{background-position:30px -2344px;}
		.payway label.icon_bfbPay{background-position:30px -2393px;}
		/*新版问卷调查*/
		.asqBtn{position:fixed; z-index:11; height:24px; bottom:0; right:0; border:1px solid #aaa; border-bottom:0; border-radius:3px 3px 0 0; box-shadow:0 0 6px #808080; background:#fff; _position:absolute;_margin-top:expression(this.style.pixelHeight+document.documentElement.scrollTop);}
		.asqBtnInner{width:70px; position:relative; height:24px; line-height:24px; line-height:26px\9; overflow:hidden; padding:0 10px;}
		.more_c{right:6px; top:6px; position:absolute;}
		.movieInfo .movieInfo_footer{clear:both; padding-bottom:20px;}
		.service{width:212px; height:70px; border:1px solid #e1ddd1; background:#f0eade; border-radius:5px; text-align:center; color:#f56606; margin:36px 25px;}
		.service b{ font-size:22px;}
		.service .phone{background:url(${staticPath}css/buss/phone.jpg) center center no-repeat; display:inline-block; width:20px; height:46px; float:left; margin:15px 0 0 20px;}
		.service p{float:left; width:150px; margin-top:16px;}
	</style>
</head>
<body>

#set($isPay = true)#set($isOrder2=true)
#set($cfgHeader='header')#parse('include/navigation.vm')
<form id="payForm" action="${basePath}gewapay/saveOrder.xhtml" method="post">
<input type="hidden" name="orderId" value="$!order.id"/>
<div class="ui_layout">
	<div class="inner">
		<div class="payStep03">
			<ul class="payOrderSteps clear">
				<li class="step1">1.选择商品</li>
				<li class="step2">2.确认订购数量</li>
				<li class="step3">3.在线支付</li>
				<li class="step4">4.完成购买</li>
			</ul>
		</div>
		<div class="payBox mt20">
			<div class="payBox_header"><h2 class="conOrder">确认订单信息</h2></div>
			<div class="payBox_body clear">
				<div class="payBox_body_left">
					<div class="movieInfo">
						<ul class="clear">
							<li class="">
								<p>套餐名称：<b class="mr5 c333">$!goods.goodsname</b></p>
							</li>
							<li class="">
								<p>套餐内容：<b class="red">$!goods.summary</b></p>
							</li>
							<li class="movieInfo_footer">
								应付金额：<b>${order.due}</b> 元
							</li>
						</ul>
					</div>
				</div>
				<div class="payBox_body_right bdl1" style="background:#fffcf7;">
					<div class="service bold fs14"><span class="phone"></span><p>格瓦拉客服电话：<br/><b>4000-406-506</b></p></div>
				</div>
			</div>
		</div>
		#parse('include/pay/payMethodMenu.vm')
	</div>
</div>
</form>
<!-- 加入 弹出框 dlgpaypwd.vm -->
#parse('include/pay/dlgpaypwd.vm')
#if($order.ordertype eq 'ticket')
#set($pageTrack=${basePath} + 'cinema/order/pay.html')
#else
#set($pageTrack=${basePath} + 'sport/order/pay.html')
#end
<!-- 问卷调查 -->
<div class="asqBtn" id="asqBtn">
	<div class="asqBtnInner">
		<a title="反馈你遇到的问题" href="javascript:userResponse();">遇到问题</a>
		<img style="cursor:pointer;" onclick="cutClose()" title="关闭" alt="关闭" class="more_c" src="http://static.gewara.cn/css/home/close.gif"/>
	</div>
</div>
#set($surveyId='54925153')
#parse('include/home/userResponse.vm')

<script type="text/javascript">
var remain, pfun;
window.addEvent('domready', function(){
});
var needChoose = false;
function setChoosePay(vchoose){
	needChoose = vchoose;
}
if($('ipsPay')) var inputs = $('ipsPay').getElements('input');
window.addEvent('domready',function(){
	$$('.payway label').addEvents({
		'mouseenter':function(){if(this.getElement('input'))this.addClass('select')},
		'mouseleave':function(){$$('.payway label').each(function(item){
				if(item.getElement('input') && !item.getElement('input').checked)item.removeClass('select');
			});
		}
	});
	if($('menu_ck')){
		$('menu_ck').getElements('label').each(function(item,i){
			item.addEvent('click',function(){
				$('menu_ck').getElements('label').removeClass('select');
				document.getElements('*[tab=true]').hide();
				if(!this.hasClass('select')){
					this.addClass('select');
					 setChoosePay(this.get('lang') == 'umPay'?true:false);
					$(this.get('lang')).show();
				}
			});
		});
	}
	//addCredibleCard();
});
function addCredibleCard(){
	if($('ipsPay')) {
		var inputs = $('ipsPay').getElements('input');
		inputs.addEvent('blur',function(){
			if(!$chk(this.value)){
				this.getNext('.thisMe').addClass('yellow');
			}else{
				this.getNext('.thisMe').removeClass('yellow');
			}
			if(this == inputs[1]){
				if(inputs[1].value.length > 0 && inputs[1].value.length != 15  && inputs[1].value.length != 18){gewaUtil.alert('您填写的身份证号码有误，请重新填写！');}
			}else if(this == inputs[2]){
				if(inputs[2].value.length > 0 && inputs[2].value.length != 11){gewaUtil.alert('您填写的手机号码有误，请重新填写！');}
			}
		})
	}
}
function replaceStr(el){
	$(el).value = $(el).value.replace(/[^\d]/g,'');
}
function relaceOther(el){
	$(el).value = $(el).value.replace(/[\W]/g,'');
}
function chechF(){
	return $('menu_ck').getElements('input').every(function(item){
		if(item.checked && item.value == 'ipsPay'){
			var i=0;
			while(i<inputs.length){
				if(!$chk(inputs[i].value)){
					gewaUtil.alert(inputs[i].getNext('.thisMe').get('text'));
					return false;
				}
				i++;
			}
			return true;
		}else{
			return true;
		}
	});
}
var curCard = #if($paymethod eq 'yagaoPay')'yagaoPay' #else 'onetownPay'#end;
function setOtherPay(){
	$(curCard).checked=true;
}
function choiceUmPay(e){
	needChoose = false;
	$('umPayFeeInfo').removeClass('none');
}

javascript:window.history.forward(1);

//提交数据
window.addEvent('domready', function(){
	$('payForm').addEvent('submit', function(e) {
		e.stop();
		if(!$('isConfirm').checked){
			$('isConfirm').focus();
			$('isConfirm').getParent().toggleClass('yellow');
			return false;
		}
		#if($order.due gt 0)if(!chechF()) return false;#end
		var showTip = '<div class="conitce"><span class="tips"></span><div class="line"><b>请再次仔细核对你的订单信息！</b><br/></div>'
			showTip += '<div class="mt10">影片：$!{opi.moviename}<span class="gray">[#if($movie.videolen)$!movie.videolen分钟#end]</span><br/>影院：[$cinema.countyname]$!{opi.cinemaname}<br/>场次：<span class="red">$DateUtil.format($opi.playtime,"MM月dd日")（$DateUtil.getCnWeek($opi.playtime)）$DateUtil.format($opi.playtime,"HH:mm")</span></div></div>';
		#if($order.ordertype ne 'ticket') showTip = '<p class="center">请核实你的订单信息，点击确定付款！</p>';#end
		var values = GewaraUtil.getValues('payForm');
		if(needChoose) {
			gewaUtil.alert("请选择支付方式！");
			return;
		}
		gewa.util.issure('','<div class="black">'+ showTip +'</div>','格瓦拉支付提示：',360,'pay',function(){
			gewa.util.container['pay'].dispose('pay');
			GewaraUtil.mask('subBt');
			var url = '${basePath}gewapay/saveOrder.xhtml';
			GewaraUtil.sendRequest(url, values, function(result){
				gewa.util.clearMask();
				if(result.success){
					var succtis = ' <div class="conitce"><span class="tips"></span><div class="line"><b>请在新打开的页面上完成付款！</b><br/><span class="gray">付款完成前请不要关闭此窗口。</span><br/><span class="gray">付款完成后请根据你的情况点击下面按钮。</span></div>';
					succtis += "<div class=''></div>"
					document.location.href = result.url;
					/*
					window.showModalDialog(result.url);
					gewa.util.maskContent('','<div class="black">'+ succtis +'</div>','付款问题：',360,'gopay',function(){
						
					});*/
				}else{
					gewaUtil.alert(result.msg, function(){
						gewa.util.clearMask();
					});
				}
			},'post');
		})
	});
});
function cutClose(){
	$('asqBtn').dissolve();
}
</script>
#parse('include/bottom.vm')
</body>
</html>
