<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>活动收费项目管理</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<meta name="robots" content="noindex" />
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/default.css" />
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/container.css"></link>
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/button.css"></link>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara-util.js?v=${VmUtils.jsVersion}"></script>
	<script type="text/javascript" src="${staticPath}dpicker/WdatePicker.js"></script>
	<script type="text/javascript" src="${staticPath}ckeditor/ckeditor.js"></script>
	<style>
		label {display:inline-block; width:80px;text-align:right;padding:1px 0 1px 0; }
		input,textarea {width:450px;}
		a{text-decoration: none; white-space: nowrap;}
	</style>
</head>
<body style="width:850px; margin:auto" class="yui-skin-sam">
<div id="goodsDialog" class="yui-panel" style="width:700px; position: absolute;z-index: 200; left:0px; top:0px;margin-left: 200px">
	<div class="hd" id="title">编辑物品数据</div>
	<div class="bd">
	<form name="goodsForm" id="goodsForm" action="javascript:save()">
		<input type="hidden" name="id" id="id" value="$!goods.id"/>
		<input type="hidden" name="tag" id="tag" value="$!tag"/>
		<input type="hidden" name="minpoint" id="minpoint" value="0"/>
		<input type="hidden" name="maxbuy" id="maxbuy" value="5"/>
		<input type="hidden" name="maxpoint" id="maxpoint"  value="0"/>
		<input type="hidden" name="fee" id="fee" value="0"/>
		<input type="hidden" name="oriprice" id="oriprice" value="0"/>
		<input type="hidden" name="costprice" id="costprice" value="0"/>
		<input type="hidden" name="goodssort" id="goodssort"  #if($goods.goodssort)value="$!goods.goodssort"#else value="0"#end/>
		<div>
			<label for="goodsname">名&nbsp;&nbsp;&nbsp;&nbsp;称：</label>
			<input name="goodsname" type="text" id="goodsname" style="width: 350px" value="$!goods.goodsname"/>
			<span class="req">*</span>
		</div>
		<div>
			<label for="spflag">特价活动：</label>
			<input name="spflag" id="spflag" type="text" style="width: 150px" value="$!goods.spflag"/>
			<span>（支付优惠活动）</span>
		</div>
		<div>
			<label for="unitprice">活动价格：</label>
			<input name="unitprice" id="unitprice" type="text" maxlength="5" style="width: 70px" value="$!goods.unitprice"/>
			<span class="req">*</span>
		</div>
		<div>
			<label for="feetype">业务模式：</label>
			<select name="feetype" id="feetype" onchange="chgft(this.value)">
				<option value="" #if($VmUtils.isBlank($goods.feetype))selected#end>请选择</option>
				<option value="P" #if($VmUtils.eq($goods.feetype,'P'))selected#end>代售平台（别人卖收佣金）</option>
				<option value="C" #if($VmUtils.eq($goods.feetype,'C'))selected#end>预售(物品卖券方式实现)</option>
				<option value="T" #if($VmUtils.eq($goods.feetype,'T'))selected#end>业务板块</option>
			</select><span class="req">*</span>
			<span class="#if(!$VmUtils.eq($goods.feetype, 'T') || $VmUtils.isBlank($goods.feetype))none#end" id="dstype">
				<label for="serviceype">服务板块：</label>
				<select name="servicetype" id="servicetype">
					<option value="" #if($VmUtils.isBlank($goods.servicetype))selected#end>请选择</option>
					<option value="movie" #if($VmUtils.eq($goods.servicetype,'movie'))selected#end>电影板块</option>
					<option value="drama" #if($VmUtils.eq($goods.servicetype,'drama'))selected#end>演出板块</option>
					<option value="sport" #if($VmUtils.eq($goods.servicetype,'sport'))selected#end>运动板块</option>
					<option value="gym" #if($VmUtils.eq($goods.servicetype,'gym'))selected#end>健身板块</option>
				</select>*
			</span>
		</div>
		<div>
			<label for="quantity">库&nbsp;&nbsp;&nbsp;&nbsp;存：</label>
			<input name="quantity" id="quantity" type="text" maxlength="5" style="width: 70px" value="$!goods.quantity"/>
			<span class="req">不填写表示不受库存限制</span>
		</div>
		<div>
			<label for="allowaddnum">允许下单量：</label>
			<input name="allowaddnum" id="allowaddnum" type="text" maxlength="5" style="width: 70px" value="$!goods.allowaddnum"/>
			<span class="req">不填写表示不受下单量限制</span>
		</div>
		<div>
			<label for="relatedid">活动ID：</label>
			<input type="text" name="relatedid" id="relatedid" value="$!goods.relatedid" style="width: 80px;"/>
			<span class="req">*#if($activity)[$activity.title]#end</span>
		</div>
		<div>
			<label for="deliver">收货地址：</label>
			<input type="radio" name="deliver" value="" #if($VmUtils.isBlank($goods.deliver))checked#end style="width: 16px;"/>否
			<input type="radio" name="deliver" value="address" #if($goods.deliver eq 'address')checked#end style="width: 16px;"/>是
			<label style="width:95px;">填写快递方式：</label><input type="text" class="pubinput" style="width:30px;"  name="expressid" value="$!goods.expressid" />
		</div>
		<div>
			<label for="releasetime">发布时间：</label>
			<input name="releasetime" class="Wdate" type="text" id="releasetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:00'})" value="$!goods.releasetime"/>
			<span class="req">*</span>
		</div>
		<div>
			<label for="fromtime">开始时间：</label>
			<input name="fromtime" class="Wdate" type="text" id="fromtime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:00'})" value="$!goods.fromtime"/>
			<span class="req">*</span>
		</div>
		<div>
			<label for="totime">结束时间：</label>
			<input name="totime" class="Wdate" type="text" id="totime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:00'})" value="$!goods.totime"/>
			<span class="req">*</span>
		</div>
			<div>
			<label for="ordermsg">接收短信：</label>
			<textarea name="ordermsg" id="ordermsg" rows="2">$!goods.ordermsg</textarea>
			<span class="req">*</span>
			<label for="ordermsg">&nbsp;&nbsp;</label>
		</div>
		<div><label>&nbsp;</label>（tradeNo代表订单号：quantity代表数量）</div>
		<div style="">
			<label for="description">物品描述：</label>
			<textarea name="description" id="description">$!goods.description</textarea>
			<span class="req">*</span>
		</div>
		<div>
			<label for="logo">上传图片[200*200]:</label>
			<iframe height="25px" width="450px" frameborder="0" scrolling="no" id="uploadIFrame"
					src="${basePath}common/uploadSinglePicture.xhtml?uploadPath=images/point&callback=updateLogo"></iframe>
				<input type="hidden" name="logo" id="logo" value="$!goods.logo"/>
			<div><img style="height:80px; margin-left:70px;" id='logoimg1' src="${staticPath}css/images/blank.gif"/></div>
		</div>
		<div>
			<label>&nbsp;</label>
			<input type="submit" class="button" style="width:100px" value="保存"/>
			<input type="button" class="button" onclick="cancle();" style="width:100px" value="取消"/>
		</div>
		<div id="msg" style="color:red;"></div>
		<div style="color:blue;">可用符号： ～！￥…（）——：“《》？/，、；‘’“”【】·。★☆○●◎◇◆□■△▲※→←↑↓</div>
	</form>
	</div>
</div>
	<script type="text/javascript">
	var ckeditor;
	window.addEvent('domready',function(){
		ckeditor = CKEDITOR.replace("description");
	});
	function save(){
		if($('goodsname').value=='') {alert('请输入名称');return;}
		if($('relatedid').value=='') {alert('请填写活动ID');return;}
		if($('unitprice').value=='') {alert('请输入现价');return;}
		if($('feetype').value==''){alert('请选择业务模式');return;}
		if($('feetype').value=='T' && $('servicetype').value==''){
			alert('请选择服务板块');
			return;
		}
		if($('feetype').value!='T'){
			$('servicetype').value='';
		}
		if($('fromtime').value=='' || $('totime').value=='') {alert('请输入开始时间和结束时间');return;}
		//if($('description').value=='') {alert('请输入详细说明');return;}
		//$("description").value=ckeditor.getData();
		$("description").value=' ';
		var values = GewaraUtil.getValues($("goodsForm"));
		var url = "${basePath}admin/goods/ajax/saveGoods.xhtml";
		GewaraUtil.sendRequest(url, values, function(result){
			if(result.success){
				alert("保存成功");
				$("msg").set("html", '');
				document.location='${basePath}admin/goods/addGoods.xhtml?id='+result.id;
			} else{
				alert("保存失败");
				$("msg").set("html", result.msg);
			}
		});
	}
	function updateLogo(params){
		var picpath = params['picpath'];
		$('logo').value = picpath;
		$('logoimg1').src='${basePath}' + picpath;
	}
	function chgft(value){
		if(value=='T'){
			$('dstype').removeClass('none');
		}else {
			$('dstype').addClass('none');
		}
	}
</script>
</body>
</html>
