<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>一起抢11元每天抢_2011.11.11这个六“1”陪你一起过，这个单身节单身不单调_2011单身节专题_格瓦拉生活网</title>
<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=layout&v=$VmUtils.jsVersion"/>
<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util,base_home&v=$VmUtils.jsVersion"></script>
#parse('subject/bachelor/style.vm')
</head>
<body>
#set($isXiang=true)
#set($cfgHeader='header')#parse('include/navigation.vm')
<div class="bachelor_top"><span>11月07日—11月17日，我们在一起</span></div>
<div class="ui_layout">
	<div class="inner">
		 #parse('subject/bachelor/menu.vm')
		<div class="bachelor_right">
			<div class="bache">
				<div class="bache_t"></div>
				<div class="bache_c">
					<div class="inner">
						<div class="title"><h1><span>一起享</span>积分兑换超值购</h1></div>
						<div class="bache_border mt10">
							<p>积分太多好惆怅，除了换票没得玩。瓦拉奖品分不错，分数不够影评凑。即日起到2011年11月17日格瓦拉积分换购火爆进行。</p>
							<p>电影周边，电影影券还有以小博大疯狂抽奖，超级光棍超级活动，心动赶快参与吧！</p>
						</div>
						<div class="Line mt15 bold fs14">今天（$!DateUtil.format($!DateUtil.currentTime(),'yyyy年MM月dd日')） 兑换产品</div>
						#foreach($prize in $top2prizeList)
						<ul class="ui_abeam mt10">
							<li>
								<div class="uipic"><img src="${staticPath}css/images/blank.gif" title="$!prize.object.goodsname" style="background:url($VmUtils.randomPic('sw90h120',$!prize.object.limg)) center center no-repeat;"width="180"height="180"/></div>
								<div class="uiText bacheText">
									<h2><a href="${basePath}exchange/point/buyGoods.xhtml?gid=$!prize.object.id" target="_blank" class="brown" title="$!prize.object.goodsname" >$!VmUtils.escabbr($!prize.object.goodsname,36)</a></h2>
									<p class="gray" title="$!VmUtils.getText($!prize.object.description)">$!VmUtils.htmlabbr($prize.object.description,36)</p>
									<div class="bache_border mt5">
										<div class="Inner">
											<a #if($booking)href="${basePath}exchange/point/buyGoods.xhtml?gid=$!prize.object.id" class="button redBt bigBt" target="_blank"  #else class="button bigWhiteBg bigBt" href="javascript:void(0)" #end><span style="width:80px;">兑 换</span></a>
											<span class="ml10">兑换需要<b class="brown fs20">$!prize.object.realpoint</b>积分</span>
										</div>
									</div>
									<div class="bache_border mt10">
										<div class="Inner">
											<a href="javascript:void(0) " #if($booking) class="button redBt bigBt"  onclick="clickDraw('$!prize.tag')"  #else class="button bigWhiteBg bigBt" #end ><span style="width:80px;">抽 奖</span></a>
											<span class="ml10">抽奖需要<b class="brown fs20">11</b>积分</span>
										</div>
									</div>
								</div>
							</li>
						</ul>
						#end
						<div class="clear mt20">
						#foreach($prize in $prizeList)
						<div class="bache_box">
								<a href="${basePath}exchange/point/buyGoods.xhtml?gid=$!prize.object.id" target="_blank"><img src="${staticPath}css/images/blank.gif"style="background:url($VmUtils.randomPic('sw90h120',$!prize.object.limg)) center center no-repeat;"width="180"height="180"/></a><br/>
								<a href="${basePath}exchange/point/buyGoods.xhtml?gid=$!prize.object.id"class="fs14 mt5 brown"target="_blank" title="$!prize.object.goodsname">$!VmUtils.escabbr($!prize.object.goodsname,26)</a>
								<p class="gray bache_p" title="$!VmUtils.getText($!prize.object.description)">$!VmUtils.htmlabbr($prize.object.description,56)</p>
								<a #if($booking) href="${basePath}exchange/point/buyGoods.xhtml?gid=$!prize.object.id" class="button bigBt redBt" target="_blank" #else class="button bigBt bigWhiteBg" #end><span>$!DateUtil.formatDate($!prize.object.fromtime)开始兑换</span></a>
						</div>
						#end
						</div>
						<div class="foot mt20 ml10">
							<p>活动时间：11月07日－11月17日每天上午11:11</p>
							<p>活动说明：利用积分来进行兑换或抽奖</p>
							<p>活动规则：</p>
						</div>
						<ul class="ul_foot ml30">
							<li>1.凡绑定手机号码的格瓦拉注册用户均可参与；</li>
							<li>2.每个用户ID每天限兑1次,抽奖不限次数；</li>
							<li>3.兑换或抽奖所获礼品将于活动结束后的3个工作日内发送；</li>
							<li>4.请准确填写收货信息，以便发送，如由于个人信息不全造成的无法递送，则不予补偿。</li>
						</ul>
					</div>
				</div>
				<div class="bache_b"></div>
			</div>
		</div>
	</div>
</div>
<div id="infos" style="display:none">
	<div style="color:#ff6200;font-size: 14px;font-weight:bold;text-align:center;" id="message"></div>
	<div style="color:red;font-size: 14px">活动结束后的3个工作日内发送！</div>
	<form action="javascript:addinfo()" method="post" id="info" name="info" >
	<div id="customerInfo">
			<input type="hidden" name="tag" id="tag"/>
		<dl class="dl-60 mt10">
			<dt>姓 名:</dt>
			<dd><label for="i_2"><input type="text" class="text" name="nickname" id="nickname" /></label></dd>
		</dl>
		<dl class="dl-60 mt10">
			<dt>联系方式:</dt>
			<dd><label for="i_2"><input type="text" class="text" name="mobile" id="mobile" /></label></dd>
		</dl>
		<dl class="dl-60 mt10">
			<dt>收货地址:</dt>
			<dd><label for="i_2"><input type="text" class="text" name="address" id="address" /></label></dd>
		</dl>
	</div>
	</form>
</div>
#parse('include/bottom.vm')
<script type="text/javascript">
	function clickDraw(value){
		checkLogin(true,function(){
			var url = '${basePath}subject/single/clickDraw.xhtml';
			var values = {'tag': value};
			GewaraUtil.sendRequest(url, values, function(result){
				if(result.success){
					if(result.ptype == 'empty'){
						gewaUtil.alert(result.plevel);
					}else if(result.ptype == 'remark' || result.ptype == 'drama' ){
						$('tag').value = value;
						$('message').set('html',result.plevel);
						showTime();
					}
				}else{
					gewaUtil.alert(result.msg);
				}
			
			});
		});
	}
	function showTime(){
		gewa.util.issure('','infos','填写收件人信息：',420,'keys',function(){
			addinfo();
		});
	}
	function addinfo(){
		var url = "${basePath}subject/hallowmas/addCarbInfo.xhtml";
		var values = GewaraUtil.getValues("info");
		GewaraUtil.sendRequest(url, values, function(result){
			if(result.success){
				gewaUtil.alert("提交成功！", refreshPage);
			}else{
				gewaUtil.alert(result.msg);
			}
		});
	}
</script>
</body>
</html>