<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
#set($isCityParam=true)
#parse('include/constant/cityParam.vm')
<title>一起抢11元每天抢_2011.11.11这个六“1”陪你一起过，这个单身节单身不单调_2011单身节专题_格瓦拉生活网</title>
<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=layout&v=$VmUtils.jsVersion"/>
<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util,history&v=$VmUtils.jsVersion"></script>
#parse('subject/bachelor/style.vm')
</head>
<body>
#set($isQiang=true)
#set($cfgHeader='header')#parse('include/navigation.vm')
<div class="bachelor_top"><span>11月07日—11月17日，我们在一起</span></div>
<div class="ui_layout">
	<div class="inner">
		 #parse('subject/bachelor/menu.vm')
		<div class="bachelor_right">
			<div class="bache">
				<div class="bache_t"></div>
				<div class="bache_c">
					<div class="inner">
						<div class="title"><h1><span>一起抢</span>11元每天抢</h1></div>
						<div class="bache_border mt10">11.7~11.17活动期间，全国每天333张11元特价影票限量抢！</div>
						<div class="title mt20">
							<span class="left bache_cinema"></span>
							<span class="right bache_like"></span>
						</div>
						<ul class="ul_menu mt20">
							<li><a href="${basePath}subject/cinema11Singles.xhtml?citycode=310000" class="ajax #if($VmUtils.eq($cookieCitycode,310000)) ajaxhistory #end">上海</a></li>
							<li><a href="${basePath}subject/cinema11Singles.xhtml?citycode=330100" class="ajax #if($VmUtils.eq($cookieCitycode,330100)) ajaxhistory #end">杭州</a></li>
							<li><a href="${basePath}subject/cinema11Singles.xhtml?citycode=440100" class="ajax #if($VmUtils.eq($cookieCitycode,440100)) ajaxhistory #end">广州</a></li>
							<li><a href="${basePath}subject/cinema11Singles.xhtml?citycode=331200" class="ajax #if($VmUtils.eq($cookieCitycode,331200)) ajaxhistory #end">余姚</a></li>
							<li><a href="${basePath}subject/cinema11Singles.xhtml?citycode=320100" class="ajax #if($VmUtils.eq($cookieCitycode,320100)) ajaxhistory #end">南京</a></li>
							<li><a href="${basePath}subject/cinema11Singles.xhtml?citycode=330600" class="ajax #if($VmUtils.eq($cookieCitycode,330600)) ajaxhistory #end">绍兴</a></li>
							<li><a href="${basePath}subject/cinema11Singles.xhtml?citycode=320581" class="ajax #if($VmUtils.eq($cookieCitycode,320581)) ajaxhistory #end">常熟</a></li>
							<li><a href="${basePath}subject/cinema11Singles.xhtml?citycode=320500" class="ajax #if($VmUtils.eq($cookieCitycode,320500)) ajaxhistory #end">苏州</a></li>
						</ul>
						<div id="target-ajax" class="percent_33">
						</div>
						<ul class="ul_foot mt30">
							<li>抢票时间：11月07日－11月17日每天上午11:11</li>
							<li class="mt10">1.凡绑定手机号码的格瓦拉注册用户均可参与11元抢票活动；</li>
							<li>2.每个用户id每天限购1张11元特价影票（<span class="brown">除双机3D、IMAX、明星见面会等特殊场次</span>）；</li>
							<li>3.全国每天限量333张，抢完为止；</li>
							<li>4.选择活动影院及观影场次，并通过“光棍节光棍价”活动在线支付，即可享受11元/张特惠；</li>
							<li>5.付款成功后手机收到含取票密码的购票成功短信；</li>
							<li>6.凭手机号码后四位和取票密码到影院自助取票机取票观影；</li>
							<li>7.此活动优惠内容与其他手机优惠活动不可同时享受；</li>
							<li>8.本次活动影票一旦售出概不退换；</li>
						</ul>
					</div>
				</div>
				<div class="bache_b"></div>
			</div>
		</div>
	</div>
</div>
<script>
window.addEvent('domready', function(){
	new ajaxHistory({'target':'a.ajax','ajaxContainer':'target-ajax','clazz':'select','history':'ajaxhistory'});
});
</script>
#parse('include/bottom.vm')
</body>
</html>