<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
#set($isCityParam=true)
#parse('include/constant/cityParam.vm')
<title>一起抢11元每天抢_2011.11.11这个六“1”陪你一起过，这个单身节单身不单调_2011单身节专题_格瓦拉生活网</title>
<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=layout&v=$VmUtils.jsVersion"/>
<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
<script type="text/javascript" src="${staticPath}scripts/gewara-util.js"></script>
#parse('subject/bachelor/style.vm')
</head>
<body>
#set($isPai=true)
#set($cfgHeader='header')#parse('include/navigation.vm')
<div class="bachelor_top"><span>11月07日—11月17日，我们在一起</span></div>
<div class="ui_layout">
	<div class="inner">
		 #parse('subject/bachelor/menu.vm')
		<div class="bachelor_right">
			<div class="bache">
				<div class="bache_t"></div>
				<div class="bache_c">
					<div class="inner">
						<div class="title"><h1><span>一起拍</span>“一元竞拍”给你好看</h1></div>
						<div class="bache_border mt10">
							<p>1个人吃饭，1个人旅行；1个人看电影，1个人品话剧。1难道只能是个悲催的数字么？</p>
							<p>NO！1元竞拍告诉你，1块钱的话剧票只要网速好，下手快，1块钱就能带来1个人的精彩！</p>
						</div>
						<div class="mt30 jp_title"></div>
						<ul class="ui_abeam">
						#foreach($pubsale in $pubsaleList)
							<li class="abeam">
								<div class="uipic">
									<a target="_blank" title="$pubsale.object.name" href="${basePath}pubsale/$pubsale.object.id"><img width="96" height="128" style="background:url($VmUtils.randomPic('cw96h128',$!pubsale.object.logo)) 0 0 no-repeat;" src="${staticPath}css/images/blank.gif"/></a>
								</div>
								<div class="uiText ml10">
									<h2><a href="${basePath}pubsale/$pubsale.object.id" target="_blank" class="bold fs14 brown" title="$pubsale.object.name">$pubsale.object.name</a></h2>
									<p>开始时间：$!DateUtil.format($!pubsale.object.begintime,'MM月dd日 HH:mm')（$DateUtil.getCnWeek($!pubsale.object.begintime)）</p>
									#if($!pubsale.object.endtime)<p>结束时间：$!DateUtil.format($!pubsale.object.endtime,'MM月dd日 HH:mm')（$DateUtil.getCnWeek($!pubsale.object.endtime)）</p>#end
									<a #if($booking) target="_blank" href="${basePath}pubsale/$pubsale.object.id" class="button redBt bigBt mt10" #else class="button bigBt bigWhiteBg mt10" href="javascript:void(0)" #end><span>竞拍</span></a>
									<p class="Line mt10"></p>
								</div>
							</li>
							#end
						</ul>
						<div class="foot">
							<p>活动时间：11月07日－11月17日</p>
							<p>活动规则：</p>
						</div>
						<ul class="ul_foot ml20">
							<li>1、凡绑定手机号码的格瓦拉注册用户均可参与;</li>
							<li>2、当商品清单中的竞拍按钮为“<a href="http://www.gewara.com/userfiles/image/201108/s338aa389_131e0018233__7fe5.gif" rel="lightbox[galerie]" target="_blank"><img style="width: 44px; height: 27px;" src="http://www.gewara.com/userfiles/image/201108/s338aa389_131e0018233__7fe5.gif" alt=""/></a>”状态时，表示该商品可以参与竞拍;</li>
							<li>3、在拥有一定积分前提下，您可以点击“竞拍”按钮参与竞拍，每次竞拍消耗2个积分;</li>
							<li>4、参加竞拍者不能连续两次竞拍。在您上一次竞拍后，只有在其他竞拍者点击竞拍后，您才能再一次“竞拍”;</li>
							<li>5、竞拍时，若有用户出价，则计时器会自动重置到60秒；当计时器归零时，最后出价者成功竞拍到该商品;</li>
							<li>6、如果在规定活动结束时间前，倒计时60秒内无人竞拍，则拍卖提前结束;</li>
							<li>7、成功拍得商品后，需在两个小时内对该订单进行确认及支付。若未能及时进行确认，视为自动放弃该商品;</li>
							<li>8、用户成功中拍并支付后，工作人员将在竞拍结束后3个工作日内寄出中拍商品。竞拍商品一旦售出概不退换;</li>
						</ul>
						<p class="foot mt10"style="font-size:12px;">温馨提示：所有参加竞拍的gewara注册用户需要“我的账户”绑定手机后方可参与竞拍；<a href="${basePath}home/acct/memberinfo.xhtml?tag=cellphone" class="brown" target="_blank">立即绑定手机»</a></p>
					</div>
				</div>
				<div class="bache_b"></div>
			</div>
		</div>
	</div>
</div>
#parse('include/bottom.vm')
</body>
</html>