<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>一起抢11元每天抢_2011.11.11这个六“1”陪你一起过，这个单身节单身不单调_2011单身节专题_格瓦拉生活网</title>
<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=layout&v=$VmUtils.jsVersion"/>
<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
<script type="text/javascript" src="${staticPath}scripts/gewara-util.js"></script>
#parse('subject/bachelor/style.vm')
</head>
<body>
#set($isWan=true)
#set($cfgHeader='header')#parse('include/navigation.vm')
<div class="bachelor_top"><span>11月07日—11月17日，我们在一起</span></div>
<div class="ui_layout">
	<div class="inner">
		 #parse('subject/bachelor/menu.vm')
		<div class="bachelor_right">
			<div class="bache">
				<div class="bache_t"></div>
				<div class="bache_c"style="height:700px;">
					<div class="inner">
						<div class="title"><h1><span>一起玩</span>单身不单调，一起来“脱光”</h1></div>
					 	<div class="bache_border mt10">
					 		<p>全世界人民团结起来，这个光棍准备“脱光”！！在以下指定影院发表单身宣言，幸福期望，和格瓦拉互动起来大奖就能属于你！ </p>
					 	</div>
					 	<div class="look_link">
					 		<ul class="ul_foot">
					 			<li><p style="color:#d1171f;">光棍节也要甜蜜蜜！！</p></li>
					 			<li>即日起在格瓦拉报名参与“梦想孤注一掷 决战钢铁擂台”就可参与影院现场抽奖活动！</li>
					 			<li>是铁甲钢拳精致周边，又或是格瓦拉电影兑换券带来的额外的观影机会？</li>
					 			<li>礼品够不够吸引！！现场够不够火爆？？</li>
					 			<li>一切尽在11-11，我们不见不散</li>
					 		</ul>
					 		<ul class="ul_foot mt30">
					 			<li>现场抽奖要求：</li>
					 			<li>凡是在格瓦拉上报名参加活动即可获得抽奖次数+1；</li>
					 			<li>现场发布微博并@格瓦拉生活网的抽奖次数+1；</li>
					 			<li>持有格瓦拉影票的用户抽奖次数+1；</li>
					 			<li><span style="color:#d1171f;">以上活动内容只针对上海站，各地影院以当地活动为准。</span></li>
					 		</ul>
						 	<div class="mt30"><a #if($booking) href="${basePath}activity/4029234" class="button redBt bigBt" target="_blank" #else href="javascript:void(0)" class="button bigWhiteBg bigBt" #end ><span>立即报名</span></a></div>
						 	<ul class="ul_foot mt30">
						 		<li><p style="color:#d1171f;">全国7家影院 <span style="color:#d1171f;font-weight:normal;">【一触即发 拳力以赴】</span></p> </li>
					 			<li>上海大光明电影院</li>
					 			<li>上海新衡山电影院</li>
					 			<li>上海博纳银兴国际影城</li>
					 			<li>杭州奥斯卡大世界</li>
					 			<li>杭州UME国际影城</li>
					 			<li>上影联和电影城</li>
					 			<li>南京中影影城河西店</li>
						 	</ul>
						 </div>
					</div>
				</div>
				<div class="bache_b"></div>
			</div>
		</div>
	</div>
</div>
#parse('include/bottom.vm')
</body>
</html>