<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>格瓦拉影院自助终端系统 - 格瓦拉生活网</title>
<link rel="stylesheet" type="text/css" href="${staticPath}css/partner/juxiang/new_layout.css"/>
</head>

<body>
<div class="ui_layout">
	<div class="ui_header"><h1>格瓦拉影院自助终端系统</h1></div>
    <div class="ui_content">
        <div class="ui_step ui_step2"></div>   
        <div class="mod_kong">
            <div class="mod_hd">
                <h2>选择场次</h2>
                <p>已选条件：<span>$!{DateUtil.format($fyrq,'M月d日')}</span><span>$!{movie.name}</span><span>$!{county.countyname}</span><span>$!{cinema.name}</span></p>
            </div>
            <div class="mod_bd">
                <div class="mod_chooseOpi">
                    <div class="mod_hd clear">
                        <ul>
                            <li>
                                <span class="first">放映时间</span>
                                <span>语言版本</span>
                                <span>放映厅</span>
                                <span class="four">现价(元)</span>
                                <span>选座</span>
                            </li>
                        </ul>
                    </div>
                    <div class="mod_bd clear">
                        <ul>
                        #foreach($opi in $opiList)
                            <li>
                                <span class="first">$!{DateUtil.format($opi.playtime,'HH:mm')}</span>
                                <span>$!{opi.language} #if($!opi.edition)/$!opi.edition#end</span>
                                <span>$!{opi.roomname}</span>
                                <span class="four"><em>$!opi.price</em>($!{priceHelper.getPrice($opi)})</span>
                                <span class="five"><a class="chooseSeat" href="${basePath}partner/juxiang/chooseSeat.xhtml?mpid=$!opi.mpid&width=$!{width}">选座购票</a></span>
                            </li>
                        #end
                        </ul>
                    </div>
                <div>                
            </div>
        </div>
        <div class="pageTag">
            #if($upPage)<a class="pre" href="${basePath}partner/juxiang/chooseOpi.xhtml?pageNo=$!{prePageNo}&movieId=$!{movie.id}&fyrq=$!{DateUtil.format($fyrq,'yyyy-MM-dd')}&cinemaId=$!{cinema.id}&width=$!{width}" >上一页</a>#end
            #if($nextPage)<a class="next" href="${basePath}partner/juxiang/chooseOpi.xhtml?pageNo=$!{nextPageNo}&movieId=$!{movie.id}&fyrq=$!{DateUtil.format($fyrq,'yyyy-MM-dd')}&cinemaId=$!{cinema.id}&width=$!{width}">下一页</a>#end
        </div>          
    </div>
    </div>
	</div>
	<div class="ui_footer">    	
            <a class="goBack" href="${basePath}partner/juxiang/chooseCinema.xhtml?pageNo=0&movieid=$!{movie.id}&fyrq=$!{DateUtil.format($fyrq,'yyyy-MM-dd')}&countyCode=$!{county.countycode}&width=$!{width}">返回</a>
            <a class="logOut" href="javascript:window.external.FromExit();">退出</a>
        </div>
</div>
</body>
</html>