<ul>
	<li class="selectMore"></li>
	#if($cururl eq 'commu')
	<li #if($cururl eq 'commu')class="currs" #end><a href="${basePath}admin/audit/checkApplyCommuList.xhtml"><span>圈子认证管理</span></a></li>
	#end
	#if($cururl eq 'activity')
	<li #if($cururl eq 'activity')class="currs" #end><a href="${basePath}admin/audit/checkApplyActivityList.xhtml"><span>活动认证管理</span></a></li>
	#end
	#if($cururl eq 'financepay')
	<li #if($cururl eq 'financepay')class="currs" #end><a href="${basePath}admin/audit/checkofFinanceList.xhtml"><span>财务审核管理</span></a></li>
	#end
	#if($cururl eq 'commuking')
	<li #if($cururl eq 'commuking')class="currs" #end><a href="${basePath}admin/audit/checkCommuKingList.xhtml"><span>圈王之王管理</span></a></li>
	#end
</ul>