<data>
	<messageList>
		#foreach($uma in $umaList)
		#set($userMessage=$userMessageMap.get($uma.id))
		<message>
			<messageid>$!userMessage.id</messageid>
			<frommemberid>$!uma.frommemberid</frommemberid>
			<tomemberid>$!uma.tomemberid</tomemberid>
			<fromNickName><![CDATA[$!cacheMemberMap.get($uma.frommemberid).nickname]]></fromNickName>
			<toNickName><![CDATA[$!cacheMemberMap.get($uma.tomemberid).nickname]]></toNickName>
			<content><![CDATA[$!VmUtils.getHtmlText($!userMessage.getRcontent($basePath),5000)]]></content>
			<addtime>$!DateUtil.format($uma.addtime,'yyyy-MM-dd HH:mm:ss')</addtime>
		</message>
		#end
	</messageList>
</data>