<br/>
<a href="${basePath}admin/gewapay/reportByOpi.xhtml"><strong #if($byOpi)style="font-size: 18px;color: red"#end>按场次统计</strong></a>
<a href="${basePath}admin/gewapay/reportByCinemaAddtime.xhtml"><strong #if($byCinemaAddtime)style="font-size: 18px;color: red"#end>按影院下单时间统计</strong></a>
<a href="${basePath}admin/gewapay/reportByMovie.xhtml"><strong #if($byMovie)style="font-size: 18px;color: red"#end>按影片统计</strong></a>
<a href="${basePath}admin/gewapay/reportByMovieAndCostprice.xhtml"><strong #if($byMovieAndCostprice)style="font-size: 18px;color: red"#end>按影片及进价统计</strong></a>
<a href="${basePath}admin/gewapay/reportByGewa.xhtml"><strong #if($byGewa)style="font-size: 18px;color: red"#end>格瓦拉场次统计</strong></a>
<a href="${basePath}admin/gewapay/reportByMeal.xhtml"><strong #if($byMeal)style="font-size: 18px;color: red"#end>套餐统计</strong></a>