#set($rows= $VmUtils.size($orderList))
<tr id="rowsIndex" data-value="$!{rows}">
	  <td>影片</td>
	  <td>放映日期</td>
	  <td>影厅座位</td>
	  <td>数量*结算价</td>
	  <td>总金额</td>
	  <td>备注<p class="mt5 right"><span class="oAddPhone" id="addFont" onclick="addOpation()"><font color="blue">添加</font></span></p></td>
 </tr>
#foreach($order in $orderList)
#set($description2=$VmUtils.readJsonToMap($order.description2))
<tr>
	<td><input type="text" name="moviename$!{foreach.count}" value="$description2.get('影片')" width="100%" /></td>
	<td><input type="text" name="playdate$!{foreach.count}" value="$description2.get('场次')" width="100%" /></td>
	<td><input type="text" name="cinemaseat$!{foreach.count}" value="$description2.get('影厅') $description2.get('影票')" width="100%" /></td>
	#*
	<td><input type="text" name="reason$!{foreach.count}" value="$!refundMap.get($order.tradeNo).reason" width="100%" /></td>
	*#
	<td><input type="text" name="allcostprice$!{foreach.count}" value="$order.quantity*$order.costprice" width="100%" /></td>
	<td><input type="text" name="totalprice$!{foreach.count}" value="$order.totalfee" width="100%" /></td>
	<td><input type="text" name="remark$!{foreach.count}" width="100%" /></td>
</tr>
#end
			  			