<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<title>移动手机话费概率</title>
	<link rel="stylesheet" type="text/css" media="all" href="${staticPath}component/css/default.css" />
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util&v=$VmUtils.jsVersion"></script>
	<style type="text/css">
		.mouseBg{background: #bbb; color: #fff;}
	</style>
</head>
<body style="width:850px; margin:auto">
<div>
	<fieldset style="width: 400px;">
		<div>
			<legend class="yellow">话费手续费概率：</legend>
			概率：<input type="text" name="fee" id="fee" maxlength="2" value="$!data.data" style="width: 60px;"/>
			<input type="button" value="提交" onclick="saveFee()"/>
			（如收取22%的手续费，则填写22）
		</div>
	</fieldset>
</div>
<script type="text/javascript">	
	function saveFee(){
		var fee = $('fee').value;
		var values = {'fee':fee};
		var url = "${basePath}admin/gewapay/saveUmpayfee.xhtml";
		GewaraUtil.sendRequest(url, values, function(result){
			if(result.success){
				alert('保存成功');
			}else {
				var msg = result.msg;
				alert(msg);			
			}
		});
	}
</script>
</body>
</html>