<div class="person_together">
	#foreach($membermap in $!memberMapList)
	<div class="person_alink">
		<dl class="ui_abeam">
			<dt class="uipic">
				<a href="$!{basePath}home/sns/othersPersonIndex.xhtml?memberid=$!membermap.get('memberid')" class="pubpic" target="_blank"><img src="$VmUtils.randomPic('sw50h50',$!membermap.get('headpic'))" width="50" height="50"/></a>
			</dt>
			<dd class="uiText">
					<a href="$!{basePath}home/sns/othersPersonIndex.xhtml?memberid=$!membermap.get('memberid')" target="_blank">$!membermap.get('membername')</a><br/>
				<span class="apend_alink"><b>+</b>
				<a href="javascript:void(0);" onclick="addInterestedMemberTreasure('$!membermap.get('memberid')',this)">加关注</a>
				</span>
				<br/>
			</dd>
		</dl>
		#if($!VmUtils.isNotBlank($!membermap.get('reason')))
		<div class="facks">
			$!membermap.get('reason')
			<span class="gt">◆<span class="gt">◆</span></span>
		</div>
		#end
	</div>
	#end
	#*
	<div class="rMore"><a href="" target="_blank">更多»</a></div>
	*#
</div>
