<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>格瓦拉社区</title>
	<link rel="stylesheet" type="text/css" href="${staticPath}css/default.css?v=$VmUtils.jsVersion"/>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}dpicker/WdatePicker.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util,snsUtil,page,noobSlide,Autocompleter&v=$VmUtils.jsVersion"></script>
</head>
<body>
<div id="snsHeader"></div>
<div class="ui_layout">
	#set($menuTag = 'agenda')
	#parse('sns/common/left.vm')
	<div class="body_right" id="body_right">
		
	</div>
</div>
<div class="ui_view_menu"></div>
<div class="footer_warp">
	<div class="isFooter"></div>
</div>
<script>
window.addEvent('domready',function(){
	getLifeData();
});
function getLifeData(tag, playDate, startdate){
	GewaraUtil.sendLoad('body_right', '${basePath}home/sns/myLifePlansData.xhtml?tagNo=$VmUtils.getRandom()', {'tag' : tag, 'playDate' : playDate, 'startdate' : startdate}, function(result){
		
	});
}
</script>
#parse('sns/common/ga.vm')
</body>
</html>