#set($appMap = {'bar':'酒吧','sport':'运动','gym':'健身','cinema':'影院','cinema_cmcc':'移动android客户端','fest':'电影节','drama':'演出'})

#set($oriMap = {'imax':'IMAX','qieke':'切客','soku':'搜酷','jimi':'积米','daohang2345':'导航2345网','melody-sh':'美音文化','bisp':'北纬通信'})