切换省份：
<select onchange="changeProvince(this.value)">
#if($provinceAll)
<option value="" >不限</option>
#end
#foreach($pro in $proMap.keySet())
<option value="$pro.provincecode" #if($pro.provincecode eq $provincecode)selected="selected"#end>$pro.provincename</option>
#end
</select>
<script type="text/javascript" >
	function changeProvince(provincecode){
		document.location='${basePath}$!{targetUrl}?provincecode=' + provincecode;
	};
</script>