<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>查看订单通知状态</title>
	<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=template&v=$VmUtils.jsVersion"/>
	<style type="text/css">
		.itemsList dl dt{margin-left: 30px;}
		.itemsList dl dd{margin-left: 60px;}
	</style>
</head>
<body>
<div class="panel">
	<div class="itemsList mt5">
		<dl>
			<form action="${basePath}admin/common/callbackOrder.xhtml">
			<dt>
				<input name="tradeno" type="text" value="$!params.tradeno"/>
				<input type="submit" value="查询"/>
			</dt>
			</form>
			<dt class="black bold">通知信息</dt>
			#if($VmUtils.isNotBlank($msg))<dd class="yellow" style="font-size: 16px;">>>$msg</dd>
			#end
			<hr style="margin:10px 20px;border:1px solid #EFE1DA;height:1px"/>
			<dd>
					<table class="roomManageTable" id="all_content" cellpadding="0" width="70%" cellspacing="0" border="1" style="margin:0">
						<tr>
							<td class="bold">订单号</td>
							<td class="bold">合作商ID</td>
							<td class="bold">回传状态</td>
							<td class="bold">回传次数</td>
							<td class="bold">添加时间</td>
							<td class="bold">更新时间</td>
						</tr>
						<tr>
							<td>$!order.tradeNo</td>
							<td>$!backOrder.partnerid</td>
							<td>$!backOrder.status</td>
							<td>$!backOrder.calltimes</td>
							<td>$!DateUtil.formatTimestamp($backOrder.addtime)</td>
							<td>$!DateUtil.formatTimestamp($backOrder.updatetime)</td>
						</tr>
					</table>
			</dd>
		</dl>
	</div>
</div>
</body>
</html>