<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<title>网站首页用户登录后信息列表</title>
	<link rel="stylesheet" type="text/css" media="all" href="${staticPath}component/css/default.css" />
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util,remote-util&v=$VmUtils.jsVersion"></script>
	<style type="text/css">
		#table thead th{
			border: 1px solid #fff;
			text-align: left;
				font-size: 1em;
			background: #e8e8cf;
		}
		.wd200{width:200px;}
		.wd120{width:120px;}
		.wd60{width:60px;}
		.wd40{width:40px;}
		.wd80{width:80px;}
		td{padding:0px;}
		.itable{border:2px solid #74B3DC;border-collapse: collapse;}
		.itable td{height:26px;vertical-align: middle;}
		.itable strong{color:red}
		.itable span{color:#ff6200;font-size:14px;font-weight:bold}
		.td td{border-bottom:1px solid #74B3DC;}
		.l_td{border-left:1px solid #74B3DC;}
		.r_td{border-right:1px solid #74B3DC;}
		.center{text-align:center;}
	</style>
</head>
<body style="width:95%; margin:auto">
<div style="clear:both;"></div>
<table width="95%" border="0"  cellspacing="0" class="itable" style="text-align: center;">
	<tr class="td">
	<td colspan="3" align="left" class="td">当前位置>><a href="${basePath}admin/recommend/indexCommend.xhtml">首页推荐</a>>>
	<span>网站首页右侧推荐链接列表</span></td>
		<td colspan="1" align="right">
				<a class="aEvent" href="${basePath}noLink.xhtml?signname=index_recommend_content&title=true&link=true">增加</a>| 	 	
				<a href="javascript:refreshPage()">刷新</a>&nbsp;&nbsp;&nbsp;&nbsp;
		</td>
	</tr>
	<tr class="td" >
			<td align="left" class="wd120 center" ><b>标题</b></td>
			<td align="left" class="wd120 center"><b>链接</b></td>
		<td align="left" class="wd60 center"><b>是否显示</b></td>
		<td align="left" class="wd120 center" ><b>操作</b></td>
	</tr>
	#foreach($gewa in $gewacommentList)
	<tr class="td" style="background:#ffffff;">
		<td class="wd120">$!gewa.title</td>
			<td  class="wd120">$!gewa.link</td>
			<td  class="wd150" style="width:150px;">
				<input type="text" name="ordernum" id="ordernum" style="width: 30px;" value="$!gewa.ordernum" onchange="orderNum($!gewa.id,this.value)" />
			</td>
		<td align="left" class="wd120">
			<a class="aEvent" href="${basePath}noLink.xhtml?id=$!gewa.id&signname=index_recommend_content&title=true&link=true">修改</a>&nbsp;&nbsp;
			<a href="javascript:void(0);" onclick="del($!gewa.id)">删除</a>
		</td>
		</tr>
		#end
</table>
#parse('admin/recommend/commonjs.vm')
</body>
</html>
