#if(!$VmUtils.isEmptyList($reList))
#foreach($key in $reList)
<span class="gray" style="color: red;">$!cityMap.get($key.citycode)</span>
<input name="flag1" type="checkbox" onclick="changeRelateFlag($key.relatedid, $key.citycode, this.value)" value="recommend" #if($VmUtils.contains($key.flag, 'recommend'))checked #end/>推荐
<input name="flag1" type="checkbox" onclick="changeRelateFlag($key.relatedid, $key.citycode, this.value)" value="hot" #if($VmUtils.contains($key.flag, 'hot')) checked #end/>精品
<input name="flag1" type="checkbox" onclick="changeRelateFlag($key.relatedid, $key.citycode, this.value)" value="$!flag"  #if($VmUtils.contains($key.flag, $flag))checked #end/>置顶
#end
#else
<span class="gray" style="color: red;">全国</span>
#end