
#foreach($st in $subwayStations)
#set($l2s = $l2sList.get($st.id))
<li style='float:left;width:32%'>
<label for="st$st.id" style="display:inline-block;">
	$st.stationname：
	<br />
	#if($otherinfoList.get($l2s.id))
		#if($otherinfoList.get($l2s.id).size() gt 1)
			#foreach($otherinfo in $otherinfoList.get($l2s.id))
				<input name="direction$!{l2s.id}" value="$!otherinfo.get('direction')" alt="行驶方向"  class="titleinput" style="width:80px"/>方向，
				<input name="time$!{l2s.id}" value="$!otherinfo.get('time')" alt="时间" class="titleinput" style="width:80px"/><br/>
			#end
		#else
			#set($otherinfo = $otherinfoList.get($l2s.id).get(0))
			<input name="direction$!{l2s.id}" value="$!otherinfo.get('direction')" alt="行驶方向"  class="titleinput" style="width:80px"/>方向，
			<input name="time$!{l2s.id}" value="$!otherinfo.get('time')" alt="时间" class="titleinput" style="width:80px"/><br/>
			<input name="direction$!{l2s.id}" value="" alt="行驶方向"  class="titleinput" style="width:80px"/>方向，
			<input name="time$!{l2s.id}" value="" alt="时间" class="titleinput" style="width:80px"/><br/>
		#end
	#else
	<input name="direction$!{l2s.id}" alt="行驶方向" class="titleinput" style="width:80px"/>方向，
	<input name="time$!{l2s.id}" alt="时间" class="titleinput" style="width:80px"/><br/>
	<input name="direction$!{l2s.id}" alt="行驶方向" class="titleinput" style="width:80px"/>方向，
	<input name="time$!{l2s.id}" alt="时间" class="titleinput" style="width:80px"/>
	#end
</label>
</li>
#end
	<script type="text/javascript">
window.addEvent('domready',function(){
		gewaUtil.textOver('.titleinput');
	});
	</script>