<theatreList>
	#foreach($theatre in $theatreList)
	<theatre>
		<gewaid>$!theatre.id</gewaid>
		<countycode>$!theatre.countycode</countycode>
		<countyname>$!theatre.countyname</countyname>
		<logo>${mobilePath}$!theatre.limg</logo>
		<indexareacode>$!theatre.indexareacode</indexareacode>
		<indexareaname>$!indexareaname</indexareaname>
		<name>$!theatre.name</name>
		<citycode>$!theatre.citycode</citycode>
		<updatetime>$!theatre.updatetime</updatetime>
	</theatre>
	#end
</theatreList>
