<input type="button" class="button" style="width:80px" value="增加广告位" onclick="addAdPosition()"/>
<a href="${basePath}admin/site/ad/adPositionList.xhtml">【全部】</a>&nbsp;&nbsp;
<a href="${basePath}admin/site/ad/adPositionList.xhtml?tag=index">【首页】</a>&nbsp;&nbsp;
<a href="${basePath}admin/site/ad/adPositionList.xhtml?tag=movieAutoIndex">【无人运营站点首页】</a>&nbsp;&nbsp;
<a href="${basePath}admin/site/ad/adPositionList.xhtml?tag=cinema">【电影】</a>&nbsp;&nbsp;
<a href="${basePath}admin/site/ad/adPositionList.xhtml?tag=gym">【健身】</a>&nbsp;&nbsp;
<a href="${basePath}admin/site/ad/adPositionList.xhtml?tag=ktv">【KTV】</a>&nbsp;&nbsp;
<a href="${basePath}admin/site/ad/adPositionList.xhtml?tag=bar">【酒吧】</a>&nbsp;&nbsp;
<a href="${basePath}admin/site/ad/adPositionList.xhtml?tag=sport">【运动】</a>
<a href="${basePath}admin/site/ad/adPositionList.xhtml?tag=qa">【知道】</a>&nbsp;&nbsp;
<a href="${basePath}admin/site/ad/adPositionList.xhtml?tag=bbs">【论坛】</a>
<a href="${basePath}admin/site/ad/adPositionList.xhtml?tag=drama">【演出】</a>
<a href="${basePath}admin/site/ad/adPositionList.xhtml?tag=ticketorder">【购票】</a>
<a href="${basePath}admin/site/ad/adPositionList.xhtml?tag=ticketsuccess">【购票成功页面】</a>
<a href="${basePath}admin/site/ad/adPositionList.xhtml?tag=everyPoint">【每日积分页面】</a>
<a href="${basePath}admin/site/ad/adPositionList.xhtml?tag=topics">【专题页面】</a>
<a href="${basePath}admin/site/ad/adPositionList.xhtml?tag=mobile">【手机】</a>
<a href="${basePath}admin/site/ad/adPositionList.xhtml?tag=wala">【哇啦】</a>
<a href="${basePath}admin/site/ad/export.xhtml">【导出全部】</a>&nbsp;&nbsp;
<!-- <a href="${basePath}admin/site/ad/upload.xhtml" target="_blank">【上传文件】</a>&nbsp;&nbsp; -->
