<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>发件箱  格瓦拉社区</title>
	<link rel="stylesheet" type="text/css" href="${staticPath}css/default.css?v=$VmUtils.jsVersion"/>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util,Autocompleter,page,noobSlide&v=$VmUtils.jsVersion"></script>
</head>
<body>
#set($dialogMessage=true)#set($isCloseAll=false)
#parse('sns/common/header.vm')
<div class="ui_layout">
	#parse('sns/common/left.vm')
	<div class="body_right">
	
	#set($messages=true)
	#parse("sns/message/menu.vm")
	<div class="bodys" id="_body">
	
		<div class="body_nav_second">
			<div class="navs">
				<a href="${basePath}home/sns/message/receUserMsgList.xhtml" >收件箱</a>
				<a href="${basePath}home/sns/message/sendUserMsgList.xhtml" class="hover">发件箱</a>
			</div>
		</div>
	
	<div class="sendim"><a href="javascript:;" onclick="showMark('markWindow','','','','')"></a></div>
	#if(!$VmUtils.isEmptyList($umaList))
	<ul class="mymessage">
		#foreach($uma in $umaList)
		#set($userMessage=$userMessageMap.get($uma.id))
		<li class="ui_abeam clear">
			<div class="uipic">
				<a href="${basePath}home/sns/othersPersonIndex.xhtml?memberid=$uma.frommemberid" target="_blank" title="$cacheMemberMap.get($uma.frommemberid).nickname"><img src="$VmUtils.randomPic('cw50h50',$cacheMemberMap.get($uma.frommemberid).headpicUrl)" width="50" height="50"/></a>
			</div>
			<div class="uiText">
				<p>发送到
				<a href="${basePath}home/sns/othersPersonIndex.xhtml?memberid=$uma.tomemberid" target="_blank">$cacheMemberMap.get($uma.tomemberid).nickname</a>：
				</p>
				<p><b class="brown">$!userMessage.subject</b></p>
				<p>$!userMessage.getRcontent($basePath)</p>
				<div class="title c999">
					$!DateUtil.format($uma.addtime,'yyyy-MM-dd HH:mm')
				</div>
				
			</div>
		</li>
		#end
	</ul>
	#else
	<div class="ui_warning">暂无消息！</div>
	#end
	#parse('include/pageUtil.vm')
</div>
	</div>
</div>
<div class="ui_view_menu"></div>
<div class="footer_warp">
	<div class="isFooter"></div>
</div>
#parse('include/innerLogin.vm')
#parse('include/home/friend.vm')
#parse('include/home/messageBox.vm')
<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=snsUtil,index_even&v=$VmUtils.jsVersion"></script>
<script type="text/javascript">
window.addEvent('domready',function(){
	if($('publicize'))new adSoild('publicize','navControl',{'position':{'x':#if($!params.memberid)280#{else}180#end,'y':#if($!params.memberid)80#{else}70#end},'width':14});
	if($('slidePanel'))new noobSlide({
		box: $('slidePanel'),
		size:180,
		items: $$('#slidePanel li'),
		handle_event:'click',
		addButtons: {
			previous:$('eventL'),
			next:$('eventR')
		}
	});
});

function delInterest(el){
	gewaUtil.confirm('确认删除吗?', function(){
		if(el == '')
			el =$('treasureid').value;
		var url = '${basePath}home/delInterestInfo.xhtml';
		var values = {'interestid':el};
		GewaraUtil.sendRequest(url, values, function(result){
			if(result.success){
				if($('interest'+el)){
					gewaUtil.dispose($('interest'+el));
				}
				hideTreasure();
			}else {
				gewaUtil.alert(result.msg);
			}	
		});
	})
}
</script>
#parse('sns/common/ga.vm')
</body>
</html>



