<div class="inner">
	<dl class="ui_abeam">
		<dt class="uipic"><a href="$!{basePath}home/sns/othersPersonIndex.xhtml?memberid=$memberinfo.id" class="pubpic" target="_blank"><img height="50" width="50" src="$VmUtils.randomPic('cw50h50',$memberinfo.headpicUrl)"></a></dt>
		<dd class="uiText">
			<a href="$!{basePath}home/sns/othersPersonIndex.xhtml?memberid=$memberinfo.id" target="_blank">$!memberinfo.nickname</a>
			<p>关注<a href="javascript:void(0);" class="mr5">$!treasureCount</a>|<span class="ml5">粉丝<a href="javascript:void(0);" class="mr5">$!fansCount</a></span>|<span class="ml5">哇啦<a href="${basePath}home/sns/othersPersonIndex.xhtml?memberid=$!memberinfo.id" class="mr5">$!commentCount</a></span></p>
		</dd>
	</dl>
	<p>#if(!$!VmUtils.isNull($!liveplace))来自：$!liveplace #end</p>
	<p>简介：#if($VmUtils.isNotBlank($!memberinfo.introduce)) $!VmUtils.escabbr($!memberinfo.introduce,30) #else这家伙很懒，什么也没留下... #end</p>
</div>
#if($!logonMember.id ne $!memberinfo.id)
<div class="userLink"><span class="apend_alink">
#if($!b)
<b style="display:none;">+</b><span id="personTewasureId" style="display:none"><a href="javascript:void(0)" onclick="addPersonMemberTreasure($!memberinfo.id,this)">加关注</a>.</span>
<span id="cancelPersonTewasureId" class="mr10 left"><span class="mr5">已关注</span>|<a href="javascript:void(0)" onclick="cancelMemberTreasure($!memberinfo.id,'micro')" class="ml5">取消</a></span>
#else
<b>+</b><span id="personTewasureId"><a href="javascript:void(0)" onclick="addPersonMemberTreasure($!memberinfo.id,this)">加关注</a>.</span>
<span id="cancelPersonTewasureId" style="display:none" class="mr10 left"><span class="mr5">已关注</span>|<a href="javascript:void(0)" onclick="cancelMemberTreasure($!memberinfo.id,'micro')" class="ml5">取消</a></span>
#end
</span></div>
#end
