<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>March Easy电影日特别剧场_格瓦拉生活网</title>
	<meta name="keywords" content="March Easy电影日特别剧场"/>
	<meta name="description" content="March Easy电影日特别剧场"/>
	<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=global&v=$VmUtils.jsVersion"/>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util,base_home,page&v=$VmUtils.jsVersion"></script>
</head>
<body>
#set($isSubject=true)#set($isMarchMovie = true)
#set($cfgHeader='newUserHeader')#parse('include/home/newUserHeader.vm')
#parse('subject/march/menu.vm')
<h1>March Easy电影日特别剧场</h1>
<div class="global_layout">
	<div style="width:854px;height:497px;padding:20px 40px;background:url(${staticPath}styles/march/bg.png) no-repeat;margin:0 auto;">
		<dl class="wd288">
			<dt class="wd288Inner">
				<a href="${basePath}movie/13786726" target="_blank"><img src="$VmUtils.randomPic('','styles/march/m1.png')" alt="《盗梦空间》"/></a>
				<a href="${basePath}movie/7700544" target="_blank"><img src="$VmUtils.randomPic('','styles/march/m2.png')" alt="《狄仁杰之通天帝国》"/></a>
				<a href="${basePath}movie/15331567" target="_blank"><img src="$VmUtils.randomPic('','styles/march/m3.png')" alt="《敢死队》"/></a>
				<a href="${basePath}movie/5988489" target="_blank"><img src="$VmUtils.randomPic('','styles/march/m4.png')" alt="《精武风云》"/></a>
				<a href="${basePath}subject/march/index.xhtml" style="position: absolute;width:190px;height:150px;display:block;background:url(${staticPath}styles/march/tag.png) no-repeat;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${basePath}styles/march/tag.png',sizingMethod='crop');bottom:-86px;left:40px;text-decoration: none !important"></a>
			</dt>
			<dd>
				<img src="$VmUtils.randomPic('','styles/march/t.png')" alt="March Easy电影日特别剧场"/>
				<p>时尚的汽车、大热的电影，除了电影中展现的汽车奔驰的优雅身影，车和电影还能擦出怎样精彩的火花？格瓦拉携手东风日产特别推出周末游March Easy电影日特别剧场，心动优惠价畅享March Easy推荐电影，还可在现场一睹March的闪亮风采，March Easy电影日让汽车电影不分家。</p>
				<p class="mt10">March Easy电影日特别剧场将于于9月4日、11日、25日分别在又一城放电影院、永华电影城和星美正大影城举行，届时在看电影之余你还可以参加现场的精彩活动，亲历March Easy带来的“易”生活理念。</p>
				<p class="mt10 brown">凡在MARCH EASY电影日在线购票成功者，凭30元特价票根至户外展示区即可获赠东风日产精美礼品一份，即来即送，数量有限，送完为止。（此活动最终解释权归东风日产&格瓦拉所有）</p>
				<img src="$VmUtils.randomPic('','styles/march/t2.png')" style="margin-top:50px;" alt="March Easy30元特价剧场："/>
				<div class="mt20">
					<a href="${basePath}subject/price5.xhtml?sid=19248446" style="background:url(${staticPath}styles/march/bt2.png) no-repeat;display:block;height:49px;width:254px;overflow:hidden;text-decoration: none !important;color:#fff;font-size:1.6em;font-weight:bold;text-align:center;line-height:49px;" target="_blank">点击进入30元购票专区</a>
				</div>
			</dd>
		</dl>
	</div>
</div>
#parse('include/bottom.vm')
</body>
</html>