<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<title>appsource管理</title>
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/default.css" />
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/container.css"></link>
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/button.css"></link>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara-util.js?v=${VmUtils.jsVersion}"></script>
	<style>
		label {display:inline-block;width:100px;text-align:right;padding:1px 0 1px 0;margin-top:3px}
		input,textarea {display:inline}
		.rolesList label{display:inline-block; width:150px; margin:0 10px 10px 0; text-align:left;}
	</style>
</head>
<body style="width:750px;margin:auto" class="yui-skin-sam">
#parse('include/mobile/appsource.vm')
<div id="movieDialog" class="yui-panel" style="width:700px;margin:auto">
<form name="apiUserForm" id="apiUserForm" action="${basePath}admin/draw/saveAppsource.xhtml" method="post">
	<div class="rolesList">
		<label>来源：</label><br/>
		<input type="hidden" name="activityid" value="$da.id"/>
		#foreach($as in $appSourcesMap.keySet())
		<label><input type="checkbox" name="appsource" value="$as"  #if($appList.contains($as))checked="checked"#end/>$appSourcesMap.get($as)</label>
		#end
		<div>
			<label>&nbsp;</label><input type="submit" class="button" style="width:100px" value="保存数据"/>
		</div>
	</div>
</form>
</div>
</body>
</html>
