<gewaOrder>
	#foreach($log in $hisLogList)
	<orderHis>
		<tradeNo>$!log.tradeNo</tradeNo>
		<memberid>$!log.memberid</memberid>
		<addtime>$!log.addtime</addtime>
		<action>$!log.action</action>
		<paymethod>$!log.paymethod</paymethod>
		<paybank>$!log.paybank</paybank>
	</orderHis>
	#end
</gewaOrder>