<invoice>
	<mobile>$!invoice.phone</mobile>
	<contactor>$!invoice.contactor</contactor>
	<address>$!invoice.address</address>
	<tradeNo>$!invoice.relatedid</tradeNo>
	<id>$!invoice.id</id>
	<title>$!invoice.title</title>
	<amount>$!invoice.amount</amount>
</invoice>
