<callInfo>
	<recordid>$!member.id</recordid>
	<username>$!member.nickname</username>
	<email>$!member.email</email>
	<mobile1>$!member.mobile</mobile1>
	<registertime>$!memberInfo.addtime</registertime>
	<sex>$!memberInfo.sex</sex>
	<name>$!memberInfo.realname</name>
	<code>$!memberInfo.postcode</code>
</callInfo>
