<style type="text/css">
	body {background:#000 url(${staticPath}styles/images/afterTroupe/top_bg_01.jpg) no-repeat center top;}
	.ui_layout{background:url(${staticPath}styles/images/afterTroupe/top_bg_02.jpg) no-repeat center top;}
	
	.btmBg {background:url(${staticPath}styles/images/afterTroupe/btm_bg.jpg) no-repeat center bottom;}
	.move_control a,#page a{background:url(${staticPath}styles/images/afterTroupe/icon_24.png) no-repeat;_background:url(${staticPath}styles/images/afterTroupe/icon_8.png) no-repeat;display:block; text-align:center;text-decoration:none;}
	.drama_box {width:960px;margin:0 auto;background-repeat:no-repeat;border:none;}
	.ui_layout,.ui_layout a  {color:#fff;}
	.ui_layout { padding-bottom:35px;overflow:hidden;height:100%;}
	.drama_box a:hover {color:#fff;text-decoration:none;}
	
	/*button 按钮*/
	.minBt{background-position:0 -4695px;}
	.minBt span,.minBt input{background-position:right -4720px;color:#fff;}
	.minBt:hover{background-position:0 -4841px;}
	.minBt:hover span,.minBt:hover input{background-position:right -4864px;color:#fff;}
	.bigBt{background-position:0 -3979px;}
	.bigBt span,.bigBt input{background-position:right -4012px;color:#fff;}
	.bigBt:hover{background-position:0 -3532px;}
	
	.drama_move {width:567px;height:272px;position:absolute;top:119px;left:22px;}
	.move_center{width:522px;height:272px;float:left;overflow:hidden;position:relative;}
	.move_center li {padding:35px 15px 18px; width:492px;height:217px; overflow:hidden;}
	.move_center ul {position:absolute;top:0;left:0;}
	.move_center .uipic {width:162px;}
	.move_center .uiText {width:320px; line-height:25px;}
	.move_center .uipic img{ padding:5px;border:1px solid #ccc;background-color:#fff;}
	.move_center .uiText h2 a {font-weight:bold;font-family:'微软雅黑','宋体';}
	.move_control {width:45px;height:272px;float:left;}
	.move_control a{width:26px; height:25px; line-height:25px;background-position:0 -26px; font-size:14px; margin:10px 0 0 10px;}
	.move_control a.select,.move_control a:hover{background-position:0 0;}
	.drama_join {position:absolute;top:277px; left:612px;}
	.drama_join a{ width:96px; height:44px;display:block; float:left; margin-right:10px; overflow:hidden;line-height:200px;}
	.notice {width:290px; height:130px; padding:10px; position:absolute; top:119px; right:42px;}
	.notice i{display:block;text-align:right;width:100%;margin-top:5px;}
	.notice span{display:block;}
	
	.reviewMenu {overflow:hidden; border:1px solid #363535;margin-left:97px;border-radius:5px; width:302px;}
	.reviewMenu li {height:30px;line-height:30px;font-size:14px; width:100px; text-align:center;float:left;border-right:1px solid #363535;}
	.reviewMenu li.select {background-color:#960; font-weight:bold;}
	.reviewMenu li a {height:30px;width:100px;display:block;}
	
	.review {margin-top:10px;position:relative;}
	.panel_33_40,.panel_66_50,.panel_33_50,.panel_f6_70{ width:100%; overflow:hidden;}
	.panel_33_40{background-color:#333;border-radius:5px;opacity:0.6;filter:alpha(opacity = 60);}
	.panel_66_50{background-color:#666;opacity:0.5; filter:alpha(opacity = 50);}
	.panel_33_50{background-color:#333;opacity:0.5; filter:alpha(opacity = 50);}
	.panel_f6_70{background-color:#f66;opacity:0.3; filter:alpha(opacity = 30);}
	.postop {position:absolute;top:0; left:0;}
	
	.row li{width:210px; float:left; margin:15px 15px 0;display:inline;text-align:center;position:relative;}
	.row li .box{width:100%;}
	.topbox {position:relative;height:40px;}
	.topbox em {height:30px; line-height:30px; display:block; width:100%;text-align:center;}
	.cerbox{padding:0 15px 15px;height:300px;overflow:hidden;}
	.cerbox h3 {height:40px; line-height:45px;overflow:hidden; text-align:center; display:block;font-size:12px;}
	.cerbox span{display:block; width:100%; text-align:left;}
	.btmbox{position:relative;height:53px;}
	.btmbox dl {padding:10px;width:190px;}
	.btmbox .uipic {width:30px; height:30px;}
	.btmbox .uiText {width:150px; text-align:left; color:#999;}
	.btmbox .uiText a {color:#999;}
	
	/*分页*/
	.page{text-align:center; width:100%;}
	#page {height:auto;}
	#page a,#page a.next,#page a.pre,#page a span{padding:0; width:20px; height:16px;line-height:16px; display:inline-block; float:none; color:#fff !important;background-position:0 -75px;font-size:12px;font-family:'宋体';margin:0;}
	#page a.on, #page a:hover,#page a.next,#page a.pre{background-position:0 -55px;}
	#page,#page strong {float:none;}
	#page a span,#page a.on span, #page a:hover span{color:#fff !important;background:none;padding:0 !important;margin:0 !important; line-height:16px;}
	#page a.next,#page a.pre {}
	
	/*哇啦*/
	.pool_wala {overflow:hidden;clear:both; width:960px;display:block;}
	.pool_wala .panel_33_50 { border-radius:5px;}
	.pool_wala_left {width:680px; position:relative; float:left; overflow:hidden; }
	.pool_wala_right {width:265px; overflow:hidden; margin-left:15px; position:relative; float:left;}
	.wala_center {width:630px; padding:20px 15px 0 15px; overflow:hidden;display:block;}
	.send_wala .wala_text .pl,.switch_ui_inside .pl {background-color:transparent;}
	.wala_pl { height:22px;}
	.ui_layout, .ui_layout a {color:#fff !important;}
	.w90_button {background-position:0 48px;}
	.gewa_outer_text,.gewa_outer_text a{color:#333 !important;}
	.gewa_outer_text a:hover{color:#f60 !important;}
	.list_wala .uiText{width:560px;}
	.wala_center .send_wala .uiText{padding-left:10px;}
	.wala_center .uipic {display:inline-block;margin-right:10px;text-align:center;width:50px;}
	#container{margin-bottom:30px;}
	.uidialog span, .loadFace span, .uidialog a {border:1px solid #EFEFEF;display:inline-block;float:left;margin:1px;text-decoration:none!important;}
		
	.circle h2,.circle h3{font-size:16px; font-family:'微软雅黑','宋体';padding:15px 0 5px 15px;display:block;}
	.circle dl {overflow:hidden;padding:10px;}
	.circle dt{width:120px;}
	.circle dd{width:115px;}
	.circle dd b {font-size:14px;}
	.circle p {padding:0 20px; clear:both; overflow:hidden;}
	.circle h3{font-size:12px;}
	.circle ul {overflow:hidden;width:100%;}
	.circle li {float:left; width:88px; heihgt:100%; margin-top:10px;overflow:hidden;text-align:center;display:inline-block;}
</style>