<data>#set($paymethod=$order.paymethod)
	#foreach($key in $banktypeMap.keySet())
	<cardtype>
		<typeval>$key</typeval>
		<banks>
			#set($bankList=$banktypeMap.get($key))
			#foreach($bank in $bankList)
			#set($pb=$order.paymethod+':'+$bank.code)
			#if($valHelp.supportPaymethod($pb))
			<bank>
				<code>$bank.code</code>
				<name>$bank.shortname</name>
			</bank>
			#end
			#end
		</banks>
	</cardtype>
	#end
</data>