<div class="tab_menu">
	<ul>
		<li><a href="${basePath}home/commu/commuList.xhtml" #if($joinComunity) class="select" #end><span>我的圈子</span></a></li>
		#*<li><a href="${basePath}home/commu/friendCommuList.xhtml" #if($friendCommunity) class="select"#end><span>好友圈子</span></a></li>		
		<li><a href="${basePath}home/commu/allCommuDiaryList.xhtml" #if($commentList) class="select" #end><span>圈内话题</span></a></li>
		<!--  <li><a href="${basePath}home/commu/allCommuActivityList.xhtml" #if($communityActivity) class="select"#end><span>圈内活动</span></a></li> -->
		<li><a href="${basePath}home/commu/allCommuAlbumList.xhtml" #if($communityPhotos) class="select" #end><span>圈内相册</span></a></li>*#
		<li><a href="${basePath}quan" #if($findComunity) class="select" #end><span>全部圈子</span></a></li>
	</ul>
	#if($communityPhotoDetail)<a href="" class="more  button minBt redBt" target="_blank"><span>+添加图片</span></a>#end
	
	#if($findComunity || $joinComunity || $commentList || $communityActivity || $communityPhotos)<a href="${basePath}home/commu/addCommu.xhtml" class="more button whiteBt minBt" style="right:0;" target="_blank"><span>+创建圈子</span></a>#end
</div>
