<div class="tab_menu">
	<ul>
		<li><a href="${basePath}home/friend/friendList.xhtml?memberid=$member.id" #if($myfriend) class="select" #end><span>我的好友</span></a></li>
		#*<li><a href=""><span>关注</span></a></li>
		<li><a href=""><span>粉丝</span></a></li>*#
		<li><a href="${basePath}home/friend/seeMeList.xhtml" #if($whoSeeMe) class="select"#end><span>谁来看过我</span></a></li>
		<li><a href="${basePath}home/friend/inviteFriend.xhtml" #if($isInvite) class="select" #end><span>邀请好友</span></a></li>
		<li><a href="${basePath}home/friend/searchFriend.xhtml" #if($findFriend) class="select" #end><span>找感兴趣的人</span></a></li>
	</ul>
	<a href="${basePath}home/friend/addMember.xhtml" class="button whiteBt minBt more"><span>添加生活好友</span></a>
</div>
