<div class="menuPoints widCen" style="margin-top:20px;">
	<ul>
		<li>#if($pointIndex)<span class="hoverLink"></span>#end<a href="${basePath}exchange/point/index.xhtml" title="积分首页">积分首页</a></li>
		<li>#if($getPoint)<span class="hoverLink"></span>#end<a href="${basePath}exchange/point/getPointMethod.xhtml" title="赚积分">赚积分</a></li>
		<li>#if($exchange)<span class="hoverLink"></span>#end<a href="${basePath}exchange/point/goodsList.xhtml" title="积分兑换">积分兑换</a></li>
		<li style="border:none;">#if($introduce)<span class="hoverLink"></span>#end<a href="${basePath}helpCenter/index.dhtml?diaryId=3120809&dkey=helpcenter1306130659993" title="积分说明" target="_blank">积分说明</a></li>
	</ul>
</div>