<div class="horn">
	<em class="m1"></em><em class="m2"></em>
	<div class="m">
		<ul class="ul-box" style="margin:0px">
			<li style="margin:0px">
				<span class="pubpic"><a href="${basePath}home/sns/personIndex.xhtml" target="_blank" title="$memberInfo.nickname"><img src="${staticPath}css/images/blank.gif" style="background:url($VmUtils.randomPic('cw50h50',$!memberInfo.headpicUrl)) center center no-repeat"/></a></span>
				<strong><a href="${basePath}home/sns/personIndex.xhtml" target="_blank" title="$member.nickname">$memberInfo.nickname</a>，欢迎回来!</strong><br/>
				积分：$!memberInfo.pointvalue <a href ="${basePath}exchange/point/index.xhtml" style="margin-left: 15px;">赚积分</a>
			</li>
		</ul>
		<div class="height0"></div>
		<div class="showList" style="margin-top:10px;padding:0 10px;">
			<a href="${basePath}home/sns/personIndex.xhtml" class="bold brown mr10">我的格瓦拉</a>|
			<a href="${basePath}home/acct/pointList.xhtml" class="bold brown mr10 ml10">我的积分</a>|
			<a href="${basePath}home/charge.xhtml" class="bold brown ml10">我的账户</a>
		</div>
		<ul class="ul-dot ul-line ul-28">
			#foreach($gewa in $loginedGewaList)
			<li><a href="$!gewa.link" target="_blank">$!gewa.title</a></li>
			#end
		</ul>
	</div>
	<em class="m2"></em><em class="m1"></em>
</div>