<div class="tab_menu">
	<ul>
		<li><a href="${basePath}home/acct/memberinfo.xhtml?tagNo=$VmUtils.getRandom()" #if($myBaseInfo)class="select"#end><span>个人资料</span></a></li>
		#*<li><a href="${basePath}home/acct/memberinfo.xhtml?tag=cellphone&tagNo=$VmUtils.getRandom()" #if($cellphone)class="select"#end><span>手机绑定</span></a></li>*#
		<li><a href="${basePath}home/acct/chanageHead.xhtml?tagNo=$VmUtils.getRandom()" #if($changeHead)class="select"#end><span>我的头像</span></a></li>
		#*<li><a href="${basePath}home/acct/upPass.xhtml?tagNo=$VmUtils.getRandom()" #if($upPass)class="select"#end><span>#if($memberInfo.bindSuccess)修改密码#{else}设置密码#end</span></a></li>*#
		<li><a href="${basePath}home/acct/searchHideSet.xhtml?tagNo=$VmUtils.getRandom()" #if($private) class="select" #end><span>隐私设置</span></a></li>
		<li><a href="${basePath}home/friend/inviteFriend.xhtml?tagNo=$VmUtils.getRandom()" #if($yaoqing)class="select"#end><span>邀请好友</span></a></li>
	</ul>
</div>