<div class="gui-title" style="height:50px;line-height:50px;">
	<h1>$!sportItem.itemname</h1><span class="gray fs14 ml10">$!sportItem.englishname</span>
	<div class="gui-more" style="top:25px;line-height:22px;">
		<a href="${basePath}blog/sportservice/$!sportItem.id" class="freeTag mr5 ml5" style="background-position:0 -2967px;color:#1682aa;" target="_blank">进入论坛</a>|
		<a href="${basePath}blog/modifyTopic.xhtml?tag=sportservice&relatedid=$!sportItem.id&type=1" class="mr5 ml5 freeTag" style="background-position:0 -2918px;color:#1682aa;" target="_blank">发表评论</a>|
		<span onclick="showCorrDialog('sportservice', $!sportItem.id)" class="ml5 freeTag" style="background-position:0 -2869px;color:#1682aa;cursor: pointer;">纠错</span>
	</div>
</div>
<div class="gui-globalMenu">
	<ul>
		<li><a href="${basePath}sport/item/$!sportItem.id" #if($isItemDetail) class="select" #end>项目首页</a></li>
		<li><a href="${basePath}sport/item/$!sportItem.id/rookielist" #if($isSportJackeroo) class="select" #end>初学入门</a></li>
		<li><a href="${basePath}sport/item/$!sportItem.id/masterlist" #if($isSportSuperior) class="select" #end>高手进阶</a></li>
		<li><a href="${basePath}sport/item/$!sportItem.id/pricetable" #if($isItemPrice)class="select"#end>价格表</a></li>
		<li><a href="${basePath}sport/item/$!sportItem.id/diarylist" #if($isItemDiary)class="select"#end>运动心得</a></li>
		<li><a href="${basePath}sport/item/$!sportItem.id/librarylist" #if($isItemData)class="select"#end>资料库</a></li>
		<li><a href="${basePath}blog/sport/$sportItem.id" target="_blank">$!{sportItem.itemname}论坛</a></li>
	</ul>
	#set($ctitle="我在格瓦拉生活网看到一个很有意思的运动项目“$!sportItem.itemname”跟大家分享一下  ——来自格瓦拉生活网")
	<div class="gui-more" style="top:10px;">
		<span id="ckepop">
			<a href="http://www.jiathis.com/share/?uid=1518302" rel="nofollow" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank">分享到：</a>
			<a class="jiathis_button_tsina"></a>
			<a class="jiathis_button_tqq"></a>
			<a class="jiathis_button_kaixin001"></a>
			<a class="jiathis_button_douban"></a>
		</span>
	</div>
</div>
#parse('include/mistake.vm')
<script type="text/javascript">
	window.addEvent('load', function(){
		Asset.javascript('http://v1.jiathis.com/code_mini/jia.js?uid=1518302', {
			onLoad: function(){
				jiathis_config = {
					data_track_clickback:true,
					url: document.location.href,
					title: "$!ctitle"
				}
			}
		});
	});
</script>