#if(!$VmUtils.isEmptyList($adList))
<div class="mod_kong indexYhAc" id="indexYhAc">
	<div class="mod_hd">
		<h2>优惠活动</h2>
		<div class="stepControl">
			<span class="info mr15"></span>
			<span class="prev"></span>
			<span class="next"></span>
		</div>
	</div>
	<div class="mod_bd">
		<div class="opiList">
			<ul class="opiUl">
				#foreach($ad in $adList)
				<li><a href="$!ad.link" title="$!ad.title" target="_blank"><img width="310" height="100" alt="$!ad.title" src="$VmUtils.randomPic('sw310h100',$!ad.limg)"/></a></li>
				#end
			</ul>
		</div>
	</div>
</div>
<script type="text/javascript">
window.addEvent('domready',function(){
	var listShow02 = new slideGallery($$("#indexYhAc"), {
		steps: 1,
		mode: "line",
		onStart:function(){
			this.gallery.getElement(".info").set("html", parseInt(this.current+1) + "/" + $VmUtils.size($adList));
		},
		onPlay: function() {
			this.fireEvent("start");
		}
	});
});
</script>
#end