<div class="menu">
	<div class="menuInner">
		<ul>
			<li #if($isOrder)class="currs"#end>
				#if($isMemberCardOrder)
					<a href="${basePath}admin/sport/open/memberCard/orderList.xhtml?minute=240&sportid=$!cursport.id" class="admin"><span>订单管理</span></a>
				#else
					<a href="${basePath}admin/sport/open/orderList.xhtml?minute=240&sportid=$!cursport.id" class="admin"><span>订单管理</span></a>
				#end
			</li>
			<li #if($isSport)class="currs"#end><a href="${basePath}admin/sport/open/ottList.xhtml?sportid=$cursport.id" class="admin"><span>$!{cursport.name}</span></a></li>
			#if($cursport)
				<li #if($isBaseData)class="currs"#end><a href="${basePath}admin/sport/open/baseData.xhtml?sportid=$cursport.id" class="admin"><span>基础数据</span></a></li>
				<li #if($isSynch)class="currs"#end><a href="${basePath}admin/sport/open/synchTime.xhtml?sportid=$cursport.id" class="admin"><span>数据同步检查</span></a></li>
			#end
			#if($isItemTime)
				<li #if($isProgram)class="currs"#end><a href="${basePath}admin/sport/open/programItemList.xhtml?sportid=$!cursport.id&itemid=$item.id" class="admin"><span>时间段数据</span></a></li>
			#end
			<li #if($!params.orderType eq 'sport')class="currs"#end><a href="${basePath}admin/message/smsList.xhtml?status=failure" class="admin"><span>失败短信</span></a></li>
			<li #if($!ordertype eq 'sport')class="currs"#end><a href="${basePath}admin/message/unSmsRecordOrderList.xhtml?ordertype=sport" class="admin"><span>未加入短信</span></a></li>
			<li #if($!ordertype eq 'sport')class="currs"#end>
				#if($cursport)
					<a href="${basePath}admin/sport/open/sportSettleList.xhtml?sportid=$cursport.id" class="admin">
				#else
					<a href="${basePath}admin/sport/open/sportSettleList.xhtml?sportid=$sportid" class="admin">
				#end
					<span>结算说明</span>
				</a>
			</li>
			<li #if($isCard)class="currs"#end><a href="${basePath}admin/sport/open/memberCard/memberCardTypeList.xhtml?sportid=$!cursport.id" class="admin"><span>会员卡管理</span></a></li>
		</ul>
	</div>
</div>