<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>一元秒杀电影票，缤纷好礼等你拿_兴业银行杭州分行_格瓦拉生活网</title>
<meta name="keywords" content="一元秒杀电影票，缤纷好礼等你拿,网上预订电影票,上海电影票优惠,上海打折电影票,购电影票,网上预定电影票,网上订票电影票,电影票订购,影片排片"/>
<meta name="description" content="一元秒杀电影票，缤纷好礼等你拿"/>
<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=layout,new_movie&v=$VmUtils.jsVersion"/>
<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util,base_home&v=$VmUtils.jsVersion"></script>
<style type="text/css">
	.ui_layout{background:#014099;}
	.container{width:960px;border-images:none;margin:0 auto;background-repeat:no-repeat;}
	.cibcontList,.cibcontList h3{background:url(${staticPath}styles/images/cibbank/cibbanner9.jpg) no-repeat;}
	.cibcontList{padding-bottom:30px; background-position:0 bottom; margin:30px 0;}
	.cibcontList h3{height:38px; line-height:38px; background-position:0 0; display:block; text-indent:-9999px; overflow:hidden;}
	.cibcontList ul{background:url(${staticPath}styles/images/cibbank/cibbg.gif) repeat-y #fff; padding:20px 30px; width:900px;}
	.cibcontList ul li{width:390px; padding:0 5px; overflow:hidden; border-bottom:1px solid #1853a7; height:28px; line-height:28px; float:left; margin:0 20px; color:#014099;}
	.cibcontList ul li span{display:inline-block; float:left; height:28px; line-height:28px; overflow:hidden;}
	.cibcontList ul li span.icbUserName{width:80px; margin-right:10px;}
	.cibcontList ul li span.icbGift{width:190px}
	.cibcontList ul li span.icbgetTime{width:110px; text-align:right;}
	.cibcontList ul li b{font-weight:normal; color:#EC611E; padding:0 2px;}
	.flash{top:0px;width:960px;height:444px;right:0px;overflow:hidden;float: left;}
</style>
</head>
<body>
#set($cfgHeader='header')#parse('include/navigation.vm')
<div class="ui_layout">
	<div class="container" style="height:62px; background-image:url(${staticPath}styles/images/cibbank/cibbanner1.jpg)"></div>
	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="myFlash" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="960" height="570" id="myFlash">
	   <param name="movie" value="${basePath}flash/xybank/xyyh.swf?v=222" />
	   <param name="quality" value="high" />
	   <param name="wmode" value="transparent" />
	   <embed src="${basePath}flash/xybank/xyyh.swf?v=222" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="960" height="570" wmode="transparent" name="myFlash"></embed>
	</object>
	<div class="container" style="height:100px; background-image:url(${staticPath}styles/images/cibbank/cibbanner2.jpg)"></div>
	<div class="container" style="height:100px; background-image:url(${staticPath}styles/images/cibbank/cibbanner3.jpg)"></div>
	<div class="container" style="height:100px; background-image:url(${staticPath}styles/images/cibbank/cibbanner4.jpg)"></div>
	<div class="container" style="height:100px; background-image:url(${staticPath}styles/images/cibbank/cibbanner5.jpg)"></div>
	<div class="container" style="height:100px; background-image:url(${staticPath}styles/images/cibbank/cibbanner6.jpg)"></div>
	<div class="container" style="height:100px; background-image:url(${staticPath}styles/images/cibbank/cibbanner7.jpg)"></div>
	<div class="container" style="height:180px; background-image:url(${staticPath}styles/images/cibbank/cibbanner8.jpg)"></div>
	<div class="cibcontList">
		<h3>中奖名单</h3>
		<ul class="clear">
			#foreach($winner in $winnerList)
			<li>
				<span title="$!winner.nickname" class="icbUserName">$!VmUtils.escabbr($!winner.nickname, 12)</span>
				<span title="获得$!{prizeMap.get($winner.prizeid).plevel}奖品" class="icbGift">获得<b>$VmUtils.escabbr($!prizeMap.get($winner.prizeid).plevel, 28)</b>奖品</span>
				<span class="icbgetTime">$!DateUtil.format($winner.addtime, 'yyyy-MM-dd HH:mm:ss')</span>
			</li>
			#end
		</ul>
	</div>
</div>
<div id="updateMemberInfo"  style="display:none">
	<form id="upMoibleForm" name="upMoibleForm" method="post" action="javascript:upMobile()" style="margin-bottom: 10px;">
		<input type="hidden" id="tag" name="tag" value="bind"/>
		<ul class="ul-80" style="margin-top: 15px;">
			<li class="clear">
				<div class="ul-80Inner">填写手机号：</div>
				<div style="float:left;width:100%">
					<input name="mobile" id="umobile" type="text" class="text" style="width:100px;"value="$!logonMember.mobile" />
					<label class="button whiteBt minBt ml5">
						<input type="button" onclick="resend('change');" value="发送验证码" id="btn2"></input>
					</label>
					<span id="showMessage" style="display:none;" class="brown">
						没有收到短信验证码，可在<span class="ml5 mr5" id="timecount"></span>秒后重新发送
					</span>
				</div>	
			</li>
			<li><div class="ul-80Inner">短信验证码：</div><input name="mobile2" id="mobile2" type="text" class="text" style="width:100px;"/></li>
		</ul>
	</form>
</div>
<div id="infos" style="display:none">
	<div style="color:red;font-size: 14px">在活动结束后，我们会5-7个工作日送出！</div>
	<form action="javascript:addinfo()" method="post" id="info" name="info" >
	<div id="customerInfo">
		<dl class="tales60">
			<dt>收货地址:</dt>
			<dd><label for="i_2" class="text label"><input type="text" class="text" name="address" id="address" /></label></dd>
		</dl>
	</div>
	</form>
</div>
#parse('include/bottom.vm')
</body>
<script language=JavaScript>
<!--
var InternetExplorer = navigator.appName.indexOf("Microsoft") != -1;
function myFlash_DoFSCommand(command, args){
	var myFlashObj = InternetExplorer ? myFlash : document.myFlash;
	if(args == 'nologin'){
		showLogin();
	}else if(args == 'nodrawcount'){
		gewaUtil.alert("您当前的抽奖次数为 0 次，请先购票！");
	}else if(args == 'nostart'){
		gewaUtil.alert("活动尚未开始，请耐心等待！");
	}else if(args == 'syserror'){
		gewaUtil.alert("操作失败！请重试！");
	}else if(args == 'noprize'){
		gewaUtil.alert("奖品已抽完，感谢您的参与！");
	}else if(args == 'nobindMobile'){
		gewa.util.issure('','updateMemberInfo','请绑定您的手机号码，便于收取获奖信息：',420,'keys',function(){
			upMobile();
		});
	}else if(args == 'onlyoneprize'){
		gewaUtil.alert("当前抽奖机会已用完，谢谢您的参与！");
	}else if(args == 'addCustomerInfo'){
		gewa.util.issure('','infos','收货地址：',420,'keys',function(){
			addinfo();
		});
	}
}
if (navigator.appName && navigator.appName.indexOf("Microsoft") != -1 && 
  navigator.userAgent.indexOf("Windows") != -1 && navigator.userAgent.indexOf("Windows 3.1") == -1) {
  document.write('<script language=VBScript\> \n');
  document.write('on error resume next \n');
  document.write('Sub myFlash_FSCommand(ByVal command, ByVal args)\n');
  document.write(' call myFlash_DoFSCommand(command, args)\n');
  document.write('end sub\n');
  document.write('</script\> \n');
}

function upMobile(){
	if(!$('umobile').value){
		gewaUtil.alert('请输入手机号码！');
		return;
	}
	GewaraUtil.mask('disBtnMobile');
	var url = '${basePath}home/acct/sendExchangeMobile.xhtml';
	var values = GewaraUtil.getValues("upMoibleForm");
	GewaraUtil.sendRequest(url, values, function(result){
		GewaraUtil.unmask();
		if(result.success){
			gewaUtil.alert('设置成功！');
			refreshPage();
		}else{
			gewaUtil.alert(result.msg);
		}
	});
}
function resend(tag){
	checkLogin(true,function(){
		gewa.util.mask({'element': "btn2",'title':'正在提交，请稍等...'});
		var values = {"mobile":$('umobile').value,'tag':tag};
		GewaraUtil.sendRequest('${basePath}home/bindmobile/receive.xhtml', values, function(result){
			if(result.success){
				gewa.util.clearMask();
				retime();
			}else{
				gewa.util.clearMask();
				if(result.msg) gewaUtil.alert(result.msg);
			}
		}, 'get');
	});
}
var second = 60;
GetRTime = function (){  
	if(second>=0){
		$('showMessage').setStyle('display','block');  
		$('timecount').set('html', second);
		second = second-1;
		setTimeout("GetRTime()",1000);
	}else {  
		$("btn2").set("disabled", false); 
		$('showMessage').setStyle('display','none');
		$("btn2").setStyle("cursor","pointer"); 
	}  
} 
retime = function(){
	$("btn2").set("disabled", true);
	$("btn2").setStyle("cursor",""); 
	second = 60;
	GetRTime();
}
function addinfo(){
	var address=$('address').value;
	if(address==''){
		gewaUtil.alert('地址不能为空！');
		return false;
	}
	var url = "${basePath}subject/xybank/addCarbInfo.xhtml";
	var values = GewaraUtil.getValues("info");
	GewaraUtil.sendRequest(url, values, function(result){
		if(result.success){
			gewaUtil.alert("提交成功！", refreshPage);
		}else{
			gewaUtil.alert(result.msg);
		}
	});
}
//-->
</script>
</html>