<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>账号注册 - 格瓦拉生活网</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=ui_layout&v=$VmUtils.jsVersion" />
	<style type="text/css">
	body{background:#f2f2f2;font-size:14px;}
	input{vertical-align: -2px;_vertical-align: 0px;}
	.G_nologin{width:1200px;margin:0 auto;}
	.G_reg_header{padding:15px 0;}
	.reg_logo .logo{display:block;height:41px;overflow:hidden;width:102px;float:left;}
	.reg_logo .logo img{width:102;height:286px;background:url(/css/global/newLogos.png?v=0001) no-repeat;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/css/global/newLogos.png?v=0001',sizingMethod='crop');border:none;}
	.G_reg_header h1{font:30px/50px "微软雅黑",Arial,Helvetica,'宋体';float:left;margin-left:25px;}
	.W_login_form .overTxtLabel{font-size:16px;}
	.G_nologin_main{width:1100px;padding:50px;background:#fff;}
	.scroll_img{width:240px;float:left;color:#666;border-left:1px dashed #dddddd;padding-left:100px;}
   .scroll_img #move_tag{width:660px; height:10px; text-align:center; line-height:10px; display: block;margin-top:10px;}
   .W_login_form .username, .W_login_form .password,.no_reg .W_btn_g,.cooperation dd a{background:url("${staticPath}css/home/form_login.png") no-repeat 0 0;}
	.info_list .icon_th{position: absolute;left:330px;top:44px;}
	.loginbox{width:670px;float:left;color:#999;}
	.loginbox .W_login_form{padding-left:70px;}
	.W_login_form .info_list{margin:0 0 20px;position:relative;clear: both;height:44px;}
	.W_login_form .info_list .notice{position:absolute;top:-21px;left:0;}
	.W_login_form .username, .W_login_form .password, .W_login_form .verify{border:1px solid #ccc; border-radius:2px;box-shadow:1px 1px 1px 0 #eaeaea inset;color:#ccc;height:30px;padding:9px 3px 3px 54px;display:block;float:left;width:300px;}
	.W_login_form .inpt{border:1px solid #ccc; border-radius:2px;box-shadow:1px 1px 1px 0 #eaeaea inset;color:#ccc;height:30px;padding:9px 3px 3px 12px;display:block;width:300px;float:left;outline: none;background:#fff;}
	.W_login_form .inpt input{border:0 none;width:300px;height:24px;color:#808080;font:22px/24px verdana,lucida,arial,helvetica,"宋体",sans-serif;vertical-align: -3px;outline: none;background:#fff;}
	.W_login_form .username input, .W_login_form .password input,.W_login_form .verify input{border:0 none;width:300px;height:24px;color:#808080;font:22px/24px verdana,lucida,arial,helvetica,"宋体",sans-serif;vertical-align: -3px;outline: none;background:#fff;}
	.W_login_form .focus_error{border-color:#dd4b39}
	.W_login_form .focusInpt{box-shadow:0 0 5px #ff9a66;border-color:#ff9a66;}
	.W_login_form .verify{padding:9px 5px 3px;float:left;}
	.W_login_form .verify input{width:155px;}
	.W_login_form .username{background-position:3px -534px;width:256px;}
	.W_login_form .password{background-position:3px -577px;width:256px;}
	.W_login_form .lostPassword a,.no_reg_tip a{color:#333;}
	.W_login_form .no_reg{padding-bottom:20px;}
	.W_login_form .no_reg .W_btn_g{float:left;display:block;width:180px;height:60px;background-position:-1px -140px;font:30px/60px "微软雅黑",Arial,Helvetica,'宋体';color:#fff;text-align:center;}
	.W_login_form .no_reg .W_btn_g:hover{background-position:-1px -220px;text-decoration:none;color:#fff;}
	.W_login_form .no_reg_tip{float:right;margin:32px 0 0;}
	.info_list i,.getCheckpass i{font-style: normal;display: inline-block;margin:10px 0 0 16px;}
	.cooperation dt,.scroll_img h2,.W_login_form h2{font-size:20px;color:#333;font-weight: normal;color:#666}
	.W_login_form h2{padding-bottom:15px;display: block;}
	.cooperation dd a{display:block;float:left;width:90px;height:90px;margin:0 2px 2px 0;text-indent:-9999px;overflow:hidden;}
	.cooperation dd .sina{background-position:0 -300px;}
	.cooperation dd .qq{background-position:-92px -300px;}
	.cooperation dd .zhifubao{background-position:-184px -300px;}
	.cooperation dd .yinlian{background-position:-276px -300px;}
	.cooperation dd .sina:hover{background-position:0 -401px;}
	.cooperation dd .qq:hover{background-position:-92px -401px;}
	.cooperation dd .zhifubao:hover{background-position:-184px -401px;}
	.cooperation dd .yinlian:hover{background-position:-276px -401px;}
	
	.G_reg_bottom{width:100%;height:70px;line-height:70px;color:#333;background:#e4e4e4;text-align:left;}
	.G_reg_bottom p{width:1200px;margin:0 auto;}
	.G_reg_bottom p span{margin-right:15px;}
	.G_reg_bottom p span em{font-weight:bold;}
	.mr30{margin-right:30px!important;}
	.c_red{color:red;}
	.getCheckpass{margin-bottom:28px;}
	.getCheckpass span{display: inline-block;height:30px;line-height: 30px;border:1px solid #ececec;background:#f7f7f7;width:160px;text-align: center;cursor: pointer;border-radius:3px;color:#666;}
	</style>
</head>
<body>
#set($tag="home")
#if($syscitycodeKey)
	#set($cookieCitycode=$syscitycodeKey)
#else
	#set($cookieCitycode=$cookieTool.citycode.value)
#end
#if($VmUtils.isBlank($cookieCitycode))#set($cookieCitycode='310000')#end
#if(!$isCityParam)
#parse('include/constant/city.vm')
#set($cityPinyin=$pinyinMap.get($cookieCitycode))
#set($cookieCityname=$!CITY_MAP.get($cookieCitycode))
#end
<div class="G_nologin">
	<div class="G_reg_header clear">
		<div class="reg_logo"><a href="${basePath}" class="logo"><img src="${staticPath}css/images/blank.gif" alt="格瓦拉生活网" width="102" height="40"/></a></div>
		<h1>欢迎注册</h1>
	</div>
	<div class="G_nologin_main clear">
		<div class="loginbox">
			<div class="W_login_form" id="phoneLogin_content">
				<h2>请使用手机号码注册格瓦拉账号！还可以<a href="${basePath}emailregister.xhtml" style="text-decoration: underline;">邮箱注册</a></h2>
				<div class="info_list">
					<label class="username">
						<input class="G_input" maxlength="11" type="text" id="mobile" name="mobile" alt="手机号码" style="width:246px;"/>
					</label>
					<div id="showReCaptcha" style="display:block;width:200px;position: absolute;left:330px;">
						<input type="hidden" name="captchaId" id="captchaMobile"/>
						<label class="inpt" for="captchaMobileInput" style="width:90px;"><input type="text" class="captcha G_input" id="captchaMobileInput" name="captcha" alt="输入验证码" autocomplete="off"  style="width:90px" onfocus="GewaraUtil.refreshCaptcha('captchaMobile');"/></label>
						<img id="captchaMobileImg" width="80" height="30" src="${staticPath}css/images/blank.gif" style="cursor: pointer; margin:6px 0 0 10px;" onclick="GewaraUtil.refreshCaptcha('captchaMobile');" title="看不清楚，请点击换一张图片"/>
					</div>
				</div>
				<div class="getCheckpass"><span id="sendDTPassword">点击获取动态码</span><i>稍后手机将收到动态码短信</i></div>
				<div class="info_list">
					<label class="password">
						<input class="G_input" type="text" id="phonePassword" name="checkpass" maxlength="6" alt="动态码" style="width:246px;"/>
					</label>
					<i>由格瓦拉发送的手机短信动态码</i>
				</div>
				<div class="info_list">
					<label class="inpt">
						<input class="G_input" type="text" id="nickname2" name="nickname" alt="昵称"/>
					</label>
					<i>你在格瓦拉亲昵的称呼</i>
				</div>
				<div class="info_list">
					<label class="inpt">
						<input class="G_input" type="password" id="password2" name="password" alt="登录密码"/>
					</label>
				</div>
				<div class="info_list">
					<label class="inpt">
						<input class="G_input" type="password" name="repassword" id="repassword2" alt="确认登录密码"/>
					</label>
				</div>
				<div style="margin-bottom:20px;"><input type="checkbox" name="service2" checked="checked" id="service2"/><label for="service2" class="ml5">我接受服务协议表明您已经阅读并同意接受格瓦拉的</label><a href="${basePath}service/treaty.dhtml" style="margin-left:5px;color:#333" style="text-decoration: underline" target="_blank">服务协议</a></div>
				<div class="info_list no_reg clear">
					<a href="javascript:void(0)" class="W_btn_g" id="sbmit" onclick="savePhoneReg();">注&nbsp;&nbsp;&nbsp;册</a>
				</div>
			</div>		
		</div>
		<div class="scroll_img">
			<h2>已经有格瓦拉账号？</h2>
			<a href="${basePath}login.xhtml" class="button redBt maxBt mt20" style="margin-left:3px;"><span>立即登录</span></a>
			<div class="cooperation clear" style="margin-top:50px;">
				<dl>
					<dt>其它账号登录：</dt>
					<dd class="mt10" style="padding-left:3px;">
						<a href="${basePath}login/sinaLogin.xhtml" target="_blank" title="新浪账号登录" class="sina"><img src="${staticPath}css/images/blank.gif"  height="90" width="90"/>新浪</a>
						<a href="${basePath}login/qqLogin.xhtml" target="_blank" title="QQ账号登录" class="qq"><img src="${staticPath}css/images/blank.gif"  height="90" width="90"/>腾讯</a>
						<a href="${basePath}login/alipayLogin.xhtml" target="_blank" title="支付宝账号登录" class="zhifubao"><img src="${staticPath}css/images/blank.gif"  height="90" width="90"/>支付宝</a>
						<a href="${basePath}login/chinapayLogin.xhtml" target="_blank" title="银联在线支付账号登录" class="yinlian" style="margin-right:0;"><img src="${staticPath}css/images/blank.gif"  height="90" width="90"/>银联在线</a>
					</dd>
				</dl>
			</div>
		</div>
	</div>
</div>
<div class="G_reg_bottom">
	<p><span>Copyright © 2007–2013 Gewara.</span><span>All Rights Reserved</span><span>沪ICP备09050772号</span><span class="mr30">ICP证沪B2-20120044</span><span class="mr30"><em>手机版 </em>iPhone Android </span><span><em>客服电话</em> 4000-406-506</span></p>
</div>
<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util&v=$VmUtils.jsVersion"></script>
<script type="text/javascript">
window.addEvent('domready',function(){
	gewaUtil.textOver('.G_input');
	$$(".G_input").addEvents({
		'focus':function(){
			this.getParent('label').addClass('focusInpt');
		},
		'blur':function(){
			var el = this.getParent('label').removeClass('focusInpt');
			if(this.id == "nickname2"){
				if(this.value != ""){
					if(!/^[\w+$\u4e00-\u9fa5]+$/.test(this.value)){
						focusError(this,'昵称不能为特殊字符！');
					}else{
						checkNickName('nickname');
					}
				}else remmoveError(this);
			}
		},
		'keyup':function(e){if(e.code == 32)this.value = this.value.trim();}
	});
	$('mobile').addEvent('keyup',function(){
		this.value = this.value.replace(/[^\d]/g,'');
	});
	$('sendDTPassword').addEvent('click',function(){resend();});
	$('showReCaptcha').show();
	GewaraUtil.refreshCaptcha('captchaMobile');
})
function focusError(that,text){
	if($(that).retrieve('OverText')){
		$(that).retrieve('OverText').text.hide();
	}
	that = that.getParent();
	var el = that.getParent();
	if(!that.retrieve('error')){
		that.addClass('focus_error');
		var s = el.getStyle('margin-bottom').toInt(),error = new Element('div',{'html':text,'class':'icon_th',styles:{'color':'#dd4b39','margin':'-'+s+'px 0 8px 0','font-size':'13px','line-height':'22px'}}).inject(el,'after');
		that.store('error',error);
	}else{
		that.addClass('focus_error');
		that.retrieve('error').show().innerHTML = text;
	}
}

function remmoveError(el){
	el = $(el).getParent();
	if(!el.retrieve('error'))return;
	el.retrieve('error').hide();
	el.removeClass('focus_error');
}

function filterFocusError(elId, data){
	if(!$(elId)) return;
	var hash = new Hash(data);
	hash.each(function(value, key){
	  var el = $(elId).getElement('*[name='+key+']');
	  if(key && el) {
		  focusError(el,value);
		  el.focus();
	  }
  	});
};
function validateForm(values) {
	var maps = Object.filter(values,function(value,key){
		return key != 'captchaId' && key != 'captcha' && value == '';
	})
	maps = Object.keys(maps);
	if(maps.length > 0){
		maps = document.getElement('input[name='+maps[0]+']');
		maps.focus();
		return false;
	}else return true;
}

function savePhoneReg(){
	var values = GewaraUtil.getValues("phoneLogin_content");
	if(!validateForm(values))return;
	var svr2 = $("service2");
	if (svr2.checked == false){
		gewaUtil.alert("您必须同意服务协议");
		return false;
	}
	var url = '${basePath}ajax/mobile/savePhoneReg.xhtml';
	GewaraUtil.mask("sbmit");
	GewaraUtil.sendRequest(url, values, function(result){
		GewaraUtil.unmask();
		if(result.success){
			document.location='${basePath}home/member/register2.xhtml';
		}else{
			if(result.msg){
				gewaUtil.alert(result.msg);
			}else{
				filterFocusError('phoneLogin_content',result.errorMap);
			}
		}
	});	
}

var second = 60;
GetRTime = function (){
	$('sendDTPassword').removeEvents('click');
	if(second>=0){
		var txt = '';
		if($('sendDTPassword')){
			if(second == 0)txt = '重新获取动态码';
			else txt = second + '秒后重新获取';
			$('sendDTPassword').innerHTML = txt;
		}
		second = second-1;
		setTimeout("GetRTime()",1000);
	}else {
		$('sendDTPassword').addEvent('click',function(){resend();});
	}  
} 
resend = function(){
	if($('mobile').value == ''){
	 	$('mobile').focus();
	 	return;
	}
	if($('captchaMobileInput').value == ''){
		$('captchaMobileInput').focus();
		return false;
	}
	gewa.util.mask({'element': "sendDTPassword",'title':'正在提交，请稍等...'});
	var values = {"mobile":$('mobile').value,'captchaId':$('captchaMobile').value,'captcha':$('captchaMobileInput').value};
	GewaraUtil.sendRequest('${basePath}ajax/mobile/newRegister.xhtml', values, function(result){
		gewa.util.clearMask();
		if(result.success){
			retime();
			remmoveError($('captchaMobileInput'));
			remmoveError($('mobile'));
		}else{
			if(result.refreshCaptcha){
				GewaraUtil.refreshCaptcha('captchaMobile');
			}
			if(result.msg){
			 	gewaUtil.alert(result.msg);
			}else{
				filterFocusError('phoneLogin_content',result.errorMap);
				GewaraUtil.refreshCaptcha('captchaMobile');
			}
		}
	}, 'get');
}
retime = function(){
	second = 60;
	GetRTime();
}
function checkNickName(tag){
	var url = '${basePath}checkMember.xhtml',el = document.getElement('input[name='+tag+']');
	var values = {'tag':tag,'itemvalue':el.value};
	GewaraUtil.sendRequest(url, values, function(result){
		if(!result.success){
			if(result.errorMap){
				focusError(el,el.alt + "已被使用,请换一个！");
			}else{
				focusError(el,result.msg);
			}
		}else remmoveError(el);
	}.bind(this), 'get');
}
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-1810182-1']);
_gaq.push(['_setCustomVar', 1,'userlogin','$!logonMember.id',1]);
_gaq.push(['_addOrganic', 'baidu', 'word']);
_gaq.push(['_addOrganic', 'baidu', 'w']);
_gaq.push(['_addOrganic', 'baidu', 'q1']);
_gaq.push(['_addOrganic', 'google', 'as_q']);
_gaq.push(['_addOrganic', 'soso', 'w']);
_gaq.push(['_addOrganic', 'yodao', 'lq']);
_gaq.push(['_addOrganic', 'sogou', 'query']);
_gaq.push(['_addOrganic', '360', 'q']);
_gaq.push(['_addOrganic', 'so.com', 'q']);
#if($pageTrack)
_gaq.push(['_trackPageview', '$pageTrack']);
#else
_gaq.push(['_trackPageview']);
#end
window.addEvent('domready',function(){
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = 'http://www.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
})
</script>
</body>
</html>