<div class="mod_title hotVedio mt20">
	<div class="mod_hd">
		<h2>影展热门视频</h2>
	</div>
	<div class="mod_bd clear">
		<ul>
			#foreach($video in $videoList)
			#set($relate=$relatedHelper.getR1("videoList",$video.id))
				<li>
					<a target="_blank" class="video" href="${basePath}movie/videoDetail.xhtml?vid=$!relate.id&mid=$!relate.relatedid" rel="nofollow">
						<img width="96" height="72" src="$VmUtils.randomPic('cw96h72',$!relate.logo)"  title="$!relate.videotitle"/>
						<span>PLAY</span>
						<em></em>
					</a>
					<p><a target="_blank" href="${basePath}movie/videoDetail.xhtml?vid=$!relate.id&mid=$!relate.relatedid" title="$!relate.videotitle" rel="nofollow">$!VmUtils.escabbr($!relate.videotitle,16)</a></p>
				</li>
			#end
		</ul>
	</div>				
</div>