<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<title>一体机同步管理</title>
	<link rel="stylesheet" type="text/css" media="all" href="${staticPath}component/css/default.css" />
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=mootools"></script>
	<script type="text/javascript" src="${staticPath}dpicker/WdatePicker.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara-util.js?v=$VmUtils.jsVersion"></script>
</head>
<body style="width:750px; margin:auto">
<div>
	<label for="releasetime">开始时间：</label>
	$!starttime
	<label for="releasetime">结束时间：</label>
	$!endtime
	cinemaid:$cinemaid
	<input value="同步所有订单" type="button" class="button" onclick="synchTradeNo()"/>
</div>
<table width="750px" class="table">
	<thead>
	<tr>
		<th>订单号</th>
		<th>用户名</th>
		<th>描述</th>
		<th>取票密码</th>
		<th>下单时间</th>
		<th>同步订单</th>
	</tr>
	</thead>
	<tbody id="sportTable">
	#set($tradenos = '')
	#foreach($order in $orderList)
	#set($tradenos = $tradenos+ ',' + $!order.tradeNo)
	<tr id="t$!order.tradeNo">
		<td>$!order.tradeNo</td>
		<td>$!order.membername</td>
		<td>$!order.description2</td>
		<td>$!order.checkpass</td>
		<td>$DateUtil.format($!order.addtime,'yyyy-MM-dd HH:mm:ss')</td>
		<td><input type="button" value="同步" onclick="synchTradeNo('$!order.tradeNo');" /></td>
	</tr> 
	#end
	</tbody>
</table>
<script type="text/javascript">
	var tradenos = '$tradenos';
	function synchTradeNo(tradeNo){
		var url = '${basePath}admin/synch/synchTradeNo.xhtml';
		var values = {'tradenos':tradeNo == null ? tradenos : tradeNo};
		GewaraUtil.sendRequest(url,values,function(result){
			if(result.success){
				gewaUtil.alert("同步订单成功！",function(){
					if(tradeNo == null)refreshPage();
				});
				$('t'+tradeNo).addClass('none');
			}else{
				gewaUtil.alert(result.msg+"同步订单失败！");
			}
		});
	}
</script>
</body>
</html>
