<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<title>一体机同步管理</title>
	<link rel="stylesheet" type="text/css" media="all" href="${staticPath}component/css/default.css" />
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=mootools"></script>
	<script type="text/javascript" src="${staticPath}dpicker/WdatePicker.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara-util.js?v=$VmUtils.jsVersion"></script>
</head>
<body style="width:750px; margin:auto">
<div>
	<label for="releasetime">开始时间：</label>$!starttime
	<label for="releasetime">结束时间：</label>$!endtime
	cinemaid:$cinemaid
</div>
<table width="750px" class="table">
	<thead>
	<tr>
		<th>订单号</th>
		<th>描述</th>
		<th>取票密码</th>
		<th>下单时间</th>
		<th>机器人操作</th>
	</tr>
	</thead>
	<tbody id="sportTable">
	#foreach($order in $orderList)
	#set($descMap=$VmUtils.readJsonToMap($order.description))
	<tr>
		<td>$!order.tradeno</td>
		<td>
			<table width="100%">
				#foreach($key in $descMap.keySet())
				<tr>
					<td>$key</td><td>$descMap.get($key)</td>
				</tr>
				#end
			</table>
		</td>
		<td>$!order.checkpass</td>
		<td>$DateUtil.format($!order.addtime,'yyyy-MM-dd HH:mm:ss')</td>
		<td>
			<a href="javascript:void(0);" onclick="notifyToBuy('$!order.tradeno')">通知机器人买票</a>
		</td>
	</tr> 
	#end
	</tbody>
</table>
<script type="text/javascript">
function notifyToBuy(tradeNo){
	var url = '${basePath}admin/robot/add2robotTicketList.xhtml';
	var values = {'tradeNo': tradeNo};
	GewaraUtil.sendRequest(url, values, function(result){
		if(result.success){
			alert('OK');
		}else{
			alert(result.msg);
		}
	});
}
</script>
</body>
</html>
