<table style="width: 100%" class="table">
	<thead>
	<tr>
		<th>&nbsp;</th>
		<th>订单号</th>
		<th>手机</th>
		<th>用户名</th>
		<th>下单时间</th>
		<th>描述</th>
		<th>操作结果</th>
	</tr>
	</thead>
	<tbody id="sportTable">
	#foreach($order in $orderList)
	<tr>
		<td><input type="checkbox" name="cbox" value="$order.tradeNo"/></td>
		<td>$!order.tradeNo</td>
		<td>$!order.mobile</td>
		<td>$!order.membername</td>
		<td>$DateUtil.format($!order.addtime,'yyyy-MM-dd HH:mm:ss')</td>
		<td>$!order.description2</td>
		<td id="order$order.tradeNo">&nbsp;</td>
	</tr> 
	#end
	<tr>
		<td><input type="checkbox" onclick="selAll(this)"/>全选</td>
		<td colspan="7" id="todo">
			<input type="radio" name="synch" value="Y" checked/>同步
			<input type="radio" name="synch" value="U" />强制同步
			<input type="button" value="提交" onclick="synch()" />
		</td>
	</tr>
	</tbody>
</table>