<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<title>动态报表管理</title>
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/default.css" />
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara-util.js?v=$VmUtils.jsVersion"></script>
</head>
<body style="width:85%; margin:auto;background-color: #fff">
<table class="table">
	<thead id="thead">
		<tr>
			<th><div>分类</div></th>
			<th><div>报表名称</div></th>
			<th><div>报表说明</div></th>
			<th><div>测试</div></th>
			<th><div>操作[<a href="${basePath}admin/sysmgr/report/modifyReport.xhtml" target="_blank">增加</a>]</div></th>
		</tr>
	</thead>
	<tbody id="tbody">
	#foreach($category in $reportMap.keySet())
	<tr id="tr$report.id">
		<td>$category</td>
		<td colspan="3"></td>
	</tr>
	#foreach($report in $reportMap.get($category))
	<tr id="tr$report.id">
		<td>&nbsp;</td>
		<td>$report.name</td>
		<td>$report.description</td>
		<td><a href="${basePath}admin/sysmgr/report/getQry.xhtml?rid=$report.id" target="_blank">测试</a></td>
		<td><a href="${basePath}admin/sysmgr/report/modifyReport.xhtml?rid=$report.id" target="_blank">修改</a></td>
	</tr>
	#end
	#end
	</tbody>
</table>
</body>
</html>
