<div class="yui-skin-sam">
	<div class="bd yui-panel">
		<input type="hidden" name="id" id="id" value="$!cpcounter.id"/>
		<input type="hidden" name="spcounterid" id="spcounterid" value="$!spcounterid"/>
		<div class="mt10">
			控制类型：<select name="flag" id="flag" style="width:100px;" mustTxt="控制类型不能为空！">
				<option value="" #if($VmUtils.isBlank($cpcounter.flag)) selected="selected" #end>请选择类型</option>
				<option value="city" #if($VmUtils.eq($cpcounter.flag,'city')) selected="selected" #end>城市</option>
				<option value="partner" #if($VmUtils.eq($cpcounter.flag,'"partner"')) selected="selected" #end>商家</option>
			</select>
			<span class="req">*</span>
			基础数量：<input name="basenum" id="basenum" value="$!cpcounter.basenum" style="width:80px;" mustTxt="基础数据不能为空！"/>
			<span class="req">*</span>
		</div>
		<div class="mt10">
			城市/商家代码：<input name="cpcode" id="cpcode" value="$!cpcounter.cpcode" type="text" style="width:200px;" mustTxt="城市/商家代码不能为空！" /><span class="req">*</span>
		</div>
		<div class="mt10">
			下单总数：<input name="allownum" id="allownum" value="$!cpcounter.allownum" type="text" style="width:70px;" mustTxt="下单总数不能为空！"/><span class="req">*</span>
			名额总数：<input name="limitnum" id="limitnum" value="$!cpcounter.limitnum" type="text" style="width:70px;" /><span class="req">*</span>
		</div>
		<div>
			<label>&nbsp;</label>
			<input type="button" class="button" style="width:100px" onclick="updateCpcounter()" value="保存"/>
			<input type="button" class="button" style="width:100px" onclick="hideProgramItem('showCpcounter')" value="取消"/>
		</div>
	</div>
</div>
<ul>
	<li><div>
			<label>城市代码：</label>
			<div style="color:blue; display: inline-block; width: 400px;">$cityMap</div>
		</div>
	</li>
</ul>