<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>特殊规则公式编辑</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<meta name="robots" content="noindex" />
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/default.css" />
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/container.css"></link>
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/button.css"></link>
	<script type="text/javascript" src="${staticPath}dpicker/WdatePicker.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util,remote-util&v=$VmUtils.jsVersion"></script>
	<style>
		label {display:inline-block;width:70px;text-align:right;padding:1px 0 1px 0;margin-top:3px}
		input,textarea {display:inline-block;}
		input{width:200px;}
		table td input{width:150px;}
		a{text-decoration: none; white-space: nowrap;}
	</style>
</head>
<body style="width:850px;margin:auto" class="yui-skin-sam">
<ul>
	<li><hr /></li>
	<li><b style="color:red;">使用说明</b></li>
	<li>引用变量:ruleObj表示规则对象, categoryid 项目ID， relatedid 场馆ID , success 表示成功</li>
	<li>
		<div>特殊规则表达示：</div>
		<form name="ruleForm" id="ruleForm">
		<input type="hidden" id="id" name="id" value="$!sd.id"/>
		<div>
			<textarea name="specialrule" id="specialrule" rows="3" cols="80">$!sd.specialrule</textarea>
		</div>
		<div><input type="button" class="button" value="保存" onclick="saveSpecialRule()" style="width:50px;"/></div>
		</form>
	</li>
</ul>
<script type="text/javascript">
	function saveSpecialRule(){
		var url = "${basePath}admin/gewapay/spdiscount/saveSpecialRule.xhtml";
		var values =GewaraUtil.getValues("ruleForm");
		GewaraUtil.sendRequest(url, values, function(result){
			if(result.success){
				alert("保存成功！");
			}else{
				alert(result.msg);
			}
		});
	}
</script>
</body>
</html>
