<data>
	<cinema>
		<cinemaid>$!cinema.id</cinemaid>
		<cinemaname><![CDATA[$!cinema.name]]></cinemaname>
		<generalmark>$!cinema.cinemaPoint</generalmark>
		<address>$!cinema.address</address>
		<transport><![CDATA[$!cinema.rTransport]]></transport>
		<contactphone>$!cinema.contactphone</contactphone>
		<feature><![CDATA[$!VmUtils.getHtmlText($!cinema.feature,5000)]]></feature>
		<logo>${mobilePath}sw90h120/$!cinema.limg</logo>
		<pointx>$!cinema.pointx</pointx>
		<pointy>$!cinema.pointy</pointy>
		<booking>$!cinema.booking</booking>
		<iscollect>$!iscollect</iscollect>
		<cinemapicture>#if($!cinemaPicture)${mobilePath}sw200h200/$!cinemaPicture#end</cinemapicture>
		<otherinfo><![CDATA[$!cinema.otherinfo]]></otherinfo>
		<diaryid>$!cinemaProfile.topicid</diaryid>
		#set($otherinfo=$VmUtils.readJsonToMap($!cinema.otherinfo))
		<characteristic>#foreach($room in $roomList)$!{room.roomname}:$!{room.content}#end</characteristic>
		<linename><![CDATA[$!cinema.linename]]></linename>
		<stationname><![CDATA[$!cinema.stationname]]></stationname>
		<exitnumber><![CDATA[$!cinema.exitnumber]]></exitnumber>
	</cinema>
</data>
