#set($bar=$sk.relatedObj)
#set($vgmark=$VmUtils.getSingleMarkStar($bar, "general"))#set($gmark1=$vgmark/10) #set($gmark2=$vgmark % 10)
<dl class="ui_abeam search_cinema">
	<dt class="uipic">
		<a target="_blank" href="${basePath}bar/${bar.id}" title="">
			<img width="120" height="60" src="$VmUtils.randomPic('sw120h60',$bar.limg)">
		</a>
	</dt>
	<dd class="uiText">
		<h2><em class="ffst">[酒吧]</em><a target="_blank" title="" href="${basePath}bar/${bar.id}">$!bar.name</a></h2>
		<span class="mr10"><sub>$!gmark1.</sub><sup>$!gmark2</sup></span><span class="c666">($!bar.clickedtimes关注)</span><br/>
		<span><em>联系电话：</em>$!{bar.contactphone}</span><br/>
		<span><em>详细地址：</em>$!bar.address<a href="${basePath}common/baiduMap.xhtml?id=$bar.id&tag=bar" class="blue" target="_blank">[地图]</a></span><br/>
	</dd>
</dl>