#set($commu=$sk.relatedObj)
<dl class="ui_abeam search_wala">
	<dt class="uipic">
		<a href="${basePath}quan/$commu.id" target="_blank" title="" class="pubpic">
			<img width="50" height="50" src="$VmUtils.randomPic('cw50h50',$commu.headpicUrl)" alt=""/>
		</a>
	</dt>
	<dd class="uiText">
		<h2><em class="ffst">#if($tagMap.get($commu.tag))[$tagMap.get($commu.tag)圈子]#else[圈子]#end</em><a target="_blank" title="" href="${basePath}quan/$!commu.id"><b>$!commu.name</b></a></h2><br/>
		<span><em>创建时间：</em> $!DateUtil.format($commu.addtime,"yyyy年M月d日") </span><br/>
		<span><em>当前人数：</em> $!commu.commumembercount </span><br/>
		<span><em>简介：</em>$!commu.info</span>
	</dd>
</dl>
