<div class="mod_kong hotAc">
	<div class="mod_hd">
		<a class="cMovie" href="${basePath}activity" title="" target="_blank">更多&gt;&gt;</a>
		<h2>热门活动</h2>
	</div>
	<div class="mod_bd">
		<ul>
			#foreach($activity in $hotActivityList)
			<li #if($velocityCount ne 1)class="mt20"#end>
				<dl class="ui_abeam">
					<dt class="uipic">
						<a target="_blank" title="$!$activity.title" href="${basePath}activity/$!activity.id">
							<img width="96" height="128" src="$VmUtils.randomPic('cw96h128',$activity.limg)" alt="$!activity.title" />
						</a>
					</dt>
					<dd class="uiText">
						<p>
							#if($VmUtils.eq($!activity.atype, 'gewa'))
							<span title="格瓦拉官方认证" class="official"></span>
							#elseif($VmUtils.eq($!activity.atype, 'buss'))
							<span title="格瓦拉商家认证" class="business"></span>
							#end
							<em class="ffst c999">[热门活动]</em><a class="cMovie" target="_blank" title="$!$activity.title" href="${basePath}activity/$!activity.id">$!activity.title</a>
						</p>
						<p>时间：$!DateUtil.format($activity.startdate,"M月d日")--$!DateUtil.format($activity.enddate,"M月d日") </p>
						<p>地点：#if($relate)<a href="${basePath}$relate.url" target="_blank">$relate.name</a>&nbsp;&nbsp;&nbsp;&nbsp;#end$!county.countyname$!activity.address</p>
						<p>发起人：<a href="${basePath}home/sns/othersPersonIndex.xhtml?memberid=$activity.memberid" class="yellow" target="_blank">$!activity.membername</a></p>
						<p title="" class="c999 acFloico">$!{activity.clickedtimes}人关注<span title="" class="interested">$!{activity.collectedtimes}</span><span title="$!{activity.membercount}人参加" class="join">$!{activity.membercount}</span></p>
					</dd>
				</dl>
			</li>
			#end
		</ul>
	</div>
</div>