<div class="mod_kong mt10 weekStar">
	<div class="mod_hd">
		<a class="cMovie" href="${basePath}qa/questionList.xhtml" title="" target="_blank">更多&gt;&gt;</a>
		<h2>知道</h2>
	</div>
	<div class="mod_bd">
		<ul>
			#foreach($qa in $hotQaList)
			<li>
				<a title="$!qa.title" target="_blank" href="${basePath}qa/q$!{qa.id}">$!qa.title</a>
			</li>
			#end
		</ul>
	</div>
</div>