#set($ktv=$sk.relatedObj)
#set($vgmark=$VmUtils.getSingleMarkStar($ktv, "general"))#set($gmark1=$vgmark/10) #set($gmark2=$vgmark % 10)
<dl class="ui_abeam search_cinema">
	<dt class="uipic">
		<a target="_blank" href="${basePath}ktv/$!{ktv.id}" title="">
			<img width="120" height="60" src="$VmUtils.randomPic('sw120h60',$ktv.limg)">
		</a>
	</dt>
	<dd class="uiText">
		<h2><em class="ffst">[KTV]</em><a target="_blank" title="" href="${basePath}ktv/${ktv.id}">$!ktv.name</a></h2>
		#if($gmark1)<span class="mr10"><sub>$!gmark1.</sub><sup>$!gmark2</sup></span>#end
		#if($ktv.clickedtimes)<span class="c666">($!ktv.clickedtimes关注)</span>#end<br/>
		<span><em>联系电话：</em>$!{ktv.contactphone}</span><br/>
		<span><em>详细地址：</em> $!ktv.address<a href="${basePath}common/baiduMap.xhtml?id=$ktv.id&tag=ktv" class="blue" target="_blank">[地图]</a></span><br/>
	</dd>
</dl>
