#set($item=$sk.relatedObj)
#set($sportItemPicMap={'288732':'im_ymq','288699':'im_yy','288721':'im_lq','288730':'im_tq','288731':'im_wq','288733':'im_ppq','288704':'im_sj','288734':'im_blq',
					'303811':'im_lb','301954':'im_gefq','6582889':'im_bq','311713':'im_sc','296083':'im_py','288722':'im_zq','288690':'im_lh','288692':'im_zxc','312511':'im_hx',
					'288691':'im_hb','288711':'im_kdc','288723':'im_pq','3993698':'im_qm','288708':'im_pb'})
#set($pickey=$!sportItem.id+'')					
					
<dl class="ui_abeam search_sportItem">
	<dt class="uipic">
		<a target="_blank" href="${basePath}sport/item/$!item.id" title="">
		
			<img width="90" height="120" src="$VmUtils.randomPic('sw90h120',$item.limg)" class="sport_items $!sportItemPicMap.get($!pickey)">
		</a>
	</dt>
	<dd class="uiText">
		<h2><em class="ffst">[运动项目]</em><a target="_blank" title="" href="${basePath}sport/item/$!{item.id}">$!item.itemname</a></h2>
		<span class="c666">($!item.clickedtimes关注)</span><br/>
		<span>$!item.content</span><br/>
		<span>流行指数：$!item.popularIndex</span><br/>
		#if($VmUtils.contains($!sportItemBookingList,$itme.id))
		<a class="button minBt redBt" target="_blank" href="${basePath}sport/item/$!{item.id}"><span>在线预订</span></a>
	    #end
	</dd>
</dl>