#set($video=$sk.relatedObj)
<dl class="ui_abeam search_video">
	<dt class="uipic">
		#if($VmUtils.eq($video.tag,'movie'))
		<a href="${basePath}movie/videoDetail.xhtml?vid=$!video.id" target="_blank" title="">
			<img width="96" height="72" src="$VmUtils.randomPic('sw96h72',$video.limg)" />
			<span>PLAY</span>
			<em></em>
		</a>
		#elseif($VmUtils.eq($video.tag,'drama'))
		<a target="_blank" title="" href="${basePath}drama/$!video.relatedid/videolist">
			<img width="96" height="72" src="$VmUtils.randomPic('sw96h72',$video.limg)" />
			<span>PLAY</span>
			<em></em>
		</a>
		#elseif($VmUtils.eq($video.tag,'dramastar'))
		<a href="#" target="_blank" title="">
			<img width="96" height="72" src="$VmUtils.randomPic('sw96h72',$video.limg)" />
			<span>PLAY</span>
			<em></em>
		</a>
		#elseif($VmUtils.eq($video.tag,'gym'))
		<a target="_blank" title="" href="${basePath}gym/$!video.relatedid/videolist">
			<img width="96" height="72" src="$VmUtils.randomPic('sw96h72',$video.limg)" />
			<span>PLAY</span>
			<em></em>
		</a>
		#elseif($VmUtils.eq($video.tag,'gymcoach'))
		<a target="_blank" title="" href="${basePath}gym/coach/$!video.relatedid/videolist">
			<img width="96" height="72" src="$VmUtils.randomPic('sw96h72',$video.limg)" />
			<span>PLAY</span>
			<em></em>
		</a>
		#elseif($VmUtils.eq($video.tag,'gymcourse'))
		<a target="_blank" title="" href="${basePath}gym/courseVideo.xhtml?cid=$!video.relatedid&vid=$!video.id">
			<img width="96" height="72" src="$VmUtils.randomPic('sw96h72',$video.limg)" />
			<span>PLAY</span>
			<em></em>
		</a>
		#elseif($VmUtils.eq($video.tag,'sportservice'))
		<a target="_blank" title="" href="${basePath}sport/itemVideo.xhtml?vid=$!video.id&itemid=$!video.relatedid">
			<img width="96" height="72" src="$VmUtils.randomPic('sw96h72',$video.limg)" />
			<span>PLAY</span>
			<em></em>
		</a>
		#else
		<a target="_blank" title="" href="#">
			<img width="96" height="72" src="$VmUtils.randomPic('sw96h72',$video.limg)" />
			<span>PLAY</span>
			<em></em>
		</a>
		#end
		
	</dt>
	<dd class="uiText">
		<h2><em class="ffst">#if($tagMap.get($video.tag))[$tagMap.get($video.tag)视频]#else[视频]#end</em>
		#if($VmUtils.eq($video.tag,'movie'))
		<a target="_blank" title="" href="${basePath}movie/video/$!video.id">$!video.videotitle</a>
		#elseif($VmUtils.eq($video.tag,'drama'))
		<a target="_blank" title="" href="${basePath}drama/$!video.relatedid/videolist">$!video.videotitle</a>
		#elseif($VmUtils.eq($video.tag,'dramastar'))
		$!video.videotitle
		#elseif($VmUtils.eq($video.tag,'gym'))
		<a target="_blank" title="" href="${basePath}gym/$!video.relatedid/videolist">$!video.videotitle</a>
		#elseif($VmUtils.eq($video.tag,'gymcoach'))
		<a target="_blank" title="" href="${basePath}gym/coach/$!video.relatedid/videolist">$!video.videotitle</a>
		#elseif($VmUtils.eq($video.tag,'gymcourse'))
		<a target="_blank" title="" href="${basePath}gym/courseVideo.xhtml?cid=$!video.relatedid&vid=$!video.id">$!video.videotitle</a>
		#elseif($VmUtils.eq($video.tag,'sportservice'))
		<a target="_blank" title="" href="${basePath}sport/itemVideo.xhtml?vid=$!video.id&itemid=$!video.relatedid">$!video.videotitle</a>
		#else
		$!video.videotitle
		#end
		</h2><br/>
		<span><em>上传时间：</em>$!DateUtil.format($!video.addtime,"yyyy年M月d日")</span>
	</dd>
</dl>