<data>
	<mpid>$opi.mpid</mpid>
	<movieid>$!opi.movieid</movieid>
	<moviename>$!opi.moviename</moviename>
	<cinemaid>$!opi.cinemaid</cinemaid>
	<cinemaname>$!opi.cinemaname</cinemaname>
	<language>$!opi.language</language>
	<edition>$!opi.edition</edition>
	#if($partner.isRole('addOrderApi'))<roomid>$opi.roomid</roomid><roomname>$opi.roomname</roomname>#end
	<playtime>$!DateUtil.format($opi.playtime,'yyyy-MM-dd HH:mm:ss')</playtime>
	<costprice>$!opi.price</costprice>
	<gewaprice>$priceHelper.getPrice($opi)</gewaprice>
	<servicefee>$priceHelper.getServiceFee($opi)</servicefee>
	<lockedseat>$!lockStr</lockedseat>
	#if($VmUtils.isNotBlank($opi.elecard))<cardtype>$opi.elecard</cardtype>#end
	<closetime>$!DateUtil.format($opi.closetime,'yyyy-MM-dd HH:mm:ss')</closetime>
	<dayotime>$!opi.dayotime</dayotime>
	<dayctime>$!opi.dayctime</dayctime>
</data>
