<data>
	#foreach($order in $orderList)
	<order>
		<tradeno>$order.tradeNo</tradeno>
		<payseqno>$order.payseqno</payseqno>
		<status>$orderStatusMap.get($order.status)</status>
		<paidAmount>$!order.alipaid</paidAmount>
		<quantity>$order.quantity</quantity>
		<paidtime>$!DateUtil.formatTimestamp($order.paidtime)</paidtime>
		#if($order.status eq 'paid_return')<refundtime>$!DateUtil.formatTimestamp($order.updatetime)</refundtime>#end
	</order>
	#end
</data>