<data>
	<order>
		<tradeno>$order.tradeNo</tradeno>
		<status>$!orderStatus</status>
		<paidtime>$!DateUtil.formatTimestamp($order.paidtime)</paidtime>
		#if($encMobile)<encMobile>$encMobile</encMobile>
		<serviceTel>4000-406-506</serviceTel>
		#end
		#if($encCheckpass)<encCheckpass>$encCheckpass</encCheckpass>#end
		#if($encRemark)<encRemark>$encRemark</encRemark>#end
	</order>
</data>