<data>
	#foreach($room in $roomList)
	<room>
		<roomid>$!room.id</roomid>
		<cinemaid>$!room.cinemaid</cinemaid>
		<updatetime>$!DateUtil.formatDate($!room.updatetime)</updatetime>
	</room>
	#end
</data>
