<div class="menu">
	<div class="menuInner">
		<ul>
			<li class="currs"><a class="admin" href="${basePath}admin/pubsale/saleList.xhtml"><span>竞拍</span></a></li>
			<li><a href="javascript:getSale()" class="admin"><span>添加</span></a></li>
		</ul>
	</div>
</div>