<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>观后感加积分</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/default.css" />
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara-util.js?v=$VmUtils.jsVersion"></script>
</head>
<body style="width:750px;margin:auto" class="yui-skin-sam">
<div style="border:1px solid blue;margin-top: 10px; padding: 4px;">
<!--  1、<a href="${basePath}admin/message/sendMobileActivityMsg.xhtml" target="_blank">手动发送[活动]短信关怀</a><br/><br/> -->
	<!--  2、<a href="${basePath}admin/message/sendMobileCareMsg.xhtml" target="_blank">手动发送[购票]短信关怀</a><br/><br/>-->
	1、<a href="${basePath}admin/point/freebackcomment.xhtml?tag=cinema" target="_blank">影院点评加积分</a><br/><br/>
	2、<a href="${basePath}admin/point/freebackdiary.xhtml?tag=movie" target="_blank">电影影评加积分</a><br/><br/>
	3、<a href="${basePath}admin/point/freebackcomment.xhtml?tag=theatre" target="_blank">剧院点评加积分</a><br/><br/>
	4、<a href="${basePath}admin/point/freebackdiary.xhtml?tag=drama" target="_blank">话剧剧评加积分</a><br/><br/>
	<!--  5、<a href="${basePath}admin/message/mobileCareFowardOneDay.xhtml" target="_blank">提前一天发手机信息</a><br/><br/>-->
	<!--  6、<a href="${basePath}admin/message/sendEmailAfterThreeHour.xhtml" target="_blank">观影后3个小时发Email</a><br/><br/>-->
</div>
</body>
</html>
