<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<title>邀请好友购票统计查询</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/default.css" />
	<link rel="stylesheet" type="text/css" href="${staticPath}styles/base.css"/>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara-util.js?v=$VmUtils.jsVersion"></script>
	<script type="text/javascript" src="${staticPath}dpicker/WdatePicker.js"></script>
</head>
<body style="margin:auto;width: 70%;">
<div style="padding:1px;background-color:white;border: 1px solid #cccccc;text-align: center;">
	<h3 style="text-align: center;">邀请好友购票统计查询</h3>
	<form action="${basePath}admin/point/goodsOrderToPointByInvite.xhtml" method="post" style="margin:5px; width:500px;">
			<table>
			<thead>
				<tr>
					<td>开始时间：<input type="text" name="beginTime" value="$!params.beginTime"  id="beginTime" onfocus="new WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'2006-01-01 00:00:00',maxDate:'2100-03-10 00:00:00'})" style="width:140px"/> — 终止时间：<input name="endTime" value="$!params.endTime" id="endTime" type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'2006-01-01 00:00:00',maxDate:'2100-03-10 00:00:00'})" style="width:140px" />
					<input type="submit" value="查询" />&nbsp;&nbsp;</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>这段时间内有<b style="color: red;">$!count</b>个用户被邀请,$sumpoint个积分被送出！</td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
</body>
</html>
