<ul>
	<!--<li>网站帮助</li>-->
	<li><span id="degree"><a href="${basePath}helpCenter/index.dhtml?diaryId=3121504&dkey=helpcenter1308110071965" class="gray">格瓦拉经验值帮助</a></span></li>
	<li><span id="integral"><a href="${basePath}service/integral.dhtml" class="gray">格瓦拉积分帮助</a></span></li>
	<li><span id="stpe"><a href="${basePath}service/ticket.dhtml" class="gray">格瓦拉取票流程帮助</a></span></li>
	<li><span id="fee_help"><a href="${basePath}helpCenter/index.dhtml?diaryId=3121496&dkey=helpcenter1308110047359" class="gray">格瓦拉服务费帮助</a></span></li>
	<li><span id="community"><a href="${basePath}service/communityHelp.dhtml" class="gray">格瓦拉圈子帮助</a></span></li>
</ul>
