<?xml version="1.0" encoding="UTF-8"?>
<data>
	<commuList>
	#foreach($commu in $commuList)
	  <commu>
		<id>$commu.id</id>
		<name><![CDATA[$!commu.name]]></name>
		<info><![CDATA[$!commu.info]]></info>
		<logo>$!commu.headpicUrl</logo>
		<commumembercount>$!commu.commumembercount</commumembercount>
		<clickedtimes>$!commu.clickedtimes</clickedtimes>
	  </commu>
	#end
	</commuList>
</data>