<data>
	<pictureList>
		#foreach($picture in $pictureList)
			<picture>
				<id>$!picture.id</id>
				<tag>$!picture.tag</tag>
				<relatedid>$!picture.relatedid</relatedid>
				<category>$!picture.category</category>
				<categoryid>$!picture.categoryid</categoryid>
				<picturename><![CDATA[$!picture.picturename]]></picturename>
				<description><![CDATA[$!picture.description]]></description>
				<name><![CDATA[$!picture.name]]></name>
				<posttime>$!DateUtil.formatTimestamp($!picture.posttime)</posttime>
				<memberid>$!picture.memberid</memberid>
				<clickedtimes>$!picture.clickedtimes</clickedtimes>
			</picture>
		#end
	</pictureList>
</data>