<data>
	#if($!count)
		<count>$!count</count>
	#end
    <diaryList>
        #foreach($diary in $diarys)
            <diary>
                <diaryid>$!diary.id</diaryid>
                <subject><![CDATA[$diary.subject]]></subject>
                #if($!returnField.indexOf('memberid') != -1)
                    <memberid>$!diary.memberid</memberid>
                #end
                #if($!returnField.indexOf('nickname') != -1)
                    <nickname>$!diary.membername</nickname>
                #end
                #if($!returnField.indexOf('memberlogo') != -1)
                    <memberlogo>${mobilePath}cw50h50/$!cacheMemberMap.get($!diary.memberid).headpicUrl</memberlogo>
                #end
                #if($!returnField.indexOf('summary') != -1)
                    <summary><![CDATA[$!diary.summary]]></summary>
                #end
                #if($!returnField.indexOf('content') != -1)
                    <content><![CDATA[$!diaryContentMap.get($!diary.id)]]></content>
                #end
                #if($!returnField.indexOf('diaryImage') != -1)
                    <diaryImage>${mobilePath}$!diary.limg</diaryImage>
                #end
                #if($!returnField.indexOf('flowernum') != -1)
                    <flowernum>$!diary.flowernum</flowernum>
                #end
                #if($!returnField.indexOf('replycount') != -1)
                    <replycount>$!diary.replycount</replycount>
				#end
				#if($!moiveMap.get($!diary.id))
					<moviename>$!moiveMap.get($!diary.id).moviename</moviename>
				#end
            </diary>
        #end
    </diaryList>
</data>
