<data>
     <diary>
          <diaryid>$!diary.id</diaryid>
          <subject><![CDATA[$diary.subject]]></subject>
          #if($returnField.indexOf('memberid') != -1)
          <memberid>$!diary.memberid</memberid>
          #end
           #if($returnField.indexOf('nickname') != -1)
          <nickname>$!diary.membername</nickname>
          #end
          #if($returnField.indexOf('summary') != -1)
          <summary><![CDATA[$!diary.summary]]></summary>
          #end
           #if($returnField.indexOf('content') != -1)
          <content><![CDATA[$!content]]></content>
          #end
     </diary>
</data>