<data>
	<phoneAdvert>
		<id>$!phoneAdvert.id</id>
		<title><![CDATA[$!phoneAdvert.title]]></title>
		<link>$!phoneAdvert.simpleLink</link>
		<relatedid>$!phoneAdvert.relatedid</relatedid>
		<logo>${mobilePath}$!phoneAdvert.limg</logo>
	</phoneAdvert>
</data>
