<data>
  <phoneActivityList>
 #foreach($activity in $phoneActivityList)
	<phoneActivity>
     <id>$!activity.id</id>  
     <title><![CDATA[$!activity.title]]></title>
	 <logo>${mobilePath}$activity.logo</logo>
     <summary><![CDATA[$!VmUtils.getHtmlText($!activity.content,30)]]></summary>
     <addtime>$!DateUtil.formatTimestamp($activity.addtime)</addtime>
	</phoneActivity>
#end
  </phoneActivityList>
</data>
