<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>格瓦拉生活网</title>
#parse('partner/bestv/style.vm')
</head>

<body>
#parse('partner/bestv/header.vm')
<div class="mainContent">
	<aside>
		<ul id='left_list'>
			<li><a href="${basePath}partner/bestv/playList.xhtml?cinemaId=$!cinemaId&movieid=$!movieid&playdate=$!playdate&countyCode=$!countyCode&countyname=$!countyname">返　　回</a></li>
			<li><a href="${basePath}partner/bestv/movieDetail.xhtml?movieid=$!movieid">影片详情</a></li>
			<li><span>排　　片</span></li>
		</ul>
	</aside>
	<div class="content">
		<div class="inner">
			<div class="panel" id="panel">
				<div class="panelInner">
					<div class="inner">
						<h2>购买影票</h2>
						<section>
							<h3>对不起，购票系统暂未开放！您可通过以下2种方式进行购票</h3>
							<p>方式一：登入格瓦拉官方网站(www.Gewara.com)进行选座购票。</p>
							<p>方式二：格瓦拉手机购票，下载手机应用购票。<br>(http://www.gewara.com/mobile/mobileMovie.xhtml)</p>
							<article class="downLoadWay btn">
								<ul>
									<li><a href="${basePath}partner/bestv/unopened.xhtml?type=iphone&cinemaId=$!cinemaId&movieid=$!movieid&playdate=$!playdate&countyCode=$!countyCode&countyname=$!countyname">iPhone版下载详情</a></li>
									<li><a href="${basePath}partner/bestv/unopened.xhtml?type=android&cinemaId=$!cinemaId&&movieid=$!movieid&playdate=$!playdate&countyCode=$!countyCode&countyname=$!countyname">Android版下载详情</a></li>
								</ul>
								<img width="400" height="160" src="${staticPath}css/partner/bestv/phone.jpg">
							</article>
						</section>
					</div>
				</div>
			</div>
			<footer>
				如需购票，请访问格瓦拉生活网：www.Gewara.com 手机用户可直接访问：m.Gewara.com
			</footer>
		</div>
	</div>
</div>
</body>
</html>
