<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>找回密码_格瓦拉生活网</title>
	<meta name="description" content="#if($VmUtils.isBlank($activity.seodescription))$!VmUtils.escapeHtml($activity.title) #else${activity.seodescription}#end" />
	<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=global,sns&v=$VmUtils.jsVersion"/>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util,page,noobSlide&v=$VmUtils.jsVersion"></script>
	<style type="text/css">
		.ui_layout{width:960px; margin:0 auto;}
		.inner{padding:15px;}
		.step1,.step2,.step3,.getpw_title h1{background:url(${picPath}css/buss/steps.gif) no-repeat 100px 100px;}
		/*订票步骤*/
		.step1,.step2,.step3{text-indent:-8px;}
		.payOrderSteps{width:100%; background:#e8e8e8; border-radius:2px; overflow:hidden;}
		.payOrderSteps li{width:33.3%; height:34px; line-height:34px; text-align:center; float:left; font-size:14px; font-weight:bold;}
		.payStep01 .step1,.payStep02 .step2,.payStep03 .step3{background-position:right 0;}
		.payStep01 .step3,.payStep01 .step2{background-position:right -68px; color:#666;}
		.payStep01 .step1,.payStep02 .step2,.payStep03 .step3{background-color:#f96101; background-position:right -34px; color:#fff}
		.payStep02 .step1,.payStep03 .step2{background-position:right -1063px; color:#ef9966; background-color:#fbe5d8;}
		.payStep02 .step3{color:#666;}
		.payStep03 .step1{background-color:#fbe5d8; background-position:right -1098px;color:#ef9966;}
		.step3{background-image:none;}
		
		.getpw_title h1{background-position:-200px -1186px; display:block; text-indent:-999px; height:25px;}
		.getpw_form{margin:120px auto; width:500px;}
		.getpw_form li input{height:22px; border-color:#cacaca; line-height:22px;}
		.getpw_btn{margin:30px 0 0 112px;}
		.success{background:url(${picPath}css/buss/success.gif) no-repeat; text-indent:45px; height:32px; line-height:32px;}
		.getpw_pos{margin:20px 0 10px 14px; display:inline-block;}
		.getpw_pos2{margin:20px 0 10px 0; display:inline-block;}
		.getpw_pos em,.getpw_pos2 em,.getpw_form em{color:#bf3d0b;}
		.getpw_form .phone_num{border-width:2px 1px 1px 2px; border-style:solid; border-color:#ccc; display:block; width:110px; height:30px; float:left; line-height:30px; color:#000; margin-top:-5px;}
		
		.redBt span{padding:0 30px 0 10px;}
	</style>
</head>
<body>
#set($tag="home")
#set($cfgHeader='header')#parse('include/navigation.vm')
<div class="ui_layout">
	<div class="inner">
		<div class="getpw_title"><h1>找回密码</h1></div>
		<div class="payStep02 mt10">
				<ul class="payOrderSteps clear">
					<li class="step1">1.输入Email或者手机号</li>
					<li class="step2">2.重设密码</li>
					<li class="step3">3.完成</li>
				</ul>
		</div>
		#if($VmUtils.eq($type,'mobile'))	
		<div class="getpw_form">
			<form name="saveForm" id="saveForm">
				<dl class="tales100">
					<dt>手机号：</dt>
					<dd>
						<label class="text label" for="mobile" style="margin-right:10px;_margin-right:0px;"><input type="text" id="mobile" class="text" name="mobile" value="$!{email}" readonly="readonly"/></label>
						<div style="display:none;clear: left;height:42px;" id="showPassCaptcha">
							<input type="hidden" name="captchaId" id="captchaMobile" />
							<label class="text label" for="captchaMobileInput" style="width:90px;"><input type="text" class="text captcha" id="captchaMobileInput" name="captcha" alt="点击获取" autocomplete="off"  style="width:90px" onfocus="GewaraUtil.refreshCaptcha('captchaMobile');"/></label>
							<img id="captchaMobileImg" width="80" height="30" class="ml10 mt10" src="${staticPath}css/images/blank.gif" style="cursor: pointer; margin-bottom:-10px;" onclick="GewaraUtil.refreshCaptcha('captchaMobile');" title="看不清楚，请点击换一张图片"/>
						</div>
						<input type="button"  value="获取动态码" id="sendDTPassword" class="botton_count_on"/>
					</dd>
				</dl>
				<dl class="tales100">
					<dt>动态码：</dt>
					<dd>
						<label class="text label" for="checkpass"><input type="text" name="checkpass" value="" id="checkpass" mustTxt="动态码不能为空！" maxlength="6" class="text"/></label><span class="mt5" style="color:#989898; margin:6px 10px; display:inline-block;"></span>
					</dd>
				</dl>
				<dl class="tales100">
					<dt>设置新密码：</dt>
					<dd>
						<label class="text label" for="password"><input type="password" name="password" value="" id="password" mustTxt="密码不能为空！" class="text"/></label><span class="mt5" style="color:#989898; margin:6px 10px; display:inline-block;">密码长度必须在6-14个字符之间</span>
					</dd>
				</dl>
				<dl class="tales100">
					<dt>确认密码：</dt>
					<dd>
						<label class="text label" for="repassword"><input type="password" name="repassword" value="" id="repassword" mustTxt="确认密码不能为空！" class="text"/></label>
					</dd>
				</dl>
				<div class="tales100"><a href="javascript:void(0);" id="disBtn" class="button redBt bigBt"><span onclick="saveMobilePassword();">确认提交</span></a></div>
			</form>
		</div>
		#elseif($VmUtils.eq($type,'email'))
		<!--step2 Email-->
		<div class="getpw_form">
			<ul class="fs14">
				<li class="bold" style="background:url(${picPath}css/home/right.png) no-repeat; height:16px; text-indent:30px;">密码重设邮件已发送到：<span class="brown">$!{email}</span></li>
				<li style="margin:20px 0 0 30px;;">请点击邮件中的密码重设链接，即可进行密码重设。</li>
			</ul>
		</div>
		#elseif($VmUtils.eq($success,'true'))
		<div class="getpw_form">
			<form name="searchMember" id="memberForm">
				<ul class="fs14">
					<li class="bold" style="margin:26px 0 25px 42px;">
						<input type="hidden" name="email" id="email" value="$!{email}" />
						<input type="hidden" name="encode" id="encode" value="$!VmUtils.escapeHtml($params.encode)"/>
						<input type="hidden" name="uuid" id="uuid" value="$!VmUtils.escapeHtml($params.uuid)"/>
						<span>Email：</span>$!{email}
					</li>
					<li><span class="getpw_pos2"><em>*</em> 设置新密码：</span><input type="password" name="password" id="password" value="" mustTxt="密码不能为空！" class="text"/><span class="mt5" style="color:#989898; margin:6px 10px; display:inline-block;">密码长度必须在6-14个字符之间</span></li>
					<li><span class="getpw_pos"><em>*</em> 确认密码：</span><input type="password" name="repassword" id="repassword" value="" mustTxt="确认密码不能为空！" class="text"/></li>
					<li style="margin:26px 0 0 90px;"><a href="javascript:void(0);" id="disBtn" class="button redBt bigBt"><span onclick="saveEmailPassword();">提 交</span></a></li>
				</ul>
			</form>
		</div>
		#end
	</div>
</div>
#parse('include/bottom.vm')
<script type="text/javascript">
var isPhnoeCode2 = false;
window.addEvent('domready',function(){
	if($('sendDTPassword')){
		$('sendDTPassword').addEvent('click',function(){
			resend();
		});
	}
	#if($VmUtils.eq($type,'mobile'))
		GewaraUtil.sendRequest('${basePath}ajax/mobile/gettoken.xhtml',{},function(result){
			if(result.success){
				isPhnoeCode2 = true;
			}
		});
	#end
});

function saveMobilePassword(){
	if(!GewaraUtil.baseValidForm('saveForm')){
	 	return;
	 }
	if($('password').value != $('repassword').value){
		gewaUtil.alert('两次输入密码不一致！');
		return;
	}
	var url = '${basePath}ajax/mobile/savePassword.xhtml';
	var values = GewaraUtil.getValues('saveForm');
	GewaraUtil.mask('disBtn');
	GewaraUtil.sendRequest(url, values, function(result){
		GewaraUtil.unmask();
		if(result.success){
			document.location.href='${basePath}successPass.dhtml';
		}else{
			if(result.refreshCaptcha){
				$('showPassCaptcha').show();
				GewaraUtil.refreshCaptcha('captchaMobile');
			}
			gewaUtil.alert(result.msg);
		}
	});
}


function saveEmailPassword(){
	if(!GewaraUtil.baseValidForm('memberForm')) return;
	if($('password').value != $('repassword').value){
		gewaUtil.alert('两次输入密码不一致！');
		return;
	}
	var url = '${basePath}savePassword.xhtml';
	var values = GewaraUtil.getValues("memberForm");
	GewaraUtil.sendRequest(url, values, function(result){
		if(result.success){
			document.location.href="${basePath}successPass.dhtml";
		}else{
			gewaUtil.alert(result.msg);
		}
	});
}

var second = 60;
GetRTime = function (){  
	if(second>=0){
		var txt = '';
		if($('sendDTPassword')){
			if(second == 0){
				txt = '重新获取动态码';
				$("sendDTPassword").removeClass('botton_count_off');
				$("sendDTPassword").addEvent('click',function(){resend();});
			}else{
				txt = second + '秒后重新获取';
				$("sendDTPassword").addClass('botton_count_off');
			}
			$('sendDTPassword').value = txt;
		}
		second = second-1;
		setTimeout("GetRTime()",1000);
	}else {  
		if($('sendDTPassword')){
			$("sendDTPassword").addEvent('click',function(){resend();});
			$("sendDTPassword").setStyle("cursor","pointer"); 
		}
	}  
} 
resend = function(){
	if(isPhnoeCode2 && $('showPassCaptcha').getStyle('display') == 'none'){
		GewaraUtil.refreshCaptcha('captchaMobile');
		$('showPassCaptcha').show();
		return false;
	}
	if(isPhnoeCode2 && $('captchaMobileInput').value == ''){
		GewaraUtil.showValidateErr('captchaMobileInput','请输入验证码！');
		return false;
	}
	gewa.util.mask({'element': "sendDTPassword",'title':'正在提交，请稍等...'});
	var values = {"mobile":$('mobile').value,'captchaId':$('captchaMobile').value,'captcha':$('captchaMobileInput').value};
	GewaraUtil.sendRequest('${basePath}ajax/mobile/modifyPassword.xhtml', values, function(result){
		gewa.util.clearMask();
		if(result.success){
			gewaUtil.alert('密码已发至您的手机，请注意查收!');
			retime();
			$('showPassCaptcha').hide();
		}else{
			if(result.refreshCaptcha){
				isPhnoeCode2 = true;
				GewaraUtil.refreshCaptcha('captchaMobile');
			}
			if(result.msg) {
				gewaUtil.alert(result.msg);
			}else{
				GewaraUtil.showErrorMsg('saveForm',result.errorMap);
			}
		}
	}, 'get');
}
retime = function(){
	$("sendDTPassword").removeEvents('click');
	$("sendDTPassword").setStyle("cursor","text");
	second = 60;
	GetRTime();
}
</script>
</body>
</html>