<data>
<countyList>
	#foreach($county in $countyList)
	<county>
		<countycode>$!county.countycode</countycode>
		<briefname>$!county.briefname</briefname>
		<countyname>$!county.countyname</countyname>
	</county>
	#end
</countyList>
</data>