<style type="text/css">
	.colorRed{color:#CC3300;}
	.fs14{font-size:14px;}
	.fs12{font-size:12px;}
	.color3{color:#333333;}
	.tar{text-align:right;}
	.mod_kong .mod_bd{overflow:hidden;}
	.cf60{color:#ff6600;}
	.c9{color:#999;}
	.cd{color:#cdcdcd;}
	.ui_abeam{ overflow: hidden;position: relative;width: 100%; z-index: 0;}
	.bgtrans{background-color:transparent;}
	.uipic, .uiText{float:left;margin-bottom:-30000px;padding-bottom:30000px;}
	.mod_tabs_movie .mod_hd ul.nav_tabs li.select a em{color:#fff;}
	.ptt20{padding-top:20px;}
	
	/*关闭选择*/
	.selections{background:#DD3300;display:inline-block;height:22px;line-height:22px;padding:0 25px 0 5px;color:#fff; margin-right:10px;position:relative;}
	.selections1{padding:0 5px;}
	.selections .ui_x{background:url(/css/movie_wide/quickIco.gif) no-repeat 0 0;overflow:hidden;text-indent:-9999px;cursor:pointer;}
	.selections .bg6_hover{position:absolute;top:5px;right:5px;background-position:0 -120px;display:block;width:14px;height:13px;}
	.selections .bg6_hover:hover{background-position:0 -145px;}
	
	/*热映电影*/
	.typeTitle{color:#999;position:absolute;left:0;top:0;}
	.dlTy{padding-left:63px;position:relative;}
	.condition a{padding:3px 4px;margin:0 2px;color:#666666;}
	.condition a.selected{background:#dd3300; color:#fff;}
	.condition a:hover{background:#dd3300;color:#fff;text-decoration:none;}
	.search_kuang{height:29px;margin:0px 0 0 7px;display:inline;}
	.ulist{margin-bottom:30px;font:12px/22px;}
	.ulist li{line-height:24px;padding:3px 0 5px 0;}
	.ulist li a{white-space:nowrap; cursor:pointer}
	.noradius{border-radius:0;}
	.search_kuang .searchText{width:250px;background:#f5f5f5;}
	.search_kuangClicked input.searchText{background:#ffe6cd; color:#656668;}
	.noradius input{background-color:#f5f5f5;background-position:5px -65px;}
	.search_kuangClicked .noradius input{background-color:#ffe6cd;background-position:5px -101px; }
	.selectedMenus{padding:5px;_padding:8px 5px 0;background:#f4f4f4;height:28px;line-height:28px; position:relative; z-index:2;}
	.selectedMenus select{vertical-align:middle;}
	.c_tx3{padding:3px 20px 3px 7px;}
	.sNum{margin:0 2px;}
	.movieList{padding-top:15px;}
	.movieList a{color:#333;}
	.movieList .title h2,.movieList .title h3{font-size:14px;font-weight:bold;line-height:26px;overflow:hidden;}
	.movieList .title h2{font:24px/26px verdana,Arial,'微软雅黑','宋体';}
	.movieList ul li.effectLi{padding:0 0 20px;border-bottom:1px solid #f4f4f4;margin-bottom:20px;position:relative; z-index:1; display:inline-block;}
	.effectLi .ui_media .ui_pic{margin-right:20px;}
	.grade{margin:0 0 0 9px;font:12px/22px verdana,Arial,Helvetica,'宋体',sans-serif;}
	.grade sub{font-size:24px;color:#FF6600;font-style:italic;vertical-align:middle;}
	.grade sup{color: #FF6600;font-size:14px;font-style: italic;line-height:20px;margin-left:-4px;vertical-align:3px;}
	.buyButton{padding:5px 10px;background:#eb6120;color:#fff;border-radius:3px;font-size:14px;}
	.ui_pic{text-align:center;}
	.effectLi .ui_text{color:#999;}
	.favorable{color:#666;}
	.presellM{display:inline-block;background:url(/css/movie_wide/ico_tags.gif) no-repeat 0 0;}
	.newM{vertical-align:middle;margin-left:9px;}
	.presellM{width:27px;height:15px;background-position:0 -16px;margin-left:9px;}
	
	/*一周热评榜*/
	.ui_text .c3
	.ui_text .c3 a{color:#333;}
	.buyTick{position:relative;}
	.buyTick .ico_buyTicket{background:url(/css/home/wala.gif) no-repeat 0 -79px;display:block;width:14px;height:16px;position:absolute;bottom:-4px;right:-4px;}
	.effectLi .wlook{position:absolute;right:0;bottom:0;}
	
	/*即将上映*/
	.yuPhoto{position:relative;height:30px;line-height:30px;width:100%;}
	.yuPhoto a{color:#999;}
	.effectLi .date{padding:3px 0;width:55px;background:#ffbb88;color:#fff;text-align:center;font:bold 16px/22px;}
	.effectLi .month{font-size:14px; font-weight:bold; display:block;}
	.effectLi .day{font-size:24px;display:block;}
	.ui_media .ui_text .c6{color:#666;}
	.prevuing,.stagePhoto{background:url(/css/movie_wide/ico_pub.gif) no-repeat 0 0;}
	.prevuing{background-position:0 -142px;padding:3px 0 3px 25px;}
	.stagePhoto{background-position:0 -110px;padding:3px 0 3px 25px;}
	
	/*热映库*/
	.ui_text p.c66{color:#666;}
	.jia{font-family:"Tahoma";font-size:17px;vertical-align:-2px;margin-right:3px;}
	.addT a:hover{text-decoration:none;}
	.ui_t_searchClicked .search_button input, .search_button input:hover{background-position: 5px -29px;}
	.search_kuangClicked .search_button input:hover{background-position: 5px -101px;}
	/*pic*/
	.S3,.arfacility .S1,.cinemaServer .S1,.traffic .S1{background:url("/css/movie_wide/cinemaico24.png") no-repeat 0 0;_background: url("/css/movie_wide/cinemaico.jpg") no-repeat 0 0;}
	.detailMa .view em{background:url("/css/movie_wide/bg_ico.png") no-repeat 0 0;}
	
	.trafficn .S1{background:url("/css/movie_wide/bg_ico.png") no-repeat 0 0;}
	
	/*影院列表*/
	.S3{display:inline-block;height:20px;vertical-align:-6px;*vertical-align:-3px;padding-right:3px;}
	.conditionIco .Imax{background-position: -120px -405px;width:44px;}
	.conditionIco .Lovers{background-position: -120px -469px;width:25px;}
	.conditionIco .Linecombo{background-position: -120px -381px;width:23px;}
	.conditionIco .Freepark{background-position: -120px -535px;width:22px;}
	.conditionIco .Child{background-position: -120px -499px;width:25px;}
	.conditionIco a.O1:hover .Imax,.conditionIco a.selected .Imax{background-position:-60px -406px;}
	.conditionIco a.O1:hover .Lovers,.conditionIco a.selected .Lovers{background-position:-60px -470px;}
	.conditionIco a.O1:hover .Linecombo,.conditionIco a.selected .Linecombo{background-position:-60px -382px;}
	.conditionIco a.O1:hover .Freepark,.conditionIco a.selected .Freepark{background-position:-59px -535px;}
	.conditionIco a.O1:hover .Child,.conditionIco a.selected .Child{background-position:-60px -500px;}
	.conditionIco a.O1{padding:3px 4px;height:20px;line-height:20px;display:inline-block;}
	.conditionIco span.O1{padding:3px 4px;display:inline-block;height:20px;vertical-align:top;*vertical-align:2px;_vertical-align:1px;}
	.condition a{margin:0 10px;}
	.condition .dlTy .typeTitle_new{position:relative; display:inline-block;}
	.condition .dlTy .typeTitle_new span{position:absolute;right:-15px; top:-9px; color:#ff6600; font-weight:bold; font-size:10px;}
	.condition .twoDlTy dd{padding:10px 15px;background:#fff6ee; margin-left:10px;}
	.condition .twoDlTy a.selected{color:#cc3300; background:none; font-weight:bold;}
	.conditionIco a.O1{float:left;}
	.conditionIco a.tp ,.conditionIco span.tp{height:16px; padding:5px 4px; line-height:16px; *line-height:18px;}
	.conditionIco a.tp em ,.conditionIco span.tp em{float:left; background:#ffaa67; display:inline-block; overflow:hidden; color:#fff;width:16px; height:16px; line-height:16px; *line-height:18px; text-align:center; margin:0 3px;}
	.conditionIco a.tp:hover em{background:#ffffff; color:#dd3300;}
	
	
	/*电影资讯*/
	.infoTab{padding:10px 0;}
	.infoTab .inner_left,.infoTab .inner_right{float:left;}
	.infoTab .inner_left{width:240px;position:relative;height:270px;overflow:hidden;}
	.movieTab .moveBox ul{position:absolute;}
	.movieTab .moveBox li{width:240px;overflow:hidden;float:left;}
	.moveBox .movieTitle{font:12px/20px;height:20px;line-height:20px;text-align:center;display:block;width:240px;overflow: hidden;}
	.moveBox li .movieImg{width:240px;height:180px;overflow:hidden;display:block;}
	.movieTab li p{line-height:20px;color:#999;}
	.control_cir{position:absolute;;right:8px;top:1px;}
	.control_cir span{cursor:pointer;display:inline-block;width:9px;height:8px;margin:0 2px;font-size:0;overflow:hidden;background:url(/css/global/point_off.png) no-repeat 0 0;}
	.control_cir span.select{background:url(/css/global/point_on.png) no-repeat 0 0;}
	.infoTab .inner_right{width:430px;line-height:23px;}
	.inner_right p{color:#999999;margin:5px 0 20px 0;}
	.inner_right li{padding:2px 0;height:24px;line-height:24px;}
	.inner_right li a{color:#333;display:block;float:left;width:370px;overflow:hidden;height:24px;}
	.inner_right li span{color:#999;}
	
	.ui_newsNav{position:relative;}
	.ui_newsNav li{float:left;margin-right:1px;}
	.ui_newsNav li a{color:#333333;font:14px/30px "微软雅黑";width:86px;height:30px;background:#eaeaea;text-align:center;display:block;}
	.ui_newsNav li.select a{color:#fff;background:#eb6120;}
	.ui_newsNav li.select a:hover{color:#fff;}
	.ui_newsNav li a:hover{color:#EB6120;text-decoration:none;}
	
	.ui_newsList{margin-top:25px;}
	.ui_newsList ul li{width:220px;margin-right:15px;float:left;}
	.ui_newsList .newsbox{width:218px;border:1px solid #eeeeee;margin-bottom:20px;overflow:hidden;}
	.ui_newsList .newsbox:hover{border:1px solid #EB6120;box-shadow:0 0 4px #dcdcdc;}
	.ui_newsList .newsbox:hover a{color:#f60;}
	.newsbox .tbox,.newsbox .bbox{padding:9px;}
	.newsbox .tbox h3{padding:10px 0;display:block;}
	.newsbox .tbox h3 a{color:#333333;font:14px/22px "微软雅黑","宋体";}
	.newsbox .tbox h3 a:hover{color:#f60;}
	.newsbox .newImg{display:block;}
	.newsbox .tbox p{color:#999;font:12px/22px "宋体";}
	.newsbox .bbox{background:#f4f4f4;color:#999;text-align:center;}
	.hotSaleList ul li.topThree span.nopdl,.hotSaleList ul li span.nopdl{padding-left:0;}
	.hotSaleList ul li span.mWidth{width:265px;overflow:hidden;}
	
	/*影院详情页*/
	.rank_con{margin-bottom:20px;}
	.sNotice{color:#333333;display:inline-block;height:40px;line-height:40px;cursor:pointer;background:url(/css/movie_wide/quickIco.gif) no-repeat 0 -208px;padding-left:18px;border-bottom: 2px solid #EB6120;}
	.sNotice:hover{color:#cc3300;text-decoration:none;}
	.detail_head .detailPa{height:auto;line-height:22px;padding:10px 10px 0;}
	.detail_head .detailPa h1{font: 30px/45px "微软雅黑","宋体";}
	.detail_head .detailName{border-bottom:1px solid #eee;padding-bottom:10px;}
	.chooseOpi_movie .choseMovieInfo{padding:20px 10px;}
	.choseMovieInfo .ui_text{line-height:24px;}
	.choseMovieInfo .ui_text em{color:#999;}
	 em.ml90{margin-left:90px;}
	 
	.detailMa .ui_pic{width:282px;height:auto:}
	.detailMa .ui_text{width:560px;}
	.detailMa dl{margin-bottom:8px;}
	.detailMa dt{float:left; width:40px; white-space:nowrap;}
	.detailMa dd{float:left; display:block; color:#999; width:510px; overflow:hidden; zoom:1;}
	.detailMa dd p span{margin-right:40px;}
	.detailMa dd em{font-weight:bold;color:#cc3300;display:block;}
	.detailMa dd a.action{color:#999;margin-left:20px;}
	.detailMa .view{padding:3px 0;}
	.detailMa .view a{color:#333333; display:inline-block;margin-right:20px; padding:7px 0 5px 0;}
	.detailMa .view a:hover{text-decoration:none;color:#c30;}
	.detailMa .view em{display:inline-block;height:20px;vertical-align:-7px;*vertical-align:-4px;margin-right:2px;}
	.detailMa p.uppic{color:#333333;margin-top:10px;text-align: right;}
	.detailMa p.uppic a{color:#cc3300;}
	.detailMa .ui_text{height:auto;}
	.view em.wtwara{background-position: -200px -186px;width:20px;}
	.view em.ser{background-position: -200px -125px;width:20px;}
	.view em.fac{background-position: -200px -156px;width:20px;}
	.view em.tran{background-position: -200px -94px;width:20px;}
	.view em.pos{background-position: -200px -247px;width:20px;}
	.view em.clt{background-position: -200px -216px;width:20px;}
	.view em.clt{background-position: -200px -216px;width:20px;}
	.ui_movieBigType{width:280px;height:210px;border:1px solid #dddddd;margin-bottom:8px;overflow:hidden;}
	.ui_movieBigType ul{position:absolute;top:0;left:0;}
	.ui_movieBigType ul li{width:300px;height:225px;float:left;overflow:hidden;}
	.picListControl{width:300px;}
	.picListControl ul li{float:left;width:92px;height:68px;display:inline;margin-right:6px;border:2px solid #dddddd;position:relative;cursor:pointer;}
	.picListControl ul li span{position:absolute;width:25px;font-size:21px;height:11px;color:#ff8822;overflow:hidden;top:-12px;left:50%;display:none;margin-left:-11px;}
	.picListControl ul li.select span{display:block;}
	.picListControl ul li.select {border:2px solid #ff8822;}
	.priceSale{margin:5px 0;}
	.priceSale em{color:#999; font-family:arial;}
	
	.detail_head .map{width:280px; margin:20px 10px 0 0;}
	.detail_head .map .mapInfo{border:1px solid #cecece;}
	.detail_head .map .mapModify{display:none;}
	.mapInner {background:#959595;color: #FFFFFF;font-weight:bold;padding:3px 3px 3px 7px;}
	.mapInner p,.mapInner label{float:left;display:inline;}
	.mapInner .tex{width:60px;background:#fff;border:0 none;border-radius:3px;height:22px;line-height:22px;padding:0 4px;color:#333;margin:0 3px;}
	.mapInner label input{cursor:pointer;border:0 none;background:#ee6600;height:22px;width:60px;line-height:22px;text-align:center;color:#fff;border-radius:3px;box-shadow:1px 1px 0px #ba5603;}

	/*影院mod_cinemaServer*/
	.new_ser .cinemaServer,.new_ser .arfacility,.new_ser .trafficn{padding:15px 0 0;}
	.cinemaServer .ui_media,.arfacility .ui_media,.trafficn .ui_media{margin-bottom:8px;}
	.cinemaServer .ui_pic{width:20%;margin-right:5px;height:22px;line-height:22px;padding:5px 0 5px 20px;background:#fff4ee;text-align:left;font-size:14px;overflow:hidden;font-weight:bold;}
	.cinemaServer .ui_text{wdith:78%;height:35px;line-height:35px;background:#fffbf8;color:#696562;padding-left:20px;}
	.cinemaServer .S1{display:inline-block;width:55px;height:22px;vertical-align:-6px; _vertical-align:0px;}
	.trafficn .t1{display:inline-block;height:40px;line-height:40px;margin-left:10px;}
	.cinemaServer .P1{background-position:-60px 0;}
	.cinemaServer .P2{background-position:-60px -25px;}
	.cinemaServer .P3{background-position:-60px -57px;;}
	.cinemaServer .P4{background-position:-60px -90px;}
	.cinemaServer .P5{background-position:-60px -120px;}
	.cinemaServer .P6{background-position:0 -120px;}
	.cinemaServer .P7{background-position:-120px -150px;}
	.cinemaServer .P8{background-position:0 -150px;}
	
	
	.trafficn .ui_pic{padding-bottom:30000px;margin-bottom:-30000px;}
	.arfacility .ui_pic{width:16%;margin-right:5px;height:22px;line-height:22px;padding:5px 0 5px 20px;background:#fff4ee;text-align:left;font-size:14px;overflow:hidden;font-weight:bold;}
	.trafficn .ui_pic{width:16%;margin-right:5px;height:40px;line-height:40px;padding:10px 0 30000px 20px;background:#fff4ee;text-align:left;font-size:14px;overflow:hidden;font-weight:bold;}
	.arfacility .ui_text{wdith:82%;height:35px;line-height:35px;background:#fffbf8;color:#696562;padding-left:20px;}
	.trafficn .ui_text{wdith:82%;line-height:20px;background:#fffbf8;color:#696562;padding:20px 0 20px 20px;}
	.arfacility .S1{display:inline-block;width:40px;height:22px;vertical-align:-6px; _vertical-align:0px;}
	.trafficn .S1{display:inline-block;width:35px;height:40px;}
	.arfacility .P1{background-position:-120px 0;}
	.arfacility .P2{background-position:-120px -30px;}
	.arfacility .P3{background-position:-120px -60px;;}
	.trafficn .P1{background-position:-240px 0px;}
	.trafficn .P2{background-position:-240px -60px;}
	.trafficn .P3{background-position:-240px -116px;;}
	
	/*电影剧情介绍*/
	.synopsis p{text-indent: 2em;padding-top:30px;}
	.synPage{margin:30px 0;font-size:12px;width:100%;overflow:hidden;text-align:right;}
	.synPage .pageUp,.synPage .pageDown{font-weight:bold;color:#999999;background:#fff;}
	.synPage .pageDown,.synPage em{color:#cc3300;}
	.synPage a{padding:10px;color:#cc3300;margin-right:5px;cursor:pointer;}
	.synPage a.select{background:#cc3300;color:#fff;}
	
	.detail_head_text{padding-bottom:20px;}
	.detail_head_info .ui_text{min-height:200px;}
</style>