<data>
	<itempriceList>
		#foreach($price in $sportPriceList)
		<itemprice>
			<weekinfo>$!VmUtils.weekMap.get($!price.weektype)</weekinfo>
			<timerange>$!price.timerange</timerange>
			<price>$!price.price</price>
			<memberprice>$!price.memberprice</memberprice>
			<remark><![CDATA[$!price.remark]]></remark>
		</itemprice>
		#end
	</itempriceList>
</data>
