<otiList>
	#foreach($ott in $ottList)
	<ott>
		<ottid>$ott.id</ottid>
		<sportid>$ott.sportid</sportid>
		<itemid>$!ott.itemid</itemid>
		<sportname>$!ott.sportname</sportname>
		<itemname>$!ott.itemname</itemname>
		<playdate>$!ott.playdate</playdate>
		<price>$!ott.price</price>
		
		<status>$ott.status</status>
		<sportprice>$!ott.sportprice</sportprice>
		<opentime>$!ott.opentime</opentime>
		<closetime>$!ott.closetime</closetime>
		<starttime>$!ott.starttime</starttime>
		<endtime>$!ott.endtime</endtime>
		#set($otis=$!otisMap.get($ott.id))
		#foreach($oti in $otis)
		<oti>
			<fieldid>$oti.fieldid</fieldid>
			<fieldname>$oti.fieldname</fieldname>
			<hour>$!oti.hour</hour>
			<price>$!oti.price</price>
			<norprice>$!oti.norprice</norprice>
			<status>#if($VmUtils.eq($oti.itemtype,'1') || $VmUtils.eq($oti.itemtype,'2'))R#else$!oti.status#end</status>
		</oti>
		#end
	</ott>
	#end
</otiList>