<data>
   <phoneActivity>
     <title>$!activity.title</title>
	 <logo>${mobilePath}$!{activity.contentLogo}</logo>
	 <starttime>$!DateUtil.format($activity.starttime,'yyyy-MM-dd HH:mm:ss') </starttime>
	 <endtime>$!DateUtil.format($activity.endtime,'yyyy-MM-dd HH:mm:ss') </endtime>
     <address><![CDATA[$!activity.address]]></address>
     <type>$!activity.type</type>
     <content><![CDATA[$!activity.content]]></content>
     <opiList>
     #foreach($opi in $opiList)
         <opi>
             <mpid>$!opi.mpid</mpid>
             <movieid>$!opi.movieid</movieid>
             <moviename><![CDATA[$!opi.moviename]]></moviename>
             <playtime>$!DateUtil.format($!opi.playtime,'yyyy-MM-dd HH:mm')</playtime>
             <cinemaid>$!opi.cinemaid</cinemaid>
             <cinemaname><![CDATA[$!cinemas.get($opi.cinemaid).name]]></cinemaname>
             <cinemaaddress><![CDATA[$!cinemas.get($opi.cinemaid).address]]></cinemaaddress>
             <price>$!opi.price</price>
             <gewaprice>$!opi.gewaprice</gewaprice>
         </opi>
     #end
     </opiList>
	</phoneActivity>
</data>
