<upGrade>
	<versionCode>$!upGrade.versionCode</versionCode>
	<upgradeUrl>$!upGrade.upgradeUrl</upgradeUrl>
	<addTime>$!DateUtil.formatDate($!upGrade.addTime)</addTime>
	<remark>$!upGrade.remark</remark>
</upGrade>
