<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<title>订单列表</title>
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/default.css" />
</head>
<body style="width:850px; margin:auto">
#if($params.date)<div>订单日期：$params.date</div>#end
#if($checkRecord)<div>订单时间：${checkRecord.fromtime}--${checkRecord.checktime}</div>#end
<div style="clear:both;"></div>
<table width="850px" border="1" cellspacing="0" class="table">
	<thead>
	<tr>
		<th>&nbsp;</th>
		<th>订单号</th>
		<th>用户名</th>
		<th>物品数量</th>
		<th>订单金额</th>
		<th>账户支付</th>
		<th>网络支付</th>
		<th>来源</th>
		<th>折扣金额</th>
		<th>折扣说明</th>
		<th>成交时间</th>
	</tr>
	</thead>
	<tbody id="sportTable">
	#foreach($order in $orderList)
	<tr title="$order.description2">
		<td>$foreach.count</td>
		<td>${order.tradeNo}</td>
		<td><a href="${basePath}admin/gewapay/queryMemberAccount.xhtml?mid=$order.memberid" target="_blank">${order.membername}</a></td>
		<td>$!order.quantity</td>
		<td>$order.totalAmount</td>
		<td>$order.gewapaid</td>
		<td>$order.alipaid</td>
		<td>$order.paymethodText</td>
		<td>$order.discount</td>
		<td>$!order.disreason</td>
		<td>$DateUtil.format(${order.paidtime}, "yyyy-MM-dd HH:mm:ss")</td>
	</tr>
	#end
	</tbody>
	<thead>
	<tr>
		<th colspan="12">总计：$rowsCount个订单，数量：$statMap.quantity，订单总额：$statMap.totalAmount，
			付款总额：$statMap.totalpaid（gewa余额：$statMap.gewapaid，网上：$statMap.alipaid），
			优惠总额：$statMap.discount
		</th>
	</tr>
	</thead>
</table>
#parse('include/pageUtil.vm')
</body>
</html>
