<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>杭州亚洲青年影展2012_青年影展购票_青年影展官方指定售票平台 – 格瓦拉生活网</title>
<meta name="keywords" content="杭州亚洲青年影展2012 - 格瓦拉生活网"/>
<meta name="description" content="杭州亚洲青年影展2012."/>
<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=layout&v=$VmUtils.jsVersion"/>
<link rel="stylesheet" type="text/css" href="${staticPath}css/layout.css?v=$VmUtils.jsVersion"/>
<link rel="stylesheet" type="text/css" href="${staticPath}styles/slider.css"/>
<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util,noobSlide&v=$VmUtils.jsVersion"></script>
#parse('subject/youthShow/style.vm')
<style type="text/css">
.ui_layout{background:#fff;}
.inner{padding:10px;}
.ui_left{width:680px;overflow:hidden;margin-right:0;}
.ui_right{width:280px;overflow:hidden;}
.activity_title h2{font-family:'微软雅黑','宋体';font-size:18px;font-weight:bold; color:#0068a9;}

.newlist_in ul li{display:inline;float:left;margin:0 10px;width:200px;}
.newlist_in ul li .box {background:#FFFFFF;border:1px solid #DDDDDD;margin-bottom:20px;overflow:hidden;width:198px;}
.newlist_in ul li .box:hover {border:1px solid #09A7FE;box-shadow:0 1px 3px rgba(204, 51, 0, 0.2);}
.newlist_in ul li .box .topBox, .newlist_in ul li .box .btmBox {padding:9px;width:178px; border:1px solid #fff;}
.newlist_in ul li .box .topBox h3 a {color:#666666;display:block;font-size:14px;font-weight:bold;margin:10px 0;overflow:hidden;width:180px;}
.newlist_in ul li .box .topBox p {color:#999999;}
.newlist_in ul li .box .topBox p a{color:#cc3300;}
.newlist_in ul li .box .topBox p.spe {color:#666666;margin-top:5px;}
.newlist_in ul li .box .topBox p.spe a {color:#EA7143;}
.newlist_in ul li .box .btmBox {background:#F4F4F4;color:#999999;text-align:center;}
</style>
</head>
<body>
#set($hasLogo = false)
#set($tag = 'newsselect')
#set($isSubject=true)
#set($cfgHeader='header')#parse('include/navigation.vm')
#parse('subject/youthShow/header.vm')
#set($moderate='杭州亚洲青年影展2012')
<h1 style="display:none">杭州亚洲青年影展2012</h1>
<div class="ui_layout">
	<div class="ui_left">
		<div class="inner">
			<div class="title mt15 activity_title">
				<h2>焦点星闻</h2>
			</div>
			<div class="newlist_in mt15 clear">
				<ul class="row">
					#foreach($nlist in $!VmUtils.groupList($!newesList,3))
					<li>
						#foreach($news in $nlist)
						#set($relate=$relatedHelper.getR1("newsList",$news.id))
						#set($newother = $VmUtils.readJsonToMap($!relate.otherinfo))
						<div class="box" #if($VmUtils.eq($foreach.count, $nlist.size()))style="margin-bottom:0"#end>
							<div class="topBox">
								<a href="${basePath}news/$relate.id" target="_blank"><img width="180" src="$VmUtils.randomPic('',$!relate.logo)"/></a>
								<h3><a href="${basePath}news/$relate.id" target="_blank" title="$relate.title">$relate.title</a></h3>
								<p>$!VmUtils.htmlabbr($relate.content,60)...<a class="ffst ml5" href="${basePath}news/$relate.id" target="_blank">全文&gt;&gt;</a></p>
								<p class="spe"><a href="${basePath}news/$relate.id" target="_blank" class="mr5">#if($VmUtils.isBlank($!newother.tips))0#else$!newother.tips#end</a>喜欢</p>
							</div>
							<div class="btmBox">
								$!DateUtil.format($relate.releasetime,"yyyy-MM-dd HH:mm")
							</div>
						</div>
						#end
					</li>
					#end
				</ul>
			</div>
			<div class="page">
				#parse('include/pageUtil.vm')
			</div>
		</div>
	</div>
	<div class="ui_right">
		<div class="inner">
			#parse('subject/youthShow/items/hotMovie.vm')
			<div class="mt20">
			#parse('subject/youthShow/items/video.vm')
			</div>
			#parse('subject/youthShow/items/hotVideo.vm')
		</div>
	</div>
</div>
<script type="text/javascript">
window.addEvent('domready',function(){

})
</script>
#parse('include/bottom.vm')
</body>
</html>