<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>杭州亚洲青年影展2012_青年影展购票_青年影展官方指定售票平台 – 格瓦拉生活网</title>
<meta name="keywords" content="杭州亚洲青年影展2012 - 格瓦拉生活网"/>
<meta name="description" content="杭州亚洲青年影展2012."/>
<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=layout&v=$VmUtils.jsVersion"/>
<link rel="stylesheet" type="text/css" href="${staticPath}css/layout.css?v=$VmUtils.jsVersion"/>
<link rel="stylesheet" type="text/css" href="${staticPath}styles/slider.css"/>
<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util,index_even&v=$VmUtils.jsVersion"></script>
#parse('subject/youthShow/style.vm')
<style type="text/css">
.ui_layout{background:#fff;}
.inner{padding:10px;}
.opilist_lc{background:url(${staticPath}styles/youthShow/opilist_lc.jpg) no-repeat;width:940px;height:61px;}
.opilist_main{border:1px solid #ccc;clear:both;width:938px;border-radius:0 5px 5px 5px; position:relative; margin-top:40px;}
.opilist_main .inner{padding:15px;}
.opilist_list {background-color:#f6f6f6; padding:15px;}
.opilist_list a{padding:0 5px;margin-right:5px;display:inline-block;}
.opilist_list a.select{background-color:#2ca6f4;color:#fff;text-decoration:none !important;}
.opilist_list .ul-80 li{ clear:both;color:gray;height:100%;margin:0 0 8px;overflow:hidden;padding-left:70px;}
/*tab*/
.opilist_tab {background:url(${staticPath}styles/youthShow/bottom_line.jpg) no-repeat left bottom; width:100%; height:32px; line-height:30px;position:absolute;top:-32px; z-index:1;}
.opilist_tab ul {padding-left:25px;}
.opilist_tab ul li {float:left; padding:0 15px;height:30px; color:#0067AA;font-size:14px; cursor:pointer;}
.opilist_tab ul li.select{border:1px solid #0173BA; border-bottom:1px solid #fff; border-radius:5px 5px 0 0; font-weight:bold; color:#333;}
/**/
.opilist_buy dl {border-top:1px solid #fff;border-bottom:1px solid #A6D3F2;overflow:hidden;width:100%;}
.opilist_buy dl.iTitle{border:0; height:35px; line-height:35px; text-align:center;background-color:#E3F4FE; color:#023A5D; font-size:14px; font-weight:bold;}
.opilist_buy dl dt {width:117px;border-right:1px solid #A6D3F2;float:left; text-align:center;padding:15px;margin-bottom:-30000px;padding-bottom: 30000px;}
.opilist_buy dl dd {width:730px;float:left;padding:15px;}
.opilist_buy dl dt em {font-size:14px;display:block;}
.opilist_buy dl.iTitle dt,.opilist_buy dl.iTitle dd {border-color:#fff;padding:0 15px;}
.opilist_buy ul li {width:243px; float:left;}
</style>
</head>
<body>
#set($hasLogo = false)
#set($tag = 'ticketselect')
#set($isSubject=true)
#set($cfgHeader='header')#parse('include/navigation.vm')
#parse('subject/youthShow/header.vm')
#set($moderate='杭州亚洲青年影展2012')
<form name="searchFilmForm" action="${basePath}youthFilm/bookingList.xhtml" id="searchFilmForm" method="get">
	<input type="hidden" name="flag" id="flag" value="$!VmUtils.escapeHtml($params.flag)"/>
</form>
<h1 style="display:none">杭州亚洲青年影展2012</h1>
<div class="ui_layout">
	<div class="inner">
		<div class="opilist_lc mt10"></div>
		<div class="mt10 c666" style="text-align:right;font-size:14px;"><em class="cMovie">高校场次抢票：</em>选择场次进入活动页面，成功报名将接到短信通知，凭短信至现场验证入场。</div>
		<div class="opilist_main">
			<div class="opilist_tab">
				<ul>
					<li class="select" lang="guoji">新远国际影院</li>
					<li lang="zhejiang">浙江大学</li>
					<li lang="gongye">浙江工业大学</li>
					<li lang="meishu">中国美术学院</li>
					<li lang="chuanmei">浙江财经学院</li>
				</ul>
			</div>
			<div class="inner">
				<div id="guoji">
					<div class="c666">地点：西湖文化广场C区8号新远国际影城<em class="ml10 cMovie">(*每场放映提前30分钟检票，所有放映均为免费公益放映，不收取任何门票费用。)</em></div>
					<div class="opilist_list mt10">
						<ul class="ul-80 clear">
							<li style="margin-bottom:0;">
								#set($flagList = ['亚洲之光', '小川绅介', '亚洲焦点影人', '台湾新象', '最好的时光'])
								<div class="ul-80Inner">单元类型：</div>
								<a #if($VmUtils.isNull($params.flag)) class="select"#end href="${basePath}youthFilm/bookingList.xhtml">全部</a>
								#foreach($flag in $flagList)
									<a #if($params.flag eq $flag) class="select" #end href="javascript:searchFilmMovie('flag','$flag');">$flag</a>
								#end
							</li>
						</ul>
					</div>
					<div class="opilist_buy mt20">
					#if($VmUtils.isEmptyList($openPlayItemList))
						<div class="ui_warning center">没有查询到符合条件的电影，请重新搜索。</div>
					#else
						<dl class="iTitle">
							<dt>场次</dt>
							<dd>放映电影</dd>
						</dl>
						#foreach($opi in $openPlayItemList)
						#set($movieList=$movieMap.get($opi.id))
						#set($mov=$mMap.get($opi.id))
						#set($mFlag="")
						#if($VmUtils.contains($mov.flag, "亚洲之光"))
							#set($mFlag='亚洲之光')
						#elseif($VmUtils.contains($mov.flag, "小川绅介"))
							#set($mFlag='小川绅介')
						#elseif($VmUtils.contains($mov.flag, "亚洲焦点影人"))
							#set($mFlag='亚洲焦点影人')
						#elseif($VmUtils.contains($mov.flag, "台湾新象"))
							#set($mFlag='台湾新象')
						#elseif($VmUtils.contains($mov.flag, "最好的时光"))
							#set($mFlag='最好的时光')
						#end
						<dl #if($foreach.count%2 eq 0)style="background-color:#E8F6FF;"#end>
							<dt>
								<p><em>$DateUtil.format($opi.playtime,"yyyy-MM-dd")($DateUtil.getCnWeek($opi.playtime))</em><em>$DateUtil.format($opi.playtime,"HH:mm")（$!opi.roomname）</em></p>
								#if($opi.booking)<p class="mt10"><a target="_blank" class="button minBt violetBt" href="${basePath}cinema/order/step1.shtml?mpid=$opi.mpid"><span>免费抢票</span></a></p>#end
								<p class="mt30">单元：$!mFlag</p>
							</dt>
							<dd>
								<ul>
								#if(!$VmUtils.isEmptyList($movieList))
									#foreach($movie in $movieList)
									<li #if($foreach.count gt 3)class="mt20"#end>
										<div class="uipic" style="width:96px; overflow:hidden;">
											<a title="$!movie.name" href="${basePath}movie/$movie.id" target="_blank"><img width="96" height="128" src="$VmUtils.randomPic('cw96h128',$!movie.logo)"/></a>
										</div>
										<div class="uiText" style="width:134px;">
											<p><a href="${basePath}movie/$movie.id" class="bold fs14">$!movie.name</a></p>
											<p><em>语言：</em>$!movie.language</p>
											<p><em>片长：</em>$!movie.videolen分钟</p>
											<p><em>类型：</em>$!VmUtils.escabbr($!movie.type, 16)</p>
											<p><em>导演：</em>$!VmUtils.escabbr($!movie.director, 16)</p>
											<p><em>国家：</em>$!VmUtils.escabbr($!movie.state,14)</p>	
										</div>
									</li>
									#end
								 #else
									<li #if($foreach.count gt 3)class="mt20"#end>
										<div class="uipic" style="width:96px; overflow:hidden;">
											<a title="$!mov.name" href="${basePath}movie/$!mov.id" target="_blank"><img width="96" height="128" src="$VmUtils.randomPic('cw96h128',$!mov.logo)"/></a>
										</div>
										<div class="uiText" style="width:134px;">
											<p><a href="${basePath}movie/$mov.id" class="bold fs14">$!mov.name</a></p>
											<p><em>语言：</em>$!mov.language</p>
											<p><em>片长：</em>$!mov.videolen分钟</p>
											<p><em>类型：</em>$!VmUtils.escabbr($!mov.type, 16)</p>
											<p><em>导演：</em>$!VmUtils.escabbr($!mov.director, 16)</p>
											<p><em>国家：</em>$!VmUtils.escabbr($!mov.state, 16)</p>	
										</div>
									</li>								 
								#end
								</ul>
							</dd>
						</dl>
						#end
					</div>
					#end
					<div class="page">
						#parse('include/pageUtil.vm')
					</div>
				</div>
				<div id="zhejiang"  class="none">
					<div class="c666">地点：杭州市西湖区余杭塘路388号浙江大学紫金港校区小剧场或校友书屋<em class="ml10 cMovie">(*每场放映提前30分钟检票，所有放映均为免费公益放映，不收取任何门票费用。)</em></div>
					<div class="opilist_buy mt20">
						<dl class="iTitle">
							<dt>场次</dt>
							<dd>放映电影</dd>
						</dl>
						#foreach($zj in $zjList)
						#set($zjMoveList=$zjPieceMap.get($zj.get("content")))
						<dl #if($foreach.count%2 eq 0)style="background-color:#E8F6FF;"#end>
							<dt>
								<p><em>$zj.title</em></p>
								<p class="mt10"><a target="_blank" class="button minBt violetBt" href="${basePath}activity/$zj.get('content')"><span>立即参加</span></a></p>
								<p class="mt30">单元：$!zj.get('newslink')</p>
							</dt>
							<dd>
								<ul>
									#foreach($zjMovie in $zjMoveList)
									<li #if($foreach.count gt 3)class="mt20"#end>
										<div class="uipic" style="width:96px; overflow:hidden;">
											<a title="$zjMovie.name" href="${basePath}movie/$zjMovie.id" target="_blank"><img width="96" height="128" src="$VmUtils.randomPic('cw96h128',$zjMovie.logo)"/></a>
										</div>
										<div class="uiText" style="width:134px;">
											<p><a href="${basePath}movie/$zjMovie.id" class="bold fs14">$!zjMovie.name</a></p>
											<p><em>语言：</em>$!zjMovie.language</p>
											<p><em>片长：</em>$!zjMovie.videolen分钟</p>
											<p><em>类型：</em>$!VmUtils.escabbr($!zjMovie.type, 16)</p>
											<p><em>导演：</em>$!VmUtils.escabbr($!zjMovie.director, 16)</p>
											<p><em>国家：</em>$!VmUtils.escabbr($!zjMovie.state, 16)</p>	
										</div>
									</li>
									#end
								</ul>
							</dd>
						</dl>
						#end
					</div>
				</div>
				<div id="gongye"  class="none">
					<div class="c666">地点：杭州市留和路288号浙江工业大学屏峰校区语林楼报告厅<em class="ml10 cMovie">(*每场放映提前30分钟检票，所有放映均为免费公益放映，不收取任何门票费用。)</em></div>
					<div class="opilist_buy mt20">
						<dl class="iTitle">
							<dt>场次</dt>
							<dd>放映电影</dd>
						</dl>
						#foreach($gy in $gyList)
						#set($gyMoveList=$gyPieceMap.get($gy.get("content")))
						<dl #if($foreach.count%2 eq 0)style="background-color:#E8F6FF;"#end>
							<dt>
								<p><em>$!gy.get('title')</em></p>
								<p class="mt10"><a target="_blank" class="button minBt violetBt" href="${basePath}activity/$gy.get('content')"><span>立即参加</span></a></p>
								<p class="mt30">单元：$!gy.get('newslink')</p>
							</dt>
							<dd>
								<ul>
									#foreach($gyMove in $gyMoveList)
									<li #if($foreach.count gt 3)class="mt20"#end>
										<div class="uipic" style="width:96px; overflow:hidden;">
											<a title="$!gyMove.name" href="${basePath}movie/$!gyMove.id" target="_blank"><img width="96" height="128" src="$VmUtils.randomPic('cw96h128',$!gyMove.logo)"/></a>
										</div>
										<div class="uiText" style="width:134px;">
											<p><a href="${basePath}movie/$!gyMove.id" class="bold fs14">$!gyMove.name</a></p>
											<p><em>语言：</em>$!gyMove.language</p>
											<p><em>片长：</em>$!gyMove.videolen分钟</p>
											<p><em>类型：</em>$!VmUtils.escabbr($!gyMove.type, 16)</p>
											<p><em>导演：</em>$!VmUtils.escabbr($!gyMove.director, 16)</p>
											<p><em>国家：</em>$!VmUtils.escabbr($!gyMove.state, 16)</p>	
										</div>
									</li>
									#end
								</ul>
							</dd>
						</dl>
						#end
					</div>
				</div>
				<div id="meishu"  class="none">
					<div class="c666">地点：杭州市转塘镇象山352号中国美术学院象山校区3号楼小剧场<em class="ml10 cMovie">(*每场放映提前30分钟检票，所有放映均为免费公益放映，不收取任何门票费用。)</em></div>
					<div class="opilist_buy mt20">
						<dl class="iTitle">
							<dt>场次</dt>
							<dd>放映电影</dd>
						</dl>
					#foreach($ms in $msList)
						#set($msMoveList=$msPieceMap.get($ms.get("content")))
						<dl #if($foreach.count%2 eq 0)style="background-color:#E8F6FF;"#end>
							<dt>
								<p><em>$!ms.get('title')</em></p>
								<p class="mt10"><a target="_blank" class="button minBt violetBt" href="${basePath}activity/$ms.get('content')"><span>立即参加</span></a></p>
								<p class="mt30">单元：$!ms.get('newslink')</p>
							</dt>
							<dd>
								<ul>
									#foreach($msMove in $msMoveList)
									<li #if($foreach.count gt 3)class="mt20"#end>
										<div class="uipic" style="width:96px; overflow:hidden;">
											<a title="$!msMove.name" href="${basePath}movie/$!msMove.id" target="_blank"><img width="96" height="128" src="$VmUtils.randomPic('cw96h128',$!msMove.logo)"/></a>
										</div>
										<div class="uiText" style="width:134px;">
											<p><a href="${basePath}movie/$!msMove.id" class="bold fs14">$!msMove.name</a></p>
											<p><em>语言：</em>$!msMove.language</p>
											<p><em>片长：</em>$!msMove.videolen分钟</p>
											<p><em>类型：</em>$!VmUtils.escabbr($!msMove.type, 16)</p>
											<p><em>导演：</em>$!VmUtils.escabbr($!msMove.director, 16)</p>
											<p><em>国家：</em>$!VmUtils.escabbr($!msMove.state, 16)</p>	
										</div>
									</li>
									#end
								</ul>
							</dd>
						</dl>
						#end
					</div>
				</div>
				<div id="chuanmei"  class="none">
					<div class="c666">地点：下沙高教园区学源街18号浙江财经学院五楼报告厅<em class="ml10 cMovie">(*每场放映提前30分钟检票，所有放映均为免费公益放映，不收取任何门票费用。)</em></div>
					<div class="opilist_buy mt20">
						<dl class="iTitle">
							<dt>场次</dt>
							<dd>放映电影</dd>
						</dl>
						#foreach($cm in $cmList)
						#set($cmMoveList=$cmPieceMap.get($cm.get("content")))
						<dl #if($foreach.count%2 eq 0)style="background-color:#E8F6FF;"#end>
							<dt>
								<p><em>$!cm.get('title')</em></p>
								<p class="mt10"><a target="_blank" class="button minBt violetBt" href="${basePath}activity/$cm.get('content')"><span>立即参加</span></a></p>
								<p class="mt30">所属：$!cm.get('newslink')</p>
							</dt>
							<dd>
								<ul>
									#foreach($cmMove in $cmMoveList)
									<li #if($foreach.count gt 3)class="mt20"#end>
										<div class="uipic" style="width:96px; overflow:hidden;">
											<a title="$!cmMove.name" href="${basePath}movie/$!cmMove.id" target="_blank"><img width="96" height="128" src="$VmUtils.randomPic('cw96h128',$!cmMove.logo)"/></a>
										</div>
										<div class="uiText" style="width:134px;">
											<p><a href="${basePath}movie/$!cmMove.id" class="bold fs14">$!cmMove.name</a></p>
											<p><em>语言：</em>$!cmMove.language</p>
											<p><em>片长：</em>$!cmMove.videolen分钟</p>
											<p><em>类型：</em>$!VmUtils.escabbr($!cmMove.type, 16)</p>
											<p><em>导演：</em>$!VmUtils.escabbr($!cmMove.director, 16)</p>
											<p><em>国家：</em>$!VmUtils.escabbr($!cmMove.state, 16)</p>	
										</div>
									</li>
									#end
								</ul>
							</dd>
						</dl>
						#end
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
window.addEvent('domready',function(){
	tabs();
})
function tabs(){
	var elements = $$('.opilist_tab ul li');
	elements.addEvent('click',function(){
		elements.each(function(item){
			item.removeClass('select');
			$(item.get('lang')).addClass('none');
		})
		this.addClass('select');
		$(this.get('lang')).removeClass('none');
	})
}
function searchFilmMovie(field,value){
	$(field).value = value;
	$('searchFilmForm').submit();
}
</script>
#parse('include/bottom.vm')
</body>
</html>