<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>杭州亚洲青年影展2012_青年影展购票_青年影展官方指定售票平台 – 格瓦拉生活网</title>
<meta name="keywords" content="杭州亚洲青年影展2012 - 格瓦拉生活网"/>
<meta name="description" content="杭州亚洲青年影展2012."/>
<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=layout&v=$VmUtils.jsVersion"/>
<link rel="stylesheet" type="text/css" href="${staticPath}css/layout.css?v=$VmUtils.jsVersion"/>
<link rel="stylesheet" type="text/css" href="${staticPath}styles/slider.css"/>
<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util,index_even&v=$VmUtils.jsVersion"></script>
#parse('subject/youthShow/style.vm')
<style type="text/css">
.ui_layout{background:#fff;}
.ui_left{width:660px; margin-right:20px;}
.ui_right{width:260px;}
.inner{ padding:10px;}
.title h2{line-heght:16px;}
.act_title h2{color: #0068a9; font-family: '微软雅黑','宋体'; font-size: 18px; font-weight: bold;}
.act_main{padding:10px; border: 1px solid #ded9d9; overflow: hidden; width: 638px;}
.act_main .s2 h3{ display:inline;font-size:14px; }
.act_main .s2 p .cRed{color:#e71b6c !important;}
.act_main .s2 h3 span{background:url(${staticPath}styles/youthShow/ico_global.png) 0 -35px no-repeat;width:36px; vertical-align:middle; height:16px; display:inline-block; }
</style>
</head>
<body>
#set($hasLogo = false)
#set($tag = 'activityselect')
#set($isSubject=true)
#set($cfgHeader='header')#parse('include/navigation.vm')
#parse('subject/youthShow/header.vm')
#set($moderate='杭州亚洲青年影展2012')
<h1 style="display:none">杭州亚洲青年影展2012</h1>
<div class="ui_layout">
	<div class="inner">
		<div class="ui_left">
			<div class="title mt15 act_title">
				<h2>影展热门活动</h2>
			</div>
			<div class="act_info">
			#foreach($activity in $activityList)
			#set($relate=$relatedHelper.getR1("activityList",$activity.id))
				<dl class="act_main mt20">
					<dd class="s2 left" style="width:280px;">				
						<h3><a target="_blank" title="$!relate.title" href="${basePath}activity/$relate.id">$!relate.title</a></h3>
						<p class="mt10"><em>开始时间：</em>$!DateUtil.format($relate.startdate,"MM月dd日") $!relate.starttime</p>
						<p><em>结束时间：</em>$!DateUtil.format($relate.enddate,"MM月dd日") $relate.endtime</p>
						<p class="mt15"><a href="${basePath}activity/$!relate.id" class="button minBt violetBt" target="_blank"><span>立即参加</span></a></p>
						<p class="mt10"><span class="cMovie mr5 cRed">$!relate.clickedtimes</span>人关注<span class="cMovie ml20 mr5 cRed">$!relate.membercount</span>人参加</p>
					</dd>
					<dd class="tar right" style="width:350px;">
						<a href="${basePath}activity/$relate.id" title="$!relate.title" target="_blank"><img src="$VmUtils.randomPic('',$!relate.logo)" alt=""  /></a>
					</dd>
				</dl>
			#end
			</div>
			<div class="page">
				#parse('include/pageUtil.vm')
			</div>
		</div>
		<div class="ui_right">
			#parse('subject/youthShow/items/hotMovie.vm')
			#parse('subject/youthShow/items/hotVideo.vm')
		</div>
	</div>
</div>
<script type="text/javascript">
window.addEvent('domready',function(){

})
</script>
#parse('include/bottom.vm')
</body>
</html>