<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>杭州亚洲青年影展2012_青年影展购票_青年影展官方指定售票平台 – 格瓦拉生活网</title>
<meta name="keywords" content="杭州亚洲青年影展2012 - 格瓦拉生活网"/>
<meta name="description" content="杭州亚洲青年影展2012."/>
<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=layout&v=$VmUtils.jsVersion"/>
<link rel="stylesheet" type="text/css" href="${staticPath}css/layout.css?v=$VmUtils.jsVersion"/>
<link rel="stylesheet" type="text/css" href="${staticPath}styles/slider.css"/>
<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util,index_even,base_home,swfobject,noobSlide&v=$VmUtils.jsVersion"></script>
#parse('subject/youthShow/style.vm')
<style type="text/css">
:focus{outline:none;}
.topbanner{height:339px; width:100%;background:url(${staticPath}styles/youthShow/topbanner.png) no-repeat center bottom;}
.ui_layout{background:#fff;}
.ui_left{width:660px; margin-right:20px;}
.ui_right{width:260px;}
.pd0{padding:0px!important;}
p em{color:#999;}
.inner{padding:10px;}
.infoTips{height:26px; line-height:26px; overflow:hidden; padding:0 10px; margin-top:16px;}
.infoTips p{width:420px; overflow:hidden; float:left;}
.infoTips .run{width:480px; float:right; overflow:hidden; position: relative; height:26px; line-height:26px;}
.infoTips ul li{float:left; margin-right:10px; display:inline;}
.topicInfo{height:280px;}
.topicInfo .ui_left{width:680px;  margin-right:0;}
/*登录信息*/
.loginBox,.loginedBox{border:1px solid #50a7df; background:#fcfcfc; overflow:hidden; height:100%; width:230px; margin:30px auto 0; *margin:40px auto 0;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow:1px 1px 2px #ccc;
	-webkit-box-shadow:1px 1px 2px #ccc;
	box-shadow:1px 1px 2px #ccc;
	filter:progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=120, Color="#cccccc"); 
	background: #b9e3ff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #b9e3ff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#b9e3ff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#b9e3ff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#b9e3ff 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#b9e3ff 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b9e3ff',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#b9e3ff 100%); /* W3C */
}
.loginBox ul li{float:left; width:114px; overflow:hidden;}
.loginBox ul li a{display:inline-block; height:55px; line-height:55px; font-family:'微软雅黑','宋体'; font-size:22px; color:#0068a9; text-align:center; width:114px;}
.loginBox ul li a.login{font-size:18px; border-left:1px solid #50a7df;}
.loginBox ul li a:hover{text-decoration:none; color:#329de0;}
.loginedBox{width:210px;}
.loginedBox a{color:#c30;}
.loginedBox dl {padding:10px;}
.loginedBox .uipic {width:30px;}
.loginedBox .uiText {width:150px;}

.helpInfo{border-bottom:1px dashed #e79a9b; padding:22px 30px;}
.helpInfo p{height:28px; line-height:28px; padding-left:30px; font-weight:bold; font-size:14px; background-position:0 -64px;}

.qaInfo dt{background-position:0 -106px; background-position:0 -76px\9; padding-left:22px; margin-bottom:2px; color:#666;}
.qaInfo dd{padding-left:22px;}
/*热门推荐*/
.topRec{background:url(${staticPath}styles/filmfest/topic_left_bg.jpg) 0 0 repeat-x #f8f8f8; padding:10px; height:260px;}
.topRec .mod_hd{background:url(${staticPath}styles/filmfest/bg_line.gif) -50px bottom no-repeat; margin-bottom:10px;}
.topRec .mod_hd ul{height:29px; line-height:29px; float:left;}
.topRec .mod_hd ul li{float:left; margin-right:5px; font-size:14px; font-weight:bold; color:#c30; text-align:center; background-position:right -29px; padding-right:15px; display:inline-block; float:left;}
.topRec .mod_hd ul li span{background-position:left -29px; padding-left:15px; display:inline-block; float:left;}
.topRec .mod_hd ul li.select{background-position:right 0}
.topRec .mod_hd ul li.select span{color:#333; background-position:left 0}
.topRec .mod_bd ul li{float:left; width:120px; overflow:hidden; margin-right:9px; text-align:center;}
.topRec .ui_right{width:230px; background:url(${staticPath}styles/filmfest/topic_right_bg.jpg) 0 0 repeat-y #f7f7f7; padding:15px; _padding:14px;}

.searchIco{background-position:0 -149px; width:30px; height:25px; cursor:pointer; border:none;}
/*影展焦点星闻*/
.fileNews{height:300px;}
.fileNews .uipic p a{font-size:14px; font-weight:bold; color:#0068a9;}
.fileNews .uiText dt a{font-size:14px; color:#c30; font-weight:bold; width:358px; height:24px; overflow:hidden; display:block;}
.fileNews .uiText dd{color:#999; margin-bottom:10px; width:358px; height:24px; line-height:24px; overflow:hidden; display:block;}
.fileNews .uiText ul li{line-height:26px; width:358px; height:24px; overflow:hidden; display:block;}
/*热门活动*/
.fileAc{height:210px;}
.fileAc dl{width:314px; float:left; overflow:hidden;}
.fileAc dt{width:96px; overflow:hidden;}
.fileAc dd{width:200px; overflow:hidden;}
/*评审员*/
.syndic {}
.syndic .even_center {position:relative;width:228px;overflow:hidden;height:100%;}
.syndic .even_center ul {position:absolute;}
.syndic .even_center ul li {width:228px;float:left;display:inline;}
.syndic .even_center ul li p{text-align:center;}
.syndic .even_center ul li p.ititle { font-size:14px; line-height:35px;}
.syndic .even_center ul li p.itxt {text-align:left; color:#999;}
.syndic .mod_bd { position:relative; height:280px; width:228px;overflow:hidden;}
.syndic .even_left,.syndic .even_right {display:block; width:22px; height:37px; background:#f00; position:absolute; top:12px; z-index:10; cursor:pointer;}
.syndic .even_left {background:url(${staticPath}styles/youthShow/leftArrow.png) no-repeat;left:5px;top:50px;}
.syndic .even_right {background:url(${staticPath}styles/youthShow/rightArrow.png) no-repeat;right:5px;top:50px;}
/*影片列表*/
.filmList .mod_hd ul li{height:33px; float:left; display:inline; margin-right:6px; cursor:pointer; padding-left:15px; background-position:0 -90px;}
.filmList .mod_hd ul li span{height:33px; line-height:33px; color:#0068a9; float:left; font-size:14px; font-weight:bold; font-family:'宋体'; padding-right:15px;  background-position:right -90px;}
.filmList .mod_hd ul li.select{background-position:0 -57px;}
.filmList .mod_hd ul li.select span{background-position:right -57px; color:#fff;}

.filmListAera ul li{width:446px; height:130px; overflow:hidden; float:left;}
.filmListAera .uiText p{width:336px; height:20px; white-space:nowrap; overflow:hidden;}

.onShow{width:336px; height:62px; border:1px solid #f2f2f2; position:relative; margin-top:5px;}
.onShow ul li{text-align:center; display:inline; width:110px; height:54px; margin:1px; float:left; line-height:18px; padding:3px 0; background:#fff3f3;}
.onShow ul li.nothing{
	background: #eaeaea; /* Old browsers */
	background: -moz-linear-gradient(top, #eaeaea 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eaeaea 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eaeaea 0%,#ffffff 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #eaeaea 0%,#ffffff 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #eaeaea 0%,#ffffff 100%); /* W3C */
}
.filmListAera .uiText .onShow p{width:110px; line-height:15px;}
.onShow ul{position:absolute;}
.onShow ul a{color:#0068a9;}
.onShow .eventses{display:block; width:22px; height:37px; background:#f00; position:absolute; top:12px; z-index:10; cursor:pointer;}
.onShow .even_left{left:-5px; background:url(${staticPath}styles/filmfest/leftArrow.png) no-repeat;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/styles/filmfest/leftArrow.png',sizingMethod = 'crop');}
.onShow .even_right{right:-5px; background:url(${staticPath}styles/filmfest/rightArrow.png) no-repeat;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/styles/filmfest/rightArrow.png',sizingMethod = 'crop');}
.onShow .even_center{position:relative; width:336px; height:61px; overflow:hidden;}
.onShow .even_center div{position:absolute; left:0; top:0;}
/*首页弹出框*/
.cutNews{width:286px;height:0px;padding:2px 2px 0;border-width:1px 1px 0 1px;overflow:hidden;display:none;
	border-style:solid;border-color:#eee;position: fixed;
	background:#fff;z-index:200;bottom:0px;
	_position:absolute;
	_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
}
.cutInner{width:284px;height:194px;padding:2px;position: relative;background:#ddd;overflow:hidden;}
.cutInner h2{height:20px;line-height:20px;overflow:hidden;padding-right:20px;font-size:12px;font-weight: normal;text-indent:8px;}
.cutInner a{color:#dd5c17}
.cutInner .gui-more{right:6px;top:5px; position:absolute;}

.send_wala .uipic, .list_wala .uipic{width:68px;}
.gewa_outer_text{width:550px;}
.switch_ui_inside{overflow:visible;}
.switch_plugs{padding-left:0;}
.switch_ui_inside .pl{left:-8px;}
.switch_uis_c .t{color:#999;}
#flashOne{width:660px; height:280px; display:block;}
#flashOne:focus{outline:0;}
.sinaWb{background-position:0 -483px; padding-left:20px; display:inline-block; height:16px; line-height:16px;}
.wala_gray{border:1px solid #e4e4e4; background:#fff; padding:10px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.shareWb{width:175px; height:44px; display:block; text-indent:-9999px; overflow:hidden; background:url(${staticPath}styles/filmfest/talk_time.png) -2px -282px no-repeat;}
</style>
</head>
<body>
#set($isSubject=true)
#set($hasLogo = false)
#set($tag = 'indexselect')
#set($cfgHeader='header')#parse('include/navigation.vm')
#parse('subject/youthShow/header.vm')
#set($moderate='杭州亚洲青年影展2012')
<h1 style="display:none">杭州亚洲青年影展2012</h1>
<div class="topbanner">
	<div class="ui_layout" style="background:none;">
		<div class="inner">
			<div class="mod_kong topicInfo clear">
				<div class="mod_bd pd0">
					<div class="ui_left">
						<object height="280" width="660" id="myFlash" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
						   <param value="${staticPath}flash/hangzhou.swf" name="movie"/>
						   <param value="high" name="quality"/>
						   <param name="wmode" value="transparent"/>
						   <param name="allowscriptaccess" value="always" />
						   <embed height="280" width="660" name="myFlash" wmode="transparent" allowscriptaccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" quality="high" src="${staticPath}flash/hangzhou.swf"></embed>
						</object>
					</div>
					<div class="ui_right">
						<div class="inner">
							#if($logonMember)
							<div class="loginedBox">
								<dl class="ui_abeam">
									<dt class="uipic">
										<a title="$!logonMember.nickname" href="${basePath}home/sns/personIndex.xhtml" class="picmin"><img width="30" height="30" src="$VmUtils.randomPic('cw30h30',$!cacheMemberMap.get($logonMember.id).headpicUrl)"/></a>
									</dt>
									<dd class="uiText">
										<a target="_blank" href="${basePath}home/sns/personIndex.xhtml" title="$logonMember.nickname" class="brown bold">$!VmUtils.escabbr($logonMember.nickname,12)</a>，欢迎回来！<br/>
									</dd>
								</dl>
							</div>
							#else
							<div class="loginBox ui_abeam">
								<ul>
									<li><a href="${basePath}register.xhtml" target="_blank">立即注册</a></li>
									<li><a class="login" href="javascript:showLogin(refreshPage)">登录格瓦拉</a></li>
								</ul>
							</div>
							#end
							<div class="helpInfo">
								<p><a href="http://www.gewara.com/blog/t3259446" target="_blank">影展免费抢票攻略</a></p>
							</div>
							<div class="qaInfo mt10">
								<dl>
									<dt>常见问题</dt> 
									<dd><a href="http://www.gewara.com/blog/t3259446" target="_blank">选择了我想看的影片之后，如何...</a></dd>
									<dd><a href="http://www.gewara.com/blog/t3259446" target="_blank">购票有什么限制？</a></dd>
								</dl>
								<p class="tar"><a class="cSport" href="http://www.gewara.com/blog/t3259446" target="_blank">更多帮助</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="infoTips">
				<ul id="silde" class="clear">
					#foreach($play in $rollList)
					<li class="slideEven">$!play.title：$!play.content2</li>
					#end
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="ui_layout">
	<div class="inner">
		<div class="ui_left">
			<div class="mod_kuang topRec clear">
				<div class="mod_hd clear">
					<ul>
						<li class="select"><span>热门推荐</span></li>
					</ul>
					<div class="searchBox right ml20">
						<form action="${basePath}youthFilm/movieList.xhtml" id="searchMovieName">
							<span class="left" style="margin-top:-2px;">搜索：</span>
							<input type="text" name="moviename" id="moviename" class="text left" alt="输入影片名/主演/导演等" style="width:180px; padding:4px 4px 5px; padding:4px\9;"/>
							<a type="button" onclick="javascript:$('searchMovieName').submit();" class="searchIco left"></a>
						</form>
					</div>
				</div>
				<div class="mod_bd pd0">
					<ul>
						#foreach($movieHot in $movieHotList)
						<li #if($foreach.count eq 5)style="margin-right:0;"#end>
							<a target="_blank" href="${basePath}movie/$!movieHot.id" title="$!movieHot.moviename"><img width="120" height="160" src="$VmUtils.randomPic('cw120h160',$!movieHot.logo)" /></a>
							<p class="mt10 fs14 bold"><a target="_blank" href="${basePath}movie/$!movieHot.id" title="$!movieHot.moviename">$!movieHot.moviename</a></p>
							<p class="mt5">
								#if($VmUtils.eq('免费抢票',$movieStatusMap.get($!movieHot.id)))
								<a href="${basePath}movie/$!movieHot.id" class="button minBt redBt" target="_blank"><span>免费抢票</span></a>
								#elseif($VmUtils.eq('查看详情',$movieStatusMap.get($!movieHot.id)))
								<a href="${basePath}movie/$!movieHot.id" class="button minBt whiteBt" target="_blank"><span>查看详情</span></a>
								#elseif($VmUtils.eq('座位紧张',$movieStatusMap.get($!movieHot.id)))
								<a href="${basePath}movie/$!movieHot.id" class="button minBt whiteBt" target="_blank"><span>座位紧张</span></a>
								#else
								<a href="${basePath}movie/$!movieHot.id" class="button minBt whiteBt" target="_blank"><span>查看详情…</span></a>
								#end
							</p>
						</li>
						#end
					</ul>
				</div>
			</div>
			<div class="mod_title fileNews mt20">
				<div class="mod_hd">
					<h2>影展焦点星闻</h2><a href="${basePath}youthFilm/newsList.xhtml" target="_blank" class="more">共<span>$!newsCount</span>条快讯</a>
				</div>
				<div class="mod_bd clear">
					#set($relate=$relatedHelper.getR1("newsList",$newesList.get(0).id))
					<div class="uipic" style="width:260px; overflow:hidden;">
						<a href="${basePath}news/$!relate.id" target="_blank" title="$!relate.title"><img width="260" height="200" alt="" src="$VmUtils.randomPic('',$!relate.logo)" /></a>
						<p class="mt10"><a href="${basePath}news/$!relate.id" target="_blank" title="">$!relate.title</a></p>
					</div>
					<div class="uiText" style="width:358px;">
						<dl>
							#set($relate=$relatedHelper.getR1("newsList",$newesList.get(1).id))
							<dt><a class="c" href="${basePath}news/$!relate.id" target="_blank" title="">$!VmUtils.escabbr($relate.title,40)</a></dt>
							<dd>$!VmUtils.escabbr($relate.secondtitle, 60)</dd>
							#set($relate=$relatedHelper.getR1("newsList",$newesList.get(2).id))
							<dt><a class="c" href="${basePath}news/$!relate.id" target="_blank" title="">$!VmUtils.escabbr($relate.title,40)</a></dt>
							<dd>$!VmUtils.escabbr($relate.secondtitle, 60)</dd>
						</dl>
						<ul class="ul_28">
							#foreach($news in $newesList)
							#if($foreach.count > 3)
							#set($relate=$relatedHelper.getR1("newsList",$news.id))
							<li><span class="right c999">$!DateUtil.format($relate.releasetime,"MM-dd HH:mm")</span><a class="c" href="${basePath}news/$!relate.id" target="_blank" title="$!relate.title">$!VmUtils.escabbr($relate.title,40)</a></li>
							#end
							#end
						</ul>
					</div>
				</div>
			</div>
			<div class="mod_title fileAc mt20">
				<div class="mod_hd">
					<h2>影展热点活动</h2><a href="${basePath}youthFilm/ativityList.xhtml" target="_blank" class="more">共<span>$!activityCount</span>个同类活动进行中</a>
				</div>
				<div class="mod_bd clear">
					<div class="ui_abeam">
						#foreach($activity in $activityList)
						#set($relate=$relatedHelper.getR1("activityList",$activity.id))
						<dl>
							<dt class="uipic"><a href="${basePath}activity/$relate.id" title="$relate.title" target="_blank"><img width="96" height="128" alt="$relate.title" src="$VmUtils.randomPic('cw96h128',$!relate.logo)"/></a></dt>
							<dd class="uiText">
								<p><a class="fs14 bold" href="${basePath}activity/$relate.id" title="$relate.title" target="_blank">$!VmUtils.escabbr($relate.title,44)</a></p>
								#if($relate.startdate)<p class="mt10"><em>开始时间：</em>$!DateUtil.format($relate.startdate,"MM-dd") $relate.starttime</p>#end
								#if($relate.enddate)<p><em>结束时间：</em>$!DateUtil.format($relate.enddate,"MM-dd") $relate.endtime</p>#end
								<p class="mt10"><a href="${basePath}activity/$relate.id" class="button minBt violetBt" target="_blank"><span>立即参加</span></a></p>
								<p class="mt5 c999"><span class="cMovie">$!relate.clickedtimes</span>人关注      <span class="cMovie ml20">$!relate.membercount</span>人参加</p>
							</dd>
						</dl>
						#end
					</div>
				</div>				
			</div>
		</div>
		<div class="ui_right">
			<!--轮播-->
			#parse('subject/youthShow/items/video.vm')
			<div class="mod_title syndic">
				<div class="mod_hd">
					<h2>影展评审团</h2>
				</div>
				<div class="mod_bd">
					<div id="move_left" class="even_left"></div>
					<div class="even_center">
						<ul id="syndicBox">
							#foreach($filmReview in $filmReviewList)
							<li>
								<p><img width="190" height="109" src="$VmUtils.randomPic('cw200h150',$!$filmReview.newslogo)"/></p>
								<p class="mt5 ititle"><b>$filmReview.title<em class="ml10 cSport">$!filmReview.content</em></b></p>
								<p class="itxt">$!filmReview.content2</p>
							</li>
							#end
						</ul>
					</div>
					<div id="move_right" class="even_right"></div>
				</div>
			</div>
			#parse('subject/youthShow/items/hotVideo.vm')
		</div>
	</div>
</div>
<div class="ui_layout">
	<div class="inner">
		<div class="mod_btmKuang filmList">
			<div class="mod_hd clear">
				<a class="right ffst fs14" href="${basePath}youthFilm/bookingList.xhtml" target="_blank">查看全部场次&gt;&gt;</a>
				<ul>
					<li id="finalist" class="select"><span>台湾新象</span></li>
					<li id="exhibitor"><span>亚洲焦点影人</span></li>
					<li id="newBoy1"><span>亚洲之光</span></li>
					<li id="newBoy2"><span>最好时光</span></li>
					<li id="newBoy3"><span>小川绅介</span></li>
				</ul>
			</div>
			<div class="mod_bd">
				<div id="finalist_content" class="none">
					<div class="filmListAera">
						<ul class="ui_abeam">
							#foreach($movieTaiWan in $movieTaiWanList)
							#set($movieOpiList = $opiMap.get($movieTaiWan.id))
							<li class="mt20 #if($foreach.count%2 eq 1)mr15#end">
								<div class="uipic" style="width:96px; overflow:hidden;">
									<a target="_blank" href="${basePath}movie/$!movieTaiWan.id" title="$!movieTaiWan.moviename"><img width="96" height="128" src="$VmUtils.randomPic('cw96h128',$!movieTaiWan.logo)" /></a>
								</div>
								<div class="uiText" style="width:340px;">
									<p><a href="${basePath}movie/$!movieTaiWan.id" target="_blank" title="$!movieYazhou.moviename" class="bold">$!movieTaiWan.moviename</a></p>
									<p title="$!movieYazhou.highlight"><em>看点：</em>$!VmUtils.escabbr($!movieTaiWan.highlight,44)</p>
									<p><em>语言/片长：</em>$!movieTaiWan.language#if($movieTaiWan.videolen)/$!movieTaiWan.videolen分钟#end</p>
									<div class="onShow clear" id="newBoy2$!movieTaiWan.id">
										#set($movieList = $opiMap.get($movieTaiWan.id))
										#if($VmUtils.gt($VmUtils.size($movieList),3))<div title="向左滚动" class="even_left eventses"></div>#end
										<div class="even_center">
											<ul>
												#foreach($mpi in $movieList)
												<li>
													<p>$DateUtil.format($!mpi.playtime,"MM月dd日") $DateUtil.format($!mpi.playtime,"HH:mm")</p>
													<p class="c666" title="$!cinema.briefname">$!VmUtils.escabbr($!mpi.cinemaname,16)</p>
													<p>
													#if($mpi.booking)
													<a class="right mr10" href="${basePath}cinema/order/step1.shtml?mpid=$mpi.mpid" target="_blank">免费抢票</a>
													#elseif($mpi.closed)
													<span class="right mr10 c999">已关闭</span>
													#end
													</p>
												</li>
												#end
												#if($VmUtils.gt(3,$VmUtils.size($movieList)))
												#set($y = 3-$VmUtils.size($movieList))
												#foreach($x in [1..$y])
												<li class="nothing"></li>
												#end
												#end
											</ul>
										</div>
										#if($VmUtils.gt($VmUtils.size($movieList),3))<div title="向右滚动" class="even_right eventses"></div>#end
									</div>
								</div>
							</li>
							#end
						</ul>
					</div>	
				</div>				
				<div id="exhibitor_content" class="none">
					<div class="filmListAera">
						<ul class="ui_abeam">
							#foreach($movieJiaoDian in $movieJiaoDianList)
							#set($movieOpiList = $opiMap.get($movieJiaoDian.id))
							<li class="mt20 #if($foreach.count%2 eq 1)mr15#end">
								<div class="uipic" style="width:96px; overflow:hidden;">
									<a target="_blank" href="${basePath}movie/$!movieJiaoDian.id" title="$!movieJiaoDian.moviename"><img width="96" height="128" src="$VmUtils.randomPic('cw96h128',$!movieJiaoDian.logo)" /></a>
								</div>
								<div class="uiText" style="width:340px;">
									<p><a href="${basePath}movie/$!movieJiaoDian.id" target="_blank" title="$!movieJiaoDian.moviename" class="bold">$!movieJiaoDian.moviename</a></p>
									<p title="$!movieYazhou.highlight"><em>看点：</em>$!VmUtils.escabbr($!movieJiaoDian.highlight,44)</p>
									<p><em>语言/片长：</em>$!movieJiaoDian.language#if($movieJiaoDian.videolen)/$!movieJiaoDian.videolen分钟#end</p>
									<div class="onShow clear" id="newBoy1$!movieJiaoDian.id">
										#set($movieList = $opiMap.get($movieJiaoDian.id))
										#if($VmUtils.gt($VmUtils.size($movieList),3))<div title="向左滚动" class="even_left eventses"></div>#end
										<div class="even_center">
											<ul>
												#foreach($mpi in $movieList)
												<li>
													<p>$DateUtil.format($!mpi.playtime,"MM月dd日") $DateUtil.format($!mpi.playtime,"HH:mm")</p>
													<p class="c666" title="$!cinema.briefname">$!VmUtils.escabbr($!mpi.cinemaname,16)</p>
													<p>
													#if($mpi.booking)
													<a class="right mr10" href="${basePath}cinema/order/step1.shtml?mpid=$mpi.mpid" target="_blank">免费抢票</a>
													#elseif($mpi.closed)
													<span class="right mr10 c999">已关闭</span>
													#end
													</p>
												</li>
												#end
												#if($VmUtils.gt(3,$VmUtils.size($movieList)))
												#set($y = 3-$VmUtils.size($movieList))
												#foreach($x in [1..$y])
												<li class="nothing"></li>
												#end
												#end
											</ul>
										</div>
										#if($VmUtils.gt($VmUtils.size($movieList),3))<div title="向右滚动" class="even_right eventses"></div>#end
									</div>
								</div>
							</li>
							#end
						</ul>
					</div>	
				</div>				
				<div id="newBoy1_content" class="none">
					<div class="filmListAera">
						<ul class="ui_abeam">
							#foreach($movieYazhou in $movieYazhouList)
							#set($movieOpiList = $opiMap.get($movieYazhou.id))
							<li class="mt20 #if($foreach.count%2 eq 1)mr15#end">
								<div class="uipic" style="width:96px; overflow:hidden;">
									<a target="_blank" href="${basePath}movie/$!movieYazhou.id" title="$!movieYazhou.moviename"><img width="96" height="128" src="$VmUtils.randomPic('cw96h128',$!movieYazhou.logo)" /></a>
								</div>
								<div class="uiText" style="width:340px;">
									<p><a href="${basePath}movie/$!movieYazhou.id" target="_blank" title="$!movieYazhou.moviename" class="bold">$!movieYazhou.moviename</a></p>
									<p title="$!movieYazhou.highlight"><em>看点：</em>$!VmUtils.escabbr($!movieYazhou.highlight,44)</p>
									<p><em>语言/片长：</em>$!movieYazhou.language#if($movieYazhou.videolen)/$!movieYazhou.videolen分钟#end</p>
									<div class="onShow clear" id="finalist$!movieYazhou.id">
										#set($movieList = $opiMap.get($movieYazhou.id))
										#if($VmUtils.gt($VmUtils.size($movieList),3))<div title="向左滚动" class="even_left eventses"></div>#end
										<div class="even_center">
											<ul>
												#foreach($mpi in $movieList)
												<li>
													<p>$DateUtil.format($!mpi.playtime,"MM月dd日") $DateUtil.format($!mpi.playtime,"HH:mm")</p>
													<p class="c666" title="$!cinema.briefname">$!VmUtils.escabbr($!mpi.cinemaname,16)</p>
													<p>
													#if($mpi.booking)
													<a class="right mr10" href="${basePath}cinema/order/step1.shtml?mpid=$mpi.mpid" target="_blank">免费抢票</a>
													#elseif($mpi.closed)
													<span class="right mr10 c999">已关闭</span>
													#end
													</p>
												</li>
												#end
												#if($VmUtils.gt(3,$VmUtils.size($movieList)))
												#set($y = 3-$VmUtils.size($movieList))
												#foreach($x in [1..$y])
												<li class="nothing"></li>
												#end
												#end
											</ul>
										</div>
										#if($VmUtils.gt($VmUtils.size($movieList),3))<div title="向右滚动" class="even_right eventses"></div>#end
									</div>
								</div>
							</li>
							#end
						</ul>
					</div>	
				</div>
				<div id="newBoy2_content" class="none">
					<div class="filmListAera">
						<ul class="ui_abeam">
							#foreach($movieShiGuang in $movieShiGuangList)
							#set($movieOpiList = $opiMap.get($movieShiGuang.id))
							<li class="mt20 #if($foreach.count%2 eq 1)mr15#end">
								<div class="uipic" style="width:96px; overflow:hidden;">
									<a target="_blank" href="${basePath}movie/$!movieShiGuang.id" title="$!movieShiGuang.moviename"><img width="96" height="128" src="$VmUtils.randomPic('cw96h128',$!movieShiGuang.logo)" /></a>
								</div>
								<div class="uiText" style="width:340px;">
									<p><a href="${basePath}movie/$!movieShiGuang.id" target="_blank" title="$!movieYazhou.moviename" class="bold">$!movieShiGuang.moviename</a></p>
									<p title="$!movieYazhou.highlight"><em>看点：</em>$!VmUtils.escabbr($!movieShiGuang.highlight,44)</p>
									<p><em>语言/片长：</em>$!movieShiGuang.language#if($movieShiGuang.videolen)/$!movieShiGuang.videolen分钟#end</p>
									<div class="onShow clear" id="newBoy3$!movieShiGuang.id">
										#set($movieList = $opiMap.get($movieShiGuang.id))
										#if($VmUtils.gt($VmUtils.size($movieList),3))<div title="向左滚动" class="even_left eventses"></div>#end
										<div class="even_center">
											<ul>
												#foreach($mpi in $movieList)
												<li>
													<p>$DateUtil.format($!mpi.playtime,"MM月dd日") $DateUtil.format($!mpi.playtime,"HH:mm")</p>
													<p class="c666" title="$!cinema.briefname">$!VmUtils.escabbr($!mpi.cinemaname,16)</p>
													<p>
													#if($mpi.booking)
													<a class="right mr10" href="${basePath}cinema/order/step1.shtml?mpid=$mpi.mpid" target="_blank">免费抢票</a>
													#elseif($mpi.closed)
													<span class="right mr10 c999">已关闭</span>
													#end
													</p>
												</li>
												#end
												#if($VmUtils.gt(3,$VmUtils.size($movieList)))
												#set($y = 3-$VmUtils.size($movieList))
												#foreach($x in [1..$y])
												<li class="nothing"></li>
												#end
												#end
											</ul>
										</div>
										#if($VmUtils.gt($VmUtils.size($movieList),3))<div title="向右滚动" class="even_right eventses"></div>#end
									</div>
								</div>
							</li>
							#end
						</ul>
					</div>	
				</div>
				<div id="newBoy3_content" class="none">
					<div class="filmListAera">
						<ul class="ui_abeam">
							#foreach($movieXiaoChuan in $movieXiaoChuanList)
							#set($movieOpiList = $opiMap.get($movieXiaoChuan.id))
							<li class="mt20 #if($foreach.count%2 eq 1)mr15#end">
								<div class="uipic" style="width:96px; overflow:hidden;">
									<a target="_blank" href="${basePath}movie/$!movieXiaoChuan.id" title="$!movieXiaoChuan.moviename"><img width="96" height="128" src="$VmUtils.randomPic('cw96h128',$!movieXiaoChuan.logo)" /></a>
								</div>
								<div class="uiText" style="width:340px;">
									<p><a href="${basePath}movie/$!movieXiaoChuan.id" target="_blank" title="$!movieXiaoChuan.moviename" class="bold">$!movieXiaoChuan.moviename</a></p>
									<p title="$!movieXiaoChuan.highlight"><em>看点：</em>$!VmUtils.escabbr($!movieXiaoChuan.highlight,44)</p>
									<p><em>语言/片长：</em>$!movieXiaoChuan.language#if($movieXiaoChuan.videolen)/$!movieXiaoChuan.videolen分钟#end</p>
									<div class="onShow clear" id="exhibitor$!movieXiaoChuan.id">
										#set($movieList = $opiMap.get($movieXiaoChuan.id))
										#if($VmUtils.gt($VmUtils.size($movieList),3))<div title="向左滚动" class="even_left eventses"></div>#end
										<div class="even_center">
											<ul>
												#foreach($mpi in $movieList)
												<li>
													<p>$DateUtil.format($!mpi.playtime,"MM月dd日") $DateUtil.format($!mpi.playtime,"HH:mm")</p>
													<p class="c666" title="$!cinema.briefname">$!VmUtils.escabbr($!mpi.cinemaname,16)</p>
													<p>
													#if($mpi.booking)
													<a class="right mr10" href="${basePath}cinema/order/step1.shtml?mpid=$mpi.mpid" target="_blank">免费抢票</a>
													#elseif($mpi.closed)
													<span class="right mr10 c999">已关闭</span>
													#end
													</p>
												</li>
												#end
												#if($VmUtils.gt(3,$VmUtils.size($movieList)))
												#set($y = 3-$VmUtils.size($movieList))
												#foreach($x in [1..$y])
												<li class="nothing"></li>
												#end
												#end
											</ul>
										</div>
										#if($VmUtils.gt($VmUtils.size($movieList),3))<div title="向右滚动" class="even_right eventses"></div>#end
									</div>
								</div>
							</li>
							#end
						</ul>
					</div>	
				</div>								
			</div>
		</div>
	</div>
</div>
<div class="ui_layout">
	<div class="inner">
		<div class="ui_left">
			<div class="mod_title" style="min-height:470px; _height:auto;">
				<div class="mod_hd">
					<h2>影展哇啦</h2>
					<a class="more ffst" target="_blank" href="${basePath}home/sns/moderatorDetail.xhtml?title=$!moderate">更多哇啦</a>
				</div>
				<div class="mod_bd">
					<div class="send_wala ui_abeam" id="walaDialog">
						<div class="uipic mt5">
							<a target="_blank" class="pubpic" href="${basePath}home/sns/personIndex.xhtml" id="logonMember"><img src="${staticPath}css/images/blank.gif" style="background:url($VmUtils.randomPic('cw50h50',$cacheMemberMap.get($!logonMember.id).headpicUrl)) center center no-repeat;" id="logonMemberPic"  width="50" height="50" alt=""/></a>
						</div>
						<div class="uiText" >
							<div class="wala_text" >
								<span class="pl"></span>
								<label for="say_area" id="issueTips" class="wala_defV">分享#杭州亚洲青年影展2012#</label>
								<div class="wala_text_inner">
									<textarea title="哇啦输入框" id="say_area" name="say_area" class="walaL_say_area" ></textarea>
								</div>
							</div>
							<div class="linkd">
								<div class="left mt5">
									<div class="dialogs" id="dialogs" style="float: left;">
										<a class="face">表情<span class="dmore"></span></a>
										#parse('wala/uidialog.vm')
									</div>
									<dl class="moved">
										<dt>同步到：</dt><dd class="tSina"><input class="left" id="Wb" type="checkbox" title="新浪微博" lang="${basePath}home/bind/sina/userApp.xhtml?source=close" style="margin-top:2px;*margin:-2px;"/><label for="Wb">新浪微博</label></dd>
									</dl>
								</div>
								<div class="right">
									<span class="num mr10 left" id="font">你还可以输入<b>140</b>字！</span>
									<a onclick="submitMicro();" id="diswara" class="button minBt violetBt right" href="javascript:void(0);"><span>发&nbsp;&nbsp;布</span></a>
								</div>
							</div>
						</div>
					</div>
					<div id="container" class="diswala">
					</div>
				</div>
			</div>		
		</div>
		<div class="ui_right">
			<div class="mod_title" style="height:470px;">
				<div class="mod_hd">
					<h2>格瓦拉官方微博动态</h2>
				</div>
				<div class="mod_bd pd0">
					<iframe width="258" height="440" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=2253773912&verifier=9d7efb47&dpc=1"></iframe>
				</div>				
			</div>
		</div> 
	</div>
</div>
<script type="text/javascript">
var exerun = new Class({
	Implements: [Options,Events],
	options:{
		element:'runk',
		obj:'li',
		duration:5000
	},
	initialize: function(options) {
		this.setOptions(options);
		this.element = $(this.options.element);
		this.elements = this.element.getElements(this.options.obj);
		this.firstchild = this.elements[0];
		this.storeSelf();
		this.aotoPlay.periodical(this.options.duration,this);
	},
	storeSelf:function(){
		var wd = 0;
		this.elements.each(function(obj){
			obj.store('key',obj.getDimensions().x);
			wd += obj.getDimensions().x;
		});
		this.element.setStyle('width',wd);
	},
	aotoPlay:function(){
		this.fxPlay(this.firstchild);
		this.firstchild = this.firstchild.getNext();
	},
	fxPlay:function(obj){
		var w = obj.retrieve('key');
		obj.set('tween',{
			duration:800,
			transition:Fx.Transitions.linear,
			onComplete:function(){
				obj.inject(this.element,'bottom');
				obj.setStyle('width',w);
			}.bind(this)
		}).tween('width',0);
	}
});
window.addEvent('domready',function(){
	new noobSlide({
		box: $('syndicBox'),
		items:$$('#syndicBox li'),
		size:228,
		handle_event:'click',
		addButtons:{previous:$('move_left'),next:$('move_right')}
	});
	getWalaList();
	icon = new Icon();
	$('dialogs').addEvent('click',function(){
		icon.innerHTML(this,'say_area');
	});
	#if($!VmUtils.size($rollList) gt 1)
	new exerun({element:'silde',obj:'.slideEven'});
	#end
	#foreach($movieYazhou in $movieYazhouList)
	new evengo({'parent':'finalist$movieYazhou.id','times':1,'width':112,'allwidth':336});
	#end
	#foreach($movieXiaoChuan in $movieXiaoChuanList)
	new evengo({'parent':'exhibitor$movieXiaoChuan.id','times':1,'width':112,'allwidth':336});
	#end
	#foreach($movieJiaoDian in $movieJiaoDianList)
	new evengo({'parent':'newBoy1$movieJiaoDian.id','times':1,'width':112,'allwidth':336});
	#end
	#foreach($movieTaiWan in $movieTaiWanList)
	new evengo({'parent':'newBoy2$movieTaiWan.id','times':1,'width':112,'allwidth':336});
	#end
	#foreach($movieShiGuang in $movieShiGuangList)
	new evengo({'parent':'newBoy3$movieShiGuang.id','times':1,'width':112,'allwidth':336});
	#end
	new PanelGroup(['finalist', 'exhibitor', 'newBoy1','newBoy2','newBoy3'], 'finalist', "select", "none", "click");
	//new exerun({element:'silde',obj:'.slideEven'});
	new issue('say_area',{'font':'font','tips':'issueTips'});
})
function getWalaList(){
	var url = '${basePath}newloadMicroModerTable.xhtml';
	var values = {'moderate':'$!moderate' , 'count':6, 'isReply':'true'};
	GewaraUtil.sendLoad('container',url, values, function(result){
		
	});
}
//发表哇啦
function sendMicro(){
	var say_area = $('say_area').value;
	if(!$chk(say_area)){
		showError.show('say_area');
		return false;
	}
	if(say_area.length>140){
		showError.show('say_area');
		return false;
	}
	GewaraUtil.mask('diswara');
	var url = '${basePath}dnySendMicroModer.xhtml';
	var values = {'micrbody':$('say_area').value, 'moderate':'$!moderate'};
	GewaraUtil.sendRequest(url, values, function(result){
		GewaraUtil.unmask();
		if(result.success){
			var moderate = result.retval;
			setTimeout('getWalaList()',1000);
			$('say_area').value = '';
		}else{
			gewaUtil.alert(result.msg);
		}
	})
}
var selector=$empty,delFun = $empty;
function submitMicro(){
	checkLogin(true,function(){
		sendMicro();
	});
}
//flash
if(navigator.appName && navigator.appName.indexOf("Microsoft") != -1 && 
  navigator.userAgent.indexOf("Windows") != -1 && navigator.userAgent.indexOf("Windows 3.1") == -1) {
  document.write('<script language=VBScript\> \n');
  document.write('on error resume next \n');
  document.write('Sub myFlash_FSCommand(ByVal command, ByVal args)\n');
  document.write(' call myFlash_DoFSCommand(command, args)\n');
  document.write('end sub\n');
  document.write('</script\> \n');
}
</script>
#parse('include/bottom.vm')
</body>
</html>