<div class="c666">
	<p>支持以下优惠：</p>
	#foreach($sd in $sdList)
		#if($sd.distype eq 'percent')
			#set($discount=$!sd.gainDiscount('true'))
		#elseif($sd.hasExtdicount())
			#set($discount=$!sd.extdiscount)
		#else
			 #set($discount=$!sd.discount)	
		#end
	<p>$!{foreach.count}.$!sd.getDiscountText($!sd.bankname,"<b class='cMovie'>$!discount</b>","$!sd.rebates")</p>
	#end
</div>