<xml>
	<ToUserName><![CDATA[$!reply.toUserName]]></ToUserName>
	<FromUserName><![CDATA[$!reply.fromUserName]]></FromUserName>
	<CreateTime>$!reply.createTime</CreateTime>
	<MsgType><![CDATA[news]]></MsgType>
	<Content><![CDATA[]]></Content>
	<ArticleCount>1</ArticleCount>
	<Articles>
	<item>
		<Title><![CDATA[格瓦拉APP下载]]></Title>
		<Description><![CDATA[点击查看详情>>>]]></Description>
		<PicUrl><![CDATA[${picPath}css/wap/weixin/banner_app.jpg]]></PicUrl>
		<Url><![CDATA[m.gewara.com/download/index.xhtml]]></Url>
	</item>
	</Articles>
	<FuncFlag>1</FuncFlag>
</xml> 