<xml>
	<ToUserName><![CDATA[$!reply.toUserName]]></ToUserName>
	<FromUserName><![CDATA[$!reply.fromUserName]]></FromUserName>
	<CreateTime>$!reply.createTime</CreateTime>
	<MsgType><![CDATA[text]]></MsgType>
	<Content><![CDATA[亲爱的，格瓦拉生活网的小瓦在这里已恭候大家多时，感谢你关注我们的微信公共账号！
	
格瓦拉生活网是国内领先的城市娱乐资讯、消费、互动一体化网络平台，我们一直以来致力于为广大消费者的休闲娱乐生活带去便捷。

在此，希望小瓦我的贴身服务能够为你的观影体验带去愉悦和便捷！]]>
	 </Content>
</xml>