<xml>
	<ToUserName><![CDATA[$!reply.toUserName]]></ToUserName>
	<FromUserName><![CDATA[$!reply.fromUserName]]></FromUserName>
	<CreateTime>$!reply.createTime</CreateTime>
	<MsgType><![CDATA[news]]></MsgType>
	<Content><![CDATA[]]></Content>
	#set($csize=$movieList.size()+1)
	<ArticleCount>$csize</ArticleCount>
	<Articles>
	<item>
		<Title><![CDATA[本周全部热门电影]]></Title>
		<Description><![CDATA[]]></Description>
		<PicUrl><![CDATA[${picPath}css/wap/weixin/banner_movie.jpg]]></PicUrl>
		<Url><![CDATA[m.gewara.com/touch/movie/index.xhtml]]></Url>
	</item>
	#foreach($movie in $movieList)
	<item>
		<Title><![CDATA[
${movie.moviename}
#if($!VmUtils.isNotBlank($movie.highlight))
${movie.highlight}#end]]></Title>
		<Description><![CDATA[]]></Description>
		<PicUrl><![CDATA[${picPath}$movie.logo?w=60&h=80&r=c]]></PicUrl>
		<Url><![CDATA[m.gewara.com/movie/$movie.id]]></Url>
	</item>
	#end
	</Articles>
	<FuncFlag>1</FuncFlag>
</xml> 