<xml>
	<ToUserName><![CDATA[$!reply.toUserName]]></ToUserName>
	<FromUserName><![CDATA[$!reply.fromUserName]]></FromUserName>
	<CreateTime>$!reply.createTime</CreateTime>
	<MsgType><![CDATA[text]]></MsgType>
	<Content><![CDATA[需要发送「位置」地图你才能查看到附近的影院哦：）

点击对话框左下角的「键盘」图标，切换到输入状态，点开「+」，发送「位置」即可
]]></Content>
</xml>