<xml>
	<ToUserName><![CDATA[$!reply.toUserName]]></ToUserName>
	<FromUserName><![CDATA[$!reply.fromUserName]]></FromUserName>
	<CreateTime>$!reply.createTime</CreateTime>
	<MsgType><![CDATA[text]]></MsgType>
	<Content><![CDATA[微信支付测试：<a href="${absWap}wxpay/index.xhtml?userid=$!userid">测试</a>]]></Content>
</xml>