<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><!-- SUCCESS_HEAD -->
	#parse('include/constant/cityParam.vm')
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>$agency.seotitle</title>
	<meta name="keywords" content="$agency.seotitle"/>
	<meta name="description" content="$agency.seodescription"/>
	<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=layout,new_sport&v=$VmUtils.jsVersion"/>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util,tips,index_even&v=$VmUtils.jsVersion"></script>
	<style type="text/css">
		.detail_body .detail_body_left {padding:25px 10px 15px;width:660px;overflow:hidden;}
		.detail_body .detail_body_right {padding:25px 10px 15px;}
		.right_Trainlist li{background:none;border-top:1px dashed #ccc;margin-top:0;}
		#page {margin-bottom:15px;}
	</style>
</head>
<body>
#set($issport=true)
#set($isagency=true)
#set($cfgHeader='header')#parse('include/navigation.vm')
<div class="ui_layout detail_body">
	<div class="detail_body_left">
		<div class="ui_panel">
			<div class="inner">
				<div class="title">
					<h2>培训照片</h2>
				</div>
				<div id="pictureDetail"></div>
				#*
				<div class="clear mt15">
					<a class="button redBt minBt right mr15" onclick="uploadPic();" href="javascript:void(0)"><span>添加照片</span></a>
				</div>
				*#
			</div>
		</div>
	</div>
	<div class="detail_body_right">
		<div class="ui_panel">
			<div class="inner">
				#parse('sport/agency/hotAgencyList.vm')	#*热门培训机构*#
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
window.addEvent('domready', function(){
	moviePictureDetail('apic');
})
function moviePictureDetail(el){
	var url="${basePath}sport/ajax/agencyPictureList.xhtml";
	var values={'relatedid':'$agency.id','type':el};
	gewaUtil.loadData('pictureDetail', url, values, function(result){});
}
</script>
#parse('include/bottom.vm')
<!-- SUCCESS_BOTTOM -->
</body>
</html>