<data>
	<orderList>
		#foreach($order in $orderList)
		#set($otherinfoMap=$VmUtils.readJsonToMap($!order.getDescription2()))
		<order>
			<orderId>$!order.id</orderId>
			<tradeno>$!order.tradeNo</tradeno>
			<status>$!order.status</status>
			<mobile>$!order.mobile</mobile>
			<relatedid>$!order.goodsid</relatedid>
			<memberid>$!order.memberid</memberid>
			<quantity>$!order.quantity</quantity>
			<addtime>$!order.addtime</addtime>
			<membername><![CDATA[$!order.membername]]></membername>
			<checkpass><![CDATA[$!order.checkpass]]></checkpass>
			<address><![CDATA[$!otherinfoMap.get('address')]]></address>
			<realname><![CDATA[$!otherinfoMap.get('真实姓名')]]></realname>
		</order>
		#end
	</orderList>
</data>
