<data>
	<memberInfoList>
			#foreach($member in $memberinfoList)
			<memberInfo>
				<id>$member.id</id>
				<nickname>$!member.nickname</nickname>
				<headpic><![CDATA[$!member.headpic]]></headpic>
			</memberInfo>
			#end
	</memberInfoList>
</data>