<data>
	<movie>
		<id>$!movie.id</id>
		<name><![CDATA[$!movie.name]]></name>
		<briefname><![CDATA[$!movie.briefname]]></briefname>
		<englishname><![CDATA[$!movie.englishname]]></englishname>
		<pinyin>$!movie.pinyin</pinyin>
		<content><![CDATA[$!movie.content]]></content>
		<addtime>$!DateUtil.formatTimestamp($!movie.addtime)</addtime>
		<updatetime>$!DateUtil.formatTimestamp($!movie.updatetime)</updatetime>
		<updatemember>$!movie.updatemember</updatemember>
		<hotvalue>$!movie.hotvalue</hotvalue> 
		<logo>$!movie.logo</logo>
		<firstpic>$!movie.firstpic</firstpic>
		<clickedtimes>$!movie.clickedtimes</clickedtimes>
		<quguo>$!movie.quguo</quguo>
		<xiangqu>$!movie.xiangqu</xiangqu>	
		<generalmark>$!movie.generalmark</generalmark>
		<generalmarkedtimes>$!movie.generalmarkedtimes</generalmarkedtimes>
		<avggeneral>$!movie.avggeneral</avggeneral>
		<collectedtimes>$!movie.collectedtimes</collectedtimes> 
		<language>$!movie.language</language>
		<moviename>$!movie.moviename</moviename>
		<moviealias>$!movie.moviealias</moviealias>
		<director><![CDATA[$!movie.director]]></director>
		<playwright>$!movie.playwright</playwright>
		<actors>$!movie.actors</actors>
		<filmfirm>$!movie.filmfirm</filmfirm>
		<originalcountry>$!movie.originalcountry</originalcountry>
		<releasedate>$!movie.releasedate</releasedate>
		<type><![CDATA[$!movie.type]]></type>
		<honor><![CDATA[$!movie.honor]]></honor>
		<website>$!movie.website</website>
		<videolen>$!movie.videolen</videolen>	
		<remark><![CDATA[$!movie.remark]]></remark>
		<state><![CDATA[$!movie.state]]></state>
		<prevideo><![CDATA[$!movie.prevideo]]></prevideo>
		<storymark>$!movie.storymark</storymark>
		<storymarkedtimes>$!movie.storymarkedtimes</storymarkedtimes>
		<avgstory>$!movie.avgstory</avgstory>
		<performmark>$!movie.performmark</performmark>
		<performmarkedtimes>$!movie.performmarkedtimes</performmarkedtimes>
		<avgperform>$!movie.avgperform</avgperform>
		<audiomark>$!movie.audiomark</audiomark>
		<audiomarkedtimes>$!movie.audiomarkedtimes</audiomarkedtimes>
		<avgaudio>$!movie.avgaudio</avgaudio>
		<screenmark>$!movie.screenmark</screenmark>
		<screenmarkedtimes>$!movie.screenmarkedtimes</screenmarkedtimes> 
		<avgscreen>$!movie.avgscreen</avgscreen>
		<highlight>$!movie.highlight</highlight> 
		<playdate>$!movie.playdate</playdate>
		<avgprice>$!movie.avgprice</avgprice>
		<minprice>$!movie.minprice</minprice>
		<maxprice>$!movie.maxprice</maxprice>
		<imdbid>$!movie.imdbid</imdbid>
		<flag>$!movie.flag</flag>
		<boughtcount>$!movie.boughtcount</boughtcount>	
		<otherinfo><![CDATA[$!movie.otherinfo]]></otherinfo>
	</movie>
</data>