<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>格瓦拉羽毛球活力赛_上海羽毛球业余选手大赛_格瓦拉生活网</title>
<meta name="keywords" content="羽毛球公开赛"/>
<meta name="description" content="羽毛球公开赛"/>
<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=layout&v=$VmUtils.jsVersion"/>
<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util&v=$VmUtils.jsVersion"></script>
#parse('subject/gewacup/2013/style.vm')
</head>
<body>
#set($tag="sport") #set($issport=true)
#set($cfgHeader='header')#parse('include/navigation.vm')
<div class="ui_layout">
	<div class="bodybg">
		<div class="click">
	   		<div class="menutext"><a href="${basePath}gewacup2013/index.xhtml">首页</a>　|　<a href="${basePath}gewacup2013/instruction.xhtml">简介</a>　|　<a href="${basePath}gewacup2013/newsList.xhtml">新闻</a>　|　<a href="${basePath}gewacup2013/intro.xhtml">大赛规程</a>　|　<a href="javascript:goMyPlayersInfo()">我的报名状态</a>　|　<a href="" class="select">大赛奖品</a>　|　<a href="http://pan.baidu.com/share/link?shareid=1533610662&uk=3459573590" target="_blank">赛程对阵表</a>　|　<a href="http://www.gewara.com/sport/sportList.xhtml" target="_blank">羽毛球在线预订</a>　|　<a href="${basePath}gewacup2013/answer.xhtml">违规举报专区</a></div>
		</div>
	   	<div class="sport_tips"></div>
		<div class="import">
			<div class="logo">
				<a href="http://www.pingan.com/index.shtml" target="_blank"><img src="${staticPath}styles/images/gewacup/2013/pingan.gif" boder="0"/></a>
				<a style="margin-left:35px;" href="http://www.gewara.com/sport/index.xhtml"><img src="${staticPath}styles/images/gewacup/2013/gewala.gif" boder="0"/></a>
			</div>
			<div class="banner2012"></div>
		   <div class="menubg"></div>
		</div>
		<div class="award">
			<div class="award_bt">
				<div class="award_bg">
					<span class="rat rat1"></span>
					<span class="award_1"></span>
				</div>
				<p>iPhone5（RMB5288）+ FLEX PRO-6球拍（RMB2280）</p>
			</div>
		</div>
		<div class="award">
			<div class="award_bt">
				<div class="award_bg">
					<span class="rat rat2"></span>
					<span class="award_2"></span>
				</div>
				<p>ipadmini（RMB2500）+ FLEX 羽拍神州五（RMB1950）</p>
			</div>
			<div class="award_bt">
				<div class="award_bg">
					<span class="rat rat3"></span>
					<span class="award_3"></span>
				</div>
				<p>金牌护身符（RMB1875）+ FLEX 羽拍刀锋（RMB788）</p>
			</div>
		</div>
		<div class="award">
			<div class="award_bt">
				<div class="award_bg">
					<span class="rat rat4"></span>
					<span class="award_4"></span>
				</div>
				<p>FLEX 羽拍包（RMB285）</p>
			</div>
			<div class="award_bt">
				<div class="award_bg">
					<span class="rat rat5"></span>
					<span class="award_7"></span>
				</div>
				<p>格瓦拉活力券（RMB50）</p>
			</div>
		</div>
		<div class="award">
			<div class="award_bt">
				<div class="award_bg">
					<span class="rat rat6"></span>
					<span class="award_5"></span>
				</div>
				<p>FLEX 球衣（RMB80）</p>
			</div>
			<div class="award_bt">
				<div class="award_bg">
					<span class="rat rat7"></span>
					<span class="award_6"></span>
				</div>
				<p>FLEX 球衣（RMB160）</p>
			</div>
		</div>
		<div class="cls"></div>
		<div class="circular">
	    	<div class="in"><img src="${staticPath}styles/images/gewacup/cup_circular1.gif"/></div>
	    	<div class="in"><img src="${staticPath}styles/images/gewacup/cup_circular2.gif"/></div>
	    	<div class="in"><img src="${staticPath}styles/images/gewacup/cup_circular3.gif"/></div>
	    	<div class="in"><img src="${staticPath}styles/images/gewacup/cup_circular4.gif"/></div>
	    	<div class="in"><img src="${staticPath}styles/images/gewacup/cup_circular5.gif"/></div>
	    	<div class="in"><img src="${staticPath}styles/images/gewacup/cup_circular6.gif"/></div>
	    	<div class="in"><img src="${staticPath}styles/images/gewacup/cup_circular10.gif"/></div>
	    	<div class="in"><img src="${staticPath}styles/images/gewacup/cup_circular11.gif"/></div>
	    	<div class="in"><img src="${staticPath}styles/images/gewacup/cup_circular12.gif"/></div>
	    </div>
	</div>
</div>
<script>
function goMyPlayersInfo(){
	checkLogin(true, function(){
		location.href="${basePath}gewacup2013/myPlayersInfo.xhtml";
	});
}
</script>
#parse('include/bottom.vm')
</body>
</html>