<style type="text/css">
.timeryellow{font-family:"微软雅黑"，tahoma;font-size:24px;color:#fff100;font-style:italic;}
.redBt{background-position:0 -4054px;}
.redBt span,.redBt input{background-position:right -4077px;color:#fff;}
.bigBt{line-height:32px;padding-left:20px;height:32px;background-position:0 -4165px !important;}
.bigBt span,.bigBt input{font-size:14px;font-weight:bold;padding-right:20px;height:32px;float:left;background-position:right -4198px !important;color:#fff;}
.bigBt:hover,label.bg_hover{background-position:0 -3532px !important;}
.bigBt:hover span,label.bg_hover input{background-position:right -3565px !important;color:#fff;}
/*--大背景--*/
.bodybg{width:100%;height:auto;_height:100%;overflow:hidden;background:url(${staticPath}styles/images/gewacup/cup_bg.gif) repeat-y left;position:relative;}
/*--弧线背景--*/
.circular{width:100%;height:100%;overflow:hidden;position:absolute;z-index:1;top:0;left:0;}
.circular .in{width:320px;height:210px;float:left;font-size:0;}
/*--运动员--*/
.sport_tips{width:700px;height:900px;position:absolute;z-index:8;top:-10px;_top:-30px;left:345px;background:url(${staticPath}styles/images/gewacup/sporter.png) no-repeat 0 0;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='${basePath}styles/images/gewacup/sporter.png',sizingMethod='crop');}
/*--菜单--*/
.click{width:750px;height:auto;position:absolute;z-index:10;overflow:hidden;font-size:14px;font-weight:bold;top:400px;left:0;}
.click .menutext{width:750px;height:38px;float:left;line-height:38px;padding:0 0 0 38px;_padding:0 0 0 30px;overflow:hidden;color:#00699a;font-family:"微软雅黑"，tahoma;font-size:12px;font-weight:bold;}
.click .menutext a{color:#00699a;text-decoration:none;font-family:'微软雅黑','宋体';}
.click .menutext a:hover{color:#eb611e;text-decoration:none}
.click .menutext a.select{color:#c30;}
.registration{position:relative;z-index:10;overflow:hidden;clear:both;height:138px;}
.registration .club{width:247px;height:100px;background:url(${staticPath}styles/images/gewacup/2013/club.png?v=0702) no-repeat;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='${basePath}styles/images/gewacup/2013/club.png?v=0702',sizingMethod='crop');float:left;margin:18px 0 20px 40px;display:inline-block;}
.registration .personal{width:247px;height:100px;background:url(${staticPath}styles/images/gewacup/2013/personal.png?v=0702) no-repeat;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='${basePath}styles/images/gewacup/2013/personal.png?v=0702',sizingMethod='crop');float:left;margin:18px 0 20px 30px;display:inline-block;}
/*--浮动层--*/
.import{width:100%;height:auto;overflow:hidden;position:relative;z-index:3;}
.import .logo{width:50%;height:68px;overflow:hidden;margin:30px 0 0 30px;_margin:30px 0 0 10px;}
.import .banner2012{width:645px;height:205px;overflow:hidden;margin:87px 0 10px 30px;background:url(${staticPath}styles/images/gewacup/2013/2013.png?v=0702) no-repeat center;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='${basePath}styles/images/gewacup/2013/2013.png?v=0702',sizingMethod='crop');}
.import .menubg{width:750px;height:38px;background:#fff100;}
/*--首页主体--*/
.content{width:100%;height:auto;overflow:hidden;position:relative;z-index:2;}
.content .timer{width:auto;height:auto;float:left;overflow:hidden;margin:20px 0 20px 40px;_margin:20px 0 20px 20px;padding:90px 0 0 0;background:url(${staticPath}styles/images/gewacup/timer.gif) no-repeat 0 0;}
.content .timer .inbg{width:800px;height:200px;overflow:hidden;line-height:22px;padding:0 0 0 10px;float:left; position:relative; color:#fff;font-family:"微软雅黑"，tahoma;font-size:14px;}
.content .timer .inbg .iLine {width:661px;height:6px;position:absolute;top:90px;left:0; background:url(${staticPath}styles/images/gewacup/2013/timer_line.png) no-repeat;_background:url(${staticPath}styles/images/gewacup/timer_line.gif) repeat-x;}
.content .timer .inbg .ball_t{width:auto;height:50px;float:left;background:url(${staticPath}styles/images/gewacup/ball_t.gif) no-repeat center 50px;padding:0 0 60px 0;text-align:center;}
.content .timer .inbg .ball_b{width:auto;height:50px;float:left;background:url(${staticPath}styles/images/gewacup/ball_b.gif) no-repeat center 0;margin:81px 0 0 0;padding:60px 0 0 0;text-align:center;}
.content .bank{width:100%;height:83px;float:left;padding:112px 0 30px 0;background:url(${staticPath}styles/images/gewacup/huoli.gif) no-repeat center top;text-align:center;}
.content .gift{width:740px;height:438px;float:left;margin:0 0 10px 140px;_margin:0 0 10px 70px;background:url(${staticPath}styles/images/gewacup/2013/gift.png) no-repeat center;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='${basePath}styles/images/gewacup/gift.png',sizingMethod='crop');}
.content .sponsor{width:100%;height:auto;overflow:hidden;margin:0 0 20px 0;background:url(${staticPath}styles/images/gewacup/cup_lightline.gif) repeat-y center;}
.content .sponsor .main{width:886px;height:197px;overflow:hidden;margin:8px auto;background:#fff;padding:30px 37px 40px;}
/*--报名主体--*/
.entryform{width:100%;height:auto;color:#fff;overflow:hidden;position:relative;z-index:10;}
.entryform .htitle{width:80%;height:28px;overflow:hidden;margin:30px 0 0 60px;}
.entryform .hinput{width:80%;height:auto;float:left;line-height:36px;overflow:hidden;margin:15px 0 0 60px;_margin:15px 0 0 30px;line-height:36px;}
.entryform .hinput .hleft{width:60px;height:36px;float:left;overflow:hidden;}
.entryform .hinput .hright{width:680px;height:36px;float:left;overflow:hidden;}
.entryform .hinput .hright .hin{width:auto;height:24px;margin:12px 12px 0 12px;_margin:6px 6px 0 6px;float:left;overflow:hidden;}
.entryform .hinput .hright .htext{width:auto;height:36px;float:left;overflow:hidden;}
.entryform .hinput .hright .htext a{color:#ffee00;text-decoration:none}
.entryform .hinput .hright .htext a:hover{color:#ffee00;text-decoration:none}
.entryform .transfer {width:88%;height:auto;float:left;overflow:hidden;margin:10px 0 0 60px;_margin:15px 0 0 30px;padding:0 0 30px 0;}
.entryform .column{width:80%;height:47px;float:left;overflow:hidden;margin:20px 0 20px 40px;_margin-left:20px;}
.entryform .column .hleft{width:10px;height:47px;float:left;overflow:hidden;background:url(${staticPath}styles/images/gewacup/column_l.gif) no-repeat 0 0;}
.entryform .column .htext{width:500px;height:35px;float:left;overflow:hidden;background:url(${staticPath}styles/images/gewacup/column_m.gif) repeat-x top;padding:12px 10px 0 10px;}
.entryform .column .hadd{width:32px;height:40px;float:left;overflow:hidden;background:url(${staticPath}styles/images/gewacup/column_m.gif) repeat-x center;padding:7px 10px 0 10px;}
.entryform .column .hright{width:10px;height:47px;float:left;overflow:hidden;background:url(${staticPath}styles/images/gewacup/column_r.gif) no-repeat center;}
.entryform .msg{width:620px;height:auto;float:left;}
.entryform .msg .in{width:250px;height:auto;line-height:16px;float:left;overflow:hidden;margin:10px 0 10px 60px;_margin:10px 0 10px 30px;}
.entryform .msg .in a{color:#00e9f2;text-decoration:none}
.entryform .msg .in a:hover{color:#00e9f2;text-decoration:none}
.entryform .tips{padding:0 0 0 22px;height:30px;line-height:30px;clear:both;overflow:hidden;margin:0 0 0 60px;background:url(${staticPath}styles/images/gewacup/tips.gif) no-repeat left center;}
.entryform .colorful{font-size:0;height:33px;line-height:33px;margin:5px 0 0 40px;_margin:5px 0 0 20px;float:left;right:0;top:0;width:550px;}
.entryform .colorful .round{width:18px;height:33px;float:left;_margin:-1px 0 0 0;}
.entryform .colorful .rtitle{width:450px;height:26px;padding:7px 0 0 0;float:left;}
.entryform .colorful .radd{width:45px;height:25px;float:left;padding:8px 0 0 0;}
.hgreen{background-image:-moz-linear-gradient(left center,#5fd555,#00a0d3);background-image:-webkit-gradient(linear,left top,right top,color-stop(0,#5fd555),color-stop(1,#00a0d3));filter:progid:DXImageTransform.Microsoft.gradient(startColorStr = '#5fd555',EndColorStr = '#00a0d3',gradientType = 1);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#5fd555',EndColorStr='#00a0d3',gradientType=1)";}
.hyellow{background-image:-moz-linear-gradient(left center,#fcc403,#00a0d3);background-image:-webkit-gradient(linear,left top,right top,color-stop(0,#fcc403),color-stop(1,#00a0d3));filter:progid:DXImageTransform.Microsoft.gradient(startColorStr = '#fcc403',EndColorStr = '#00a0d3',gradientType = 1);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#fcc403',EndColorStr='#00a0d3',gradientType=1)";}
.hred{background-image:-moz-linear-gradient(left center,#eb6120,#00a0d3);background-image:-webkit-gradient(linear,left top,right top,color-stop(0,#eb6120),color-stop(1,#00a0d3));filter:progid:DXImageTransform.Microsoft.gradient(startColorStr = '#eb6120',EndColorStr = '#00a0d3',gradientType = 1);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#eb6120',EndColorStr='#00a0d3',gradientType=1)";}
/*--大赛简介--*/
.intro{width:651;height:464px;color:#fff;overflow:hidden;position:relative;z-index:6;margin:30px 0 20px 0;background:url(${staticPath}styles/images/gewacup/2013/intro.gif?v=20130621) no-repeat 40px 0;}
.intro .link{width:130px;height:20px;display:inline-block;position:absolute;top:410px;left:468px;}
/*--参赛须知--*/
.instruction{width:100%;height:auto;color:#fff;overflow:hidden;position:relative;z-index:6;}
.instruction .pic{height:auto;margin:0 0 0 40px;}
.instruction .yindian {width:350px;height:33px;padding:5px 0 0 610px;margin:10px 0 10px 0;line-height:38px;background:url(${staticPath}styles/images/gewacup/2013/yindian.gif) no-repeat 90px 7px #09415e;}
.instruction .venue{width:100%;height:auto;overflow:hidden;}
.instruction .linkong5{width:307px;height:154px;position:absolute;bottom:17px;right:50px;display:inline-block;background:url(${staticPath}styles/images/gewacup/linkong_5.jpg) no-repeat;z-index:10;}
/*--大赛奖品--*/
.award{height:auto;overflow:hidden;clear:both;padding:20px 0 0 35px;}
.award .award_bt{text-align:center;float:left;margin:20px 15px 0;_margin:10px 8px 0;}
.award .award_bt p{font-size:14px;font-family:'微软雅黑','宋体';color:#fff;margin:5px 0;}
.award .award_bt p span{color:#b2ff37;}
.award .award_bt .award_bg{width:321px;height:199px;background:url(${staticPath}styles/images/gewacup/award_bg.png) no-repeat;position:relative;z-index:8;}
.award .award_bt .award_bg .rat{width:83px;height:87px;display:inline-block;position:absolute;top:-20px;left:-15px;z-index:10;}
.award .award_bt .award_bg .rat1{background:url(${staticPath}styles/images/gewacup/rat1.png) no-repeat;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='${basePath}styles/images/gewacup/rat1.png',sizingMethod='crop');}
.award .award_bt .award_bg .rat2{background:url(${staticPath}styles/images/gewacup/rat2.png) no-repeat;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='${basePath}styles/images/gewacup/rat2.png',sizingMethod='crop');}
.award .award_bt .award_bg .rat3{background:url(${staticPath}styles/images/gewacup/rat3.png) no-repeat;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='${basePath}styles/images/gewacup/rat3.png',sizingMethod='crop');}
.award .award_bt .award_bg .rat4{background:url(${staticPath}styles/images/gewacup/rat4.png) no-repeat;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='${basePath}styles/images/gewacup/rat4.png',sizingMethod='crop');}
.award .award_bt .award_bg .rat5{background:url(${staticPath}styles/images/gewacup/rat5.png) no-repeat;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='${basePath}styles/images/gewacup/rat5.png',sizingMethod='crop');}
.award .award_bt .award_bg .rat6{background:url(${staticPath}styles/images/gewacup/rat6.png) no-repeat;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='${basePath}styles/images/gewacup/rat6.png',sizingMethod='crop');}
.award .award_bt .award_bg .rat7{background:url(${staticPath}styles/images/gewacup/rat7.png) no-repeat;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='${basePath}styles/images/gewacup/rat7.png',sizingMethod='crop');}
.award .award_bt .award_bg .award_1{width:317px;height:204px;background:url(${staticPath}styles/images/gewacup/2013/award_1.png) no-repeat;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='${basePath}styles/images/gewacup/2013/award_1.png',sizingMethod='crop');position:absolute;top:-10px;right:-10px;z-index:9;}
.award .award_bt .award_bg .award_2{width:323px;height:205px;background:url(${staticPath}styles/images/gewacup/2013/award_2.png?v=0625) no-repeat;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='${basePath}styles/images/gewacup/2013/award_2.png?v=0625',sizingMethod='crop');position:absolute;top:-3px;right:-5px;z-index:9;}
.award .award_bt .award_bg .award_3{width:288px;height:224px;background:url(${staticPath}styles/images/gewacup/2013/award_3.png?v=0625) no-repeat;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='${basePath}styles/images/gewacup/2013/award_3.png?v=0625',sizingMethod='crop');position:absolute;top:-30px;right:28px;z-index:9;}
.award .award_bt .award_bg .award_4{width:287px;height:162px;background:url(${staticPath}styles/images/gewacup/2013/award_4.png) no-repeat;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='${basePath}styles/images/gewacup/2013/award_4.png',sizingMethod='crop');position:absolute;top:23px;left:25px;z-index:9;}
.award .award_bt .award_bg .award_5{width:321px;height:200px;background:url(${staticPath}styles/images/gewacup/2013/award_5.png) no-repeat;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='${basePath}styles/images/gewacup/2013/award_5.png',sizingMethod='crop');position:absolute;top:-2px;left:0;z-index:9;}
.award .award_bt .award_bg .award_6{width:321px;height:200px;background:url(${staticPath}styles/images/gewacup/2013/award_6.png) no-repeat;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='${basePath}styles/images/gewacup/2013/award_6.png',sizingMethod='crop');position:absolute;top:-1px;left:0;z-index:9;}
.award .award_bt .award_bg .award_7{width:204px;height:144px;background:url(${staticPath}styles/images/gewacup/2013/award_7.png) no-repeat;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='${basePath}styles/images/gewacup/2013/award_7.png',sizingMethod='crop');position:absolute;top:25px;left:62px;z-index:9;}

.yellow{color:#faa708;}
.ul-60 li{padding-left:60px;line-height:30px;overflow:hidden;clear:both;}
.ul-60Inner{width:60px;margin-left:-60px;_margin-left:-30px;float:left;text-align:right;}
.ul-100 li{padding-left:100px;height:30px;line-height:30px;margin:10px 0 0;overflow:hidden;clear:both;}
.ul-100Inner{width:100px;margin-left:-100px;_margin-left:-50px;float:left;text-align:right;}
.ul-100 li label{display:inline-block;margin-right:10px;}
/*--入口容器--*/
.multilist{width:80%;height:400px;overflow:hidden;position:relative;z-index:2;margin:-1150px 0 0 60px;}
/*--弹出层--*/
.popup{width:580px;height:auto;margin:0 auto 0 auto;overflow:hidden;background:#0b5f89;}
.popup .club_form{width:80px;height:33px;float:left;padding:20px 0 0 500px;overflow:hidden;background:url(${staticPath}styles/images/gewacup/club_form.gif) no-repeat 0 0;}
.popup .creat_circle{width:80px;height:33px;float:left;padding:20px 0 0 510px;overflow:hidden;background:url(${staticPath}styles/images/gewacup/creat_circle.gif) no-repeat 0 0;}
.popup .hinput{width:540px;height:auto;padding:20px;float:left;color:#fff;}
.show_fast_list{z-index:10000;}
.fast_select a.select, .fast_select a:hover{color:#ff9200;}
.fast_content .country dd{_width:99%;}

.retxt {margin:0 5px;}
.nothave{color:#666 !important}
</style>

