<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>订单查询</title>
	<link rel="stylesheet" type="text/css" href="${staticPath}css/layout.css"/>
	<link rel="stylesheet" type="text/css" href="${staticPath}css/bms.css?v=$VmUtils.jsVersion"/>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara-util.js"></script>
	<script type="text/javascript" src="${staticPath}dpicker/WdatePicker.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/sortableTable.js"></script>
	<style type="text/css">
		.tablist .trbg td{padding:0; height:40px; line-height:40px;}
		#page,.rowCount{margin:5px 0;}
		.useCao label{color:#555555;font-weight:bold;font-size:12px;}
		.useCao .init-text{width:160px;padding:2px 1px;vertical-align:middle;border:1px solid #ccc;margin-right:40px;}
		.useCao .fline{font-size:15px;margin:0 5px;}
		.useCao .btn{padding:2px 8px;cursor:pointer;}
		.useCao .t_ico{background:url(${staticPath}css/sport/cus_icon.png?v=4545) no-repeat right -159px;}
		.tablist .trbg{background:#efefef;color:#555;}
		.tablist .trbg:hover{background:#f1f5ff;}
		.tablist .trbg td{height: 30px;line-height: 30px;padding: 0;}
		.redBt input {width: 50px;}
		.orderSet{height:26px;line-height: 26px;padding:0 10px;clear: left;}
		.orderSet li{width:60px;float:left;text-align:center;cursor: pointer;}
		.seeOrder{background:#bbb;font-weight:bold}
	</style>
</head>
<body class="ui_orange">
<div class="maintop">活动订单查询</div>
<div class="main">
	#set($keyList=["类型","场次/名称","订单号","取票密码","第三方密码", "下单/付款时间", "联系电话", "用户[ID]", "总价", "支付方式", "支付状态", "操作"])
	#set($keyTypeMap={'ticket':'影票','drama':'演出','sport':'运动','gym':'键身','goods':'物品','membercard':'会员卡','pubsale':'竞拍'})
    <div class="useCao">
    	#if($command.errorMsg)<div style="color:red;font-size:24px;font-weight:bolder;margin:0px 0px 10px;">$command.errorMsg</div>#end
    	<form id="searchOrderForm"  action="${basePath}admin/order/activityOrderList.xhtml">
    		<input type="hidden" name="status" id="status" value="$!command.status" />
    		<input type="hidden" name="relatedid" id="relatedid" value="$!command.relatedid"/>
    		<input type="hidden" name="level" id="level" value="$!command.level" />
			<input type="hidden" name="xls" id="xls" value="" />
			<div class="mt15">
				<label>交易时段：</label>
		    	<input class="init-text t_ico" type="text" name="starttime" id="starttime" style="margin-right:0;" value="$!DateUtil.formatTimestamp($!command.starttime)"  onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
		    	<span class="fline">-</span>
		    	<input class="init-text t_ico" type="text" name="endtime" id="endtime" value="$!DateUtil.formatTimestamp($!command.endtime)" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
	    	
			</div>
	    	<div class="mt15">
	    		<label>影&nbsp;&nbsp;院：</label>
	    		<select name="placeid">
					<option value="" #if($VmUtils.isBlank($!command.placeid))selected#end>全部影院</option>
					#foreach($cinema in $cinemaList)
						<option value="$cinema.id" #if($VmUtils.eq($!command.placeid, $cinema.id))selected#end>${VmUtils.getFirstSpell($cinema.realBriefname)}-$cinema.realBriefname</option>
					#end
				</select>
		    	<label>订单号：</label>
		    	<input class="init-text" type="text" name="tradeno" id="tradeno" value="$!command.tradeno"/>
		    	<label>手机号码：</label>
		    	<input class="init-text" type="text" name="mobile" id="mobile" value="$!command.mobile"/>
		    	<!-- <span class="button minBt redBt"><input onclick="submitQuery(this)" value="查&nbsp;&nbsp;询" /></span> -->
		    	<span class="button minBt redBt"><input onclick="submitQuery(this)" value="查询订单" /></span>
	    	</div>
    	</form>
    </div>
    <ul class="orderSet mt20">
		<li id="all" #if($VmUtils.isBlank($!command.status))class="seeOrder"#end><a href="javascript:queryOrder('status','')" class="blue">全部</li>
		<li id="new" #if($VmUtils.eq($!command.status,'new'))class="seeOrder"#end><a href="javascript:queryOrder('status','new')" class="blue">待付款</a></li>
		<li id="paid" #if($VmUtils.eq($!command.status,'paid'))class="seeOrder"#end><a href="javascript:queryOrder('status','paid')" class="blue">已付款</a></li>
		<li id="paid_success" #if($VmUtils.eq($!command.status,'paid_success'))class="seeOrder"#end><a href="javascript:queryOrder('status','paid_success')" class="blue">交易成功</a></li>
		<li id="paid_failure" #if($command.status eq 'paid_failure')class="seeOrder"#end><a href="javascript:queryOrder('status','paid_failure')" class="blue">待处理</a></li>
		<li id="cancel" #if($VmUtils.eq($!command.status,'cancel'))class="seeOrder"#end><a href="javascript:queryOrder('status','cancel')" class="blue">已取消</a></li>
		<li><a href="${basePath}admin/message/smsList.xhtml?status=failure" class="blue" target="_blank"><b>失败短信</b></a></li>
		<li><a href="javascript:getXls()">导出EXCEL</a></li>
	</ul>
    <div class="info">
      <table class="tablist mt10" id="all_content" width="100%">
			<tbody id="tbody">
				<tr class="trbg">
					<td>&nbsp;</td>
					<td style="width:200px;">影院名/套餐名</td>
					<td style="width:120px;">订单号</td>
					<td style="width:100px;">购买方式</td>
					<td style="width:60px;">取票密码</td>
					<td style="width:90px;">下单时间</td>
					<td style="width:75px;">联系电话</td>
					<td style="width:200px;">用户/次数</td>
					<td>总价</td>
					<td style="width:80px;">状态</td>
					<td style="width:100px;">支付方式</td>
					<td style="width:100px;">取票状态</td>
					<td style="width:80px;">处理</td>
				</tr>
				#foreach($order in $orderList)
				#set($rfee=$order.totalAmount)
				#set($mealname=$order.ordertitle)
				#set($descMap=$VmUtils.readJsonToMap($order.description2))
				#if($order.paymethod ne 'sysPay')#set($buymethod='单买')#else#set($buymethod='')#end
				<tr id="row${order.id}">
					<td>$foreach.count</td>
					<td title="$!descMap.get('物品名称')"><a>$!{cinemaMap.get($order.id).name}/$!{mealname}</a>
					<td><a href="${basePath}admin/order/orderDetail.xhtml?tradeNo=$order.tradeNo" target="_blank">$order.tradeNo</a></td>
					<td>$!{buymethod}</td>
					<td>$order.checkpass</td>
					<td>$DateUtil.format(${order.addtime},'MM-dd HH:mm:ss')</td>
					<td #if($VmUtils.isNotBlank($order.remark))title="$order.remark" style="color:red"#end onclick="showMobile($order.id,$order.mobile)"><span name="demobile" id="order$order.id" title="$VmUtils.getSmobile($order.mobile)">$VmUtils.getSmobile($order.mobile)</span></td>
					<td><a href="${basePath}admin/gewapay/queryMemberAccount.xhtml?mid=$order.memberid" target="_blank">$order.membername</a>/$buynumMap.get($order.mobile)</td>
					<td>$rfee</td>
					<td>${order.statusText}</td>
					<td>$payUtil.getPaymethodText($order.paymethod)</td>
					<td><a href="javascript:takeTicket($order.id)">查看</a></td>
					<td>
						#if($order.status eq 'paid_failure')
						<input type="button" class="cbt2" value="设置为成功订单" id="btn$order.id" onclick="confirmSuccess($order.id)" />
						#end
					</td>
				</tr>
				#end
			</tbody>
		</table>
    </div>
    <div class="clear">#parse('include/pageUtil.vm')</div>
</div>
<script type="text/javascript">
window.addEvent('domready',function(){
	$$("tbody tr").addEvents({
		'mouseover':function(){
			this.addClass("mouseBg");
		},
		'mouseout':function(){
			this.removeClass("mouseBg");
		}
	});
	if($("curList")) $("curList").getParent().removeClass("shrink");
	$$(".aboutMovie").getElements(".controlPoint").each(function(item){
		item.addEvent("click",function(){
			this.getNext().getElement("ul").toggleClass("shrink");
		});
	});
});

function submitQuery(el){
	var tradeno = $('tradeno').value.trim();
	var mobile = $('mobile').value.trim();
	if (tradeno.length == 0 && mobile.length == 0) {
		var start = $('starttime').value;
		if (start == null || start == "") {
			alert("开始日期不得为空!");
			return;
		}
		var end = $('endtime').value;
		if (end == null || end == "") {
			alert("结束日期不得为空!");
			return;
		}
		var startdate = Date.parse(start);
		var enddate = Date.parse(end);
		if (enddate.getTime() - startdate.getTime() > 1000*60*60*24*5) {
			alert("时间间隔不得超过5天!");
			return;
		}
	}
	$('xls').value='false';
	$('searchOrderForm').submit();
}

function queryOrder(field, value){
	$(field).value=value;
	var tradeno = $('tradeno').value.trim();
	var mobile = $('mobile').value.trim();
	if (tradeno.length == 0 && mobile.length == 0) {
		var start = $('starttime').value;
		if (start == null || start == "") {
			alert("开始日期不得为空!");
			return;
		}
		var end = $('endtime').value;
		if (end == null || end == "") {
			alert("结束日期不得为空!");
			return;
		}
		var startdate = Date.parse(start);
		var enddate = Date.parse(end);
		if (enddate.getTime() - startdate.getTime() > 1000*60*60*24*5) {
			alert("时间间隔不得超过5天!");
			return;
		}
	}
	$('xls').value='false';
	$('searchOrderForm').submit();
}

function takeTicket(orderid){
	var values = {"orderid":orderid};
	GewaraUtil.sendRequest('${basePath}admin/ticket/takeTicket.xhtml', values, function(result){
		if(result.success){
			alert(result.retval);
		}
	});
}

function sendMessage(orderId){
	var url = "${basePath}admin/message/ajax/addMessage.xhtml";
	GewaraUtil.sendRequest(url, {"orderId":orderId}, function(result){
		if(result.success){
			alert("成功加入短信！");
		}else{
			alert(result.msg);
		}
	});
}

function confirmSuccess(orderid){
	var values = {"orderid":orderid};
	GewaraUtil.sendRequest('${basePath}admin/ticket/confirmGoodsOrderSuccess.xhtml', values, function(result){
		if(result.success){
			$('btn'+orderid).dispose();
		}else{
			alert(result.msg);
		}
	});
}

function showMobile(orderid, mobile){
	$('tbody').getElements('span[name=demobile]').each(function(item){
		item.set('html', item.title);
		item.removeClass('yellow');
		$('order' + orderid).set('html', mobile);
		$('order' + orderid).addClass('yellow');
	});
}

function getXls(){
	$('xls').value='true';
	$('searchOrderForm').submit();
}
</script>
</body>
</html>