<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>格瓦拉订单系统</title>
<link rel="stylesheet" type="text/css" href="${staticPath}css/layout.css"/>
<link href="${staticPath}css/bms.css?v=$VmUtils.jsVersion" rel="stylesheet" type="text/css" />
</head>
<body class="ui_orange">
    <div class="hd">
        <div class="mu">
        <span>当前登录：<b>$user.username [$user.nickname, $user.id]</b>　[<a href="${basePath}cas/logout.xhtml" class="m5" target="_top">退出</a>]</span>
        	<div class="logo">
            <img width="150" height="50" src="${staticPath}css/bms/orange/logo_dd.gif"/>
            </div>
        </div>
    </div>
</body>
</html>
