<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html class="centerbody"  xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>订单管理</title>
	<link rel="stylesheet" type="text/css" href="${staticPath}css/bms.css?v=$VmUtils.jsVersion"/>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara-util.js"></script>
	<style type="text/css">
	</style>
</head>
<body style="overflow-x:hidden;">
<script type="text/javascript">
window.addEvent('domready', function(){
	var ff= parent.document.getElementById("contentFrame");
	document.addEvent('click',function(){
		if(ff.cols == "150,8,*"){
			ff.cols="0,8,*";
		}else{
			ff.cols="150,8,*";
		}
	});
});

</script>
</body>
</html>