#set($week={1:"一",2:"二",3:"三",4:"四",5:"五",6:"六",7:"日"})
<div class="hd">创建价格表</div>
<div class="bd">
	<input type="hidden" name="itemId" id="itemId" value="$!itemId"/>
	<div class="mt10">
		<ul style="clear:both;padding-left:70px;" class="mt10" id="priceTable">
		#foreach($x in [1..7])
			#set($sip=$!sipMap.get($x).get(0))
			<li>
				<input type="checkbox" id="$x" style="width:10px;" #if($!sip) checked="checked" #end/>
				星期$!week.get($x)&nbsp;&nbsp;&nbsp;&nbsp;场馆价：
				<input type="text" id="min$x" value="$!sip.minprice" style="width:50px;"/>元~
				<input type="text" id="max$x" value="$!sip.maxprice" style="width:50px;"/>元
			</li>
		#end
		</ul>
	</div>
	<div class="mt10">
		<label>&nbsp;</label>
		<input type="button" name="save" class="button" value="保存" style="width:60px" onclick="saveSportItemPrice()"/>
		<input type="button" name="cancle" class="button" value="取消" style="width:60px" onclick="hideSportItemPrice()"/>
	</div>
</div>