<!Doctype html>
<html xmlns:wb=“http://open.weibo.com/wb”>
<head><!-- SUCCESS_HEAD -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>#if($ott)${ott.sportname}-${ott.itemname}-$DateUtil.format($ott.playdate,"M月d日")#else ${sport.name}-${item.name}-$!DateUtil.format($playDate,"M月d日")#end按时间在线预定场馆_格瓦拉生活网</title>
<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=ui_layout,wide_pay&v=$VmUtils.jsVersion"/>
<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
<script type="text/javascript" src="${basePath}scripts/gewara.js?n=gewara-util,tips&v=$VmUtils.jsVersion"></script>
<style type="text/css">
.seatGroup{overflow:hidden;}
.ui_left,.ui_right{float:left;}
.ui_left{width:870px;}
.ui_right{width:310px; background:#f1fbff; margin-bottom:-30000px; padding-bottom:30000px;}
.ui_right .inner{padding:20px 15px;}

.toggleMore,.new_fast_inner em,.noticeMe,.isSellOut{background:url(/css/sport_wide/ico_pub.gif) no-repeat;}
.ui_cinemaDesc em{background:url(/css/sport_wide/ico_sportList.jpg) no-repeat;}
.ui_cinemaDesc em.ser_p{background-position:-18px -18px; width:24px;}
.ui_cinemaDesc em.ser_pay{background-position:-18px -48px; width:24px;}
.ui_cinemaDesc em.ser_zu{background-position:-18px -78px; width:24px;}
.ui_cinemaDesc em.ser_card{background-position:-18px -107px; width:24px;}

.seatView{min-height:350px; border:1px solid #bee5f2; padding:25px;}
.seatView .mod_tabs .mod_hd ul.nav_tabs{height:30px; line-height:30px; background:#fff;}
.seatView .mod_tabs .mod_hd ul.nav_tabs li,.moreDate ul li{display:inline-block; position:relative; cursor:pointer; width:70px; padding:0 5px; text-align:center; border:1px solid #2b7e9e; border-bottom:none; height:29px; line-height:29px; margin-right:3px;}
.seatView ul.nav_tabs li.select,.seatView ul.nav_tabs li.select:hover{background:#2b7e9e; color:#fff;}
.seatView ul.nav_tabs li:hover,.seatView .moreDate ul li:hover{background:#ddf4ff; color:#2f7fba;}
.seatView .mod_hd{padding-right:130px; height:30px; position:relative; border-bottom:2px solid #2b7e9e; z-index:5;}
.seatView .moreDate{position:absolute; overflow:hidden; top:30px; right:100px; width:364px; background:#f2f8f9; border:1px solid #1885ae; z-index:5;}
.seatView .moreDate ul li{margin:2px; border-bottom:1px solid #2B7E9E; background:#fff; float:left;}
.isSellOut{display:block; width:23px; height:23px; position:absolute; left:0; top:0; background-position:0 -448px; }

.leftBox{padding:15px; border:1px solid #bee5f2; border-top:0; line-height:24px;}
.rightBox{border-top:1px solid #d0ecf5; padding:15px 0; margin-top:20px;}
.ui_layout h2{font-size:14px; font-weight:bold; padding-bottom:5px; display:inline-block;}
p em,.ui_media .ui_pic{color:#666;}
.mobileInfo{margin:15px 0 5px;}
.mobileInfo .text{width:150px; font-size:16px; font-weight:bold; color:#333; font-family:verdana;}
.pewSeat p{line-height:28px;}
.pewSeat p em{font-size:12px; font-weight:normal;}
.ui_price{color:#39c}
.pews{border:1px solid #39c; color:#39c; background:#fff; float:left; width:96px; height:26px; line-height:26px; text-align:center; margin:0 5px 5px 0;}
.timeTitle{padding:30px 10px;}
.timeTitle .ui_media{margin-bottom:20px;}
.timeTitle .ui_pic{width:120px; text-align:right; color:#333; margin-right:0;}
.duration span{float:left; width:104px;padding:5px 0;display:block;border:1px solid #B7D2E7;color:#000;text-align:center;cursor:pointer;margin:0 10px 10px 0;overflow:hidden;
	background: #ddf4ff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #ddf4ff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ddf4ff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#ddf4ff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#ddf4ff 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#ddf4ff 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ddf4ff',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#ddf4ff 100%); /* W3C */
}
.duration span.select{border-color:#f60;color:#f60;font-weight:bold;}
.duration span:hover{border-color:#f60;}
.new_fast_inner{background-color:#fff; border:1px solid #828282; color:#999; position:relative; cursor:pointer; float:left; height:22px; overflow:hidden; padding-right:17px; text-indent:8px; width:155px; *width:150px;}
.new_fast_inner em{display:block; width:7px; height:4px; line-height:0px; font-size:0; background-position:-24px -306px; position:absolute; right:6px; top:10px;}
.toggleMore{background-position:-1px -262px; background-color:#1885ae; position:absolute; right:100px; top:0; width:30px; height:30px; cursor:pointer;}
.toggleMoreUp{background-position:-1px -520px!important;}
.noticeMe{height:30px; line-height:14px; cursor:pointer; width:50px; padding-left:20px; background-position:0 -481px; color:#39c; position:absolute; right:0; top:0;}
span.ui_warning{height:22px;line-height:22px;display:inline-block;margin:0 0 0 10px;_margin:0;color:#666;}


/*选择场馆和项目*/
.optionsPanel{width:770px;position: absolute;z-index:200;border:1px solid #CFCFCF;background:#fff;padding:10px;box-shadow:#BBBBBB 5px 5px 5px;}
.optionOver{width:172px;height:4px;background:#fff;overflow:hidden;position:absolute;top:-4px;left:-1px;border-width:0 1px;border-style:solid;border-color:#CFCFCF}
.optionsPanel .inner{padding:0px;margin:4px 10px 0;}
.optionsPanel .inner dt{float:left;width:65px;padding-right:10px;text-align:right;color:#666;font-weight:bold;}
.optionsPanel .inner dd{float:left;width:90%;overflow:hidden;}
.optionsPanel .inner dd span{width:168px;float:left;overflow:hidden;display:inline-block;height:30px;}
.selectOptions{padding:0 0 3px 16px;}
.selectOptions a,.optionsPanel .inner dd a,.hasOption li a{display:inline-block;padding:0 6px;text-decoration: none !important;line-height:20px;color:#329ACD} 
.selectOptions a.select,.selectOptions a:hover,
	.optionsPanel .inner dd a.select,.optionsPanel .inner dd a:hover,
	.hasOption li a:hover,.hasOption li a.select{background:#329ACD;color:#fff;}
.optionsPanel .inner dd a{color:#333;line-height:22px;}
.optionsPanel .selectOptions,.optionsPanel .inner{border-bottom:1px solid #efefef;line-height:22px;}
.hasOption{width:152px;width:150px\9;padding:0 10px 10px;}
.hasOption li{height:28px;line-height:28px;overflow:hidden;position:relative;border-bottom:1px solid #ddd;}
.hasOption li a{display:block;padding-right:20px;line-height:28px;color:#333;}
.hasOption li a:hover .min,.hasOption li a.select .min{color:#fff}
.penleft{border-left:1px solid #bbb;}
.penweb{width:172px;float:left;margin-top:15px;overflow:hidden;}
.openNotice{padding:0 20px;}

.optionsPanel,.optionOver{border-color:#7F7F81;}
.penweb,.hasOption{width:100%;}
.timeInterval .hasOption li{width:11%;float:left;margin-right:5px;text-align:center;}
.hasOption li a{padding:0;}
.isSite{width:200px; border:1px solid #39c; color:#39c; background:#fff; float:left; height:26px; line-height:26px; text-align:center; margin:0 5px 5px 0;}
.notPlay{text-align:center; font-size:16px; padding:130px 50px;}
</style>
</head>
<body class="ui_sport">
#set($issport=true)#set($isOrder2=true)
#set($orderStr1='场馆')#set($orderStr2='人次')#set($orderStr3='预订')
<div class="ui_layout clear">
	<div class="inner">
		<div class="seatGroup mt20 clear">
			<form id ="orderForm" name="myform" action="${basePath}admin/sport/order/changeOrderByPeriod.xhtml" method="post">
			#if($!spkey)
			<input type="hidden" name="spkey" id="spkey" value="$!spkey"/>
			#end
			<div class="ui_left">
				<div class="seatView clear">
					<div class="mod_tabs">
						<div class="mod_hd">
							<ul class="nav_tabs">
								#foreach($item in $itemList)
								#if($foreach.count le 7)
								<li #if($item.id eq $ott.id) class="select" #else onclick="changeOtt($item.id)" #end>#if($VmUtils.eq($otiCountMap.get($item.id), 0))<span class="isSellOut"></span>#end $DateUtil.format($item.playdate,'M/d') $DateUtil.getCnWeek($item.playdate)</li>
								#end
								#if($foreach.count eq $VmUtils.size($itemList))
								#set($messagedate = $item.playdate)
								#end
								#end
							</ul>
							#if($VmUtils.size($itemList) gt 8)
							<div class="moreDate">
								<div id="isMoreDate" class="inner">
									<ul>
										#foreach($item in $itemList)
										#if($foreach.count gt 8)
										<li onclick="changeOtt($item.id)">
											#if($VmUtils.eq($otiCountMap.get($item.id), 0))<span class="isSellOut"></span>#end
											$DateUtil.format($item.playdate,'M/d') $DateUtil.getCnWeek($item.playdate)
										</li>
										#end
										#end
									</ul>
								</div>
							</div>
							<span class="toggleMore" id="toggleMore"></span>
							#end
						</div>
						<div class="mod_bd" id="otiData">
							#parse("admin/sport/wide_periodSeatPage.vm")
						</div>
					</div>
				</div>
				<div class="leftBox clear">
					<div class="clear">
						<h2 class="left">场次说明：</h2>
						<span class="ui_privilege">
							#if($ott.isOpenPointPay())<em title="支持积分抵值" class="j">积</em>#end
							#if($ott.isOpenCardPay())<em title="支持票券抵值" class="q">券</em>#end
							#if($ott.isDisCountPay())<em title="支持支付优惠" class="y">惠</em>#end
						</span>
					</div>
					<p>$!ott.remark</p>
				</div>
				<div class="leftBox clear">
					<h2>场馆信息：</h2>
					<dl class="ui_media">
						<dt class="ui_pic mr0">场馆特色：</dt>
						<dd class="ui_text">
							<div class="ui_cinemaDesc">
								#set($sportOtherinfo = $!VmUtils.readJsonToMap($!sport.otherinfo))
								#if($VmUtils.isNotBlank($!sportOtherinfo.get('park')))
								<em class="ser_p" title="$!sportOtherinfo.get('park')"></em>
								#end
								#if($VmUtils.isNotBlank($!sportOtherinfo.get('visacard')))
								<em class="ser_pay" title="$!sportOtherinfo.get('visacard')"></em>
								#end
								#if($VmUtils.isNotBlank($!sportOtherinfo.get('lease')))
								<em class="ser_zu" title="$!sportOtherinfo.get('lease')"></em>
								#end
								#if($VmUtils.isNotBlank($!sportOtherinfo.get('membercard')))
								<em class="ser_card" title="$!sportOtherinfo.get('membercard')"></em>
								#end
							</div>
						</dd>
					</dl>
					#if(!$VmUtils.isBlank($!sport.address))<p><em>详细地址：</em>$!sport.countyname$!VmUtils.getLight($!sport.address, $queryString)</p>#end
					#if(!$VmUtils.isBlank($!sport.contactphone))<p><em>联系电话：</em>$!{sport.contactphone}</p>#end
					#if(!$VmUtils.isBlank($!sport.opentime))<p><em>营业时间：</em>$!sport.opentime</p>#end
				</div>
				<div class="leftBox clear">
					<h2>温馨提示：</h2>
					<p>1、订单提交后请在15分钟完成支付，超时系统将自动释放您选择的时段和人数。</p>
					<p>2、支付成功后，您将在15分钟内收到短信通知，接收短信完全免费。</p>
					<p>3、请自觉遵守场馆的相关规定，如佩带防护器具、注意安全等。</p>
				</div>
			</div>
			<div class="ui_right">
				<div class="inner">
					<div class="pewSeat">
						<p class="bold fs14"><a href="${basePath}sport/$!sport.id">$!sport.name</a></p>
						<p class="mt10"><em>预订项目：</em><b>$!item.itemname</b></p>
						<p><em>日期：</em><span class="cred fs14 bold">$!DateUtil.format($playDate,'yyyy-MM-dd')($DateUtil.getCnWeek($playDate))</span></p>
						<div id="summarize" class="none">
							<div class="ui_media mt10">
								<div class="ui_pic mr0">场次：</div>
								<div class="ui_text">
									<span class="isSite"><em id="peroid">14:00-16:00</em> <em id="showup">25元/2小时</em> <em id="showpn">2</em>人</span>
								</div>
							</div>
							<p class="mt5"><em>总计：</em><span class="ui_price">¥<b id="showPrice">80</b></span></p>
						</div>
					</div>
					<div class="rightBox">
						<div class="mobileInfo">
							<p><em>订单号：</em><input type="text" class="text" maxlength="20" onkeyup="GewaraUtil.replaceStr(this);" id="tradeno" name="tradeno"/><span class="cred ffst ml5">*</span></p>
						</div>
					</div>
					<p style="padding-left:49px;">
						<a class="button redBt maxBt left" onclick="submitOrder(this);"><span>提交订单</span></a>
					</p>
				</div>
			</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
window.addEvent('domready',function(){
	showTips();
	toggleMoreDate();
});
function showTips(){
	var oListTags = $$('.ui_privilege em,.ui_cinemaDesc em');
	oListTags.each(function(item){
		new amTips(item,{position:'top',center:false,width:600});
	});
}
function changeOtt(ottid){
	location.href='${basePath}admin/sport/order/choosefield.xhtml?ottid='+ottid#if($spkey)+"&spkey=$!spkey"#end;
}
function toggleMoreDate(){
	if($('isMoreDate') == null) return;
	var moreDate = new Fx.Slide('isMoreDate').hide();
	$('toggleMore').addEvent('click', function(){
		moreDate.toggle();
		this.toggleClass('toggleMoreUp');
	  });
}
function openNotice(){
	checkLogin(true, function(){
		gewa.util.issure('','openNotice','格瓦拉提示你',420,'openNotice',function(){
			addPlayItemMessage();
		});	
	})
}
function addPlayItemMessage(){
	if(!GewaraUtil.isMobile($('msgMobile').value)){
		gewaUtil.alert('手机号码不正确！');
		return;
	}
	var url = '${basePath}sport/ajax/addPlayItemMessage.xhtml';
	var values = {'tag':'sport', 'relatedid':$!sport.id, 'categoryid':$!item.id, 'mobile':$('msgMobile').value, 'playDate':$('msgDate').value, 'captchaId':$('captcha2').value, 'captcha':$('captcha2Input').value};
	GewaraUtil.sendRequest(url, values, function(result){
		if(result.success){
			gewaUtil.alert("添加成功！");
			gewa.util.container['openNotice'].dispose('openNotice');
		}else{
			GewaraUtil.refreshCaptcha('captcha2');
			gewaUtil.alert(result.msg);
		}
	});
}

function isNumber(str){return /^\d+$/.test(str);}

function submitOrder(el){
	if(!GewaraUtil.baseValidForm('orderForm'))return;
	var err = "",val=$("tradeno").value.trim();
	if((!isNumber(val) || val.length > 20) && val != "") err = "请输入正确的订单号！";
	if(val == ""){err = "请输入订单号！"}
	if(err.length>0){
		gewaUtil.alert(err); 
		return;
	}
	gewa.util.mask({'element':el,'title':'正在提交，请稍等...'});
	var url = "${basePath}admin/sport/order/checkChangeOrderByPeriod.xhtml";
	var values = GewaraUtil.getValues("orderForm");
	GewaraUtil.sendRequest(url, values, function(result){
		if (result.success) {
			var orderForm = document.getElementById("orderForm");
			orderForm.submit(); 
		} else {
			gewa.util.clearMask();
			gewaUtil.alert(result.msg);
		}
	});
}
</script>
</body>
</html>