<table class="roomManageTable" cellpadding="0" width="90%" cellspacing="0" border="0" align="center">
	<tbody>
		<tr style="height: 18px;">
			<td style="text-align: left; padding-left: 5px;">真实姓名： $!memberInfoMap.realname</td>
			<td style="text-align: left; padding-left: 5px;">经验值：$!memberInfoMap.expvalue</td>
			<td style="text-align: left; padding-left: 5px;">积分：$!memberInfoMap.pointvalue</td>
			<td style="text-align: left; padding-left: 5px;">新手任务已完成：$!memberInfoMap.finishedCount #if($!memberInfoMap.finishedCount eq 6)(全部完成)#end</td>
			<td style="text-align: left; padding-left: 5px;">注册来源：$!memberInfoMap.regfrom</td>
			<td style="text-align: left; padding-left: 5px;">地址：$!memberInfoMap.address</td>
		</tr>
		<tr style="height: 18px;" >
			<td colspan="6" style="text-align: left; padding-left: 5px;">购票数： $!ticketcount</td>
		</tr>
		<tr style="height: 18px;">
			<td colspan="6" style="text-align: left; padding-left: 5px;">帖子： 发帖数：$!diarycount / 回帖数：$!rediarycount</td>
		</tr>
		<tr style="height: 18px;">
			<td colspan="6" style="text-align: left; padding-left: 5px;">活动： 发起活动数：$!activitycount / 参加活动数：$!activityjoincount </td>
		</tr>
		<tr style="height: 18px;">
			<td colspan="6" style="text-align: left; padding-left: 5px;">知道： 发起提问数：$!qcount / 回答问题数：$!acount</td>
		</tr>
		<tr style="height: 18px;">
			<td colspan="6" style="text-align: left; padding-left: 5px;">生活： 发起生活数：$!agendacount</td>
		</tr>
		<tr style="height: 18px;">
			<td colspan="6" style="text-align: left; padding-left: 5px;">圈子： 发起生活数：$!quancount</td>
		</tr>
		<tr style="height: 18px;">
			<td colspan="6" style="text-align: left; padding-left: 5px;">好友： 好友数：$!friendCount</td>
		</tr>
		<tr style="height: 18px;">
			<td colspan="6" style="text-align: left; padding-left: 5px;">相册： 相册数：$!albumcount</td>
		</tr>
	</tbody>
</table>