<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>选座订票-$partner.partnername</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<link rel="stylesheet" type="text/css" href="${basePath}css/gewara.css?n=layout,play&v=$VmUtils.jsVersion"/>
	<script type="text/javascript" src="${basePath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${basePath}scripts/gewara.js?n=gewara-util&v=$VmUtils.jsVersion"></script>
	<style type="text/css">
		.partner_douban{height:50px;width:100%;overflow:hidden;background:url($VmUtils.randomPic('','css/buss/partner_srcb.jpg')?a=00) 20px center no-repeat;}
		.tbgss{background:#4c7db6;margin-top:16px;text-indent:10px;color:#fff;}
		.horn .m1,.horn .m2,.horn .m{border-color:#b1d4ef}
		.horn .m1{background:#b1d4ef}
		.m{background:#fafbfd;}
		.ui_layout{width:100%;}
		.pewBg,.pewNo{border-color:#b1d4ef;background:#fafbfd}
	</style>
	<!-- 页面所有的路径都用：basePath 切记 -->
</head>
<body>#set($issrcb=true)
<div class="ui_layout">
	<div class="inner">
		<div class="partner_douban"><a href="http://www.srcb.com/html/" target="_blank" style="width:15%;display: block;height:100%;margin-left:20px;"></a></div>
		<div class="title tbgss">
			你的位置：<span class="mr5">上海农商银行电影</span>&gt;<b class="ml5 black">上海农商银行-格瓦拉合作在线购票专区</b>
			<p class="more freeTag" style="background-position:0px -2670px;padding-left:20px;cursor: default;">预订过程中有任何问题请拨打客服电话：<b>4000-406-506</b></p>
		</div>
		#parse('partner/lr_chooseSeat.vm')
	</div>
</div>
</body>
</html>