<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>我的反馈_格瓦拉生活网</title>
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=layout,users&v=$VmUtils.jsVersion"/>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util,base_home&v=$VmUtils.jsVersion"></script>
</head>
<body>
#set($is2011Beta=true)
#set($advise=true)
#set($cfgHeader='newUserHeader')#parse('include/home/newUserHeader.vm')
<div class="ui_layout">
	#parse('home/acct/home_menu_left.vm')
	<div class="ui_right">
		<div class="inner">
			<div class="clew">
				<p>如果你在使用格瓦拉的过程中遇到了问题，或者你希望给格瓦拉提出一些意见或建议，非常欢迎你在这里提交给我们。我们每天都在倾听来自用户的声音，你的支持是我们前进的动力！</p>
			</div>
			<div class="title mt20 line">
				<h2>我的反馈</h2><a class="more button minBt redBt" href="${basePath}home/acct/advise.xhtml"><span>反馈建议</span></a>
			</div>
			<div id="customerList">
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
window.addEvent('domready', function(){
	gewaUtil.loadData('customerList','${basePath}home/blog/customerQList.xhtml', {}, function(result){
		if(!result.success){
			gewaUtil.alert(result.json.msg);
		}
	});
});
</script>
#parse('include/bottom.vm')
</body>
</html>
