<div class="ui_left">
	<h1 class="ico myGewaIco"><span>我的格瓦拉</span></h1>
	<div class="menuPanel">
		<span class="select none" id="navs"></span>
		<ul class="menuList clear">
			#*<li class="#if($isGewa)off#end" style="background-position:-12px -102px;"><a href="${basePath}home/sns/personIndex.xhtml?memberid=$logonMember.id">我的主页</a></li>
			<li style="background-position:-12px -132px;"><a href="${basePath}home/sns/othersPersonIndex.xhtml?memberid=index.xhtml" target="_blank" >我的哇啦</a></li>
			<li class="#if($friend)off#end" style="background-position:-12px -164px;"><a href="${basePath}home/friend/friendList.xhtml?memberid=$logonMember.id">我的好友</a></li>
			<li class="#if($photo)off#end" style="background-position:-12px -228px;"><a href="${basePath}home/album/albumList.xhtml?memberid=$logonMember.id">我的相册</a><a href="${basePath}home/new/uploadPicture.xhtml?tag=member&relatedid=$!logonMember.id" class="ico ml20" style="background-position:-585px -122px;font-size:12px;">上传</a></li>
			<li class="#if($comment)off#end" style="background-position:-12px -262px;"><a href="${basePath}home/comment/topicList.xhtml?memberid=$logonMember.id">我的帖子</a></li>
			<li class="#if($newQa)off#end" style="background-position:-12px -325px;"><a href="${basePath}home/qa/questionList.xhtml?memberid=$logonMember.id">我的知道</a></li>
			<li class="#if($snsInterest)off#end" style="background-position:-175px -160px;"><a href="${basePath}home/attentioninfo.xhtml">我感兴趣</a></li>
			<li class="#if($isAgenda)off#end" style="background-position:-12px -358px;"><a href="${basePath}home/agenda/agendaList.xhtml?memberid=$!logonMember.id">生活安排</a><a href="${basePath}home/sns/myLifePlans.xhtml" class="ico ml20" style="background-position:-585px -296px;font-size:12px;">安排</a></li>
			*#
			<li class="#if($snsActivity)off#end" style="background-position:-12px -292px;"><a href="${basePath}home/activity/activityList.xhtml?memberid=$!logonMember.id&activityTag=joinActivity">我的活动</a></li>
			<li class="#if($community)off#end" style="background-position:-12px -196px;"><a href="${basePath}home/commu/commuList.xhtml?memberid=$!logonMember.id">我的圈子</a></li>
			<li class="#if($isBase)off#end" style="background-position:-12px -390px;"><a href="${basePath}home/acct/memberinfo.xhtml?tagNo=$VmUtils.getRandom()">个人资料</a></li>
			<li class="#if($myAccount)off#end" style="background-position:-12px -423px;"><a href="${basePath}home/charge.xhtml?tagNo=$VmUtils.getRandom()">我的账户</a><a href="${basePath}home/myOrderManage.xhtml?tagNo=$VmUtils.getRandom()" class="ico ml20" style="background-position:-585px -362px;font-size:12px;">订单</a></li>
			<li class="#if($safetyCenter)off#end" style="background:none;"><a href="${basePath}home/acct/safetyCenter.xhtml?tagNo=$VmUtils.getRandom()">安全中心</a></li>
			<li class="#if($mySyn)off#end" style="background-position:-12px -455px;"><a href="${basePath}home/memberSynchroizaInfo.xhtml?tagNo=$VmUtils.getRandom()">动态同步</a></li>
			<li class="#if($advise)off#end" style="background-position:-12px -492px;"><a href="${basePath}home/acct/customerQuestion.xhtml?tagNo=$VmUtils.getRandom()">反馈建议</a></li>
		</ul>
		<div class="menuBottom ico"></div>
		<script type="text/javascript">
		window.addEvent('domready',function(){
			forIn();
			$$('.menuList li').addEvents({
				'mouseenter':function(){selectPosition(this,'navs',0,'bounce:out')},
				'mouseleave':function(){forIn();}
			});
		})
		function forIn(){
			$$('.menuList li').each(function(item){
				if(item.hasClass('off'))selectPosition(item,'navs',0,'bounce:out');
			})
		}
		function selectPosition(el,element,x,trans,fn){
			if($('navs').hasClass('none'))$('navs').removeClass('none');
			$(element).set('move',{duration: 200, transition:trans,onComplete:function(){
				if(fn)fn();
			}});
			$(element).move({
				relativeTo:$(el),
				position:"center",
		   	offset:{x:x,y:0}
		   })
		}
		</script>
	</div>
</div>