<form name="memberContactForm" id="memberContactForm" method="post">
	<ul class="ul-150 mt30">
		<li class="list_h">
			<span class="left_150">地址：</span>
			<input name="address" id="address" maxlength="100"	value="$!memberInfo.address" type="text" class="text text-h25" />
		</li>
		<li class="list_h">
			<span class="left_150">邮编：</span>
			<input name="postcode" id="postcode" maxlength="6"	value="$!memberInfo.postcode" type="text"	class="text text-h25" />
		</li>
		<li class="list_h">
			<span class="left_150">电话：</span>
			<input type="text" name="phone" id="phone" value="$!memberInfo.phone" class="text text-h25" />
		</li>
		<li class="list_h">
			<span class="left_150">QQ：</span>
			<input name="qq" id="qq" value="$!memberInfo.qq" maxlength="11" type="text" class="text text-h25" />
		</li>
		<li class="list_h">
			<span class="left_150">MSN：</span>
			<input name="msn" id="msn" value="$!memberInfo.msn" type="text" class="text text-h25" />
		</li>
		<li class="list_h clear">
			<label class="button redBt minBt" for="disBtn"><input type="button" id="disBtn" onclick="updateMemberContact()" value="保存设置"  style="padding:0 15px 0 0;"/></label>
		</li>
	</ul>
</form>
	<script type="text/javascript">
updateMemberContact = function(){
	var url="${basePath}home/acct/updateContachInfo.xhtml";
	GewaraUtil.mask('disBtn');
	var values = GewaraUtil.getValues("memberContactForm");
	GewaraUtil.sendRequest(url, values, function(result){
		GewaraUtil.unmask();
		if(result.success){
			gewaUtil.alert('设置成功！');
		}else{
			gewaUtil.alert(result.msg);
		}
	})
}
</script>