<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>我的职位_格瓦拉生活网</title>
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=layout,users&v=$VmUtils.jsVersion"/>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util,base_home,page&v=$VmUtils.jsVersion"></script>
</head>
<body>
#set($status=true)#set($myAccount = true)
#set($cfgHeader='newUserHeader')#parse('include/home/newUserHeader.vm')
<div class="ui_layout">
	#parse('home/acct/home_menu_left.vm')
	<div class="ui_right">
		<div class="inner">
			#parse('include/home/myAccount.vm')
			<div class="outside-box auto-outside-box">
				<div class="inside-box auto-inside-box acolor" style="padding:10px 10px 0;height:30px;line-height:20px;">
					当前职位：<b class="bgfont brown">$!jobs.position</b><span class="ml10">&nbsp;</span>
					还差<span class="fc_b">$!nextExp</span>有效经验值就能升值为<b class="bgfont">$!nextJobs.position</b>
					<a href="${basePath}helpCenter/index.dhtml?diaryId=3121504&dkey=helpcenter1308110071965" class="acolor ml20" target="_blank">还有哪些？</a>
					<span class="more mt10">
						有效经验值：<b class="bgfont fc_b">$!memberInfo.expvalue</b>
					</span>						
				</div>
			</div>
			
			<div class="mt20"><strong>小贴士：</strong>
			<br/>1、经验值分为有效经验值和无效经验值；
			<br/>2、兑换后有效经验值自动变为无效经验值；
			<br/>3、放心，兑换以后不会影响你的职位!职位是和总经验值（有效经验值+无效经验值）相关；
			<br/>4、什么？经验值是否可以转让给其它用户？回答肯定是不行的。</div>
			<div class="fs14 mt20 bold">我的升职之路</div>
			祝贺！继续加油！下一职位是$!nextJobs.position，格瓦拉永远支持你！
		</div>
	</div>
</div>
#parse('include/bottom.vm')
	<script type="text/javascript">
window.addEvent('domready',function(){
	$$("tbody").getElements("tr").each(function(item){
		item.addEvents({'mouseenter':function(){this.addClass("tdHover");},'mouseleave':function(){this.removeClass("tdHover");}});
	});
});
</script>
</body>
</html>