<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	#if($params.ctype ne 'xls')
	<title>帖子回复信息_格瓦拉生活网</title>
	#end
</head>
<body style="margin:auto;">
	<table style="width:400px;border:1px dotted #000;">
		<thead>
			<tr>
				<th style="border:1px dotted #000;text-align: left;">楼层</th>
				<th style="border:1px dotted #000;text-align: left;">用户名称</th>
				<th valign="middle" style="border:1px dotted #000;text-align: left;">用户ID</th>
			</tr>
		</thead>
		<tfoot>
			#foreach($dc in $commentList) 
			<tr>
				<td style="border:1px dotted #000;text-align: left;">${foreach.count}楼</td>
				<td style="border:1px dotted #000;text-align: left;">$cacheMemberMap.get($dc.memberid).nickname</td>
				<td valign="middle"  style="border:1px dotted #000;text-align: left;">$!dc.memberid</td>
			</tr>
			#end
		</tfoot>
	</table>
</body>
</html>