<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>帖子回复信息_格瓦拉生活网</title>
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/container.css"></link>
	<link rel="stylesheet" type="text/css" href="${staticPath}styles/base.css"/>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara-util.js?v=${VmUtils.jsVersion}"></script>
	<script type="text/javascript" src="${staticPath}dpicker/WdatePicker.js"></script>
</head>
<body>
<div id="content">
<div class="bc1"></div>
<div id="content_left" style="width:98%;margin:auto;">
	<div class="panelTop"><em></em></div>
	<div class="panelMid">
		<div class="ntab clear mt5" style="width:100%">
			<ul class="tab_title mt10" style="width:100%">
				<li style="float: right;"><a href="${basePath}admin/blog/exportTopic.xhtml?did=$!params.did&ctype=xls" target="_blank">导出xls</a></li>
			</ul>
		</div>
		<table id="blogtable" style="width:100%;" class="blogtable">
			<thead><tr><th style="text-align:center;">楼层</th><th valign="middle">用户ID</th><th>用户名称</th><th>回复内容</th><th>回复时间</th></tr></thead>
			<tfoot>
				#foreach($dc in $commentList)
				#set($num=$firstRow + $foreach.count)
				<tr>
					<td style="text-align:center;width:50px;">
						<span style="blue">$num楼</span>
					</td>
					<td valign="middle" style="width:100px;">
						$!dc.memberid
					</td>
					<td style="width:100px;">
						$cacheMemberMap.get($!dc.memberid).nickname
					</td>
					<td>
						$!{dc.body}
					</td>
					<td style="width:150px;">$DateUtil.format($dc.addtime, 'yyyy-MM-dd HH:mm:ss')</td>
				</tr>
				#end
			</tfoot>
		</table>
		#parse('include/pageUtil.vm')
	</div><!-- end panelMid-->
<div class="panelBot"><em></em></div>
</div><!-- end content_left -->
<div id="height0"></div>
</div><!--end content-->
<div id="panel_bottom"></div>
<div id="height0"></div>
</body>
</html>