#set($firstCtype = '')
<div class="ticket_choose">
	<dl class="ui_media">
		<dt class="ui_pic">选择影厅：</dt>
		<dd class="ui_text" id="roomOutside">
			#foreach($ctype in $ctypeList)
				#if($foreach.count == 1)
					#set($firstCtype = $!ctype)
				#end
				<a id="$!ctype" href="javascript:void(0);">$!ctypeNameMap.get($ctype)厅</a>
			#end
		</dd>
	</dl>
</div>
<div id="cinemaSpePlayList"></div>