#*排片日期*#
#if(!$VmUtils.isEmptyList($playdateList))
<div class="ticket_choose ticket_choose_box">
	<dl class="ui_media">
		<dt class="ui_pic">选择时间：</dt>
		<dd class="ui_text" id="timeOutside">
			#foreach($playDate in $playdateList)
			#if($foreach.count lt 14)
				<a id="$playDate" href="javascript:void(0);" #if($VmUtils.eq($!playDate,$!fyrq) || ($VmUtils.isBlank($!fyrq) && $foreach.count == 1))class="select" #end>
					${DateUtil.format($playDate, 'M月d日')}
					#if($DateUtil.getDiffDay($playDate,$DateUtil.curDate) eq 0) 
						今天
					#else
						$DateUtil.getCnWeek($playDate)
					#end
				</a>
			#end
			#end
		</dd>
	</dl>
</div>
#end
#*排片日期*#
<div class="rank_con" id="cinemaPlayList" #if(!$VmUtils.isEmptyList($playdateList))style=""#set($isOpend=1)#else#set($isOpend=0)#end></div>