<data>
	<activityList>
	#foreach($activity in $activityList)
	#set($relate=$relateMap.get($activity.id))
	<activity>
		<id>$!{activity.id}</id>
		<title><![CDATA[$!{activity.title}]]></title>
		<contentdetail><![CDATA[$!VmUtils.getHtmlText($!{activity.contentdetail},5000)]]></contentdetail>	
		<atype>$!{activity.atype}</atype>
		<startdate>$!DateUtil.formatDate($!{activity.startdate})</startdate>
		<starttime>$!{activity.starttime}</starttime>
		<enddate>$!DateUtil.formatDate($!{activity.enddate})</enddate>
		<endtime>$!{activity.endtime}</endtime>
		<address><![CDATA[$!{activity.address}]]></address>
		<memberid>$!{activity.memberid}</memberid>
		<clickedtimes>$!{activity.clickedtimes}</clickedtimes>
		<addtime>$!DateUtil.formatTimestamp($activity.addtime)</addtime>
		<logo>${mobilePath}$activity.limg</logo>
		<duetime>$!DateUtil.formatTimestamp($!{activity.duetime})</duetime> 		
		<fromtime>$!DateUtil.formatTimestamp($!{activity.fromtime})</fromtime> 	
		<signtype><![CDATA[$!{activity.sign}]]></signtype>
		<collectedtimes>$!{activity.collectedtimes}</collectedtimes>
		<membercount>$!{activity.membercount}</membercount>	
		<pointx>$!relate.pointx</pointx>
		<pointy>$!relate.pointy</pointy>
	</activity>
	#end
	</activityList>
</data>