<!Doctype html>
<html>
<head><!-- SUCCESS_HEAD -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>出错了</title>
	<link rel="stylesheet" type="text/css" href="${staticPath}css/gewara.css?n=ui_layout,wide_movie&v=$VmUtils.jsVersion"/>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara.js?n=gewara-util,index_even&v=$VmUtils.jsVersion"></script>
	<style type="text/css">
		#if($headInfo)
		html{background:$!headInfo.css url($VmUtils.randomPic('',$!headInfo.logobig)) 0 50px repeat-x;}
		body{background:transparent url($VmUtils.randomPic('',$!headInfo.logosmall)) center 50px no-repeat;}
		#end
		.noLayout{background:url(${staticPath}css/movie_wide/404.gif) 0 100px no-repeat; height:160px; padding:100px 0 100px 235px; width:400px; margin:0 auto;}
		.noLayout h2{font:normal 30px/40px '微软雅黑',verdana,'宋体'; display:block;}
		.noLayout h3{display:block; font-size:12px; font-weight:normal; margin-top:10px;}
		.noLayout p{font-size:14px; color:#666; margin-top:20px;}
		.noLayout ul{margin-top:12px; height:23px; line-height:23px; padding-left:15px;}
		.noLayout a{margin-left:5px;}
		@media screen and (max-width:1200px) {
		    .ui_layout{width:960px;}
		}
	</style>
</head>
<body>
#parse('include/wide_header.vm')
<div class="ui_layout">
	<div class="noLayout">
		<h2>你浏览的网页暂时不能显示</h2>
		<h3>对不起，#if($msg)<em>$msg</em>#else你浏览的网页可能<em>已被删除或不存在！</em>#end</h3>
		<p>可以尝试以下方法：</p>
		<ul>
			<li>检查网址是否正确</li>
			<li>返回<a href="/">格瓦拉首页</a></li>
			<li>返回<a href="javascript:history.go(-1)">上一页</a></li>
		</ul>
	</div>
</div>
#parse('include/wide_footer.vm')
<!-- SUCCESS_BOTTOM -->
#if($sendGoogleAnalytics eq 'send')
<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E")); 
	try{
		var pageTracker = _gat._getTracker("UA-1810182-1");
		pageTracker._trackPageview("/500.html?page=" + document.location.pathname + document.location.search + "&from=" + document.referrer);
	} catch(err){}
</script>
#end
</body>
</html>