<data><!-- SUCCESS_HEAD -->
	<movieList>
	#foreach($movie in $dataMap)
	<movie>
		<movieid>$!movie.id</movieid>
		<moviename><![CDATA[$!movie.moviename]]></moviename>
		<generalmark>$!generalmarkMap.get($!movie.id)</generalmark>
		<boughtcount>$!movie.boughtcount</boughtcount>
		<logo>${mobilePath}$!movie.limg</logo>
		<highlight><![CDATA[$!movie.highlight]]></highlight>
		<releasedate>$!DateUtil.format($movie.releasedate,'yyyy-MM-dd')</releasedate>
		<director><![CDATA[$!movie.director]]></director>
		<actors><![CDATA[$!movie.actors]]></actors>
		<clickedtimes>$!movie.clickedtimes</clickedtimes>
		<gcedition>#if($VmUtils.contains($movie.edition, "4D"))4D#elseif($VmUtils.contains($movie.edition, "IMAX3D"))IMAX3D#elseif($VmUtils.contains($movie.edition, "IMAX"))IMAX#elseif($VmUtils.contains($movie.edition, "3D"))3D#end</gcedition>
		<diffrelease>$!diffReleaseMap.get($!movie.id)</diffrelease>
		<cinemacount>$!cinemaCountMap.get($!movie.id)</cinemacount>
        <mpicount>$!playItemCountMap.get($!movie.id)</mpicount>
		<videoid>$!movieVideoMap.get($!movie.id)</videoid>
		<language><![CDATA[$!movie.language]]></language>
		<type><![CDATA[$!movie.type]]></type>
	</movie>
	#end
	</movieList>
</data>
<!-- SUCCESS_BOTTOM -->