<data>
	<movieList>
		#foreach($movie in $dataMap)
		<movie>
			<movieid>$!movie.id</movieid>
			<moviename><![CDATA[$!movie.moviename]]></moviename>
			<englishname><![CDATA[$!movie.englishname]]></englishname>
			<generalmark>$!generalmarkMap.get($!movie.id)</generalmark>
			<length>$!movie.length</length>
			<director><![CDATA[$!movie.director]]></director>
			<actors><![CDATA[$!movie.actors]]></actors>
			<language><![CDATA[$!movie.language]]></language>
			<type><![CDATA[$!movie.type]]></type>
			<playdate>$!movie.playdate</playdate>
			<releasedate>$!DateUtil.format($!movie.releasedate,'yyyy年MM月dd日')</releasedate>
			<logo>${mobilePath}$!movie.limg</logo>
			<clickedtimes>$!movie.clickedtimes</clickedtimes>
			<presell>$!openPlayMap.get($!movie.id)</presell>
			<videoid>$!movieVideoMap.get($!movie.id)</videoid>
			<mpi>$!mpiMap.get($movie.id)</mpi>
			<opi>$!opiMap.get($movie.id)</opi>
			<gcedition>#if($VmUtils.contains($movie.edition, "4D"))4D#elseif($VmUtils.contains($movie.edition, "IMAX3D"))IMAX3D#elseif($VmUtils.contains($movie.edition, "IMAX"))IMAX#elseif($VmUtils.contains($movie.edition, "3D"))3D#end</gcedition>
		</movie>
		#end
	</movieList>
</data>