<data>
	<movieList>
	#foreach($opm in $opmList)
	<movie>
	<movieid>$!opm.id</movieid>
	<imdbid>$!opm.imdbid</imdbid>
	<moviename>$!opm.name</moviename>
	<logo>${mobilePath}sw300h300/$!opm.logo</logo>
	<content>$!opm.director/$!opm.actors</content>
	<language>$!opm.language</language>
	<length>$!opm.length</length>
	#if($version eq '2')
	<generalmark>$!generalmarkMap.get($opm.id)</generalmark>
	<type>$!opm.type</type>
	<state>$!opm.state</state>
	<director><![CDATA[$!opm.director]]></director>
	<actors><![CDATA[$!opm.actors]]></actors>
	<highlight><![CDATA[$!opm.highlight]]></highlight>
	<releasedate>$!DateUtil.format($!opm.releasedate,'yyyy-MM-dd')</releasedate>
	<englishname><![CDATA[$!opm.englishname]]></englishname>
	<filmfirm><![CDATA[$!opm.filmfirm]]></filmfirm>
	<introduction><![CDATA[$!VmUtils.getHtmlText($!opm.content, 800)]]></introduction>
	#end
	</movie>
	#end
	</movieList>
</data>