<data>
	<room>
		<roomid>$room.id</roomid>
		<cinemaid>$room.cinemaid</cinemaid>
		<roomname>$room.roomname</roomname>
		<linenum>$room.linenum</linenum>
		<ranknum>$room.ranknum</ranknum>
		<seatList>
			#foreach($row in [1..$room.linenum])
			<row><rownum>$row</rownum><rowid>$!rowMap.get($row)</rowid><columns>$!lineMap.get($row)</columns></row>
			#end
		</seatList>
	</room>
</data>
