<div class="checkOrder"  id="countMenu"><h2>数据统计</h2></div>
<div style="float: left;width: 140px;">
	<div style="margin-top: 20px;"></div>
	<div onclick="javascript:hid(this)" style="cursor: pointer;">隐藏导航</div>
	<div style="height: 20px;padding-top: 10px;" #if($isRegCount)class="match"#end><a href="${basePath}admin/mobile/regCount.xhtml">注册统计</a></div>
	<div style="height: 20px;padding-top: 10px;" #if($isOperCount)class="match"#end><a href="${basePath}admin/mobile/operationCount.xhtml">运营数据</a></div>
	<div style="height: 20px;padding-top: 10px;" #if($isPayCount)class="match"#end><a href="${basePath}admin/mobile/payCount.xhtml">付费数据</a></div>
	<div style="height: 20px;padding-top: 10px;" #if($isMemberCount)class="match"#end><a href="${basePath}admin/mobile/memberOrderCount.xhtml">用户行为</a></div>
	<div style="height: 20px;padding-top: 10px;" #if($isOrderCount)class="match"#end><a href="${basePath}admin/mobile/orderCount.xhtml">购物频率</a></div>
	<div style="height: 20px;padding-top: 10px;" #if($isAppSource)class="match"#end><a href="${basePath}admin/mobile/appsourceInfo.xhtml">客户端数据统计</a></div>
</div>
<script>
	function hid(e){
		e.getParent("div").dispose();
		$('countMenu').dispose();
		$('form').dispose();
	}
</script>