<div class="checkOrder"  id="countMenu"><h2>数据统计</h2></div>
<div style="float: left;width: 140px;">
	<div style="margin-top: 20px;"></div>
	<div onclick="javascript:hid(this)" style="cursor: pointer;">隐藏导航</div>
	<div style="height: 20px;padding-top: 10px;" #if($isPartnerOrder)class="match"#end><a href="${basePath}admin/datacount/partner/partnerOrderCount.xhtml">合作伙伴</a></div>
	<div style="height: 20px;padding-top: 10px;" #if($isMobile)class="match"#end><a href="${basePath}admin/datacount/partner/mobilePayCount.xhtml">手机支付</a></div>
	<div style="height: 20px;padding-top: 10px;" #if($isNet)class="match"#end><a href="${basePath}admin/datacount/partner/netPayCount.xhtml">网站支付</a></div>
	<div style="height: 20px;padding-top: 10px;" #if($isSpecial)class="match"#end><a href="${basePath}admin/datacount/partner/specialDiscount.xhtml">特殊活动</a></div>
</div>
<script>
	function hid(e){
		e.getParent("div").dispose();
		$('countMenu').dispose();
		$('form').dispose();
	}
</script>