<div class="checkOrder" id="countMenu"><h2>数据统计</h2></div>
<div style="float: left;width: 140px;">
	<div style="margin-top: 20px;"></div>
	<div onclick="javascript:hid(this)" style="cursor: pointer;">隐藏导航</div>
	<div style="height: 20px;padding-top: 10px;" #if($isCinemaCount)class="match"#end><a href="${basePath}admin/datacount/ticket/cinemaCount.xhtml">影院信息统计</a></div>
	<div style="height: 20px;padding-top: 10px;" #if($isCityOrderCount)class="match"#end><a href="${basePath}admin/datacount/ticket/cityOrderCount.xhtml">城市订单统计</a></div>
	<div style="height: 20px;padding-top: 10px;" #if($isOrderCount)class="match"#end><a href="${basePath}admin/datacount/ticket/orderCount.xhtml">订单信息统计</a></div>
	<div style="height: 20px;padding-top: 10px;" #if($isPartner)class="match"#end><a href="${basePath}admin/datacount/partner/partnerCount.xhtml">订单来源统计</a></div>
	<div style="height: 20px;padding-top: 10px;" #if($isMealCount)class="match"#end><a href="${basePath}admin/datacount/ticket/mealCount.xhtml">电影增值产品统计</a></div>
	<div style="height: 20px;padding-top: 10px;" #if($isActivityCount)class="match"#end><a href="${basePath}admin/datacount/ticket/activityCount.xhtml">收费活动统计</a></div>
	<div style="height: 20px;padding-top: 10px;" #if($isGold)class="match"#end><a href="${basePath}admin/datacount/ticket/goldTimeCount.xhtml">黄金时间</a></div>
	<div style="height: 20px;padding-top: 10px;" #if($isOrderList)class="match"#end><a href="${basePath}admin/datacount/ticket/orderList.xhtml">详细查询</a></div>
</div>
<script>
	function hid(e){
		e.getParent("div").dispose();
		$('countMenu').dispose();
		$('form').dispose();
	}
</script>