<div class="movieInformation">
	#if(!$VmUtils.isEmptyList($newsList))
	<ul>
		#foreach($news in $newsList)
		<li>
			<div class="mod_kong">
				<div class="mod_hd">
					<h2>
						<a target="_blank" href="$!news.getLink($basePath)" >$!VmUtils.htmlabbr($!news.title,50)</a>
					</h2>
					<span class="author">作者：$!news.author<span class="ml15">发表时间：$DateUtil.format($!news.addtime, 'yyyy-MM-dd')</span></span>
					<p class="more voteU" style="right:0;">
						#set($tipsMap=$VmUtils.readJsonToMap($news.otherinfo))
						<span class="votenum">#if($diaryPointMap.get('tips')) $!news.clickedtimes #else 0 #end</span>
						<span class="votezi">喜欢</span>
					</p>
				</div>
				<div class="mod_bd mt10">
					<div class="ui_media">
						<div class="ui_pic">
							<a href="$!news.getLink($basePath)" target="_blank">
								<img src="$VmUtils.randomPic('cw160h120',$!news.limg)"  alt="" height="120" width="160"/>
							</a>
						</div>
						<div class="ui_text">
							<p>
								$!VmUtils.htmlabbr($news.content,300)……<a target="_blank" class="ui_readMore" href="$!news.getLink($basePath)">阅读全文&gt;&gt;</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</li>
		#end
	</ul>
	#else
	<div class="new_List mt30 fs14">当前演出还没有相关资讯</div>
	#end
</div>