#if(!$VmUtils.isEmptyList($troupeList))
<div class="mod_kong dramaStar">
	<div class="mod_hd">
		<h2>机构明星</h2>
	</div>
	<div class="mod_bd">
		<ul>
			#foreach($troupe in $troupeList)
			<li>
				<dl class="ui_media">
					<dt class="ui_pic">
						<a href="${basePath}drama/star/$troupe.id" title="$troupe.name" target="_blank">
							<img src="$VmUtils.randomPic('cw96h128',$troupe.limg)" alt="$troupe.name" width="96" height="128"/>
						</a>
					</dt>
					<dd class="ui_text c999">
						<p><a href="${basePath}drama/star/$troupe.id" title="$troupe.name" target="_blank" class="c80 fs14 bold">$troupe.name</a></p>
						#if($!troupe.graduated)<p class="mt5">毕业院校：$!troupe.graduated</p>#end
						#if($!troupe.job)<p class="mt5">职    业：$!troupe.job	</p>#end
						#if(!$VmUtils.isEmptyList($troupeMap.get($troupe.id)))
							<p class="mt5">
								#foreach($drama in $troupeMap.get($troupe.id))
								<a href="${basePath}drama/$drama.id" class="mr5" target="_blank">《$drama.name》</a>
								#end
							</p>
						#end
					</dd>
				</dl>
			</li>
			#end
		</ul>
	</div>
</div>
#end
