<div class="mod_kong hotTheatre">
	<div class="mod_hd">
		<h2>热门场馆</h2>
	</div>
	<div class="mod_bd">
		<ul class="clear">
			#foreach($theatreGc in $theatreList)
			#set($theatre=$relatedHelper.getR1("theatreList",$theatreGc.id))
			#set($gmark=$VmUtils.getSingleMarkStar($theatre, "general")) #set($gmark1=$gmark/10) #set($gmark2=$gmark%10)
			<li>
				<span class="name">
					<a href="${basePath}theatre/$theatre.id" title="$!theatre.name" target="_blank" class="t">$!theatre.name</a>
				</span>
				<span class="snum">
					$!curDramaCountMap.get($theatre.id)部演出在上演
				</span>
				<span class="grade">
					<sub>$!gmark1</sub>
					<sup>.$!gmark2</sup>
				</span>
				<em class="c999">[$!theatre.countyname]</em>
			</li>
			#end
		</ul>
	</div>
</div>
