#if(!$VmUtils.isEmptyList($activityList))
<div class="mod_kong ychd">
	<div class="mod_hd">
		<h2>场馆活动</h2>
		<a class="more" target="_blank" href="${basePath}activity/activityList.xhtml">更多&gt;&gt;</a>
	</div>
	<div class="mod_bd">
		<ul class="act_list clear mt5">
			#foreach($activity in $activityList)
				<li>
					<dl class="ui_media">
						<dt class="ui_pic">
							<a href="${basePath}activity/$activity.id" title="$!activity.title" target="_blank">
								<img src="$!VmUtils.randomPic(cw150h200, $activity.logo)" alt="$!activity.title" width="96" height="128"/>
							</a>
						</dt>
						<dd class="ui_text c33">
							<a href="${basePath}activity/$activity.id" title="$!activity.title" target="_blank" class="fs14 bold">$!activity.title</a>
							<p class="mt10">
							$!DateUtil.format($!hotDrama.releasedate, 'MM月dd日') 
							#if($hotDrama.enddate) - $!DateUtil.format($!hotDrama.enddate, 'MM月dd日') 
							#end
							</p>
							<p>$!activity.address</p>
							<p class="mt10 c999">$!activity.clickedtimes 关注 <span class="join ml10">$!activity.membercount</span></p>
						</dd>
					</dl>
				</li>
			#end
		</ul>
	</div>
</div>
#end