#if(!$VmUtils.isEmptyList($pictureList))
<div class="mod_kong theatreMien mt30">
	<div class="mod_hd">
		<h2>剧照</h2><span>($!{pictureCount})</span>
		##<a href="javascript:addDramaPicture();" class="more posr" target="_blank"><b class="jia">+</b>添加剧照</a>
	</div>
	<div class="mod_bd">
		<ul class="clear">
			#foreach($picture in $pictureList)
			<li #if($foreach.count % 6==0) style="margin-right:0;"#end>
				<a href="${basePath}drama/dramaPicDetail.xhtml?dramaid=$drama.id&pid=$picture.id" title="" target="_self">
					<img src="$VmUtils.randomPic('cw128h96',$picture.picturename)" alt="" width="130" height="96"/>
				</a>
			</li>
			#end
		</ul>
	</div>
</div>
#end
#if(!$VmUtils.isEmptyList($dramaVideoList))
<div class="mod_kong theatreMien">
	<div class="mod_hd">
		<h2>视频</h2><span>($!{allVideoCount})</span>
	</div>
	<div class="mod_bd">
		<ul class="clear">
			#foreach($video in $dramaVideoList)
			<li #if($foreach.count % 6==0) style="margin-right:0;"#end>
				<a title="" href="${basePath}drama/dramaVideoDetail.xhtml?vid=$video.id" target="_blank">
					<img src="$VmUtils.randomPic('cw128h96',$!video.limg)" alt="$!video.videotitle" width="130" height="96"/>
				</a>
			</li>
			#end
		</ul>
	</div>
</div>
#end
