<div class="mod_kong greet10">
	<div class="mod_hd">
		<h2>人气剧目Top10</h2>
	</div>
	<div class="mod_bd">
		<ul class="clear" id="greetList">
			#foreach($hotDrama in $hotDramaList)
			<li class="#if($foreach.count lt 4) topThree #end #if($foreach.count eq 1) select #end ">
				<div class="g1">
					<em class="num">$foreach.count</em>
					<div class="grlist">
						<span>$hotDrama.clickedtimes 人关注</span>
						<a href="${basePath}drama/$hotDrama.id" title="#if($!hotDrama.briefname)$hotDrama.briefname #else $hotDrama.dramaname #end" target="_blank" class="ati">#if($!hotDrama.briefname)$hotDrama.briefname #else $hotDrama.dramaname #end</a>
					</div>
				</div>
				<div class="g2 clear">
					<em class="num">$foreach.count</em>
					<div class="ui_media drBt">
						<div class="ui_picR">
							<a target="_blank" href="${basePath}drama/$hotDrama.id" title="#if($!hotDrama.briefname)$hotDrama.briefname #else $hotDrama.dramaname #end"  class="x">
								<img width="96" height="128" alt="" src="$VmUtils.randomPic('cw150h200', $!hotDrama.limg)" />
							</a>
						</div>
						<div class="ui_text greetext">
							<a href="${basePath}drama/$hotDrama.id" title="#if($!hotDrama.briefname)$hotDrama.briefname #else $hotDrama.dramaname #end" target="_blank" class="t">#if($!hotDrama.briefname)$hotDrama.briefname #else $hotDrama.dramaname #end</a>
							<p class="mt5 t_1">$!hotDrama.highlight</p>
							<p class="mt5 c999 t_2"><span>$hotDrama.clickedtimes</span>人关注</p>
							<p class="mt10 t_3">
								<a class="button bigBt redBt" target="_blank" href="${basePath}drama/$!hotDrama.id"><span>#if($openSeatList.contains($hotDrama.id))<em class="bt_seat">选座购票</em>#else立即购票#end</span></a>
							</p>
						</div>
					</div>
				</div>
			</li>
			#end
		</ul>
	</div>
</div>
<script type="text/javascript">
window.addEvent('domready',function(){
	greetListTab();
})
function greetListTab(){
	var elements = $$('#greetList li');
	if(elements !=null){
		elements.addEvent('mouseover',function(){
			elements.each(function(item){
				item.removeClass('select');
			})
			this.addClass('select');
		})
	}
}
</script>