<ul class="payOrderSteps clear">
	<li class="step1">1.选择剧目场次</li>
	#if($item.openseat)
	<li class="step2">2.选择区域座位</li>
	<li class="step3">3.确认订单及取票方式</li>
	<li class="step4">4.选择支付方式</li>
	#else
	<li class="step2">2.确认订单及取票方式</li>
	<li class="step3">3.选择支付方式</li>
	<li class="step4">4.支付成功</li>
	#end
</ul>