<b>-------------------------$!total</b>
<table class="table">
<thead>
<tr>
	<th style="width:200px;">idcard</th>
	<th style="width:666px;">decry</th>
	<th style="width:666px;">encryold</th>
	<th style="width:666px;">encrynew</th>
</tr>
</thead>
#foreach($map in $list)
<tr>
	<td>$!map.idcard</td>
	<td>$!map.decry</td>
	<td>$!map.encryold</td>
	<td>$!map.encrynew</td>
</tr>
#end
</table>
