<div class="mod_title">
	<div class="mod_hd">
		<h2>公共库</h2>
	</div>
	<div class="mod_bd">
		<div class="mod_cont">
			<table cellpadding="0" cellspacing="0" width="100%" class="isTable">
				<colgroup>
					<col style="width:30%"/>
					<col style="width:70%"/>
				</colgroup>
				<tbody>
					<tr>
						<td>提示</td>
						<td>
							<div class="ui_success">操作成功提示！</div>
							<div class="ui_success"><b class="ico_g"></b>带图标操作成功提示！</div>
							<div class="ui_warning">操作警告提示！</div>
							<div class="ui_warning"><b class="ico_g"></b>带图标操作警告提示！</div>
							<div class="ui_error">操作失败提示！</div>
							<div class="ui_error"><b class="ico_g"></b>带图标操作失败提示！</div>
						</td>
					</tr>
					<tr>
						<td>地图</td>
						<td>
							<p class="c999">任何频道、任何应用场景都只能使用该展示方式(商务合作和专题页面不包括在内)。</p>
							<span class="ffst">[<a class="blue" target="_blank" href="#">地图</a>]</span>
						</td>
					</tr>
					<tr>
						<td>更多</td>
						<td><span class="ffst"><a target="_blank" href="#">更多&gt;&gt;</a></span></td>
					</tr>
					<tr>
						<td>tag标签</td>
						<td>
							<p class="c999">官方图标title统一显示文字：“格瓦拉官方认证活动”；商家图标title统一显示文字：“格瓦拉商家活动”。</p>
							<span class="official" title="格瓦拉官方认证活动"></span><span title="格瓦拉商家活动" class="business"></span>
						</td>
					</tr>
					<tr>
						<td>用户头像</td>
						<td>
							<p class="c999">头像下方出现用户名时，90*90统一做12个字符截取，50*50统一做8个字符截取，title显示全称，30*30不显示用户名。</p>
							<ul class="ul_line center">
								<li>
									<p><a href="#" target="_blank" class="picmax" title="用户名"><img alt="用户名" width="50" height="50" src="http://img5.gewara.cn/cw90h90/images/201205/headpic/s_19ae44cf_1375f7df1d2__7d48.jpg" /></a></p>
									<p><a href="#" target="_blank" title="用户名用户名用户名用户名">用户名用户名</a></p>
									<p>90*90</p>
								</li>
								<li>
									<p><a href="#" target="_blank" class="pubpic" title="用户名"><img alt="用户名" width="50" height="50" src="http://img5.gewara.cn/cw50h50/images/201205/headpic/s_19ae44cf_1375f7df1d2__7d48.jpg" /></a></p>
									<p><a href="#" target="_blank" title="用户名用户名用户名用户名">用户名用</a></p>
									<p>50*50</p>
								</li>
								<li>
									<p><a href="#" target="_blank" class="picmin" title="用户名"><img alt="用户名" width="50" height="50" src="http://img5.gewara.cn/cw30h30/images/201205/headpic/s_19ae44cf_1375f7df1d2__7d48.jpg" /></a></p>
									<p>30*30</p>
								</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>