<div class="mod_title">
	<div class="mod_hd">
		<h2>规范</h2>
	</div>
	<div class="mod_bd">
		<div class="mod_cont">
			<h3>一些约定</h3>
			<dl class="dl_28">
				<dt>1、样式名称<b>首字母</b>统一为小写字母，不能为数字，下划线及特殊字符；</dt>
				<dt>1、样式名尽量语义化或简写；</dt>
				<dt>1、页面中空格的使用：全角：<b>中文空格</b> 半角:<b>&amp;nbsp;</b>；</dt>
				<dt>1、使用 px(像素)为基本计量单位；</dt>
				<dt>1、给图片加上<b>alt</b>属性；小于50*50的图片<b>alt=""</b>为空，给重要的元素和截断的元素加上title；当图片嵌套于链接内时，title加在链接上，alt加在图片上。</dt>
				<dd>例：&lt;a href=&quot;#&quot; title=&quot;描述&quot;&gt;&lt;img alt=&quot;描述&quot; width=''50&quot; height=&quot;50&quot; src=&quot;images/logo.gif&quot;/&gt;&lt;/a&gt;&lt;/code&gt;</dd>
				<dt>1、非特殊情况下要求表现和内容分离，代码中不要涉及任何表现的元素，例如：style、font 等；</dt>
				<dt>1、双标记签都要有开始和结束标签，单标记标签的后面一定要加“ /”,例如：&lt;br /&gt;等，并且有正确的层次；</dt>
			</dl>
		</div>
		<div class="mod_cont">
			<h3>命名规则</h3>
			<dl class="dl_28">
				<dt>1、全局样式以“ui_”开头；</dt>
				<dd>如：ui_layout，新增该类样式须申报相关负责人，不能随意新增。</dd>
				<dt>2、频道样式以“ui_频道名”开头;</dt>
				<dd>如：ui_gym_layout，新增该类样式须申报相关负责人，不能随意新增。</dd>
			</dl>
		</div>
	</div>
</div>