<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<title>配送方式列表</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/default.css" />
	<link rel="stylesheet" type="text/css" href="${staticPath}styles/base.css"/>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara-util.js?v=$VmUtils.jsVersion"></script>
</head>
<body style="margin:auto">
<div style="padding:1px;">
	<span>配送方式</span>&gt;&gt;
	<span style="float:right;"><a href="${basePath}admin/express/getExpressConfig.xhtml" >新增配送方式</a></span>
</div>
<table class="table clear">
	<thead>
	<tr>
		<th>编号</th>
		<th>配送方式名称</th>
		<th>配送方式描述</th>
		<th>配送物流平台</th>
		<th>添加时间</th>
		<th>修改时间</th>
		<th>操作</th>
	</tr>
	</thead>
	<tbody id="cinemaTable">
	#foreach($expressConfig in $expressConfigList)
	<tr>
		<td>$!{expressConfig.id}</td>
		<td>$!{expressConfig.name}</td>
		<td>$!{expressConfig.remark}</td>
		<td>$!expressTypeMap.get($!{expressConfig.expresstype})</td>
		<td>$!DateUtil.formatTimestamp(${expressConfig.addtime})</td>
		<td>$!DateUtil.formatTimestamp(${expressConfig.updatetime})</td>
		<td>
			<a href="${basePath}admin/express/getExpressConfig.xhtml?id=$!expressConfig.id">编辑</a>
			<a href="${basePath}admin/express/getExpressProvinceList.xhtml?expressid=$!expressConfig.id" >设置配送区域</a>
		</td>
	</tr>
	#end
	</tbody>
</table>
</body>
</html>
