<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<title>票面模板列表</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/default.css" />
	<link rel="stylesheet" type="text/css" href="${staticPath}styles/base.css"/>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara-util.js?v=$VmUtils.jsVersion"></script>
</head>
<body style="margin:auto">
<div style="padding:1px;">
	<span>票面模板</span>&gt;&gt;
	<span style="float:right;"><a href="${basePath}admin/express/getTicketFaceConfig.xhtml" >新增票面模板</a></span>
</div>
<table class="table clear">
	<thead>
	<tr>
		<th>编号</th>
		<th>票面模板描述</th>
		<th>添加时间</th>
		<th>修改时间</th>
		<th>操作</th>
	</tr>
	</thead>
	<tbody id="cinemaTable">
	#foreach($faceConfig in $faceConfigList)
	<tr>
		<td>$!{faceConfig.id}</td>
		<td>$!{faceConfig.remark}</td>
		<td>$!DateUtil.formatTimestamp(${faceConfig.addtime})</td>
		<td>$!DateUtil.formatTimestamp(${faceConfig.updatetime})</td>
		<td>
			<a href="${basePath}admin/express/getTicketFaceConfig.xhtml?id=$!faceConfig.id">编辑</a>
		</td>
	</tr>
	#end
	</tbody>
</table>
</body>
</html>
