<data>
<movieList>
	#foreach($movie in $mpiList)
	<movie>
		<movieid>$!movie.id</movieid>
		<moviename><![CDATA[$!movie.moviename]]></moviename>
		<logo>${picPath}sw300h300/$!movie.logo</logo>
		<length>$!movie.length</length>
		<type>$!movie.type</type>
		<state>$!movie.state</state>
		<director><![CDATA[$!movie.director]]></director>
		<actors><![CDATA[$!movie.actors]]></actors>
		<highlight><![CDATA[$!movie.highlight]]></highlight>
		<releasedate>$!DateUtil.format($!movie.releasedate,'yyyy-MM-dd')</releasedate>
		<englishname><![CDATA[$!movie.englishname]]></englishname>
	</movie>
	#end
</movieList>
</data>