<data>
<cinemaList>
#foreach($cinema in $cinemaList)
<cinema>
	<cinemaid>$!cinema.id</cinemaid>
	<cinemaname>$!cinema.name</cinemaname>
	<briefname>$!cinema.realBriefname</briefname>
	<address><![CDATA[$!VmUtils.getHtmlText($!{cinema.address},10000)]]></address>
	<contactphone><![CDATA[$!VmUtils.getHtmlText($!{cinema.contactphone},100)]]></contactphone>
	<logo>${picPath}$!cinema.logo</logo>
	<takemethod>$!cpMap.get($cinema.id).takemethod</takemethod>
	<countycode>$!cinema.countycode</countycode>
	<citycode>$!cinema.citycode</citycode>
	#if($version eq '2')
	<pointx>$!cinema.pointx</pointx>
	<pointy>$!cinema.pointy</pointy>
	#end
</cinema>
#end
</cinemaList>	
</data>
	