<data>
	#foreach($opi in $opiList)
	<opi>
		<mpid>$!opi.mpid</mpid>
		<movieid>$!opi.movieid</movieid>
		<moviename>$!opi.moviename</moviename>
		<cinemaid>$!opi.cinemaid</cinemaid>
		<cinemaname>$!opi.cinemaname</cinemaname>
		<playtime>$!DateUtil.format($opi.playtime,'yyyy-MM-dd HH:mm:ss')</playtime>
		<price>$priceHelper.getPrice($opi)</price>
		<servicefee>$priceHelper.getServiceFee($opi)</servicefee>
		<costprice>$!opi.price</costprice>
		<gewaprice>$priceHelper.getPrice($opi)</gewaprice>
		<language>$!opi.language</language>
		<edition>$!opi.edition</edition>
		<closetime>$!DateUtil.format($opi.closetime,'yyyy-MM-dd HH:mm:ss')</closetime>
		<dayotime>$!opi.dayotime</dayotime>
		<dayctime>$!opi.dayctime</dayctime>
		#if($apiUser.isRole('addOrderApi'))<roomid>$opi.roomid</roomid>#end
		<roomname>$opi.roomname</roomname>
		#if($VmUtils.isNotBlank($opi.elecard))<cardtype>$opi.elecard</cardtype>#end
		#if($VmUtils.isBlank($VmUtils.getJsonValueByKey($opi.otherinfo, 'sptitle')))
		<special>F</special>#else<special>T</special>#end
	</opi>
	#end
</data>