<div class="gb-qa-search">
	<h1><strong>格瓦拉知道</strong>......</h1>
	<div class="qa-input">
		<label><input type="text" name="keyword" id="keyword" value="$!VmUtils.escapeHtml($params.keyname)"/></label>
		<input type="button" class="a" onclick="searchQuestion('keyname',$('keyword').value)"/>
		<input type="button" class="q" onclick="question()"/>
	</div>
	<p>格瓦拉知道是个生活互助问答平台，关于电影、KTV、酒吧、健身、运动中的任何问<br/>题都会得到专业人士、健身运动教练、场馆负责人员以及热心网友的回答。
	<strong><a href="javascript:void(0)" class="white" onclick="javascript:showApplyDialog()">申请为知道专家</a></strong>
	</p>
</div>
<form id="searchForm" action="${basePath}qa/questionList.xhtml">
	<input type="hidden" name="order" id="order" value="$!VmUtils.escapeHtml($params.order)"/>
	<input type="hidden" name="keyname" id="keyname" value="$!VmUtils.escapeHtml($params.keyname)"/>
	<input type="hidden" name="status" id="status" value="$!VmUtils.escapeHtml($params.status)"/>
	<input type="hidden" name="tag" id="tag" value="$!VmUtils.escapeHtml($params.tag)"/>
	<input type="hidden" name="category" id="category" value="$!VmUtils.escapeHtml($params.category)"/>
	<input type="hidden" name="relatedid" id="relatedid" value="$!VmUtils.escapeHtml($params.relatedid)"/>
	<input type="hidden" name="categoryid" id="categoryid" value="$!VmUtils.escapeHtml($params.categoryid)"/>
</form>
	<script type="text/javascript">
function searchQuestion(e,value){
	$('searchForm').getElements('input').each(function(item){item.value=''});
	$(e).value = value;
	$('searchForm').submit();
}

function question(){
	checkLogin(true,function(){
		document.location='${basePath}qa/modQuestion.xhtml';
	});
}
</script>