 body,h1,h2,h3,ul,ol,form,p{margin:0 0;padding:0 0;font-size:medium;line-height:1.25em;}
 a{color:#00E; text-decoration:none;}
 a:link, a:visited{color:#00d; text-decoration:none;}
 img{border:none;} 
 ul,ol{list-style:none;}
 li{padding:2px 2px; border-bottom:1px solid #eee;}
 .ct{vertical-align:center;} 
 .md{vertical-align: middle;}
 .red{color:#FF0000;}
 .c_o{color:#ff6600;}
 #footer{margin-top:4px;}
 #head{background-color:#ff6600;}
 h3{background-color: gray; color: #fff; font-weight: bold;}
