#set($cityLen=$VmUtils.size($cityMap))
<div class="ui_footer">
	<div class="ui_layout ui_layout_footer">
		<div class="siteList">
			#parse('include/constant/city.vm')
			#set($cityMap={'shanghai':'上海','beijing':'北京',
					'hangzhou':'杭州', 'ningbo':'宁波', 'jiaxing':'嘉兴', 'shaoxing':'绍兴',
					'huzhou':'湖州', 'taizhou':'台州','nanjing':'南京', 'wuxi':'无锡', 'changzhou':'常州', 
					'suzhou':'苏州',	'nantong':'南通','guangzhou':'广州', 'shenzhen':'深圳','foshan':'佛山',
					'wuhan':'武汉','chongqing':'重庆','chengdu':'成都','tianjin':'天津','hefei':'合肥','fuzhou':'福州'
				})
			<p><b>格瓦拉：</b>#foreach($key in $cityMap.keySet())<a rel="nofollow" href="${basePath}$key">$cityMap.get($key)</a><span>|</span>#end<a href="${basePath}cityList.xhtml">更多</a></p>
		</div>
		<div class="aboutGewara clear">
			<div class="left">
				<dl class="links">
					<dt><span title="格瓦拉生活网" class="logo">格瓦拉生活网</span></dt>
					<dd>
						<a href="${basePath}service/about.dhtml" target="_blank" rel="nofollow">关于我们</a><span>|</span>
						<a href="${basePath}helpCenter/index.dhtml" target="_blank" rel="nofollow">帮助中心</a><span>|</span>
						<a href="${basePath}service/marketing.dhtml" target="_blank" rel="nofollow">联系我们</a><span>|</span>
						<a href="${basePath}service/treaty.dhtml" target="_blank" rel="nofollow">服务条款</a><span>|</span>
						<a href="${basePath}service/law.dhtml" target="_blank" rel="nofollow">法律声明</a><br />
						<a href="${basePath}service/buss.dhtml" target="_blank" rel="nofollow">商家登陆</a><span>|</span>
						<a href="${basePath}subject/advertIndex.xhtml" target="_blank" rel="nofollow">团体购票</a><span>|</span>
						<a href="${basePath}service/job.dhtml" target="_blank" rel="nofollow">招聘英才</a><span>|</span>
						<a href="${basePath}link.dhtml" target="_blank">友情链接</a>
					</dd>
				</dl>
			</div>
			<div class="right">
				<dl class="contact">
					<dt></dt>
					<dd>客服电话<br /><b>4000-406-506</b></dd>
				</dl>
				<dl class="apps">
					<dt>手机版</dt>
					<dd><a href="${basePath}mobile/index.xhtml" title="iPhone版" target="_blank">iPhone版</a><a class="android" href="${basePath}mobile/index.xhtml" title="Android版" target="_blank">Android版</a></dd>
				</dl>
			</div>
		</div>
		<div class="ui_copyright">
			<p>
				<span>Copyright &copy; 2007–2013 Gewara.</span>
				<span>All Rights Reserved</span>
				<span><a href="http://www.miibeian.gov.cn/" target="_blank">沪ICP备09050772号</a></span>
				<span>ICP证：沪B2-20120044</span>
			</p>
			<p class="footer_tag">
				<a href="http://online.unionpay.com/static/merchant/sgmc_9_1_1.html" target="_blank" rel="nofollow"><img src="${staticPath}css/images/blank.gif" width="146" height="44"/></a>
				<a href="https://ss.cnnic.cn/verifyseal.dll?sn=2011052300100008956" target="_blank" rel="nofollow"><img src="${staticPath}css/images/blank.gif" width="115" height="44" style="background-position:0 -135px"/></a>
				<a href="http://www.ectrustprc.org.cn/certificate.id/certificateb.php?id=20098540" target="_blank" rel="nofollow"><img src="${staticPath}css/images/blank.gif" width="140" height="44" style="background-position:0 -45px"/></a>
				<a href="https://www.alipay.com/aip/aip_validate_list.htm?trust_id=AIP01027377" target="_blank" rel="nofollow"><img src="${staticPath}css/images/blank.gif" width="135" height="44" style="background-position:0 -90px"/></a>
				<a href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=20120326180136168" target="_blank" rel="nofollow"><img src="${staticPath}css/images/blank.gif" height="44" width="115" style="background-position:0 -180px"/></a>
				<a href="http://pinggu.zx110.org/review_url_www.gewara.com" target="_blank" rel="nofollow"><img src="${staticPath}css/images/blank.gif" height="44" width="115" style="background-position:0 -225px"/></a>
				#*<a href="http://sh.cyberpolice.cn/infoCategoryListAction.do?act=initjpg" target="_blank" rel="nofollow"><img src="${staticPath}css/images/blank.gif" height="44" width="115" style="background-position:0 -270px"/></a>*#
			</p>
		</div>
	</div>
</div>
<div id="backTopBox">
	#if(!$!iskefu)
	<a class="ui_online" href="javascript:void(0);" onclick="javascript:window.open('/chat.html','gewara','height=473,width=703,top=200,left=200,status=yes,toolbar=no,menubar=no,resizable=no,scrollbars=no,location=no,titlebar=no');">在线客服</a>
	#end
	<a class="ui_asq" target="_blank" href="${basePath}home/acct/advise.xhtml">意见反馈</a>
</div>
#*
#parse('include/home/userResponse.vm')
*#
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-1810182-1']);
_gaq.push(['_setCustomVar', 1,'userlogin','$!logonMember.id',1]);
_gaq.push(['_addOrganic', 'baidu', 'word']);
_gaq.push(['_addOrganic', 'baidu', 'w']);
_gaq.push(['_addOrganic', 'baidu', 'q1']);
_gaq.push(['_addOrganic', 'google', 'as_q']);
_gaq.push(['_addOrganic', 'soso', 'w']);
_gaq.push(['_addOrganic', 'yodao', 'lq']);
_gaq.push(['_addOrganic', 'sogou', 'query']);
_gaq.push(['_addOrganic', '360', 'q']);
_gaq.push(['_addOrganic', 'so.com', 'q']);
#if($pageTrack)
_gaq.push(['_trackPageview', '$pageTrack']);
#else
_gaq.push(['_trackPageview']);
#end
window.addEvent('domready',function(){
	#if($sendGoogleAnalytics eq 'send')
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = 'http://www.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	#end
	$$(".ADPOSITION").each(function(item){
		var a = item.getElement('a');
		var img = a.getElement('img');
		var pid = item.getElement("input").value;
		if(img && pid) {
			GewaraUtil.sendRequest("${basePath}ajax/common/getRandomAd.xhtml",{"pid":pid}, function(result){
				if(result.success && result.adpath){
					item.removeClass("none");
					img.src=result.adpath;
					img.alt=result.title;
					a.href=result.link;
					a.title=result.title;
					a.addEvent('click',function(){
						_gaq.push(['_trackEvent', 'AD', result.pid, result.logicaldir]);
					});
				}else{
					item.empty();
				}
			}, 'get');
		}
	});
});
</script>
<!-- SUCCESS_BOTTOM -->