<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<title>问券调查信息</title>
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/default.css" />
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/default.css" />
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/container.css"></link>
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/button.css"></link>
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara-util.js?v=${VmUtils.jsVersion}"></script>
	<script type="text/javascript" src="${staticPath}ckeditor/ckeditor.js"></script>
</head>
<body class="yui-skin-sam" style="width:720px;margin:auto">
<div id="gymDialog" class="yui-panel" style="width:710px;margin:auto">
<div class="hd">编辑问券调查&nbsp;&nbsp;</div>
<div class="bd">
	<form name="surveyForm" id="surveyForm" action="javascript:saveSurvey()" method="post">
		<div>
			<label for="title">标题：</label>
			<input name="title" id="title" style="width:130px" type="text" value="$!survey.title"/>
			<label for="tag" style="float:none; width:90px;text-align:right;">确定类别：</label>
			<input name="tag" id="tag" style="width:100px" type="text" value="$!survey.tag" />
			<label for="category">分类：</label>
			<input name="category" id="category" style="width:100px" type="text" value="$!survey.category"/>
		</div>
		<div>
			<label for="citycode" style="float:none; width:90px;text-align:right;">城市：</label>
			<input name="citycode" id="citycode" style="width:100px" type="text" value="$!survey.citycode" />
			<label for="body">备注：</label>
			<input name="body" id="body" style="width:100px" type="text" value="$!survey.body"/>
		</div>
		
		<div>
			<label for="itembody">题目内容：</label>
			<input name="itembody" id="itembody" style="width:300px" type="text" value="$!surveyItem.body"/>
		</div>
		<div>
			<label for="itemType">调查类型：</label>
			<select name="itemType" id="itemType" style="width:100px">
				<option value="">请选择</option>
				<option value="single" #if($!surveyItem.itemtype eq 'single') selected="selected" #end>单选</option>
				<option value="text" #if($!surveyItem.itemtype eq 'text') selected="selected" #end>文本调查</option>
			</select>
		</div>
		<div>
			<label>&nbsp;</label>
			<input type="submit" class="button" style="width:100px" value="保存"/>
		</div>
	</form>
</div>


<script type="text/javascript">
	function saveSurvey(){
		var url = "${basePath}admin/survey/saveSurvey.xhtml";
		GewaraUtil.sendRequest(url,GewaraUtil.getValues("surveyForm"), function(result){
			if(result.success){
				alert("操作成功！");
				refreshPage();
			}else{
				alert(result.msg);
			}
		});
	}
</script>
</body>
</html>
