<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>问卷调查结果列表</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/default.css" />
	<script type="text/javascript" src="${staticPath}scripts/mootools.js"></script>
	<script type="text/javascript" src="${staticPath}scripts/gewara-util.js?v=$VmUtils.jsVersion"></script>
	<script type="text/javascript" src="${staticPath}dpicker/WdatePicker.js"></script>
</head>
<body style="width:750px; margin:auto">
<div style="width:740px;">
<label>满意:$!resultcount1</label>
<label>不满意:$!resultcount2</label>
<a href="javascript:location.reload()">刷新</a>
<table class="table">
	<thead>
	<tr>
		<th>用户ID</th>
		<th>调查用户</th>
		<th>选择项目</th>
		<th>调查时间</th>
		<th>追加文本</th>
		<th>其他信息</th>
	</tr>
	</thead>
	<tbody id="movieTable">
	#foreach($surveyResult in $surveyResultList)
	<tr>
		<td>$!surveyResult.memberid</td>
		<td>$!cacheMemberMap.get($surveyResult.memberid).nickname</td>
		<td>$!optionMap.get($surveyResult.id)</td>
		<td>$!surveyResult.addtime</td>
		<th>$!surveyResult.mark</th>
		<th>$!surveyResult.otherinfo</th>
	</tr>
	#end
	</tbody>
</table>
#parse('include/pageUtil.vm')
</div>
<script type="text/javascript">
	
</script>
</body>
</html>