<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<title>商家账户管理</title>
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/default.css" />
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/container.css"></link>
	<link rel="stylesheet" type="text/css" href="${staticPath}component/css/button.css"></link>
	<style>
		label {display:inline-block;width:100px;text-align:right;padding:1px 0 1px 0;margin-top:3px}
		input,textarea { width:550px; display:inline}
	</style>
</head>
<body class="yui-skin-sam" style="margin:auto">
<div id="movieDialog" class="yui-panel" style="width:700px;margin:auto">
	<div class="hd">[商家账户管理]</div>
	<div class="bd">
	<form name="apiUserForm" id="apiUserForm" action="${basePath}partner/admin/saveApiUser.xhtml" method="post">
		<input type="hidden" name="uid" value="$!{partner.id}"/>
		<div>
			<label for="partnername">公司名称：</label>
			$!{partner.partnername}
		</div>
		<div>
			<label for="loginname">登录账号：</label>
			$!{partner.loginname}
		</div>
		<div>
			<label for="loginpass">登录密码：</label>
			<input name="loginpass" type="text"  style="width:220px;"/>
		</div>
		<div>
			<label for="partnerkey">公司KEY：</label>
			$!{partner.partnerkey}
		</div>
		<div>
			<label for="privatekey">数据校验KEY：</label>
			<input name="privatekey" type="text" value="$!{partner.privatekey}" style="width:220px;"/><span class="req" style="">*</span>
		</div>
		<div>
			<label>&nbsp;</label><input type="submit" class="button" style="width:100px" value="保存数据"/>
		</div>
		</form>
	</div>
</div>
</body>
</html>
