<div>
	<div class="ml15 mt5" id="qpModify">
		<input type="hidden" name="id" id="id" value="$!note.id"/>
		<ul>
			<li><label>兑换状态：&nbsp;</label><br/>
				#set($noteMap=$VmUtils.readJsonToMap($note.otherinfo))
				#set($qptype=$noteMap.get('qptype'))
				<input type="radio" name="qptype"  value="people" #if($VmUtils.eq('people', $qptype))checked#end/>人工兑换&nbsp;
				<input type="radio" name="qptype"  value="pos" #if($VmUtils.eq('pos', $qptype))checked#end/>POS机兑换&nbsp;
				<input type="radio" name="qptype"  value="refund" #if($VmUtils.eq('refund', $qptype))checked#end/>退款
			</li>
		</ul>
		<div class="mt5"><label>备注详情：</label>
			<textarea name="qpremark" id="qpremark" style="width: 98%;height: 100px;">$!noteMap.get('qpremark')</textarea>
		</div>
	</div>
	<br/>
	<p class="tar">
		<a class="button bigBt" href="javascript:saveQp();"><span>确定</span></a>
		<a class="button bigWhiteBt bigBt" href="javascript:gewa.util.container['macDetail'].dispose('macDetail')"><span>关闭</span></a>
	</p>	
</div>